[2022-10-02 07:26] GreenMachine01 opened #4008 "🐛 Bug Report: Blocked from creating Message Broker #10"
I created 10 Message Brokers when I try to create the next one I get this message...

![Image](https://user-images.githubusercontent.com/112330500/193443024-65490bec-5c1d-40ab-a2ec-807e777fee8b.png)

[2022-10-02 07:39] arielweinberger opened #4009 "Set default plugin to JWT in Auth category"
### Feature description

Until we set a default behaviour of "no auth plugin", set the default plugin for the auth category to JWT.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-10-02 07:48] #4002 closed

[2022-10-02 07:49] tupe12334 commented on #3949
Please wait for the 1.0.2 release

[2022-10-02 08:57] arielweinberger commented on #3930
Can confirm the original issue was fixed.

![Image](https://user-images.githubusercontent.com/4976416/193446375-bf1d387b-c984-4344-892d-da16388225ef.png)

Ideally the scrollbar will only be implemented to the code explorer, not the selector sections. But I think this is good to go live with.

[2022-10-02 09:07] arielweinberger opened #4010 "🐛 Bug Report: "Git Repository is empty" error message is not actionable"
### What happened?

When generating a new app with an empty git repository (no README.md), the build fails with a `Git Repository is empty` message.

<img width="829" alt="image" src="https://user-images.githubusercontent.com/4976416/193446633-7291db01-d803-4be5-9b0b-274a05e6fbed.png">

### What you expected to happen

I expect a more actionable error message.

Please improve this error message to

[2022-10-02 09:15] arielweinberger opened #4012 "Enhancement: Make field error messages more user-friendly"
### Feature description

Currently, when trying to rename a service/project and inserting an empty value, the error looks like this:
<img width="368" alt="image" src="https://user-images.githubusercontent.com/4976416/193446880-b636f1a6-73e3-4818-84a1-56c2fc3664cf.png">

While the error message is clear, I believe it can be more professional and user friendly.
- First of all, "NOT" being capitalize

[2022-10-02 09:20] arielweinberger opened #4013 "🐛 Bug Report: Spacing is incorrect in the "Connections" view for a Service"
### What happened?

The spacing in the Connections view of a Service is off. The heading and the description are tight against each over.

<img width="634" alt="Screenshot 2022-10-02 at 11 16 34" src="https://user-images.githubusercontent.com/4976416/193447093-88cba6fa-1e77-4bd9-baec-aaed8f2c56b1.png">

### What you expected to happen

There should be a 12px spacing between the heading and the des

[2022-10-02 09:26] GreenMachine01 opened #4014 "Plugin: Create Debugger/Tester for Plugin Developer"
Tool for plugin developer to allow

1. Testing the plugin (Debugging)
2. The ability to run plugins in an environment that mimics the real DSG environment

[2022-10-02 09:28] arielweinberger opened #4015 "Topic naming validation message is not consistent with our styleguide"
### Feature description

Topic name validation is not consistent with how we do validation at Amplication.

<img width="898" alt="image" src="https://user-images.githubusercontent.com/4976416/193447359-0944ea46-769e-495b-bc47-244d5ca91fda.png">

Notice the tooltip/popover.

### Use case

This is what error messages should look like:
![image](https://user-images.githubusercontent.com/4976416/193447

[2022-10-02 09:31] arielweinberger commented on #4014
This is tightly related to running DSG in-cluster and dynamically installing NPM plugins. I'd say, these two should be at a ready state before we start thinking about a debugger/tester experience.

[2022-10-02 09:35] arielweinberger opened #4016 "🐛 Bug Report: Duplicate label in Topic UI"
### What happened?

When creating a topic and giving it a user-friendly name such as "Payment Received", we get two input fields.

- The first input field is the display name, a human-friendly name (in this case, `Payment Received`).
- The second input field is the actual topic name as Kafka sees it. It will become `payment.received`.

Both these fields are currently labeled "Name".

### What you

[2022-10-02 09:41] EugeneTseitlin opened #4017 "🐛 Bug Report: Pending Changes doesn't update after deleting a Service"
### What happened?

There are pending changes that should not exist:
![image](https://user-images.githubusercontent.com/6080188/193447867-4b6d3c8d-dad0-4ed4-8ed8-e925a7b78dd8.png)

### What you expected to happen

Create service
Remove service
See that pending changes still applied for the project

### How to reproduce

v1.0.1

### Amplication version

_No response_

### Environment

_No response_

[2022-10-02 09:41] arielweinberger opened #4018 "Ability to remove Topics"
### Feature description

Currently, we are only able to create topics but not remove them. This is an essential feature.

<img width="1253" alt="image" src="https://user-images.githubusercontent.com/4976416/193447920-d7f26498-6746-467c-a6f3-bdf8485de2f6.png">

### Requirements:

- Allow the user to delete a Topic
- if the topic is not connected to any (receiver/sender) entity it can just be delete

[2022-10-02 09:41] arielweinberger commented on #4018
@yuval-hazaz Is this something the community can pick up?

[2022-10-02 09:48] tupe12334 opened #4019 "Miss match JWT logic"
The logic in the JWT plugin and the default code generation is not the same. If you try to generate a JWT service without the plugin installed it will crash in the validate function in the jwt.strategy.base.ts file.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/61761153/193448108-44f16c21-a3a5-4977-9e35-a8eba9d35317.png)

[2022-10-02 09:52] EugeneTseitlin opened #4021 "🐛 Bug Report: Pending change is missing when create Message Broker"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/193448119-4d81883a-e0a8-41bf-90be-ed6f2939f025.png)
Pending change is missing when create Message Broker

### What you expected to happen

Add Message Broker
See pending changes related to Message Broker

### How to reproduce

Create Message Broker

### Amplication version

v1.0.1

### Environment

_No response_

### Ar

[2022-10-02 10:02] EugeneTseitlin opened #4022 "🐛 Bug Report: Project Configuration is not generated without services"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/193448420-86ad4381-3d2d-44fe-9587-aff080f9b932.png)
Project Configuration is not generated without services despite it's shown it pending changes.
This is how commit page looks like after click on build button:
![image](https://user-images.githubusercontent.com/6080188/193448471-91b53caa-241e-458c-905a-b8b79d8e7d78.png)

[2022-10-02 11:22] EugeneTseitlin opened #4023 "🐛 Bug Report: Build stuck and empty screen shown when going to build logs"
### What happened?

Build process stuck and there is no option to open logs.
https://user-images.githubusercontent.com/6080188/193451257-dd571645-4302-45ef-8103-efcd0e85364e.mp4
On build id click logs should be opened.
![image](https://user-images.githubusercontent.com/6080188/193452659-24245986-d70b-4d60-91ad-e9f0af9434cf.png)

### What you expected to happen

Log screen should appear.

### How t

[2022-10-02 11:56] EugeneTseitlin opened #4024 "🐛 Bug Report: New service is still shown in pending changes despite it has been removed"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/193451744-a44f8f1f-9c55-491a-9da3-65a3a590cfe1.png)
As you can see there are pending changes despite build is already in progress.

### What you expected to happen

Empty pending changes list.

### How to reproduce

Create a new project
Create the first service
Click build
Create the second service
Delete the second ser

[2022-10-02 12:00] arielweinberger commented on #4023
Can confirm this is happening only with in-progress builds.

Possibly related to this PR: https://github.com/amplication/amplication/pull/3942

[2022-10-02 12:31] Ekaji commented on #4016
Hi, can i work on this issue?

[2022-10-02 12:51] aryanxsri commented on #4013
hiii  ariel, im looking for a way in into open source and stuff that's how i actually came up to your issue, so can I contribute and help you in your project??

[2022-10-02 12:54] arielweinberger commented on #4013
Absolutely

[2022-10-02 13:28] AM1TB commented on #4010
@arielweinberger please help with testing the changes for this fix as part of PR #4026.

[2022-10-02 13:47] arielweinberger commented on #4010
Fixed in #4026

[2022-10-02 14:12] souravjain540 commented on #4016
Assigned. Ask any questions in order to make a PR if needed:)

[2022-10-02 14:12] souravjain540 commented on #4012
Assigned. Let us know if you need any help.

[2022-10-02 14:17] #4019 closed

[2022-10-02 14:19] EugeneTseitlin opened #4027 "🐛 Bug Report: Can't run generated app with docker compose"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/193458794-dcafc9c8-8182-4253-abf2-d2cce54758b5.png)
Docker compose up fails because it expects to have package-lock which is not created during code generation.

### What you expected to happen

Not to fail.

### How to reproduce

Generate app.
Try to run it with docker compose up.

### Amplication version

v1.0.1

###

[2022-10-02 14:22] #3893 closed

[2022-10-02 14:39] aryanxsri commented on #4013
you'll assign the issue to first right before I start working on it??

[2022-10-02 14:40] arielweinberger commented on #4013
I'm not on my computer at the moment, feel free to start. @souravjain540 can assign retroactively.

[2022-10-02 14:41] souravjain540 commented on #4013
Assigned @aryanxsri. Let us know if any help needed :)

[2022-10-02 14:42] aryanxsri commented on #4013
okiee thenks

[2022-10-02 15:02] EugeneTseitlin opened #4028 "🐛 Bug Report: Generation of app with message broker stuck"
### What happened?

Generation of app with message broker stuck
![image](https://user-images.githubusercontent.com/6080188/193460938-01b7e6ee-edb1-427b-8aff-d4fb0d7fcffc.png)

### What you expected to happen

Application should be generated.

### How to reproduce

Create message broker and topic.
Create two services with kafka plugin and connection to message broker and topic.
Build the app.

###

[2022-10-02 15:04] sukiejosh commented on #3949
Alright..thank you

[2022-10-02 15:06] Asmit2952 commented on #4015
Hey @arielweinberger I can work on this issue.

[2022-10-02 15:08] arielweinberger commented on #4015
@Asmit2952 Go ahead! Let us know if you need our assistance.

[2022-10-02 15:29] EugeneTseitlin opened #4029 "🐛 Bug Report: Service doesn't connect to Kafka"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/193461947-e9c2e9c4-c3cf-4827-abfb-784f73823524.png)
Service doesn't connect to Kafka despite it's connected to topic.

### What you expected to happen

Service should connect to Kafka by default.

### How to reproduce

Create message broker and topic.
Create service with connection to message broker and topic.
Generate

[2022-10-02 21:59] MortensenC commented on #2602
I can take this one

[2022-10-03 02:01] souravjain540 commented on #2602
@MoFoGo please assign if available

[2022-10-03 05:35] b4s36t4 commented on #4018
Can I pick this?

[2022-10-03 05:42] yuval-hazaz commented on #4018
@b4s36t4 I assigned to you.
good luck

[2022-10-03 05:44] b4s36t4 commented on #4018
Hey, @yuval-hazaz. Any design where to put the delete icon etc?

[2022-10-03 06:03] adnanhashmi09 commented on #4013
I would like to work on this issue. Please assign it to me. :)

[2022-10-03 06:26] souravjain540 commented on #4013
Assigned @adnanhashmi09. Let us know if you need any help :)

[2022-10-03 06:50] shaharblanksela opened #4030 "Remove unused/unnecessary env vars inside the helm-chart"
### Feature description

Part of my task is to remove unnecessary/unused environment variables. I noticed that there are some variables whose usage can be changed as a default value and thus save them from being written on the helm chart.
such as in 'amplication server':
[code]

### Use case

Reorganization of environment variables and code cleanup.

### Are you willing to submit PR?

_No response

[2022-10-03 07:21] arielweinberger commented on #4030
I would not remove NODE_ENV from the list because it is very commonly used in Node apps and it's important on the chart.

The rest are OK to remove imo.

[2022-10-03 08:57] souravjain540 opened #4031 "Advocacy: Twitter Thread and Linkedin Post talking about Amplication."
In this issue, you have to write on both platforms:

- One Twitter Thread
- One Linkedin Post

Talking about your experience using Amplication or contributing to Amplication.

The content must provide some value to the community.

You have to tag Amplication on both platforms.

Linkedin: https://www.linkedin.com/company/67730467
Twitter: https://www.twitter.com/amplication

You have to create a fi

[2022-10-03 09:36] souravjain540 opened #4033 "User Interview: 30 mins chat about your experience or feedback about Amplication with someone from team"
This issue is open to every user of Amplication.

You have to join a 30-minute call with someone from the Amplication team and provide your valuable feedback.

To contribute to this issue, you have first to fill out the given form: https://forms.gle/Bjmnh8vMrwY8fxmc6

After this, we will filter out and schedule a call, and after a successful call, we will tell you how to make a PR for the contribu

[2022-10-03 10:47] Rabeet8 commented on #4006
Hey Sourav,

Can you assign this task to me for Hacktoberfest? I will write the blog on Hashnode.

Here is the link to my Hashnode profile.
https://syedrabeet.hashnode.dev/

Let me know how many words of blogs you want.

[2022-10-03 11:03] #4023 closed

[2022-10-03 11:03] #3930 closed

[2022-10-03 11:24] GreenMachine01 commented on #2397
**Notes from Kickoff:**
Support import of Prisma Schema into Amplication
Provide info or tool to help with extracting Prisma Schema from existing user DB

Info - https://www.prisma.io/docs/concepts/components/introspection

[2022-10-03 12:03] arielweinberger opened #4034 "`@amplication/code-gen-types` needs to be ignored from `lerna version` and versioned independently"
### Feature description

We do not want this package to stick to the Amplication versioning system. It should strictly follow Semantic Versioning independently.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-10-03 12:43] shaharblanksela commented on #4030
Will be added inside the 'amplication-manifests' repo.

[2022-10-03 12:43] #4030 closed

[2022-10-03 14:16] akshitarora921 opened #4037 "🐛 Bug Report: Title of home page of webite"
### What happened?

Website https://amplication.com/ title is currently "Node.js App Development: Open Source Platform | Amplication"

### What you expected to happen

Page title should be "Amplication | Node.js App Development: Open Source Platform"

### How to reproduce

Open [https://amplication.com/](https://amplication.com/) and check the title in the browser tab
<img width="1904" alt="Screen

[2022-10-03 14:20] akshitarora921 commented on #3653
Hi @barshimi, Are you working on this?

[2022-10-03 14:49] lmssr commented on #4037
Hello, can I work on this Issue ?

[2022-10-03 14:55] akshitarora921 commented on #4037
Hi @lmssr, Thank you for showing the interest. This issue is not yet confirmed. Happy Hacking 🎸

[2022-10-03 17:28] souravjain540 opened #4039 "Hacktoberfest 2022 🚀"
# Amplication Hacktoberfest 2022 🎃

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/53312820/193637465-5309ced1-9ac7-4759-b731-0289affe57f7.png)

Hello contributors 👋

As proud members of the open-source community, we inspire developers to contribute to open-source projects, and what's better than the month of open source, Hacktoberfest?💜

To help you get started, we have ple

[2022-10-03 22:41] alhaxkar commented on #4009
Hi, I'm looking forward to taking a look at this issue. I would like to have more information to help the community =)

[2022-10-03 22:45] alhaxkar commented on #3993
@souravjain540  I'm looking forward to helping the community, Could I take a look on it?

[2022-10-03 23:02] ahlavorato commented on #3396
@souravjain540, I'm looking forward to helping the community, could I be assigned to it?

[2022-10-03 23:43] JavaVista commented on #4001
Hi, can I be assign to this for the hacktoberfest?

[2022-10-04 05:01] shubhwip opened #4040 "🐛 Bug Report: Static Assets are not copied correctly in generated app's admin-ui"
### What happened?

When you generate an application using DSG or through UI.
All the static assets present in admin-ui are corrupt or invalid.
<img width="1440" alt="Screenshot 2022-10-04 at 10 31 06 AM" src="https://user-images.githubusercontent.com/23444368/193738170-1e67060c-061f-409b-a073-0be8f683f87c.png">

### What you expected to happen

All the static assets should be opened correctly and

[2022-10-04 05:14] souravjain540 commented on #3396
@ahlavorato  let us know if you need any help

[2022-10-04 05:33] souravjain540 commented on #4040
@arielweinberger @alexbass86  please accept this issue if valid

[2022-10-04 05:33] souravjain540 commented on #4001
@arielweinberger need your attention to confirm this issue

[2022-10-04 06:08] yuval-hazaz opened #4042 "🐛 Bug Report: Client - Last Commit panel is partially covered by the footer"
### What happened?

The Last Commit panel is partially covered by the footer

<img width="482" alt="image" src="https://user-images.githubusercontent.com/43705455/193746569-2438d27a-95ef-4a45-be25-52f0e9b5402b.png">

### What you expected to happen

The last commit panel should not be covered by the footer

### How to reproduce

This only happens on a smaller screen when the height is not big enou

[2022-10-04 06:26] yuval-hazaz opened #4043 "🐛 Bug Report: Pending changes list is not updated when switching projects"
### What happened?

When you view a project with pending changes, then switch the another project without pending changes, the list of pending changes is still showing the items from the previous project

in this screenshot, we can see changes on a service called "my service-1" while the current project does not include this service
<img width="914" alt="image" src="https://user-images.githubuserc

[2022-10-04 06:26] Jyotiraditya24 commented on #4024
hey, could I work on this issue?

[2022-10-04 06:26] Rutam21 commented on #4042
@yuval-hazaz I would love to take this up. Please direct me to the file that needs to be worked upon. Thanks.

[2022-10-04 06:29] Rutam21 commented on #3442
@yuval-hazaz @souravjain540 I would love to work on this. Please assign this to me. Also it would be great if you can point me to the folder where the change needs to be done. Thanks.

[2022-10-04 06:31] Jyotiraditya24 commented on #4043
this issue is same as #4024 right? would like to work on it

[2022-10-04 06:39] ilovetensor commented on #4013
Can I work on this issue?

[2022-10-04 06:39] yuval-hazaz opened #4044 "🚀 Feature: Allow users to delete a project"
### Feature description

- Add a new delete button on the Project Configuration item

![image](https://user-images.githubusercontent.com/43705455/193750590-69e1ce4a-a6fa-4b57-90b3-a4e52d82ef48.png)

- When clicked, show the user a warning with a confirmation button "This action cannot be undone. This will permanently delete the project and all its resources. Are you sure you want to continue?"

<i

[2022-10-04 06:41] ilovetensor commented on #4012
Hi, can i work on this issue ?

[2022-10-04 06:44] kVarunkk commented on #4012
Hi, I want to work on this issue but I'm unable to find the frontend(React) part of Amplication. It would be great if someone could guide me regarding the path!

[2022-10-04 06:52] ilovetensor commented on #4044
Hi can i work on this issue ?

[2022-10-04 06:55] yuval-hazaz commented on #3954
We should keep handling excpetions from the plugins, and not break the process. But, we should add the following:
1. Show the messages from exceptions as errors in the log
2. Allow the plugin developer to ask to stop the generation process when needed. Add a new function on the DsgContext
[code]
when used, the DSG will show the reason as a message on the log (as an error) and will abort the entire

[2022-10-04 06:55] shubhwip commented on #4029
Hey Can I work on this ?

[2022-10-04 06:57] shubhwip commented on #4027
Hey Can I work on this ?

[2022-10-04 07:14] ArmanChand commented on #4037
Hi @akshitarora921 , can i take this up

[2022-10-04 07:18] Keshraf commented on #3929
Can I?

[2022-10-04 07:22] souravjain540 commented on #4044
Sure @ilovetensor . let us know if you need any help.

[2022-10-04 07:22] souravjain540 commented on #4043
assigned @Jyotiraditya24 . let us know if you need any help.

[2022-10-04 07:24] souravjain540 commented on #4040
@yuval-hazaz please validate

[2022-10-04 07:24] ilovetensor commented on #4006
Hi, can i work on this ... I would love to write an article on Medium.

[2022-10-04 07:25] souravjain540 commented on #4037
This is something related to SEO. I am not sure we want to change it or not. Views? @yuval-hazaz

[2022-10-04 07:26] souravjain540 commented on #4006
@ilovetensor  feel free to write an blog and raise a PR.

[2022-10-04 07:43] Github-Emmi commented on #4012
I would love to know what is behind the frontend and backend of this project so I can apply for contribution

[2022-10-04 07:46] Github-Emmi commented on #4033
How can I know I'm using Amplication? I want to fill the form

[2022-10-04 07:47] Github-Emmi commented on #4044
Can I work on this? I think I can achieve this with the knowledge I have in Django.

[2022-10-04 07:55] Shubhdeep12 opened #4045 "🐛 Bug Report: The title and Description are not appropriately truncated."
### What happened?

The title and Description are not appropriately truncated.

![image](https://user-images.githubusercontent.com/43654389/193764236-27e1581e-d763-4b14-8fbd-75843b569b6a.png)

![image](https://user-images.githubusercontent.com/43654389/193764320-a47f35ff-7c54-439c-8b9e-b19831582712.png)

![image](https://user-images.githubusercontent.com/43654389/193765019-988a2589-111c-45b0-912e-

[2022-10-04 07:57] Shubhdeep12 commented on #4045
@souravjain540 @yuval-hazaz please let me know if this is a valid bug(not done earlier for the next release). Would love to fix this.

[2022-10-04 08:08] VoidCupboard commented on #4007
Can I work on this issue :3
I would love to get some ideas about which app should I create for showing the demo.
(Since my previous videos got deleted somehow, I am gonna be recreating them soon with a better explanation, so I would love to get some other app ideas rather than those)

[2022-10-04 08:17] souravjain540 commented on #4007
I would love to see your videos. Just make sure for valid contributions they are not deleted.

you can start working on them, and reach out to me for any help :) @VoidCupboard

[2022-10-04 08:18] souravjain540 commented on #4045
@arielweinberger  please validate

[2022-10-04 08:18] souravjain540 commented on #4012
Are you working on this issue @su-mit?

[2022-10-04 08:19] Jyotiraditya24 commented on #4043
could I get the path of file ? @souravjain540

[2022-10-04 08:28] VoidCupboard commented on #4007
Yeah ikr, I'm gonna create a backup in the gcloud as well just to make sure that I have a copy of the edited video :P

[2022-10-04 09:04] souravjain540 commented on #4042
@Rutam21 its: `amplication/packages/amplication-client/src/VersionControl/LastCommit.tsx`
assigned.

[2022-10-04 09:07] ilovetensor commented on #4006
I think I can submit it without being assigned to this issue

[2022-10-04 09:19] shehabadel commented on #3522
@souravjain540 Can I work on this issue?

[2022-10-04 09:24] saloni137 commented on #4017
@EugeneTseitlin I would like to work on this issue.

[2022-10-04 09:25] saloni137 commented on #4008
@GreenMachine01 please add more description. I would like to work on this issue

[2022-10-04 09:53] shashankbhatgs opened #4048 "[DOCS] : Wrong link to the emoji in README file"
### Describe the issue with documentation

At the bottom of the README file,  under ` Contributors ✨` it is written that
`Thanks goes to these wonderful people (emoji key):`

There should have been an emoji instead of [emoji key](https://allcontributors.org/docs/en/emoji-key) text which links to the root of `Emoji Key table`

Link where this issue can be found: https://github.com/amplication/ampli

[2022-10-04 10:15] MrKrishnaAgarwal commented on #4048
I want to work @shashankbhatgs

[2022-10-04 10:18] munyoudoum commented on #4007
@souravjain540 I used to make a youtube video about it https://www.youtube.com/watch?v=_BeWDanPtZg ... I'm not really a professional youtuber or anything, and just wanted to explore contents creation. Is this good enough for the PR? 😄

[2022-10-04 10:25] shashankbhatgs commented on #4048
hey, @MrKrishnaAgarwal I'm not a maintainer and waiting for someone to assign me, I'm working on it, sorry.

[2022-10-04 10:35] souravjain540 commented on #3522
Done @shehabadel

[2022-10-04 12:18] Azanul commented on #4028
I'd like to work on this

[2022-10-04 12:34] davidtaing commented on #3935
Hi Alex,
Can I please work on this issue?

Thanks!

[2022-10-04 12:48] Azanul commented on #4021
I'd like to work on this

[2022-10-04 13:44] ilovetensor commented on #4006
Waiting for 1 approved review in pull request ...

[2022-10-04 13:48] Azanul commented on #3932
I'd like to work on this

[2022-10-04 14:52] yksolanki9 commented on #2226
@souravjain540 can you please assign this to me?

[2022-10-04 16:11] adnanhashmi09 commented on #4013
Hey @souravjain540 I have created a PR for this issue. Please review it. :)

[2022-10-04 16:59] Asmit2952 commented on #4031
Can anyone work on this?

[2022-10-04 17:05] souravjain540 commented on #4031
yes.

[2022-10-04 17:13] akshitarora921 commented on #4037
Hi @souravjain540,
As we are using the same keywords, I think It will not impact the SEO.

[2022-10-04 17:15] yashjain1974 commented on #4048
Hey I want to resolve this issue.

[2022-10-04 17:29] ShreejaMehta commented on #4048
Hello!
I would like to work on this issue.

[2022-10-04 17:57] souravjain540 commented on #4037
Then why should we change that?

[2022-10-04 18:18] indremak commented on #2967
Hi, I would like to work on this issue. Could you assign me?

[2022-10-04 19:28] ayrotideysarkar commented on #4048
Hello I can add the correct emojis also I can rephrase sentences,
Can you assign me this?

[2022-10-04 20:44] Gokul-Ks commented on #3436
I would like to work on this, please assign it to me

[2022-10-04 21:54] Anikalp1 opened #4056 "Scroll to Top Button"
### Feature description

**_I will be adding a scroll to top button on main web page._**

### Use case

Adding a scroll to top button is necessary, as scrolling up a down again and again, irritates users. And decreases focus of user on content, so to overcome this problem, I want to add a scroll to button.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-04 22:40] Ekaji commented on #4016
unfortunately i have run into some issues setting up this project on my system, as vscode crashes after running ``` npm run setup:dev``` at step 3, please assign the issue to someone else while i figure out whats going on

[2022-10-05 00:27] Terieyenike commented on #4031
Is anyone working on this yet?

[2022-10-05 04:20] KlausMikhaelson commented on #4031
@Terieyenike ig even you can post it and will get counted as a pr

[2022-10-05 05:12] akshitarora921 commented on #4037
@souravjain540,As it is the home page, I feel it should say brand name first.

[2022-10-05 05:17] souravjain540 commented on #4016
you can ask that in discord server. we would love to help.

[2022-10-05 05:19] souravjain540 commented on #4037
I think this change is not bringing any value, but let's wait for @yuval-hazaz opinion.

[2022-10-05 05:19] souravjain540 commented on #4056
@GreenMachine01 @alexbass86 do we need it?

[2022-10-05 05:21] souravjain540 commented on #3436
@MoFoGo and @arielweinberger please see if @Gokul-Ks can work on it.

[2022-10-05 05:24] souravjain540 commented on #4048
I think `emoji-key` here points out that it will be redirected to the emoji-key table used by all-contributors and replacing it with any emoji is not a good idea.

[2022-10-05 05:33] ayrotideysarkar commented on #4048
But I think it's not looking good.. And the issue description it is written
to add corresponding emoji instead of emoji text

On Wed, 5 Oct, 2022, 10:55 am Saurav Jain, ***@***.***> wrote:

[2022-10-05 05:51] Utkarsh212 commented on #4016
@souravjain540, may you assign this issue to me so that I can work on it

[2022-10-05 07:07] akshitarora921 opened #4057 "Add Layout Component to the website"
### Feature description

I have observed that we are using `<Header/>`, `<Footer/>` and `<Background/>` components in all the pages. So the idea is to create a Layout component and use it.
[Reference Link](https://nextjs.org/docs/basic-features/layouts)

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-05 07:32] Treridith commented on #2388
@yuval-hazaz can i work on this?

[2022-10-05 07:36] souravjain540 commented on #2388
Assigned @Treridith :)

[2022-10-05 09:39] anchal-gupta commented on #4033
Hey @souravjain540 , I have filled out the form and looking forward to get in touch with someone from your team.

[2022-10-05 10:22] anchal-gupta opened #4059 "Push Notifications"
### Feature description

Push notifications are small, pop-up messages sent to a user's device that appear even when the app isn't open. I am willing to integrate Push Notifications for Chrome & Firefox browser by which you can communicte to users about news, events and annoucements.
If you are interested in adding this feature to your project, I can go ahead and share some of the best notificatio

[2022-10-05 11:12] #3955 closed

[2022-10-05 11:14] arielweinberger commented on #3955
Partially done. The update currently happens against Amplication Server.

[2022-10-05 12:22] the-kaushal-agrawal commented on #3944
pls assign this issue to me

[2022-10-05 12:57] ArmanChand commented on #4037
yes @souravjain540 , waiting for your call

[2022-10-05 12:58] joanjeremiah commented on #4057
Yes I am willing to submit a PR! Kindly assign this issue to me.

[2022-10-05 13:50] shashankbhatgs commented on #4048
okay, so close this issue?

[2022-10-05 14:10] ayrotideysarkar commented on #4048
if you can assign me this one i can try to rephrase sentence and can add an
emoji

On Wed, 5 Oct 2022 at 19:20, Shashank Bhat G S ***@***.***>
wrote:

[2022-10-05 14:27] ayrotideysarkar commented on #4048
@shashankbhatgs okay but how to contact them?

[2022-10-05 16:47] arielweinberger commented on #4045
If we choose to do this, we need to make this change in other places as well:
![image](https://user-images.githubusercontent.com/4976416/194116096-ffa56c8e-47c2-470e-929d-89dc5c0cc534.png)

The simple answer is, "of course, it would be great to have truncating in place". And then on the other hand, is this a realistic use case at all?

If anything, we need to restrict project/service name.

I'll l

[2022-10-05 17:32] Anikalp1 commented on #4056
@souravjain540 Assign me this, after discussing.

[2022-10-05 19:24] MichaelSolati commented on #4059
On what product would this be implemented on, and what benefit do you see this providing said product?

[2022-10-05 19:26] MichaelSolati commented on #4057
I think this would be an interesting/smart enhancement. @akshitarora921 I'll assign it to you.

[2022-10-05 19:32] #4048 closed

[2022-10-05 19:33] MichaelSolati commented on #4048
Closing the issue as it seems as if @souravjain540 said it was not a good idea. However, Saurav, if you want to reopen this feel free.

[2022-10-06 07:18] yuval-hazaz commented on #4059
Thanks for suggesting it.
For now, push notifications for amplication.com are not needed.
We have a separate initiative for notification infrastructure for the app that includes events, templates and more.
I will close this issue.
Thanks for your support

[2022-10-06 07:18] #4059 closed

[2022-10-06 07:23] #4056 closed

[2022-10-06 07:26] yuval-hazaz commented on #4001
@souravjain540 I agree this should be fixed. The color of the text while typing should be the same as the color of the text when viewing a selected item
![image](https://user-images.githubusercontent.com/43705455/194243812-fbce1937-42b6-4e63-9a87-71d94e44cdff.png)

[2022-10-06 07:29] yuval-hazaz commented on #4045
Thanks for reporting it
This issue is a duplicate of https://github.com/amplication/amplication/issues/3653

@souravjain540  I will close this issue as a duplicate and we can assign the other issue to anyone from the community who is interested

[2022-10-06 07:29] #4045 closed

[2022-10-06 09:40] MuhammadJufri commented on #4057
Can you assign this issue to me please?

[2022-10-06 09:42] MuhammadJufri commented on #4044
I think i can do this,
Can you assign this issue to me please?

[2022-10-06 10:40] yuval-hazaz opened #4068 "Resource List - Add connected repo details per item"
### Feature description

We need to add the name of the connected repo per each item in the resource list in the project page

See the design on Figma

https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=1007%3A12234

### Use case

The user will be able to see for each resource the name of the connected repo

### Are you willing to submit PR?

_No response_

[2022-10-06 11:59] akshitarora921 commented on #4057
Hi @MuhammadJufri,
Thank you for showing the interest but I am working on it.

[2022-10-06 13:13] ankushgupta365 commented on #4031
Hey, @souravjain540 can you assign this to me ?

[2022-10-06 13:51] KlausMikhaelson commented on #4031
Hey @ankushgupta365 you can just create the posts and make the pr, this issue doesn't need to get assigned

[2022-10-06 13:56] Priyanshu-Singh-1 commented on #4037
I am interested in this issue. Can I work on it @akshitarora921 ?

[2022-10-06 19:08] alinehaxkar commented on #3652
Could I work on it?

[2022-10-06 19:41] alinehaxkar commented on #3652
Could I work on it?

[2022-10-06 20:06] JohnnyDeeee opened #4073 "🐛 Bug Report: Server throws error "TypeError: rxjs_1.lastValueFrom is not a function""
### What happened?

Server throws error "TypeError: rxjs_1.lastValueFrom is not a function" when trying to access data from the admin-ui on a brand new project
![image](https://user-images.githubusercontent.com/9005496/194407046-bff79c63-6851-405e-bbc6-08029e42b681.png)

[code]

### What you expected to happen

Getting at leas the admin user in the Users page in the admin-ui (this is a brand new p

[2022-10-06 20:13] JohnnyDeeee commented on #4073
This seems to have fixed it:

[code]

from https://stackoverflow.com/questions/68317383/typeerror-rxjs-1-lastvaluefrom-is-not-a-function

This did ad the `rxjs` to my dependencies, so i'm not sure if it is the cleanest solution..

[2022-10-06 20:53] MichaelSolati commented on #4018
I would suggest it should look like a property on an entity.

![Screenshot_20221006-135300.png](https://user-images.githubusercontent.com/11811422/194416505-152f2d8c-5cf2-413b-84ed-38b429263d5e.png)

[2022-10-06 20:56] JohnnyDeeee opened #4074 "🐛 Bug Report: Error when creating a record with a relation type"
### What happened?

When i try to create a record, through the admin-ui, which references another record i get the following error from the API

![image](https://user-images.githubusercontent.com/9005496/194416108-dbbfa990-d928-4c0c-9ba9-92e247ab67fa.png)

[code]

It looks like the admin-ui doesn't send the "gameItem" and "logType" fields:

[code]

This is the configuration for those 2 fields

![i

[2022-10-07 15:46] akshitarora921 opened #4075 "🐛 Bug Report: No padding in Roadmap section in mobile view"
### What happened?

No padding in roadmap section in mobile view.
<img width="487" alt="image" src="https://user-images.githubusercontent.com/11087313/194594297-09927e35-edf3-4489-942e-0cac5fc2e207.png">

### What you expected to happen

There should be some padding.

### How to reproduce

Open https://amplication.com/ in mobile view and scroll down to roadmap section.

### Amplication version

_N

[2022-10-07 15:59] akshitarora921 opened #4076 "🐛 Bug Report: Tags on Blog page are not rendered properly in Mobile view"
### What happened?

Issue with tags
- Height is not proper
- Tags are not wrapped

<img width="426" alt="image" src="https://user-images.githubusercontent.com/11087313/194596483-c75f91f2-ad37-4b10-99cf-8498ece236de.png">

### What you expected to happen

- Tags height should change based upon data
- Tags should wrap

### How to reproduce

Open blogs page in mobile view.
https://amplication.com/blo

[2022-10-07 16:45] AshwiniDR1802 commented on #4075
Yes I am willing to submit a PR!

[2022-10-07 16:46] AshwiniDR1802 commented on #4037
Yes I am willing to submit a PR!

[2022-10-07 16:56] iShelar commented on #4005
Hi @arielweinberger, Can I work on this feat?

[2022-10-07 18:12] wiseaidev commented on #4016
It looks like an easy issue to grab for me; lemme work on it. But, take a look at how fast my internet connection is:
![Screenshot from 2022-10-07 20-56-07](https://user-images.githubusercontent.com/62179149/194620737-d83c44c0-fb83-4fb8-b250-57a507cdb64e.png)
Blazingly fast!

[2022-10-07 19:02] wiseaidev commented on #4015
Another easy one. Oh wait, it is assigned! Good luck!

[2022-10-07 20:40] CursedRock17 commented on #4076
@akshitarora921 I would like to take this issue if possible.

[2022-10-08 01:31] MuhammadJufri commented on #4076
I think I can do this
Can you assign this issue to me please?

[2022-10-08 07:00] Ankurrawat-12 opened #4079 "Automatically add the contributers images in readme file and make it more beautifull"
### Feature description

it will automatically add the images of the contributes to the readme file.

### Use case

_No response_

### Are you willing to submit PR?
Yes
_No response_

[2022-10-08 07:01] Beast71421 commented on #4079
can I have this issue, I would like to work on it.

[2022-10-08 07:33] yuval-hazaz commented on #4079
Hi @Beast71421 we would love to do that.
Before we move forward, can you please describe the solution you have in mind - or send us a link to a similar solution/workflow?

[2022-10-08 07:35] yuval-hazaz commented on #4076
Thanks all.
before we move forward with a fix, I would love @alexbass86 to propose the design with the expected results

[2022-10-08 07:39] yuval-hazaz commented on #4015
hi @Asmit2952 I just saw that @wiseaidev 's  work on another issue would also resolve this issue
This is the PR that handles the other issue
https://github.com/amplication/amplication/pull/4078

Sorry if you already spent time working on this.
I will unassign you and will assign the @wiseaidev

[2022-10-08 07:40] yuval-hazaz commented on #4015
@Asmit2952 let me know if you see anything else that you want to work on and I would love to assign it to you

[2022-10-08 07:41] Beast71421 commented on #4079
![image](https://user-images.githubusercontent.com/78417225/194696108-b8a19882-afaa-4966-a958-6b67420e3ddc.png)
this will be the outcome of the solution that I have in mind and it will automatically update the contributed image's in readme file

[2022-10-08 07:44] yuval-hazaz commented on #4016
@ranrib see the discussion in #4078

[2022-10-08 07:45] yuval-hazaz commented on #4005
@iShelar good luck on that, let is know if you need any help from the team

[2022-10-08 07:47] yuval-hazaz commented on #4037
@akshitarora921 thanks for suggesting that.
Our SEO team is working on the content of the website. I don't see a reason to make this change.

Thanks for your support, and please keep up the excellent work

[2022-10-08 07:47] #4037 closed

[2022-10-08 07:49] yuval-hazaz commented on #4075
@akshitarora921 thanks for suggesting this.
I have assigned you, please go ahead

[2022-10-08 07:51] yuval-hazaz commented on #4073
@JohnnyDeeee & @rienheuver thanks foe the info.
I will assign this to a core member to decided whether we need to add the dependency to the project

[2022-10-08 08:04] yuval-hazaz commented on #4074
@JohnnyDeeee thanks for reporting this.
I noticed that the relation in the UI is configured as "1-to-1", I suspect this is the trigger for the issue.

To validate that assumption, can you please change the relation settings to "1-to-many" and try again?

It will help us focus when working to resolve the issue

[2022-10-08 08:05] yuval-hazaz commented on #4018
I agree with @MichaelSolati

[2022-10-08 08:08] MuhammadJufri commented on #4076
Okay thanks

[2022-10-08 08:12] yuval-hazaz commented on #3652
hi @alinehaxkar
I assigned it to you. let us know if you need any help.
please note, that the fix is needed in the generated code, so it requires to change the code in "./packages/amplication-data-service-generator"

[2022-10-08 08:21] MuhammadJufri commented on #4079
Can you assign this issue to me please?

[2022-10-08 08:37] Asmit2952 commented on #4015
Hey @yuval-hazaz I was going to make a PR today. But no problem, I'll be happy to work on another issue. Can you assign me any beginner friendly issue related to docs or frontend? I'll be happy to work on it.

[2022-10-08 09:10] Beast71421 commented on #4079
@yuval-hazaz can I have this issue now? and can you also add hecktober fest label : )

[2022-10-08 10:35] Rutam21 commented on #3314
@yuval-hazaz @arielweinberger Please check my findings in above comments and feel free to close this issue once confirmed.

[2022-10-08 10:37] Rutam21 commented on #3268
@arielweinberger @tupe12334 As this issue seems to be stale till now, please assign it to me so that I can raise a PR for this at the earliest. Thanks.

[2022-10-08 11:49] arielweinberger commented on #3314
That is correct, @Rutam21 - thanks for the heads up! Closing.

[2022-10-08 11:49] #3314 closed

[2022-10-08 12:01] BajajAyush commented on #4006
hey I have created a blog post pr no- #4081
@yuval-hazaz

[2022-10-08 14:17] 05him commented on #4079
I would love to solve this issue, and you will like my work too

[2022-10-08 14:20] 05him commented on #4076
mai i also get a chance to work on this, i need to imply the css ive learned

[2022-10-08 14:21] 05him commented on #4075
i also wanna do this but looks like this is already done

[2022-10-08 14:33] DevVj-1 opened #4082 "Directory traversal / file inclusion possible"
### What happened?

Description
File path traversal vulnerabilities arise when user-controllable data is used within a filesystem operation in an unsafe manner. Typically, a user-supplied filename is appended to a directory prefix in order to read or write the contents of a file. If vulnerable, an attacker can supply path traversal sequences (using dot-dot-slash characters) to break out of the int

[2022-10-08 15:29] yuval-hazaz opened #4083 "🐛 Bug Report:`Invite member` field is missing validation error message"
### What happened?

When the user clicks on the `Invite` button without adding an email address there is no indication to the user that the email input is empty

<img width="928" alt="image" src="https://user-images.githubusercontent.com/43705455/194715074-f8ebfe4f-c3d4-4a4f-a538-fbf7ae0cc727.png">

### What you expected to happen

An error message should appear when the user clicks on invite whil

[2022-10-08 15:30] yuval-hazaz commented on #4015
@Asmit2952 I created a new issue that may fit your needs.
https://github.com/amplication/amplication/issues/4083
please comment on the issue and I will assign it to you

[2022-10-08 15:32] Asmit2952 commented on #4083
Hey, can I work on this?

[2022-10-08 15:34] yuval-hazaz commented on #4083
@Asmit2952 you can see an example of how we do validation here
https://github.com/amplication/amplication/blob/6107d7e5ba1df73d9d1ae9f66461b68ddda7fdf7/packages/amplication-client/src/Profile/ProfileForm.tsx#L68

good luck

[2022-10-08 15:44] yuval-hazaz commented on #3268
go ahead @Rutam21
thanks

[2022-10-08 15:50] yuval-hazaz commented on #4079
The idea of auto-generating the image of all contributors is great, but we need to consider the impact.
Right now, we are following the [all-contributors](https://github.com/all-contributors/all-contributors) specification, where all types of contributors get credit for things like ideas, bugs, docs, and so on.

There is a problem with manually updating the list right now, but replacing it with th

[2022-10-08 15:51] yuval-hazaz commented on #4075
the issue is already assigned

[2022-10-08 15:56] yuval-hazaz commented on #4082
@DevVj-1 thanks for reporting this.
Can you please provide some more details on the issue? I am not sure I understand the problem.

You can also reach out on our discord https://amplication.com/discord

[2022-10-08 16:06] yuval-hazaz commented on #4044
This issue is already assigned, thanks all

[2022-10-08 16:11] yuval-hazaz commented on #3694
yes, but low priority

[2022-10-08 16:12] yuval-hazaz commented on #3642
yes, there is an open PR about this in the docs repo

[2022-10-08 16:13] yuval-hazaz commented on #3272
we can close this. @arielweinberger is working on another initiative to migrate to nx

[2022-10-08 16:13] #3272 closed

[2022-10-08 16:14] yuval-hazaz commented on #3276
@GreenMachine01 yes, we need it.
please sync with @arielweinberger once he is back

[2022-10-08 16:14] yuval-hazaz commented on #3360
no, we can close it

[2022-10-08 16:14] #3360 closed

[2022-10-08 16:15] yuval-hazaz commented on #3239
I dont think we need it, but @arielweinberger or @shaharblanksela can cofirm

[2022-10-08 16:15] yuval-hazaz commented on #3237
@shaharblanksela

[2022-10-08 16:17] yuval-hazaz commented on #3109
This is handled differently as part of the DSG separation.
closing

[2022-10-08 16:17] #3109 closed

[2022-10-08 16:18] yuval-hazaz commented on #3108
@EugeneTseitlin

[2022-10-08 16:21] yuval-hazaz commented on #3936
@meetwithyash thanks, but this issue can be closed since the UI was fixed already.

[2022-10-08 16:21] #3936 closed

[2022-10-08 16:31] yuval-hazaz commented on #4010
@arielweinberger
I am re-opening this issue since I think the current fix is not perfect.
The new text with the suggestion will appear for every type of error that will return from GitHub and not only for empty repos

[2022-10-08 16:31] yuval-hazaz commented on #4010
This issue is open for contribution

[2022-10-08 16:37] yuval-hazaz commented on #3860
closing this issue since we are rebuilding the profile page in a modal

[2022-10-08 16:37] #3860 closed

[2022-10-08 16:39] yuval-hazaz commented on #3887
Create Resolver
Create Entity Module

[2022-10-08 16:42] yuval-hazaz commented on #3891
This issue is open for contribution

[2022-10-08 16:51] yuval-hazaz commented on #3979
we can open this for contribution from the community

[2022-10-08 16:53] Beast71421 commented on #4079
ok thanks for the suggestion @yuval-hazaz

[2022-10-08 16:55] yuval-hazaz commented on #3941
Thanks for the suggestion. I don't think this request is aligned with our roadmap.
We generate code for node.js with TypeScript so I don't see a reason to look for other languages

[2022-10-08 16:55] #3941 closed

[2022-10-08 16:59] #3456 closed

[2022-10-08 16:59] #3516 closed

[2022-10-08 17:01] yuval-hazaz commented on #4001
you can go ahead and work on this

[2022-10-08 17:03] yuval-hazaz commented on #2602
Assigned to you! thanks @MortensenC

[2022-10-08 17:06] yuval-hazaz commented on #3993
Thanks for you suggestion, we will look at this soon

[2022-10-08 17:09] yuval-hazaz commented on #3929
@Keshraf yes please go ahead

[2022-10-08 17:11] yuval-hazaz commented on #4040
Thanks @shubhwip

@abrl91 can you please have a look at this and confirm

[2022-10-08 17:12] yuval-hazaz commented on #4033
Thanks @anchal-gupta we will be in touch soon.

[2022-10-08 17:16] yuval-hazaz commented on #4043
@Jyotiraditya24 the pending changes list is managed here
packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts

[2022-10-08 17:18] yuval-hazaz commented on #3522
This issue was already resolved in https://github.com/amplication/amplication/pull/3997

[2022-10-08 17:18] #3522 closed

[2022-10-08 17:18] yuval-hazaz commented on #3522
@shehabadel please have a look at this list and let us know if you want to work on another issue
https://github.com/amplication/amplication/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee

[2022-10-08 17:20] yuval-hazaz commented on #4008
When you create a message broker, the server auto-generate the name of the resource.
apparently, after 10 message brokers, the auto-generated name is conflicted with another existing name so we need to fix the code that generate the name

[2022-10-08 17:22] yuval-hazaz commented on #4007
@munyoudoum that is excellent! Thanks for creating this video.

please send a PR with the instructions above and we will approve it

[2022-10-08 17:25] yuval-hazaz commented on #3935
yes, go ahead

[2022-10-08 17:33] yuval-hazaz commented on #3932
thanks @Azanul
I assigned the issue to you

[2022-10-08 17:34] yuval-hazaz commented on #3932
The header is already fixed, so just the empty state position

[2022-10-08 17:35] yuval-hazaz commented on #2226
@yksolanki9 you are assigned now

[2022-10-08 17:36] yuval-hazaz commented on #2226
@sambhavgupta0705 once you are ready, please let us know and we would be happy to assign you another issue

[2022-10-08 17:36] #4013 closed

[2022-10-08 17:39] yuval-hazaz commented on #4079
I understand, but only contributors who created PR

[2022-10-08 17:41] yuval-hazaz commented on #2967
@indremak I assigned it to you!
good luck

[2022-10-08 17:43] yuval-hazaz commented on #2967
I suggest that you break this issue to multiple PRs. feel free to send a separate PR for every file so we can minimize the impact and can also handle rejects on one file without impacting other acceptable files

[2022-10-08 18:05] Beast71421 commented on #4079
yup, but thanks for the feedback on my issue, I really appreciate it

[2022-10-08 18:56] kVarunkk commented on #4039
Hi @souravjain540, can I open issues regarding documentation errors? And will they be considered for swags?

[2022-10-08 19:12] wiseaidev commented on #4079
`all-contributors` already has [a bot](https://github.com/all-contributors/app) for this. Just invoke on a PR or issue:

[code]

[2022-10-08 19:28] yuval-hazaz commented on #4079
Yep, the problem was that we needed to remember to do that with every PR, issue, etc...
if we can do it automatically at least for PRs, that will be one step forward, then we just need to remember to do it for issues

any ideas?

[2022-10-08 19:30] yuval-hazaz commented on #4079
also, the changes in the README are also hard to track..
look at this example from the PR that was just created by the BOT

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/43705455/194724293-3f741651-e6f7-4733-aaba-7a47545b4774.png">

somehow it changed the total number from 80 to 57
also there are many other changes in the PR https://github.com/amplication/amplication

[2022-10-08 19:38] wiseaidev commented on #4079
Ah, now I see what's wrong. That would be a good thing to resolve/automate.

[2022-10-09 06:00] MuhammadJufri commented on #4076
Can I ask a question please,
where is the blog file?

Thanks

[2022-10-09 06:21] yuval-hazaz commented on #4076
https://github.com/amplication/amplication-site

[2022-10-09 07:11] MuhammadJufri commented on #4076
Thanks!

[2022-10-09 08:37] chirag-ghosh commented on #4010
I can help

[2022-10-09 09:39] BajajAyush commented on #4031
Created PR #4087 with links to social media posts

[2022-10-09 09:40] yuval-hazaz commented on #4010
Thanks, I assigned it to you. Feel free to reach out if you want to discuss the solution or for any questions

[2022-10-09 09:46] Abhay5855 commented on #4083
Hey can you please assign this issue to me please , I can work on it

[2022-10-09 09:47] Asmit2952 commented on #4083
Hey, I'm already working on it:)

[2022-10-09 09:49] Abhay5855 commented on #4042
@yuval-hazaz I would love to work on this issue can you please assign it to me

[2022-10-09 09:50] Abhay5855 commented on #4016
@yuval-hazaz I would love to take up this issue can you please assign it to me.Thanks

[2022-10-09 09:53] Abhay5855 commented on #4083
okay no issues

[2022-10-09 09:54] chirag-ghosh commented on #4010
This is what I came up with. Do you have a better alternative or any particular coding practice that's followed here @yuval-hazaz ?

[2022-10-09 09:57] Rutam21 commented on #4042
@Abhay5855 Feel free to work on this and complete your Hacktoberfest campaign. All the best.

[2022-10-09 10:02] Santhusha-bit commented on #3933
Can you assign this to me?

[2022-10-09 11:06] akshitarora921 commented on #4076
@yuval-hazaz @alexbass86
Love to hear your opinion, I think `margin-top` and `flex-wrap` will do the job!
![image](https://user-images.githubusercontent.com/11087313/194753325-7c803465-aacb-43a0-b7da-e24ecfd55c62.png)

[2022-10-09 12:24] gmmkmtgk commented on #4029
Hey Can I work on this ?

[2022-10-09 12:25] gmmkmtgk commented on #4040
Hey, Can I work on this?

[2022-10-09 19:37] DevVj-1 commented on #4082
Hey @yuval-hazaz!
The Amplication website has a File path traversal vulnerability that enables an attacker to access sensitive files containing configuration data, passwords, database records, log data, source code, and program scripts and binaries.

[2022-10-09 21:19] trishitapingolia commented on #2473
Can you mention where do you need this note in docs. I want to contribute to this issue.

[2022-10-10 02:50] MuhammadJufri commented on #4076
I've fixed this issue
Please merge [my pull request](https://github.com/amplication/amplication-site/pull/231)

[2022-10-10 04:46] akshitarora921 commented on #4076
@MuhammadJufri, the issue is not assigned to you and I have already asked to assign me.

[2022-10-10 07:13] yuval-hazaz commented on #4076
We are still waiting for response from @alexbass86 . There is an holiday in Israel do it may take some time. Until then, we will not accept PRs, and also according to our policy, please wait to be assigned to an issue before sending a PR.
I appreciate the help from you guys, it is amazing. To be fare with everyone, we must follow the guidelines

Thanks 💜

[2022-10-10 15:48] TheLearneer commented on #4042
Hi @yuval-hazaz I would love to work on it if it's available ✋

[2022-10-10 16:04] MoFoGo opened #4093 "Docs: Plugin Events Article - Create Server Event"
### Describe the issue with documentation

The Plugin docs need to include a description of Events.

### How to solve the problem

## (The following can be used as an example of how to document the other Events: )

# Create Server Event

## Description

This event wraps the entire process of generation of the server-side code.

## Event Name:
`CreateServer`

## Event Params

[code]

This event doe

[2022-10-10 16:08] MoFoGo opened #4094 "Docs: Plugin Events Article - Create Server Package Json Event"
### Describe the issue with documentation

The Plugin docs need to include a description of Events.

### How to solve the problem

## (The following can be used as an example of how to document the other Events: )

# Create Server Package Json Event

## Description

Create the `package.json` file of the service

## Event name:
`CreateServerPackageJson`

## Event Params

[code]

### updatePropertie

[2022-10-10 16:10] Asmit2952 commented on #4083
Hey @yuval-hazaz, I am getting this error,
[code]

[2022-10-10 16:20] MoFoGo opened #4095 "Docs: Docs: Plugin Events Article - Create Server Docker Compose"
### Describe the issue with documentation

The Plugin docs need to include a description of Events.

### How to solve the problem

## (The following can be used as an example of how to document the other Events: )

# Create Server Docker Compose

## Description

Creates the `docker-compose.yml` file of the service

## Event Name:
`CreateServerDockerCompose`

## Event Params

[code]

### fileConten

[2022-10-10 16:23] Asmit2952 commented on #4083
[code]
Instead of `models:Invitation`, I changed it to `{email:string}`. Is this fine? @yuval-hazaz

[2022-10-10 16:52] vincenzodomina commented on #3827
It looks like this has been solved in the recent updates, the Amplication building process is not creating GraphQLJSONObject anymore but GraphQLJSON for json fields.

Comparing my used 0.16.0 with the current 1.0.2 and searching for"GraphQLJSON" found me these lines:

[...ages/amplication-data-service-generator/src/server/resource/dto/graphql-type-json.util.ts](https://github.com/amplication/ampli

[2022-10-10 16:52] #3827 closed

[2022-10-10 16:57] abrl91 commented on #4040
Yes. I'll take a look at that tomorrow.

@gmmkmtgk I'll update you

[2022-10-10 17:00] wiseaidev commented on #4083
I think `models:InviteUserInput` was designed for this case.

[2022-10-10 17:13] Asmit2952 commented on #4083
This works!! So, I'll change TData type

[2022-10-10 17:21] Abhay5855 commented on #4042
hey Santosh I am working on this issue already

On Mon, Oct 10, 2022 at 9:18 PM Santosh Bhandari ***@***.***>
wrote:

[2022-10-10 17:36] yuval-hazaz commented on #4016
sorry @Abhay5855 this issue is already taken

[2022-10-10 17:37] yuval-hazaz commented on #4010
that is great, thanks

[2022-10-10 17:38] yuval-hazaz commented on #3933
@Santhusha-bit the issue is now assigned to you
good luck

[2022-10-10 17:47] yuval-hazaz commented on #4029
@shubhwip & @gmmkmtgk thanks for your interest in working on this issue.

@EugeneTseitlin can you please provide more details on this issue and whether it is open for contribution or is it already in progress?

[2022-10-10 17:57] yuval-hazaz commented on #4082
Thanks for reporting.
@EugeneTseitlin  please have a look at this issue

[2022-10-10 17:58] yuval-hazaz commented on #2473
Thanks for your interest to contribute to Amplication.
This issue is not longer relevant and we can close it.
Please let us know if you see anything else you can work on and we would be happy to assign it to you

[2022-10-10 17:58] #2473 closed

[2022-10-10 18:38] MoFoGo opened #4097 "Docs: Plugin Events Article - CreateEntityService"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 18:44] MoFoGo opened #4099 "Docs: Plugin Events Article - CreateEntityServiceBase"
### Describe the issue with documentation

This Plugin Event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

## The following can be used as examples for the documentation.
https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/is

[2022-10-10 18:47] MoFoGo opened #4100 "Docs: Plugin Events Article - CreateEntityController"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

## The following can be used as examples for the documentation.
https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/40

[2022-10-10 18:48] wiseaidev opened #4101 "🐛 Bug Report: Deprecation warnings thrown by the current `sass` version"
### What happened?

when running the `amplication` client, deprecations warnings related to `sass` start throwing:

<details>
<summary><code>npm start</code></summary>

[code]

</details>

### What you expected to happen

Get rid of the deprecation warnings.

### How to reproduce

Run the client.

### Amplication version

master branch.

### Environment

Any.

### Are you willing to submit PR?

Ye

[2022-10-10 18:54] MoFoGo opened #4102 "Docs: Plugin Events Article - CreateEntityControllerBase"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 18:58] MoFoGo opened #4103 "Docs: Plugin Events Article - CreateAuthModules"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

## The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/4

[2022-10-10 19:06] MoFoGo opened #4104 "Docs: Plugin Events Article - CreateMessageBroker"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:08] MoFoGo opened #4105 "Docs: Plugin Events Article - CreateMessageBrokerClientOptionsFactory"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

NOTE: Create the content here in this GitHub issue.
The following can be used as examples for the documentation.
https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/4094

For refe

[2022-10-10 19:11] MoFoGo opened #4106 "Docs: Plugin Events Article - CreateMessageBrokerNestJSModule"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

## The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/4

[2022-10-10 19:14] #2551 closed

[2022-10-10 19:17] MoFoGo opened #4107 "Docs: Plugin Events Article - CreateMessageBrokerService"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:19] MoFoGo opened #4108 "Docs: Plugin Events Article - CreateMessageBrokerServiceBase"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:22] MoFoGo opened #4109 "Docs: Plugin Events Article - CreateMessageBrokerTopicsEnum"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:23] MoFoGo opened #4110 "Docs: Plugin Events Article - CreatePrismaSchema"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:24] MoFoGo opened #4111 "Docs: Plugin Events Article - CreateServerDotEnv"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:26] MoFoGo opened #4112 "Docs: Plugin Events Article - CreateServerDockerComposeDB"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

### The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/

[2022-10-10 19:35] MoFoGo opened #4113 "Docs: Plugin Events Article - CreateAdminModules"
### Describe the issue with documentation

This event needs to be included in the docs.

### How to solve the problem

Create an article describing the Plugin Event.

### **NOTE**: Create the content here in this GitHub issue.

## The following can be used as examples for the documentation.

https://github.com/amplication/amplication/issues/4095

https://github.com/amplication/amplication/issues/4

[2022-10-10 19:37] #3407 closed

[2022-10-10 20:12] AyushK-101 commented on #3894
I would like to work on this

[2022-10-10 20:17] AyushK-101 commented on #3894
I would like to work on this

[2022-10-10 20:19] AyushK-101 commented on #3886
I would like to work on this

[2022-10-10 20:51] MoFoGo opened #4114 "Docs: Update FAQs with Microservices and Plugins"
### Describe the issue with documentation

The FAQs do not include descriptions of Microservices and Plugins

### How to solve the problem

Add Microservices and Plugins to the FAQs article

### Are you willing to submit PR?

_No response_

[2022-10-11 00:04] MichaelSolati commented on #4044
@ilovetensor do you have any updates or progress on this feature?

[2022-10-11 00:05] MichaelSolati commented on #4101
Very nice, thanks for the PR.

[2022-10-11 01:18] MuhammadJufri commented on #4076
Oh, Sorry I didn't know

[2022-10-11 06:11] souravjain540 commented on #4040
@abrl91 reminder.

[2022-10-11 06:42] imjaglan commented on #4114
I would like to contribute on this issue, can you please assign me this

[2022-10-11 06:50] souravjain540 opened #4115 "🐛 Bug Report: Better UX for user profile section"
### What happened?

There is no submit or back button after filling in the details in user profile section

### What you expected to happen

There should be a submit and a back button for a better user experience.

### How to reproduce

1. Login into amplication
2. click on the user profile from the bottom top
![Screenshot 2022-10-11 at 12 16 56 PM](https://user-images.githubusercontent.com/533128

[2022-10-11 07:03] #4115 closed

[2022-10-11 09:29] shaharblanksela opened #4116 "Change the type of Kafka brokers env variable"
### Feature description

Change KAFKA_BROKERS env variable from 'list' to 'string' type.
This change will do inside:

- [x] All Helm-chart values files where KAFKA_BROKERS is written.
- [x] The code itself.

### Use case

As part of the helm-charts improvement, the environment variable 'KAFKA_BROKERS' will be changed to string type, so that in the future we can pass the variable as a reference and

[2022-10-11 10:46] ShabanaNaik commented on #4114
_@MoFoGo_ I would like to contribute to this.
Please let us know if this issue is open for others to contribute and can be added as a Hactoberfest event.

[2022-10-11 11:59] Souvik2024 commented on #4114
Hey, @MoFoGo , I would like to contribute to this issue. Could you please assign me this?

[2022-10-11 14:01] Github-Emmi commented on #4044
No

On Tue, 11 Oct 2022, 01:04 Michael Solati, ***@***.***> wrote:

[2022-10-11 14:20] #3846 closed

[2022-10-11 14:20] #2979 closed

[2022-10-11 15:22] Asmit2952 commented on #4083
Can we close this issue as it is completed via #4096?

[2022-10-11 16:11] souravjain540 commented on #4114
@imjaglan assigned it to you!

[2022-10-11 19:59] Azanul commented on #3932
@alexbass86 can I use sass arguement to alter empty state height?

[2022-10-12 00:09] MuhammadJufri opened #4133 "🐛 Bug Report: '@amplication/data-service-generator@^1.0.2' is not in this registry"
### What happened?

when running the amplication server, some errors appear
And throwing this error:

[code]

### What you expected to happen

No error

### How to reproduce

Run the server

### Amplication version

1.0.2

### Environment

Any

### Are you willing to submit PR?

Yes, I am willing to submit a PR!

[2022-10-12 05:11] ilovetensor commented on #4039
how i can get these swags as now i have contributed 2 points?

[2022-10-12 05:46] Vipul2504 commented on #4116
Hello, do I need to just change the data type list to string? or anything I have to do please let me know

[2022-10-12 06:16] prakhar-198 commented on #2875
Hey! if the issue is still not fixed..Please can you assign me..I'll fix it! @souravjain540

[2022-10-12 06:21] prakhar-198 commented on #4114
Hey! if the issue is still not fixed..Please can you assign me..I'll fix it! @souravjain540

[2022-10-12 08:07] rienheuver commented on #4073
https://user-images.githubusercontent.com/9960351/195285754-00400f2b-57ea-4a67-bebe-734e124ef5e5.mp4

@abrl91 I ran your provided zip and still get this error. I use `yarn` btw instead of `npm`, maybe that could be the reason? Didn't try with npm yet. Some other system info:

- Chrome Version 106.0.5249.103 (Official Build) (64-bit)
- yarn v1.22.19
- OS: Ubuntu 20.04.5 LTS
- Laptop: Dell XPS 15 75

[2022-10-12 09:25] DEBOBANI commented on #4114
@MoFoGo, I would like to contribute to this issue. Can you please assign this to me?

[2022-10-12 10:24] barshimi commented on #3911
@yuval-hazaz do we have a design/product reference to this bug ?

[2022-10-12 11:30] abrl91 commented on #4113
# Create Admin Modules

## Description

Creates the Admin UI

## Event Name:
`CreateAdminModule`

## Event Params
This event doesn't have unique event params

[code]

**Example**
There is no relevant example yet

[2022-10-12 11:32] abrl91 commented on #4113
@yuval-hazaz isn't it preferable to rename all the events that contain the suffix `modules` before writing the docs?

[2022-10-12 11:56] barshimi opened #4136 "Add "createResolver" event to DSG"

[2022-10-12 12:05] abrl91 commented on #4112
# Create Server Docker Compose DB

## Description

Creates the `docker-compose.db.yml` file of the service

## Event Name:
`CreateServerDockerComposeDB`

## Event Params

[code]

### fileContent

The default content of the file as a string. If needed, the value can be parsed as an object using a YAML utility.

In most cases, there is no need to manipulate the property directly. Instead, use the `u

[2022-10-12 12:06] abrl91 commented on #4112
@MoFoGo @yuval-hazaz please review

[2022-10-12 12:46] wiseaidev commented on #3653
Hey @yuval-hazaz. I want to work on this issue. However, the only thing that I can tell has been changed from the original ticket is the following bullet point:

And should be replaced with:

[2022-10-12 12:56] abrl91 commented on #4103
# Create Auth Module

## Description

Creates the Auth directory with the selected strategy (basic/JWT)

## Event Name:
`CreateAuthModules`

## Event Params

[code]

### srcDir
The target directory the auth folder will be generated in

**Example**

[code]

[2022-10-12 13:08] abrl91 commented on #4103
@barshimi @yuval-hazaz @MoFoGo Please review

[2022-10-12 13:25] barshimi opened #4138 "Create Entity Module."

[2022-10-12 15:44] abrl91 commented on #4111
# Create Server DotEnv

## Description

Creates the server's `.env` file

## Event Name:
`CreateServerDotEnv`

## Event Params

[code]

[code]

### envVariables
An Array of objects represent the key - the env param, and the value - the value of the event params

**Example**

[code]

[2022-10-12 15:50] abrl91 commented on #4111
@yuval-hazaz @MoFoGo please review

[2022-10-12 16:13] abrl91 commented on #4110
# Create Server Prisma Schema

## Description

Creates the Prisma schema

## Event Name:
`CreatePrismaSchema`

## Event Params

[code]

### entities
The entities that will be generated as models in the Prisma schema and represent the table name.
By default, this param's value is the entities that the user sets in the UI (Amplicatoin dashboard).

### dataSource
Represents the data source type of Pr

[2022-10-12 16:15] abrl91 commented on #4110
@MoFoGo @yuval-hazaz Please review

[2022-10-12 18:03] barshimi commented on #3887
Those two events had been added. if there are no new events to this task, please close it

[2022-10-13 03:39] #4133 closed

[2022-10-13 03:56] souravjain540 commented on #4114
@imjaglan are you working on this or I will assign it to someone else.

[2022-10-13 03:56] #4101 closed

[2022-10-13 03:58] souravjain540 commented on #4074
hi @JohnnyDeeee, any updates?

[2022-10-13 04:02] souravjain540 commented on #4012
hi @kVarunkk its `packages/amplication-client/src/Resource/ResourceForm.tsx`

assigning it to you.

[2022-10-13 04:55] kVarunkk commented on #4012
Thanks, @souravjain540
I'll get back to you in couple of days

[2022-10-13 06:25] souravjain540 commented on #4043
any update @Jyotiraditya24

[2022-10-13 06:26] souravjain540 commented on #4042
@Abhay5855 any updates?

[2022-10-13 06:27] souravjain540 commented on #4016
any updates @wiseaidev

[2022-10-13 06:27] souravjain540 commented on #3944
@the-kaushal-agrawal assigned

[2022-10-13 07:24] shaharblanksela commented on #3237
Not relevant anymore.

[2022-10-13 07:24] #3237 closed

[2022-10-13 07:25] shaharblanksela commented on #3239
Already been added to the pipeline.

[2022-10-13 07:25] #3239 closed

[2022-10-13 07:33] wiseaidev commented on #4016
Hey @souravjain540, it is fixed by [pull/4078](https://github.com/amplication/amplication/pull/4078). I am not sure about the branching strategy you are following internally, but @barshimi merged it into [branch/4078](https://github.com/amplication/amplication/pull/4127) and then into [branch/next](https://github.com/amplication/amplication/tree/next). So the patch is not reflected on the master b

[2022-10-13 07:45] wiseaidev commented on #4015
This ticket is fixed in [pull/4084](https://github.com/amplication/amplication/pull/4084) which is merged into the `next` branch in [pull/4084](https://github.com/amplication/amplication/pull/4126) by @barshimi.

[2022-10-13 07:52] Azanul commented on #3932
@yuval-hazaz @alexbass86 I can't see the design in figma. Could you please post an image here.

[2022-10-13 08:01] ranodeepbanerjee opened #4145 "Update Vscode settings"
### Feature description

The settings.json file has full IntelliSense with smart completions for settings and values and description hovers. Errors due to incorrect setting names or JSON formatting are also highlighted.

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-13 08:18] devXprite opened #4146 "Add Twitter Card Preview"
### Feature description

In order to have preview on Twitter, we need to specify a "twitter:card" meta tag

![amplication](https://user-images.githubusercontent.com/80192140/195539534-f287d77d-a362-46d8-9ac8-60d63adffc6b.png)

**Official Twitter Debugger:** https://cards-dev.twitter.com/validator

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-13 09:25] yuval-hazaz commented on #3894
g0od luck @AyushK-101

[2022-10-13 09:26] yuval-hazaz commented on #3886
@AyushK-101 please let us know once you are done with the other issue that is already assigned to you

[2022-10-13 09:42] abrl91 opened #4147 "🐛 Bug Report: Inconsistent event name - all event names should start with a capital letter"
### What happened?

Inconsistent event name - all event names should start with a capital letter

### What you expected to happen

[code]

### How to reproduce

go to `packages/amplication-code-gen-types/src/plugins-types.ts` lines 62-63

### Amplication version

1.0.2

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-13 09:46] vincenzodomina opened #4148 "Transform a response schema/data only for one specific autogenerated route (before returning it to the user)"
### Feature description

**The feature request would be either or**
- a blog post how to do it in code as a best practice
- or an advanced ui, where you can transform a schema for a specific route (exclude fields, transform, expose new fields)

### Use case

**for solving this problem:**
How do I best override an autogenerated route to map the response to another schema without touching the base f

[2022-10-13 09:55] vincenzodomina opened #4150 "Prevent autogeneration from nested routes from relation fields without touching the base folders"
### Feature description

Prevent autogeneration from "nested" routes from relation fields without touching the base folders

### Use case

How do I best prevent unused routes from being generated or at least "unexpose" to the API documentation without touching the base folders?

For now I only delete the controller methods everytime i merge an amplication PR, but that feels like there should be a

[2022-10-13 12:29] rienheuver commented on #4073
I was just talking about this with a colleague and he mentioned that it could very well be the node version used. Which version are you using @abrl91 ? I just tested it with node 14 and 16, and both get the error. To be more specific:
- v14.18.1
- v16.18.0
(both LTS)

[2022-10-13 12:30] KlausMikhaelson commented on #4044
@souravjain540 if it's available now than can I work on it ?

[2022-10-13 12:31] abrl91 commented on #4109
# Create Message Broker Topic Enum

## Description

Creates the message Broker topics enum

## Event Name:
`CreateMessageBrokerTopicsEnum`

## Event Params
There are no additional params to this event
[code]

[2022-10-13 12:33] abrl91 commented on #4109
@MoFoGo @yuval-hazaz, please review.
There is no example of using this event. The Kafka plugin is not using it.

[2022-10-13 12:49] abrl91 commented on #4108
# Create Message Broker Service Base

## Description

Creates the message broker service base

## Event Name:
`CreateMessageBrokerServiceBase`

## Event Params
There are no additional params to this event
[code]

Example:
[code]

[2022-10-13 12:50] abrl91 commented on #4108
@MoFoGo @yuval-hazaz please review

[2022-10-13 13:01] abrl91 commented on #4107
# Create Message Broker Service

## Description

Creates the service of the Kafka message broker

## Event Name:
`CreateMessageBrokerService`

## Event Params
There are no additional params to this event
[code]

Example:
[code]

[2022-10-13 13:02] abrl91 commented on #4107
@yuval-hazaz @MoFoGo please review

[2022-10-13 13:02] Abhay5855 commented on #4042
I have made some changes it is breaking somewhat in the mobile version kindly provide me some time for it I will update you soon

[2022-10-13 13:06] abrl91 commented on #4106
# Create Message Broker NestJS Module

## Description

Creates the NestJS of the message broker

## Event Name:
`CreateMessageBrokerNestJSModule`

## Event Params
There are no additional params to this event

[code]

Example:
[code]

[2022-10-13 13:06] abrl91 commented on #4106
@MoFoGo @yuval-hazaz please review

[2022-10-13 13:10] abrl91 commented on #4105
# Create Message Broker Client Options Factory

## Description

Creates the client options of the message broker

## Event Name:
`CreateMessageBrokerClientOptionsFactory`

## Event Params
There are no additional params to this event

[code]

Example:
[code]

[2022-10-13 13:10] abrl91 commented on #4105
@yuval-hazaz @MoFoGo please review

[2022-10-13 13:13] abrl91 commented on #4104
@yuval-hazaz @MoFoGo please review

[2022-10-13 13:23] abrl91 commented on #4094
@MoFoGo I updated the description, please review
@yuval-hazaz I updated it based on the change I will make after you approve this PR: https://github.com/amplication/amplication/pull/4131

[2022-10-13 14:14] kVarunkk commented on #4012
Hey @souravjain540, I tried a lot but can't find where the error message is located
I could not find anything like ```must NOT have fewer than 2 characters``` in the repo
It would be great if you could guide me
Thanks!

[2022-10-13 14:23] abrl91 commented on #4102
# Create Entity Controller Base

## Description

Creates the base controller of an entity

## Event Name:
`CreateEntityControllerBase`

## Event Params

[code]

### baseTemplatePath

### entity

### entityName

### entityType

### entityServiceModule

### templateMapping

### controllerBaseId

### serviceId

[2022-10-13 14:26] abrl91 commented on #4100
# Create Entity Controller

## Description

Creates the controller of an entity

## Event Name:
`CreateEntityController`

## Event Params

[code]

### templatePath

### entityName

### entityServiceModule

### templateMapping

### controllerBaseId

### serviceId

[2022-10-13 14:30] abrl91 commented on #4099
# Create Entity Service Base

## Description

Creates the base service of an entity

## Event Name:
`CreateEntityServiceBase`

## Event Params

[code]

### entityName

### entity

### templateMapping

### passwordFields

### serviceId

### ### serviceId

### delegateId

### template

[2022-10-13 14:33] abrl91 commented on #4097
# Create Entity Service

## Description

Creates the service of an entity

## Event Name:
`CreateEntityService`

## Event Params

[code]

### entityName

### templateMapping

### passwordFields

### serviceId

### serviceId

### template

[2022-10-13 16:07] fumblehool commented on #4150
Hello @vincenzodomina I would love to work on this issue.
Can you please assign me this issue if nobody is currently working on it.
Thanks :)

[2022-10-13 17:11] JohnnyDeeee commented on #4074
Sorry about the late reply, but i've been very busy with work and i have actually moved away from my personal project (that was using this library). You can close this issue as i am unable to give any more details.

[2022-10-13 19:26] toukirkhan commented on #3361
@yuval-hazaz can you tell me where is the action or automation for the same and please assign it to me?

[2022-10-14 01:18] MichaelSolati commented on #4044
@Github-Emmi do you wanna take a stab at this issue?

We're going to go in order of people who asked to handle this issue.

[2022-10-14 03:07] souravjain540 commented on #4150
Hi @vincenzodomina, thank you so much for making this feature request.

Please validate this issue @yuval-hazaz @abrl91 and @fumblehool will like to work on it.

[2022-10-14 03:08] souravjain540 commented on #4148
Thank you for making this feat request.

Please validate it @yuval-hazaz @abrl91

[2022-10-14 03:10] souravjain540 commented on #4145
Hi @ranodeepbanerjee thanks for making the feat request and PR. one of the team members will look into it very soon.

[2022-10-14 03:11] souravjain540 commented on #4114
Assigning it to @ShabanaNaik

[2022-10-14 03:13] souravjain540 commented on #4074
perfectly okay, let us know how we can help you whenever needed.

[2022-10-14 03:13] #4074 closed

[2022-10-14 07:18] abrl91 opened #4152 "🐛 Bug Report: wrong color of the horizontal line when having a hover on the resource card"
### What happened?

wrong color of the horizontal line when having a hover on the resource card

https://user-images.githubusercontent.com/39680385/195786208-86ffacf8-d90e-4cf4-b6e1-a4afc356607c.mov

### What you expected to happen

I expect it to behave like on the commits page

### How to reproduce

see in the video

### Amplication version

1.0.2

### Environment

_No response_

### Are you wil

[2022-10-14 07:43] SaumyaBhushan commented on #4152
I want to work on this issue Can you please guide me How can I make the required changes?

[2022-10-14 08:25] abrl91 commented on #4152
You can take a look at the commits page and see how it was implemented there. Let me know if you need more help

[2022-10-14 08:53] HeyItsShubhamKale commented on #4152
Hey ,can you assign this issue to me, I'd like to work on it

[2022-10-14 09:35] abrl91 opened #4153 "Docs: update screenshots"
### Describe the issue with documentation

There are a couple of pages where the screenshots are out of date:
- The generated service: the Admin screenshot
- Create your first service: the "App Overview" page is now the "Service Overview," and the side menu looks different (in all steps, the screenshot should be updated)
- Run your service on a development environment:
   - step 1: there is no san

[2022-10-14 09:49] abrl91 opened #4154 "🐛 Bug Report: Pending changes aren't updated when renaming the topic name"
### What happened?

 Pending changes aren't updated when renaming the topic name

https://user-images.githubusercontent.com/39680385/195817290-762fc124-74b7-4ec0-92cd-8e4285acd949.mov

### What you expected to happen

I expect that the topic name on the pending changes will be updated every time the user renames the topic name

### How to reproduce

see the video

### Amplication version

1.0.2

#

[2022-10-14 10:56] A-Scratchy commented on #4153
I would like to work on this if it's available please :-)

[2022-10-14 11:01] abrl91 commented on #4153
@A-Scratchy I assigned you. Good luck 😃

[2022-10-14 11:07] ahlavorato commented on #3652
Hello, I already create a pr with my person account. Thanks for being open

[2022-10-14 11:07] alinehaxkar commented on #3652
Hello, I already create a pr with my person account. Thanks for being open

[2022-10-14 11:37] yuval-hazaz opened #4156 "🐛 Plugin Event: Create Controller - param should be Template and not TemplatePath"
### What happened?

The eventParams object of the Create Controller events include a templatePath parameter that provide the path to the template used to generate the controller.

But, instead of the templatePath, we should provide the actual template, so the plugin writer can replace or manipulate the template in the plugin.

you can see the correct implementation in `CreateEntityServiceParams`

[2022-10-14 11:37] ShabanaNaik commented on #4114
Thank you for the opportunity.
I would like to know if you have any additional info regarding the FAQ ?

[2022-10-14 12:35] abrl91 commented on #3897
yes

[2022-10-14 12:36] abrl91 commented on #3897
fixed by #3921

[2022-10-14 12:36] #3897 closed

[2022-10-14 12:39] abrl91 commented on #4073
@rienheuver
node v16.17.1
npm v8.15.0

[2022-10-14 12:42] rienheuver commented on #4073
In that case I have no clue honestly, I can hardly image the minor version difference in node could be the problem and the npm version shouldn't matter at all I assume. :man_shrugging:

[2022-10-14 12:53] abrl91 commented on #4150
LGTM. The product needs to prioritize the task

[2022-10-14 12:53] abrl91 commented on #4148
LGTM. The product needs to prioritize the task

[2022-10-14 12:55] yuval-hazaz commented on #4145
I didn't understand the request. Is something missing? what are you suggesting?

[2022-10-14 18:18] utkershrajvenshi commented on #4153
Hi @abrl91 . Can I work on this one too?

[2022-10-14 20:35] ShivamAgarwal-code commented on #4153
Can I work on this too?

[2022-10-15 02:47] MuhammadJufri commented on #4154
I would like to work on this if it's available, please

[2022-10-15 06:38] abrl91 commented on #4154
I assigned you. Good luck :)

[2022-10-15 06:47] yuval-hazaz commented on #3963
this issue was fixed by adding the missing files in the original URLs
we need to fix #4040 separately

[2022-10-15 06:47] #3963 closed

[2022-10-15 06:49] yuval-hazaz commented on #4040
I confirm this issue.
The problem is that the DSG is handling all files as text so images and other assets are not copied correctly from the static folder.
Fixing this issue requires a new design

@arielweinberger adding this issue to the engineering team for design before we implement a fix

[2022-10-15 07:01] yuval-hazaz commented on #4116
@Vipul2504 thanks for your support.
This issue is already handled by the core team

[2022-10-15 07:01] souravjain540 commented on #4039
We will contact everyone after the end of Hacktoberfest ❤️

[2022-10-15 07:02] yuval-hazaz commented on #2875
@Abhay5855 please let us know if you need any help with that

[2022-10-15 07:07] yuval-hazaz commented on #3911
assiging to @GreenMachine01

[2022-10-15 07:09] yuval-hazaz commented on #4113
yes, we need to do that
It will be very easy to update the docs, but it will be much more complicated to update the plugins as we move forward.
so, let do it ASAP.  I  will open an issue

[2022-10-15 07:17] yuval-hazaz opened #4158 "🐛 Bug Report: remove the word `Module` from event names"
### What happened?

We currently use the word Module for some events in a confusing way.
In the event `CreateEntityModule` we actually create the NestJS module for the entity - so the name is relevant.

but, in the event `CreateAuthModules` the name is confusing, and we should not use the word Module in the event name

### What you expected to happen

rename the following events:

- CreateAuthModu

[2022-10-15 07:18] yuval-hazaz commented on #4113
I created this issue https://github.com/amplication/amplication/issues/4158

[2022-10-15 07:21] yuval-hazaz commented on #4112
@abrl91 I updated the outputFileName to docker-compose.db.yml
please review

[2022-10-15 07:25] yuval-hazaz commented on #3653
@wiseaidev thanks for pointing this out.
I am adding @alexbass86 to review, and I suggest opening a new issue with exact instructions just on the parts that are missing, and also adding access to the figma file.

@wiseaidev, Alex should be back from an holiday on Tuesday, so please be patient

[2022-10-15 07:28] yuval-hazaz commented on #4103
@abrl91 I think we can add links to one or two of the existing auth plugins.
we can also add some more details on the expected files that need to be included in the results (e.g. defaultAuth.guard.ts)

[2022-10-15 07:29] #4138 closed

[2022-10-15 07:31] yuval-hazaz commented on #4111
@abrl91 well done!
I think we can add more details about the placeholders in the values like "${dbUser}"

[2022-10-15 07:34] yuval-hazaz commented on #4110
perfect

[2022-10-15 07:38] abrl91 commented on #4112
Yep. Side effect of copy&paste 😅

[2022-10-15 07:44] yuval-hazaz commented on #4016
@wiseaidev all PRs goes into the `next` branch and will be merged into `master` when we publish the next version to production. because of the holiday season in Israel, we didn't push code to production in a couple of weeks but we will do it soon and you will see all your PRs for Amplication

[2022-10-15 07:44] #4015 closed

[2022-10-15 07:45] #4016 closed

[2022-10-15 07:54] prakhar-198 commented on #3585
Hey ! @muhsinkamil Please can you guide or brief me about how to fix the issue?

[2022-10-15 08:06] Abhay5855 commented on #2875
@yuval-hazaz  yes sure

[2022-10-15 08:51] #4146 closed

[2022-10-15 08:55] yuval-hazaz commented on #4109
@tupe12334 please add details on this events - please explain when the data is taken from (context) and what is the results of this event (in the plugin)

[2022-10-15 08:55] yuval-hazaz commented on #4109
we should also explain that this event does NOTHING by default and it is only handled by plugins

[2022-10-15 08:56] yuval-hazaz commented on #4108
see my comments on #4109

[2022-10-15 08:57] yuval-hazaz commented on #4107
see my comments on https://github.com/amplication/amplication/issues/4109

[2022-10-15 08:58] yuval-hazaz commented on #4042
@Abhay5855 I think we can go with an easy fix and change the image width and height of 120px instead of 150px

[2022-10-15 08:58] yuval-hazaz commented on #4106
see my comments on https://github.com/amplication/amplication/issues/4109

[2022-10-15 08:59] yuval-hazaz commented on #4105
see my comments on https://github.com/amplication/amplication/issues/4109

[2022-10-15 09:00] yuval-hazaz commented on #4104
see my comments on https://github.com/amplication/amplication/issues/4109

[2022-10-15 09:02] abrl91 commented on #4111
Done. I guess you didn't mean for me to explain how it happens in DSG. And about the two last sentences - we may want to apply the solution we made in the plugins as a default behavior (?)

[2022-10-15 09:10] yuval-hazaz commented on #4012
@kVarunkk thanks for your support.
This issue is a little bit thicker than just replacing strings.

We are using ajv (https://github.com/ajv-validator/ajv) for JSON schema validation - and the error messages that are shown on the UI are the default messages returned from ajv.

In order to show custom messages, we need to use a library like ajv-errors (https://github.com/ajv-validator/ajv-errors)

[2022-10-15 09:17] yuval-hazaz commented on #3361
closing as duplicate of https://github.com/amplication/amplication/issues/2964

[2022-10-15 09:17] #3361 closed

[2022-10-15 09:18] yuval-hazaz commented on #3361
@toukirkhan thanks for your support. I closed this issue as a duplicate, and it was already resolved. Please let us know if you want to work on any other issue

[2022-10-15 09:31] kVarunkk commented on #4012
Hey @yuval-hazaz, thanks for the reply! You can assign this issue to some other person as it would take me some time to study about ajv as I'm completely new to this concept

[2022-10-15 09:40] yuval-hazaz commented on #4152
This issue was resolved in https://github.com/amplication/amplication/pull/4086 so we can close it
Thanks @HeyItsShubhamKale for your support. please let us know if you want to work on any other issue

[2022-10-15 09:40] #4152 closed

[2022-10-15 09:45] yuval-hazaz commented on #4114
@ShabanaNaik you probably need to wait for @MoFoGo to provide you with the content.

[2022-10-15 09:47] yuval-hazaz commented on #4073
worth looking into the fact that @rienheuver mentioned that he used yarn and not npm

[2022-10-15 09:51] yuval-hazaz commented on #4150
@vincenzodomina thanks for opening this feature request. I can understand the need and gree that we should look into implementing this behaviour out of the box.

@fumblehool thanks for your interest to work on this issue, but we first need to decide on a design to the solution.
We may want to add some configuration per field, or maybe create a new page to manage all the routes, or we may come up w

[2022-10-15 09:52] A-Scratchy commented on #4153
@abrl91 what branch would you like the PR to target??

[2022-10-15 09:53] yuval-hazaz commented on #4148
@vincenzodomina thanks for opening this feature request. I like the idea, but we need to see how it fits into the product nicely.
We may include this as part of a bigger initiative to add support for custom routes.

@GreenMachine01 and the product team will take it from here to create the design.

[2022-10-15 09:54] #4075 closed

[2022-10-15 09:58] abrl91 commented on #4153
`next`

[2022-10-15 10:01] yuval-hazaz commented on #3585
@prakhar-198 have a look at this file packages/amplication-client/src/Resource/git/AppGitStatusPanel.tsx
you need to display "never" instead of the date

[2022-10-15 10:04] yuval-hazaz commented on #4103
I am not sure about the last link - since we cannot ensure that it will be available in the future

[2022-10-15 10:16] akshitarora921 opened #4160 "Add `prettierrc` file in `amplication-site` repo"
### Feature description

Add prettier config file. So that It is easy to collaborate.

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-15 10:19] A-Scratchy commented on #4153
PR submitted https://github.com/amplication/docs/pull/204

Thanks :-)

[2022-10-15 10:23] yuval-hazaz commented on #4153
@A-Scratchy thhanks for your support.
you can see a preview of the updated version here https://deploy-preview-204--xenodochial-knuth-724ea9.netlify.app/docs/first-app/

@MoFoGo will review the PR soon and will merge it once approved

[2022-10-15 10:27] shubhwip commented on #4040
Thank you @yuval-hazaz exactly that was happening everything was treated as text files. Once design is final, i can work on it.

[2022-10-15 10:36] HeyItsShubhamKale commented on #4152
Ok great!

[2022-10-15 10:37] ShabanaNaik commented on #4114
Okay 👍👍. But other than that are there any other docs I should look into? Right now I am reading through what is already present on your website and here at GitHub.

[2022-10-15 11:10] HeyItsShubhamKale commented on #4152
Yes I would love to work on other issues,can you assign me some

[2022-10-15 11:37] abrl91 commented on #4103
OK. Screenshots?

[2022-10-15 11:48] Ruchika30 commented on #3993
I can look into it . Can this be assigned to me ? @yuval-hazaz @souravjain540

[2022-10-15 13:30] yuval-hazaz commented on #4114
see this https://docs.amplication.com/docs/faqs/faqs/faqs/

[2022-10-15 13:31] yuval-hazaz commented on #4152
@HeyItsShubhamKale have a look at this query, and comment on any issue you can work on
https://github.com/amplication/amplication/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee

[2022-10-15 13:33] yuval-hazaz commented on #4103
I think we can do without it

[2022-10-15 13:43] ShabanaNaik commented on #4114
I have already gone through the FAQ. But I will go through them once again and compare the questions with what I have learnt so far about the application and let you know.

[2022-10-15 13:43] yuval-hazaz commented on #3993
This is a duplicate of https://github.com/amplication/amplication/issues/2814
There is already a PR in progress https://github.com/amplication/amplication/pull/3536

[2022-10-15 13:43] #3993 closed

[2022-10-15 13:53] HeyItsShubhamKale commented on #4153
@yuval-hazaz I would like to work on this issue there are some screenshots missing!

[2022-10-15 14:00] yuval-hazaz commented on #4153
this is already handled.
if there are other missing screenshots, please open a new issue with the details and I will assign it to you
thanks

[2022-10-15 15:01] DanielMenke opened #4162 "🐛 Bug Report: npm audit reports Dicer vulnerabilty"
### What happened?

just installed the dependencies for my first amplification build and was greeted with this message for
`npm audit`

`
dicer  *
Severity: high
Crash in HeaderParser in dicer - https://github.com/advisories/GHSA-wm7h-9275-46v2
fix available via `npm audit fix --force`
Will install @nestjs/core@7.5.5, which is a breaking change
node_modules/dicer
  busboy  <=0.3.1
  Depends on vul

[2022-10-15 16:05] yuval-hazaz commented on #4162
thanks @DanielMenke for reporting this issue
can you share a link to a repo with the generated code so we can try to reproduce the error?

[2022-10-16 00:32] OmiCoding commented on #3886
If this hasn't been assigned to anyone yet, I would like to work on this if you don't mind.

[2022-10-16 01:03] MuhammadJufri commented on #4154
Thanks!

[2022-10-16 04:44] #4057 closed

[2022-10-16 07:04] Khushal-ag commented on #4160
yes i am willing to submit a PR

[2022-10-16 07:32] abhijeet007rocks8 commented on #4094
@yuval-hazaz Can you provide some references that i can consider for working on this issue ?

[2022-10-16 08:20] MichaelSolati commented on #4044
@KlausMikhaelson do you wanna take this issue?

[2022-10-16 08:21] MichaelSolati commented on #4044
Or @MuhammadJufri, would you like to take this issue.

I'll assign it to whomever asks for it next.

[2022-10-16 08:32] MichaelSolati opened #4164 "Link to Code of Conduct broken"
### Describe the issue with documentation

The link to the code of conduct on [`docs/contributing/`](https://docs.amplication.com/docs/contributing/#code-of-conduct) is broken.

It should point to here => https://github.com/amplication/amplication/blob/master/CODE_OF_CONDUCT.md

### How to solve the problem

Update the link to https://github.com/amplication/amplication/blob/master/CODE_OF_CONDUCT.

[2022-10-16 09:24] akshitarora921 commented on #4164
Can I take this @MichaelSolati

[2022-10-16 09:27] souravjain540 commented on #4164
Yes, assigned:)

[2022-10-16 10:02] KlausMikhaelson commented on #4044
@MichaelSolati yeah would like to take this issue if it is available

[2022-10-16 10:41] KlausMikhaelson commented on #4044
Thanks will start working on it ! @MichaelSolati

[2022-10-16 11:57] astitva0011 commented on #2206
i can resolve this issue

[2022-10-16 12:09] astitva0011 commented on #2932
i would like to work on this issue assign this issue to me

[2022-10-16 12:09] astitva0011 commented on #2932
Thanks

[2022-10-16 15:12] yuval-hazaz commented on #3886
Thanks for your support.
I assigned you

[2022-10-16 15:18] yuval-hazaz commented on #4094
@abhijeet007rocks8 this is a draft for documentation for the plugin system. No work is currently needed on this issue

[2022-10-16 15:19] #4164 closed

[2022-10-16 15:31] yuval-hazaz commented on #2206
@jainpawan21 is there anything to fix on our side?

[2022-10-16 15:33] yuval-hazaz commented on #2932
@barshimi I see that you worked on the commit mentioned above. please review the issue and let us know if @astitva0011 can work on the fix

[2022-10-16 17:02] jainpawan21 commented on #2206
[This comment](https://github.com/Ilshidur/action-discord/issues/122#issuecomment-1233705271) suggests some fix. But I am not sure this will work

[2022-10-16 17:26] cack195 commented on #4147
is this issue resolved?
If not, I would like to work on this issue.

[2022-10-16 18:01] MichaelSolati commented on #4160
Valid issue but I'm a little too opinionated on this and would want to handle this myself.

[2022-10-16 19:09] hridaya423 opened #4171 "🐛 Bug Report: Windows has a problem with :"
### What happened?

With the starter app, There is a lot of commands that have a : in them,

But they don't work in windows as windows takes that as invalid syntax

I found a quick fix for it, go to the package.json and change the commands but that does not work with docker compose

I changed it in dockerfile the prisma generate command but it still has some problems

Here's proof of it in my Intr

[2022-10-16 19:22] astitva0011 commented on #2932
Okay

[2022-10-16 20:17] octopols commented on #4147
I just checked the repo, it looks like it's resolved.

[2022-10-16 20:23] cack195 commented on #4147
Oh ok
Cool then

[2022-10-16 20:45] plopez26DPU commented on #4012
I am willing to give it a shot. Could you assign me?

[2022-10-16 22:02] OmiCoding commented on #3886
No problem, and thank you! I should have a solution soon!

[2022-10-16 23:08] #4160 closed

[2022-10-16 23:49] devXprite opened #4172 "Add a Pull Request template for amplication-site"
### Describe the issue with documentation

Add a Pull Request template for [amplication-site](https://github.com/amplication/amplication-site)

### How to solve the problem

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-17 02:20] 1mike12 commented on #2872
just an update for anyone coming across this, this was caused by having a local postgres installation. I had both brew and chocolatey installations of postgres installed on the host machine, which means the default port 5432 was already taken up. So I think the error is the admin user not existing in the totally different psql environment.

Stop the host postgres or uninstall it

[2022-10-17 02:23] MuhammadJufri commented on #4044
Yes, Sure

[2022-10-17 03:58] devXprite opened #4174 "🐛 Bug Report: Navbar menu does not collapse after clicking in Mobile"
### What happened?

Navbar menu does not collapse after clicking nav links.  This means that the menu remains expanded and therefore covers the content.

https://user-images.githubusercontent.com/80192140/196086064-ca9754a8-2bed-4a97-aa1b-deab65982fad.mp4

### What you expected to happen

https://user-images.githubusercontent.com/80192140/196085806-a2925c40-22cb-4ff6-8f45-c3af20f2b3d2.mp4

### How

[2022-10-17 04:17] MichaelSolati commented on #4174
Moving forward @devXprite, please wait for a member of the team to accept the issue and assign it to you.

[2022-10-17 04:18] #4174 closed

[2022-10-17 08:15] devXprite opened #4175 "🐛 Bug Report: Navbar Y-axis Overflow"
### What happened?

https://user-images.githubusercontent.com/80192140/196122223-bff6ebd9-248f-4860-8f69-e71ab5a3a962.mp4

### What you expected to happen

There should be no scrollbar in NavBar.

### How to reproduce

 1. Open http://amplication.com/
 2. Click on any link in nav bar if it works fine then click again.

### Amplication version

v1.0.2

### Environment

**user-agent:** Mozilla/5.0 (

[2022-10-17 08:39] souravjain540 commented on #4175
@MichaelSolati please validate this issue

[2022-10-17 08:42] souravjain540 commented on #4171
Can you add screenshots? @hridaya423

[2022-10-17 09:09] OmiCoding commented on #3886
Let me know if everything looks good!

[2022-10-17 10:24] DanielMenke commented on #4162
@yuval-hazaz https://github.com/DanielMenke/recep

I did not modify anything, so this might occur with every newly built project

[2022-10-17 11:08] waveywaves opened #4176 "Investigate increasing developer productivity with pull requests environments"
### Feature description

I would like to make life easier for Amplification maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi

TODO:

- [ ] Intial POC

### Use case

Uffizzi is a Open Source full stack previews engine and is free for Amplification. This will provide maintainers with previews of PRs made to the Amplification githu

[2022-10-17 13:24] TheLearneer commented on #4012
Hi there 👋
I would like to work on this issue 🙌

[2022-10-17 13:27] TheLearneer commented on #4042
I would love to work on it, if it is open 🙇

[2022-10-17 14:06] souravjain540 commented on #4042
assigned :)

[2022-10-17 14:49] Ahtritus commented on #4012
Hi @yuval-hazaz @souravjain540 Could you please assign this to me? I would like to take this up.

[2022-10-17 14:50] souravjain540 commented on #4012
sure!

[2022-10-17 15:07] SarojWasti opened #4177 "docs: Improper Link to Contributor Covenant in CODE_OF_CONDUCT.md"
### Describe the issue with documentation

Link to Contributor Covenant site in the [Attribution](https://github.com/amplication/amplication/blob/master/CODE_OF_CONDUCT.md#attribution) section of CODE_OF_CONDUCT.md is missing.

![missing-link](https://user-images.githubusercontent.com/69208771/196213000-c67e5051-ab4b-4166-924a-68fbc235e297.png)

### How to solve the problem

by defining `[homepage

[2022-10-17 15:10] 0xSebin opened #4178 "Adding Resolver"
### Feature description

Adding a resolver would be really useful.

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-17 15:13] souravjain540 commented on #4178
can you elaborate the feature?

[2022-10-17 16:01] TheLearneer commented on #4042
Hi @yuval-hazaz @souravjain540 👋

So while working on this issue, I have realized that the issue won't be easily fixed by just reducing the image size to 120x120. Screenshot attached for reference
<img width="1440" alt="Screen Shot 2022-10-17 at 9 37 49 PM" src="https://user-images.githubusercontent.com/23402178/196224710-52b5ab22-a72f-4e80-bb71-8b065b5acda4.png">

As you can see in the screenshot

[2022-10-18 05:39] souravjain540 commented on #4177
issue accepted, thanks for PR.

[2022-10-18 06:02] #4172 closed

[2022-10-18 09:58] Ratheshan03 commented on #4114
@souravjain540 , @yuval-hazaz , can I work on this issue since there's no new updates recently.

[2022-10-18 10:18] KushalRaut commented on #4001
Hi @yuval-hazaz
 Can I work on this issue if it isn't being worked on?

[2022-10-18 10:20] souravjain540 commented on #4001
Assigned @KushalRaut

[2022-10-18 10:23] KushalRaut commented on #3891
Hi @yuval-hazaz
Can I work on this issue if it is not being currently worked on?

[2022-10-18 10:33] KushalRaut commented on #3596
Hi @yuval-hazaz
Can I work on this issue if it is not being worked on currently

[2022-10-18 10:35] KushalRaut commented on #3944
Hi @yuval-hazaz
Can I work on this issue if it is not being currently worked on?

[2022-10-18 12:37] vincenzodomina opened #4188 "🐛 Bug Report: Docker build fails with Cloud Build: Error: When using COPY ... must end with a /"
### What happened?

Using Cloud build the Docker build process fails with the following error:

Step 17/19 : COPY --from=base /app/tsconfig* .
When using COPY with more than one source file, the destination must be a directory and end with a /
ERROR
ERROR: build step 0 "gcr.io/cloud-builders/docker" failed: step exited with non-zero status: 1

This issue is related to https://github.com/amplicatio

[2022-10-18 14:43] codersrepo commented on #3933
I would like to work on this . Can you assign this to me?

[2022-10-18 14:53] MoFoGo commented on #4112
Will now move to the docs and include in PR.

[2022-10-18 18:39] #4147 closed

[2022-10-18 18:43] yuval-hazaz commented on #4171
@EugeneTseitlin can you have a look at this and share your thoughts ?

[2022-10-18 18:46] yuval-hazaz commented on #4162
@abrl91 can you please have a look at this and share your findings?

[2022-10-18 18:50] yuval-hazaz commented on #4176
Thanks for suggesting it.
I will keep this issue open for @arielweinberger to review it
it may take a couple of weeks before @arielweinberger is back and will be available to review, so please be patient

[2022-10-18 18:53] yuval-hazaz commented on #4178
@0xSebin this issue is missing enough details so we will not be able to handle it.
please feel free to open a new issue with more details
I will close this issue for now

[2022-10-18 18:53] #4178 closed

[2022-10-19 07:10] abrl91 commented on #4162
Sure. I'll check that.

[2022-10-19 07:44] #3601 closed

[2022-10-19 09:48] GreenMachine01 commented on #3886
@OmiCoding Thanks!
We will update you soon.

[2022-10-19 10:27] TheLearneer commented on #4042
@abrl91 this is fixed so I believe we are good to close it 🙏

[2022-10-19 10:38] ahlavorato commented on #1853
If you could give more detail about this issue, I would like to work on it =)

[2022-10-19 10:44] abrl91 commented on #4042
Fixed by https://github.com/amplication/amplication/pull/4187

[2022-10-19 10:44] #4042 closed

[2022-10-19 11:52] waveywaves commented on #4176
Hi @yuval-hazaz
thanks for getting back. In the meantime, I would like to understand what steps do the maintainers follow to review PRs to Amplification. According to those steps I can figure out how I can shave off steps in your workflow by introducing preview environments for PRs to Amplification.

[2022-10-19 12:22] abrl91 opened #4192 "🐛 Bug Report: Generated App - the `package.json` file is generated with a version value that is not aligned with the `npm server`"
### What happened?

The `package.json` (server+admin) file is generated with a version value that is not aligned with the `npm semver`

![image](https://user-images.githubusercontent.com/39680385/196688719-da12549b-da44-4851-805f-e8eff3219459.png)

![image](https://user-images.githubusercontent.com/39680385/196692417-7d0dbab8-a16a-4193-bf11-c3c6ccb271f2.png)

`t1ngngd1` is not a valid npm version

[2022-10-19 12:32] abrl91 commented on #4192
It somehow takes the `swagger` version

![image](https://user-images.githubusercontent.com/39680385/196691559-aa01cf17-1be9-44d7-9384-c65500bdf3db.png)

[2022-10-19 13:38] GreenMachine01 opened #4196 "Ability to remove Role"
**Feature description**
Currently, we are only able to create Roles but not remove them. This is an essential feature.

![Image](https://user-images.githubusercontent.com/112330500/196706313-6541e943-2ae5-4a45-a727-93f48f314491.png)

**Design:**
Should be the same as https://github.com/amplication/amplication/issues/4018

**Are you willing to submit PR?**

[2022-10-19 13:38] GreenMachine01 commented on #4196
@alexbass86 Please add a design example.

[2022-10-19 14:43] MoFoGo commented on #4111
I'm now transferring this to docs.

[2022-10-19 15:07] MichaelSolati opened #4198 "Tutorial Titles Cause SEO Issues"
### Describe the issue with documentation

The titles of the steps in the angular and react tutorials are the same and are causing some issues/confusion with our SEO stuff.

### How to solve the problem

I think the titles should have the framework added to them to distinguish them from each other.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-10-19 15:08] MichaelSolati commented on #4198
Hey, @souravjain540 can you assign me this issue? I'd love to fix it for HackSquad!!!

[2022-10-19 15:18] abrl91 opened #4199 "🐛 Bug Report: The commits list is rendered with the loader"
### What happened?

The commits list is rendered with the loader

https://user-images.githubusercontent.com/39680385/196733731-94022b76-51b0-4f86-88b7-9d7883845ce6.mov

### What you expected to happen

I expect to see the loader, and only after a few milliseconds the list should be rendered on the **top** of the sidebar

### How to reproduce

show the video

### Amplication version

_No response_

[2022-10-19 15:21] abrl91 commented on #4192
Fixed by https://github.com/amplication/amplication/pull/4195

[2022-10-19 15:21] #4192 closed

[2022-10-19 15:22] abrl91 commented on #4158
Fixed by https://github.com/amplication/amplication/pull/4161

[2022-10-19 15:22] #4158 closed

[2022-10-19 15:23] abrl91 commented on #4156
Fixed by https://github.com/amplication/amplication/pull/4157

[2022-10-19 15:24] abrl91 commented on #4027
Fixed by https://github.com/amplication/amplication/pull/4191

[2022-10-19 15:24] #4027 closed

[2022-10-19 15:30] GreenMachine01 opened #4200 "🐛Bug Report: Scroller shows up on the Login button after navigating between tabs"
**Description:**
A scroll bar shows up over the login button after I navigated between tabs

**Actual:**
![Image](https://user-images.githubusercontent.com/112330500/196736732-d4eefbe8-0fd9-4f9c-abaa-dd929e9adb0f.png)

**Expected:**
No scroll bar over the button

[2022-10-19 15:45] MoFoGo commented on #4103
Transferred to docs

[2022-10-19 15:54] abrl91 opened #4201 "🐛 Bug Report: JWT plugin installation - unexpected behavior"
### What happened?

JWT plugin installation - unexpected behavior: when a user installs the JWT plugin the PR looks as follows:

![Screen Shot 2022-10-19 at 18 46 15](https://user-images.githubusercontent.com/39680385/196741039-7105ffbe-776d-4670-b678-4383ef887a04.png)

### What you expected to happen

Given that the default auth strategy is using JWT, the only change that I expect is the swagger

[2022-10-19 16:18] MoFoGo commented on #4110
Moved to Docs.

[2022-10-19 16:25] abrl91 opened #4202 "🐛 Bug Report: Generated App - `admin-ui` is not compiled"
### What happened?

Generated App - `admin-ui` is not compiled and show the following error:

![Screen Shot 2022-10-19 at 19 16 30](https://user-images.githubusercontent.com/39680385/196748739-7f7cc539-599e-42e4-87ca-161a2945894e.png)

### What you expected to happen

`admin-ui` should compiled successfully after `npm i && npm run start`

### How to reproduce

Create an app and follow the instruct

[2022-10-19 16:26] RayotiKar commented on #4153
I'd like to work on it if it's available please :).

[2022-10-19 16:52] abrl91 commented on #4202
Fixed by https://github.com/amplication/amplication/pull/4203

[2022-10-19 16:52] #4202 closed

[2022-10-19 17:00] abrl91 commented on #4201
When we install the `base-auth` plugin, the `ts-ignore` comment is added in `server/src/tests/auth/jwt/jwt.strategy.spec.ts`
![image](https://user-images.githubusercontent.com/39680385/196756637-b1e41b0d-6afd-46d8-84eb-e99e34c36601.png)

[2022-10-19 17:14] TheLearneer commented on #3442
@MoFoGo I believe the issue is resolved, so can be closed?
cc: @souravjain540

[2022-10-19 17:15] abrl91 opened #4204 "🐛 Bug Report: severity vulnerabilities in the generated `admin-ui` and `server`"
### What happened?

severity vulnerabilities in the generated `admin-ui` and `server`

admin-ui:
![Screen Shot 2022-10-19 at 19 14 11](https://user-images.githubusercontent.com/39680385/196758824-1bb7f367-dfe7-4c8c-b3a0-9f5a05555c2c.png)

server:
![Screen Shot 2022-10-19 at 15 14 30](https://user-images.githubusercontent.com/39680385/196758910-afe7c04d-6c9e-4d0e-a0b5-5a9fdc79b8e0.png)

### What yo

[2022-10-19 17:19] abrl91 commented on #3959
Fixed by https://github.com/amplication/amplication/pull/4135

[2022-10-19 17:19] #3959 closed

[2022-10-19 17:19] abrl91 commented on #3962
Fixed by https://github.com/amplication/amplication/pull/4131

[2022-10-19 17:19] #3962 closed

[2022-10-19 17:23] TheLearneer commented on #4199
Hi @abrl91 👋
I would love to work on this issue 🙇

[2022-10-20 05:01] techytushar commented on #4204
@abrl91 The vulnerabilities in the `admin-ui` are because of the `react-script` package, do you have any ideas in mind on how we can fix them. I see there is already an issue open for it in their repo https://github.com/facebook/create-react-app/issues/11174

[2022-10-20 05:17] OmiCoding commented on #4200
Hey I would like to work on this issue.

[2022-10-20 07:03] fbuireu opened #4207 "Bump prettier dependency"
### Feature description

The [prettier](https://www.npmjs.com/package/prettier) dependency can be bumped into its latest version (`2.7.1`)

### Use case

While developing it will improve the performance and speed from the previous versions as you can see in the [`CHANGELOG.md`](https://github.com/prettier/prettier/blob/main/CHANGELOG.md)

### Are you willing to submit PR?

Yes I am willing to subm

[2022-10-20 07:53] #3874 closed

[2022-10-20 07:54] #3861 closed

[2022-10-20 07:54] #3452 closed

[2022-10-20 07:55] #3914 closed

[2022-10-20 07:55] #3847 closed

[2022-10-20 08:40] DivyanshVinayak23 commented on #4199
Hi @abrl91 Can I work on this?

[2022-10-20 08:50] abrl91 commented on #4199
sorry, @TheLearneer asked first. I will open another issue like that today and if you want I can assign you immediately

[2022-10-20 08:53] abrl91 commented on #4204
Thank you @techytushar we will look at that 💜

[2022-10-20 09:22] #3935 closed

[2022-10-20 09:47] kailashchoudhary11 opened #4210 "docs (Readme): Convert the Logo to Link"
After clicking on the logo, it just opens the image instead of that we can redirect the user to the amplication website!

[2022-10-20 11:02] abrl91 commented on #4153
already handled

[2022-10-20 11:33] abrl91 commented on #3933
Fixed by https://github.com/amplication/amplication/pull/4206

[2022-10-20 11:33] #3933 closed

[2022-10-20 11:36] abrl91 opened #4211 "🐛 Bug Report: `CommitListItem` - width and padding problems"
### What happened?

1. The padding on hover (the first item) and the selected item (the 4th item) should have the same width
2. the padding-right should be smaller
3. gap/padding/margin between the commit items

![Screen Shot 2022-10-20 at 10 30 23](https://user-images.githubusercontent.com/39680385/196936278-685bca75-ff91-4508-8970-cbca494f87c1.png)

### What you expected to happen

It should loo

[2022-10-20 11:37] abrl91 commented on #4199
@DivyanshVinayak23 please comment on this issue: https://github.com/amplication/amplication/issues/4211 so I would be able to assign you

[2022-10-20 11:40] vickywane commented on #4211
Hi,

I can fix this

[2022-10-20 11:42] abrl91 commented on #4211
First come first served 😃
I assigned you

[2022-10-20 11:56] abrl91 commented on #4162
related issue: https://github.com/amplication/amplication/issues/4204

[2022-10-20 12:09] abrl91 commented on #4073
@yuval-hazaz @rienheuver I couldn't run the app with `yarn` at all.

I could run `yarn' to install the dependencies, but then I couldn't run the client and the server.
They both fell for the fact that they supposedly have no dependencies

[2022-10-20 12:27] Sarveshk76 commented on #4175
Can I work on it? It appears when we click on features and pricing

[2022-10-20 12:34] devXprite commented on #4175
NO actually appears in every even click and i think it's because of transition.

[2022-10-20 12:37] SoNiC-HeRE commented on #4210
I can also fix this as well!

[2022-10-20 12:38] TheLearneer opened #4213 "🐛 Bug Report: Missing gap between commit"
### What happened?

The commit list is missing gap between two items when one is selected and the one just around it is hovered.

<img width="275" alt="Screen Shot 2022-10-20 at 6 23 44 PM" src="https://user-images.githubusercontent.com/23402178/196950721-cf074871-99f3-42c6-8cec-e211abd55378.png">

### What you expected to happen

There should be a gap of `8px` as most of the other items in other

[2022-10-20 13:00] abrl91 commented on #4021
@GreenMachine01 @yuval-hazaz
Is there any chance that this behavior is by design?

https://user-images.githubusercontent.com/39680385/196955279-40f6791f-a527-4a39-aecb-94dde5114f97.mov

[2022-10-20 13:25] GreenMachine01 opened #4214 "🐛 Bug Report: Pending Changes doesn't update after deleting a Message Broker"
**Steps to Reproduce:**
1. Create a new Message Broker
2. Create a topic within the message broker
3. Delete the Message Broker via the Project Settings Page

**Expected:**
The Pending Changes area is updated and no longer shows the Message Broker Section

**Actual:**
The Message Broker with the created Topic are still shown in the Pending Changes area

[2022-10-20 13:51] Ahtritus commented on #4012
Hey, while going through the app, I found out a couple other places with the same error.

Workspace Settings -> Workspace name
<img width="605" alt="image" src="https://user-images.githubusercontent.com/53258966/196966782-0bdd5979-a1cd-473a-9e88-7b6868345b50.png">

User Profile -> First and Last Name
<img width="316" alt="image" src="https://user-images.githubusercontent.com/53258966/196967158-148

[2022-10-20 13:58] Ahtritus commented on #4012
Alright, seems like the issue description does mention to get all the messages fixed in the repo, although its not just a simple global search.

[2022-10-20 14:43] GreenMachine01 commented on #4021
We decided to address this bug by adding a default topic when creating a new Message Broker. Canceling this bug and opening a new issue.

[2022-10-20 14:44] #4021 closed

[2022-10-20 14:50] GreenMachine01 opened #4216 "As User - I want a new Message Broker to have a Default Topic already set up for me"
**Overview:**
Similar to Services we want a new Message Broker to include an automatically generated default topic as we expect it will help developers to understand how to use it and save some steps which the developer will always do if he wants to use a Message Broker.

**Design Example:**

![Image](https://user-images.githubusercontent.com/112330500/196984306-e4868504-e6ae-460c-9b24-3f9b11c7821

[2022-10-20 14:55] abrl91 commented on #4214
I think we already have this issue: https://github.com/amplication/amplication/issues/4154

[2022-10-20 14:56] abrl91 commented on #4154
@SayyidMuhammad878 Did you manage to make some progress with this issue?

[2022-10-20 14:59] abrl91 commented on #4213
hey, @TheLearneer thank you but it is duplicated. See this isse #4211

[2022-10-20 14:59] #4213 closed

[2022-10-20 15:08] TheLearneer commented on #4213
Ahh my bad, didn't realize it 🙇

[2022-10-20 15:13] MichaelSolati commented on #4044
@KlausMikhaelson do you have any updates on this feature?

[2022-10-20 15:20] GreenMachine01 commented on #4214
@abrl91 thanks. yes, they are partially duplicate of one another.
I'll remove Scenario #2

[2022-10-20 15:21] KlausMikhaelson commented on #4044
@MichaelSolati was facing some issues so have asked in the server in the #support channel can you please help me out there ?

[2022-10-20 16:33] Azanul commented on #3932
@alexbass86  This is resolved

[2022-10-20 18:03] ageddesi commented on #4216
Hi, I would like to take this on if you will have me :) 👍

[2022-10-20 18:30] MichaelSolati commented on #4044
@KlausMikhaelson are you NeilBohr on discord? (If not then what is your username on discord?)

[2022-10-20 18:59] mohitshende commented on #3956
Hello , I would like to work on this. Could you please assign this issue to me?

[2022-10-20 19:00] mohitshende commented on #3956
Hello , I would like to work on this. Could you please assign this issue to me?

[2022-10-20 19:22] KlausMikhaelson commented on #4044
Hey @MichaelSolati my username is @Klausss#7531 I have setted up amplication multiple times in my local device but dk why I am getting errors this time please check it out

[2022-10-20 19:36] michizhou commented on #3979
@yuval-hazaz If it's alright, I would like to work on this issue.

[2022-10-21 04:09] lizardkingLK opened #4218 "🐛 Bug Report: Internal Server Error"
### What happened?

When trying to change the repository in GitHub integration after deleting the existing repository it gives Internal Server Error.

### What you expected to happen

When trying to change the repository in GitHub integration after deleting the existing repository it gives Internal Server Error.
It should allow me to either remove the existing repository/disconnect GitHub Integrat

[2022-10-21 08:49] TheLearneer commented on #4043
Hi @yuval-hazaz @souravjain540 👋
I would love to work on it 🙇

[2022-10-21 09:01] souravjain540 commented on #4043
assigned :)

[2022-10-21 09:08] abrl91 commented on #4218
Hey @lizardkingLK, thanks for reporting.
First, I would like to address the following sentence from your description:

"_It should allow me to either remove the existing repository/disconnect GitHub Integration mentioning that it was deleted from the upstream_"

When a user chooses one of his connected GitHub accounts, the dialog in the screenshot is opened, and a request to GitHub is sent. This r

[2022-10-21 09:17] #4210 closed

[2022-10-21 09:27] abrl91 commented on #4199
Fixed by https://github.com/amplication/amplication/pull/4212

[2022-10-21 09:27] #4199 closed

[2022-10-21 09:58] lizardkingLK commented on #4218
Thanks. In that case, we can show no accessible repositories found rather than an "internal server error" message. So this can be moved to an enhancement.

[2022-10-21 11:46] vincenzodomina opened #4221 "🐛 Bug Report: Wrong Incoming Body parameters are not stripped and throw error (global ValidationPipe is missing whitelist: true)"
### What happened?

Wrong Incoming Body parameters are not stripped and throw internal server error caused by prisma not accepting wrong parameters

[code]

Is there a reason to not use the recommended  global ValidationPipe with whitelist: true?

[code]

### What you expected to happen

Wrong parameters in POST body objects should be stripped and the process not stopped

### How to reproduce

Add

[2022-10-21 12:10] vincenzodomina opened #4223 "🐛 Bug Report: Autogenerated @isJson Validator for created Json-fields does not allow valid input in Request body"
### What happened?

Autogenerated @isJson Validator from class-validator for created Json-fields does not allow valid objects in request body and throws error:

property must be a string!

Autogenerated DTO entry:

[code]

My workaround with correct behaviour: remove the @IsJson() decorator, but i added some other validation to have some custom validation:

[code]

### What you expected to happen

[2022-10-21 12:54] vickywane commented on #4211
I'm working on this.

[2022-10-21 18:44] Ahtritus opened #4224 "Enhancement: Make the Profile Page have better styling"
### Feature description

Currently, the Profile Form in the Profile Page is situated to the extreme left, making it look a bit jarring. A better styling would be preferred.

<img width="338" alt="image" src="https://user-images.githubusercontent.com/53258966/197267362-927d4638-7518-4e55-98bc-9c32c2ae1f40.png">

### Use case

After the required styling changes, the Profile Page should look somethin

[2022-10-21 19:12] Ahtritus commented on #4224
@souravjain540  @yuval-hazaz  Could you please assign this to me and I'll raise the PR?

[2022-10-21 19:18] Ahtritus opened #4225 "Enhancement: Workspace Header, without the User-Profile icon, should be visible in Profile Page"
### Feature description

Currently, there is no Workspace Header present in the Profile Page. The only way a user can navigate out of the page is to click on the back button of the browser or type in the URL manually. If the workspace header was present, then it would be easier for the user to navigate.

### Use case

The result, along with the styling changes raised in issue #4224, would result i

[2022-10-21 19:18] Ahtritus commented on #4225
@souravjain540 @yuval-hazaz Could you please assign this to me and I'll raise the PR?

[2022-10-21 20:39] abrl91 commented on #4225
@alexbass86 @GreenMachine01

[2022-10-21 20:45] abrl91 commented on #4225
@Ahtritus
Thank you for your suggestion. The product team will review it.

[2022-10-21 20:46] abrl91 commented on #4224
@alexbass86

[2022-10-22 05:40] Ahtritus commented on #4216
Hey @GreenMachine01 I would like to work on this, could you please assign it to me?

[2022-10-22 09:00] abrl91 commented on #4012
Fixed by https://github.com/amplication/amplication/pull/4215

[2022-10-22 09:00] #4012 closed

[2022-10-22 12:11] TheLearneer commented on #4224
@abrl91 I believe this issue is duplicate of #3596

[2022-10-22 12:14] Ahtritus commented on #4224
Whoops, didn't see it there. I guess we can close this issue then?

[2022-10-22 12:16] Ahtritus commented on #3596
@TheLearneer  Could you assign this to me if no one's working on it?

[2022-10-22 14:31] Anubhavdevv opened #4226 "Discord Button in Readme"
### Describe the issue with documentation

In the Readme file Discord button is there for joining the discord community of amplification clicking that it did not open in the new tab it opens in only the tab only so the user who clicks on it directly redirect to the invite screen but due to that the GitHub got closed and the user had to search again for the repository so the discord button should b

[2022-10-22 14:31] Anubhavdevv commented on #4226
Kindly assign this issue to me !

[2022-10-22 15:30] abrl91 commented on #3596
I assigned you

[2022-10-22 15:31] abrl91 commented on #4224
duplicate of https://github.com/amplication/amplication/issues/3596

[2022-10-22 15:31] #4224 closed

[2022-10-22 15:33] abrl91 commented on #4225
@Ahtritus as the design of the user profile is a modal, this issue is not relevant.
See issue: https://github.com/amplication/amplication/issues/3596 (I assigned you to the issue)

[2022-10-22 15:33] #4225 closed

[2022-10-22 15:34] Ahtritus commented on #3596
Thanks! Also, should the design be similar to the one discussed above with a pop-up or do we keep the Profile page and update the styling there, as discussed in #4224 ?

[2022-10-22 15:35] abrl91 commented on #3596
This design: https://github.com/amplication/amplication/issues/3596#issuecomment-1229457534

[2022-10-22 15:36] Ahtritus commented on #3596
Got it

[2022-10-22 15:36] abrl91 commented on #4226
Good luck :)

[2022-10-22 15:39] Anubhavdevv commented on #4226
Thank You it would be great if you could assign it to me under Hacktoberfest Label !

[2022-10-22 20:07] MoFoGo commented on #4104
Moved to docs

[2022-10-22 20:32] MoFoGo commented on #4108
Transferred to docs

[2022-10-22 20:36] MoFoGo commented on #4106
Transferred to docs

[2022-10-22 20:39] MoFoGo commented on #4094
Transferred to docs

[2022-10-22 20:44] MoFoGo commented on #4097
@MoFoGo (note to self) - See this comment. The content above had been transferred to docs, but make sure this is acted upon:

@MoFoGo this parameter and the previous parameter are commonly used in a lot of events. we should create a separate document that explains about this process and the options of how to manipulate these parameters.
We should also use a common language to describe these parame

[2022-10-22 20:58] MoFoGo commented on #4105
Moved to docs

[2022-10-22 21:43] MoFoGo commented on #4102
Transferred to docs

[2022-10-22 21:45] MoFoGo commented on #4099
Transferred to docs

[2022-10-22 21:47] MoFoGo commented on #4100
Transferred to docs

[2022-10-23 02:25] SayyidMuhammad878 commented on #4154
Yes, I was busy I getting a new job I will look after it!

[2022-10-23 03:00] SayyidMuhammad878 commented on #4044
Earlier I also received many errors maybe you can try to install typescript globally using npm install -g typescript and then try to install docker and then keep your docker running and then write npm run setup:dev in the amplication folder

[2022-10-23 03:00] SayyidMuhammad878 commented on #4044
After doing that maybe you don't receive any more errors

[2022-10-23 04:51] akshitarora921 commented on #4076
@yuval-hazaz @alexbass86 Any update on this?

[2022-10-23 05:24] Dojeto commented on #4226
@Anubhavdevv hey, can you please give this chance to me it will help me a lot :)

[2022-10-23 05:45] ridays2001 commented on #4226
Is anyone working on this?

[2022-10-23 05:51] ridays2001 commented on #4171
Cannot reproduce this

[2022-10-23 08:54] GreenMachine01 commented on #4216
@souravjain540 @arielweinberger please see if this item can be done by the community. if yes, we have @Ahtritus that wants to do it.

[2022-10-23 09:03] hridaya423 commented on #4171
Does VS Code use a different terminal than Powershell?

[2022-10-23 10:01] barshimi commented on #3887
I updated all the events at DSG that is not accessible to plugin

[2022-10-23 10:22] arielweinberger commented on #4171
@yuval-hazaz  If this is indeed confirmed by @EugeneTseitlin we should consider how it is affected by the switch to Nx, so that we don't do double work.

@EugeneTseitlin as requested, could you please check and verify if you can reproduce?

[2022-10-23 10:36] Pragya2056 commented on #4006
@souravjain540
I have created a link to my blog with a added file according to the rules.
The PR is #4228
Please review it.

[2022-10-23 13:18] abrl91 commented on #4226
yes. @Dojeto is working on this issue

[2022-10-23 13:33] abrl91 commented on #3887
@GreenMachine01
We already have `CreateDotEnvModule` - it actually called `CreateServerDotEnv`.
What we do need to add is `CreateAdminDotEnv`

Another important note
Have a look at this issue: https://github.com/amplication/amplication/issues/4158
We don't want to use the suffix `Module` at the end of the event name where it's NOT a NestJS module.
For example `createAppModule` is NestJS module, th

[2022-10-23 14:12] abrl91 commented on #3887
Actually, we also have `CreateServerAppModule` which I think is equivalent to `createAppModule`

[2022-10-23 14:43] KlausMikhaelson commented on #4044
Okay trying that right away ! @SayyidMuhammad878

[2022-10-23 16:07] Dojeto commented on #4226
Hey @abrl91 I was trying to solve this issue, I google about it and I found that GitHub doesn't allow to change a default target behavior
GitHub has two types of markdown processors GFM and KRANDOWN.
Krandown supports changing default target behavior but, we can't use it in a README.MD.
This is what is got to know by doing this research, maybe there is no way to solve this issue, or perhaps I fail

[2022-10-23 16:24] FroostyCodes commented on #3585
Hi @yuval-hazaz @souravjain540 Can I work on it?

[2022-10-23 16:30] KlausMikhaelson commented on #4044
Hey I just reinstalled docker after uninstalling it and it's working now lol, so I am working on the issue and will create the pr asap !

[2022-10-23 17:26] ridays2001 commented on #4226
Here's a hint for you - GitHub markdown processor also supports HTML.

[2022-10-23 17:36] Dojeto commented on #4226
@ridays2001 ik that, i tried target="_blank" but it's not working kindly if you know another way then help me :)

[2022-10-23 18:55] abrl91 commented on #3937
@meetwithyash Do you still want to work on this issue?

[2022-10-23 18:57] abrl91 commented on #4200
I assigned you. Gook luck!

[2022-10-23 19:16] abrl91 commented on #4022
The commits page shows the committed services. Every commit can have X builds (as the number of services in the project).
The project configuration (and the MessageBroker) is NOT included in the build process. Therefore, when a user creates a new project and clicks on the build button **before** he creates a service, there is nothing to show on the commits page.

Regarding the pending changes - I

[2022-10-24 03:32] tupe12334 commented on #1853
Hi @ahlavorato You just need to add the SwaggerCustomOptions typescript type from the package `@nestjs/swagger` in the line https://github.com/amplication/amplication/blob/a76977dd1fcb1c82517b7c4614408396edc56f4f/packages/amplication-data-service-generator/src/server/swagger/swagger.template.ts#L16

[2022-10-24 04:54] SayyidMuhammad878 commented on #4154
I still working on it but I've completed about 80-90%
Maybe I will push it today or tomorrow

[2022-10-24 07:23] DynamiteC commented on #4226
@abrl91 @joebowbeer @Anubhavdevv @ridays2001 @Dojeto GFM would never support target="_blank" due to security reasons. [Since 2012 ](https://github.com/mojombo/github-flavored-markdown/issues/28) people are trying to add that but github wont allow.

[2022-10-24 07:27] shaharblanksela opened #4230 "Removing GCP environment variables from code"
### Feature description

As part of refactoring the helm charts, I came across unnecessary variables that are no longer needed, such as inside amplication-server:

    #GCP - APPS Builder
    DEFAULT_DISK:
    LOCAL_DISK_ROOT:
    CONTAINER_BUILDER_DEFAULT:
    GCS_BUCKET:

    #GCP - APPS Deployer
    DEPLOYER_DEFAULT: gcp

    GCP_APPS_PROJECT_ID:
    GCP_APPS_REGION:
    GCP_APPS_TERRAFORM_STAT

[2022-10-24 07:40] GreenMachine01 commented on #4009
After examining the issue we don't see a need to fix this issue for now.

[2022-10-24 07:40] #4009 closed

[2022-10-24 09:30] barshimi commented on #4034
I think the best way to treat this package is to remove it from lerna and publish it only as npm public package.

[2022-10-24 09:57] abrl91 commented on #4226
Thank you @DynamiteC

[2022-10-24 11:35] abrl91 commented on #3832
cannot be reproduced

[2022-10-24 12:22] abrl91 commented on #4024
duplicate of: https://github.com/amplication/amplication/issues/3545

[2022-10-24 12:22] #4024 closed

[2022-10-24 13:11] abrl91 commented on #4204
@arielweinberger @GreenMachine01

My update about this issue:

I started with the `admin-ui`
  - 'nth-check' vulnerability:
(link to the relevant commit on a test generated app: https://github.com/amitplication-org/test-v103/commit/4178da0ee3aaf1ec7e2ac25c6e53bb79dc7860a1)
![image](https://user-images.githubusercontent.com/39680385/197531381-3449725a-6730-4baf-9b05-6b6d4138c59c.png)

The change is

[2022-10-24 13:52] abrl91 commented on #4204
server:
- fix vulnerabilities on the server with npm audit fix --force: fixed 3 vulnerabilities. We still have six vulnerabilities.
**But** - after running `npm i` I got the following error:
![image](https://user-images.githubusercontent.com/39680385/197541857-fc41e523-4708-4cbf-87ab-1a24cc103fbc.png)

[2022-10-24 14:03] GreenMachine01 opened #4231 "Update the instruction text on the Service Dashboard"
![Image](https://user-images.githubusercontent.com/112330500/197544879-637a02cc-2786-4bdc-b66a-ae8f5d358ecd.png)

**Overview:**
We no longer want to support the ability to download the code directly from the Amplication platform. So to improve onboarding we need to update our instruction text and remove mentioning "download the code"

**Requirements:**

- Update the text marked by the red box

[2022-10-24 14:23] Abubakrce19 commented on #4231
Please assign me this, I can do this!
Thank you!!
@GreenMachine01

[2022-10-24 14:33] chaiwattsw commented on #4211
any update on this issue? if not I would like to take

[2022-10-24 14:36] GreenMachine01 commented on #4231
@abrl91 @souravjain540 FYI. please assign if the community can do it.

[2022-10-24 14:40] GreenMachine01 commented on #4231
@Abubakrce19 assigned to you. Thanks!

[2022-10-24 14:40] mathagician commented on #4231
I would like to take the issue. Please assign this to me. I shall give it now.

[2022-10-24 14:41] Abubakrce19 commented on #4231
Already Started working!

Thank you

[2022-10-24 14:49] mathagician commented on #4039
created one PR for this https://github.com/amplication/amplication/pull/4232
Please review

[2022-10-24 14:50] mathagician commented on #4231
PR created https://github.com/amplication/amplication/pull/4232

[2022-10-24 15:02] abrl91 commented on #4226
@mathagician I assigned you

[2022-10-24 15:21] Abubakrce19 commented on #4231
@GreenMachine01
PR created #4233
Please review it.
Thank you!!

[2022-10-24 17:44] vincenzodomina opened #4234 "Create many - Route"
### Feature description

Additionally to the "Create one" Route I suggest to have an/ or change it to an "Create many" Route as the standard POST Route in the REST-API

### Use case

Problem:
Instead of having to loop on the client side to create many records from an array of items and thus having many http-calls that are slow, the standard POST Route could be a "Create Many" Route

- Prisma has a

[2022-10-24 18:40] OmiCoding commented on #4200
I believe someone worked on this bug in issue #4175, and the pull request amplication/amplication-site#244

[2022-10-25 00:22] OmiCoding opened #4237 "🐛 Bug Report: Page cuts off when clicking on roadmap nav link"
### What happened?

I noticed when I clicked on the roadmap navigation link it causes the page to get cut off at the top when scrolling back up, or clicking on the logo link. This happens when resolution width size is greater than 991px.

![frontend-issue-1](https://user-images.githubusercontent.com/43274676/197651025-62ec2ac5-a34a-4ddc-aa56-11a18cbddda0.PNG)

Footer is extended much more than it'

[2022-10-25 02:21] yuval-hazaz commented on #3891
@arielweinberger is this issue still open? can we assign @KushalRaut ?

[2022-10-25 02:22] yuval-hazaz commented on #3944
@MoFoGo @souravjain540 please reply to @KushalRaut

[2022-10-25 02:41] yuval-hazaz commented on #4196
@GreenMachine01 we should talk about this before making progress as it has some impacts to consider

[2022-10-25 02:42] #4198 closed

[2022-10-25 04:18] Abubakrce19 commented on #4007
Can i make a video too?

[2022-10-25 04:29] developerSuranjan commented on #4226
@abrl91 kindly assign this to me :)

[2022-10-25 04:37] souravjain540 commented on #4226
@mathagician is working on it.

[2022-10-25 04:38] souravjain540 commented on #3944
Sure.  @KushalRaut  assigned

[2022-10-25 04:39] souravjain540 commented on #4237
@abrl91 please review the issue and attached PR.

Thanks @OmiCoding for reporting the issue

[2022-10-25 05:03] weblearner07 commented on #4226
Please assign me this issue , I can work on it.

[2022-10-25 05:05] Abubakrce19 commented on #4006
#4220
Done and approved.
Ready to merge

[2022-10-25 06:19] Aashutoshbro commented on #4226
I would like to do the task

[2022-10-25 07:46] GreenMachine01 commented on #4216
@Ahtritus assigned to you. Good luck!

[2022-10-25 07:48] GreenMachine01 commented on #4017
@saloni137 Assigned to you. Good Luck!

[2022-10-25 07:49] souravjain540 commented on #4234
Thanks for opening the issue.

@abrl91 please validate and he will make a PR

[2022-10-25 07:51] souravjain540 commented on #4223
@tupe12334 can you help?

[2022-10-25 07:52] GreenMachine01 commented on #3545
Closed duplicate of https://github.com/amplication/amplication/issues/4017

[2022-10-25 07:53] souravjain540 commented on #4211
@vickywane  any updates or can I assign it to @chaiwattsw

[2022-10-25 07:56] GreenMachine01 commented on #3895
@KlausMikhaelson Hey, Do you still want to work on this item?

[2022-10-25 07:57] souravjain540 commented on #4207
thanks for the PR, team will review it very soon.

[2022-10-25 07:57] souravjain540 commented on #4188
thanks for the PR @vincenzodomina

team will review it soon

[2022-10-25 08:00] souravjain540 commented on #4162
@abrl91 if this issue is similar can we close?

[2022-10-25 08:01] souravjain540 commented on #4176
@arielweinberger please give your inputs whenever you're available

[2022-10-25 08:02] #3545 closed

[2022-10-25 08:03] souravjain540 commented on #4145
@ranodeepbanerjee can you explain it clearly?

[2022-10-25 08:03] GreenMachine01 commented on #3958
doesnt reproduce

[2022-10-25 08:03] #3958 closed

[2022-10-25 08:05] GreenMachine01 commented on #2865
@MoFoGo @MichaelSolati @yuval-hazaz Do we still need to do something here?

[2022-10-25 08:05] souravjain540 commented on #4076
@alexbass86 please update

[2022-10-25 08:05] KlausMikhaelson commented on #3895
Hey @GreenMachine01 just give me today will create a pr before the eod

[2022-10-25 08:12] vickywane commented on #4211
No updates.

I couldnt setup the system locally.

[2022-10-25 08:19] souravjain540 commented on #3895
Waiting for PR, Satyam :)

[2022-10-25 08:30] abrl91 commented on #4162
@souravjain540 similar, don't close it yet

[2022-10-25 08:33] abrl91 commented on #4234
approved

[2022-10-25 08:49] Abubakrce19 commented on #4231
@GreenMachine01
Please merge #4233 so we can close this issue.
Thank you!!

[2022-10-25 09:06] GreenMachine01 commented on #4231
@abrl91 FYI

[2022-10-25 09:10] souravjain540 commented on #4234
@vincenzodomina assigned it to you. Let us know if any help needed

[2022-10-25 10:11] vincenzodomina opened #4242 "Autogenerate seed users for all created roles"
### Feature description

In the seed script, adding seed users for all generated roles could be a nice little addition I found myself updating on every amplication build.

The feature could grab the generated roles from the amplication UI and add loop through them in the seed function to create example seed users with these roles.

### Use case

When seeded initially, I as a developer (or in test

[2022-10-25 10:57] rienheuver commented on #4073
Did you use a clean copy of your own zip? For example, deleted any package-lock.json files and node_modules/ ? Because I downloaded your zip, ran `yarn` and then `yarn start` and it works. Except of course for the bug this issue is about ;-)

[2022-10-25 11:21] KlausMikhaelson opened #4244 "🐛 Bug Report: Button.scss doesn't exist"
### What happened?

In the path `amplication\packages\amplication-design-system\dist\components\Button\Button.d.ts` on the 4th line i.e. `import "./Button.scss";` this imported file doesn't exist

<img width="367" alt="image" src="https://user-images.githubusercontent.com/100528412/197759530-d4cbcaf6-347e-4511-8add-6ca93351e006.png">

### What you expected to happen

maybe redirect to the file if

[2022-10-25 12:05] GreenMachine01 opened #4245 "🌟 Epic: Migration from Lerna to Nx"
All work is done against the `feature/nx` base branch.

- [x] #4247
- [x] #4248
- [x] Upgrade React to a newer version (Optional)
- [x] #4250
- [x] #4249
- [x] #4251
- [x] #4252
- [x] #4253
- [x] #4254
- [x] #4255
- [x] #4323

[2022-10-25 12:14] arielweinberger opened #4247 "Migrate DSG to an Nx application"

[2022-10-25 12:14] arielweinberger opened #4248 "Figure out and test publishing libraries with Nx"
Ensure code-gen-types gets published properly. Assess the need for automation.

[2022-10-25 12:14] arielweinberger opened #4249 "Migrate Design System to an Nx library"

[2022-10-25 12:14] arielweinberger opened #4250 "Migrate React to an Nx application"

[2022-10-25 12:14] arielweinberger opened #4251 "Rewrite and test Dockerfiles to work with the new Nx setup"

[2022-10-25 12:14] arielweinberger opened #4252 "Test set up script"

[2022-10-25 12:14] arielweinberger opened #4253 "Update Migration to Nx documentation (internal + community)"

[2022-10-25 12:14] arielweinberger opened #4254 "Verify local docker compose and prisma migration setup works with Nx"

[2022-10-25 12:15] arielweinberger opened #4255 "Ensure CI pipeline works end to end"

[2022-10-25 12:15] arielweinberger opened #4256 "Separate Nx projects from "packages" into "apps" and "libs""
On hold for now as not a priority

[2022-10-25 12:22] drakored opened #4257 "🐛 Bug Report: (Option Set data type) enum error when using labels with leading numeric values"
### What happened?

Using a number first is prohibited in an enum, which follows standard typescript, but the label is being used as the enum definition name instead of the value.  This prevents using numbers as leading characters within the Option Set data type.

The value however does contain a validation regex that makes me think this was intended to be an enum with ``value = label``.

### What

[2022-10-25 12:23] drakored commented on #4257
This is on the current version of the hosted app.  I am planning to verify it happens on the local repo I have on main branch.  I'll update when I get a moment to do so, and will test my hypothesis on why its broken and submit a PR if so.

[2022-10-25 12:39] abrl91 opened #4258 "Align Amplication code with code conventions"
### Feature description

Aligned Amplication code with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

- [x] #4259
- [x] #4274
- [x] #4270
- [x] #4301

`amplication-server` and  `

[2022-10-25 13:02] abrl91 opened #4259 "Refactor `amplication-git-pull-service` to follow our coding conventions"
Aligned `amplication-git-pull-service` with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-10-25 15:22] TheLearneer commented on #3585
Hi there 👋
Any updates on here, if not I would love to work on it 🙇

[2022-10-25 15:23] arielweinberger commented on #4034
Still needed, but in the context of Nx.

On Tue, 25 Oct 2022 at 14:21, GreenMachine01 ***@***.***>
wrote:

[2022-10-26 06:30] Ahtritus commented on #4216
@GreenMachine01  The default value for Display Name - "Topic 1" is violating the pattern. The help text mentions `Name must only contain letters, numbers, dash, underscore or dot.` I'm changing it to "Topic_1"

[2022-10-26 07:22] GreenMachine01 commented on #4216
@Ahtritus Let's go with "Topic1" for the Display Name
You can fix the issue you found within this ticket.

[2022-10-26 07:24] GreenMachine01 commented on #4216
@arielweinberger why does a display name field have a restriction on using spaces in the text?

[2022-10-26 08:03] michizhou commented on #3937
@abrl91 If @meetwithyash isn't working on this issue, can I work on it?

[2022-10-26 08:04] toukirkhan commented on #4253
What is the work over here??

[2022-10-26 08:24] meetwithyash commented on #3937
I am not working on this, it is open.

[2022-10-26 08:32] Ahtritus commented on #4216
I had a couple of observations with the current behavior and wanted to clarify them. Currently, when a user adds a new topic, the name they add is prefilled into the `Display Name` and `Name` and we get to see that when we open the topic.
<img width="959" alt="image" src="https://user-images.githubusercontent.com/53258966/197974673-27242cad-4bf2-462a-8f71-48f4daddd22f.png">

As per the issue creat

[2022-10-26 08:44] GreenMachine01 commented on #4216
@Ahtritus  think there was some confusion here so I'll try to explain what is expected. (I deleted some of my previous comments as I see they are not needed)

Currently, when you create a Message Broker and go to the "Topics" page you will have 0 Topics and you can start creating new ones in the input box.

![image](https://user-images.githubusercontent.com/112330500/197978077-a8569535-80ef-4e0c-8

[2022-10-26 08:45] Ahtritus commented on #4216
Got it, I had understood it a bit differently. Thanks for the clarification

[2022-10-26 11:18] ahlavorato commented on #3397
Could I work on it?

[2022-10-26 11:21] ahlavorato commented on #3652
Hello if you want to closed it, is already merged =)

[2022-10-26 11:25] samarth777 commented on #4230
can you assign this to me

[2022-10-26 11:26] arielweinberger commented on #3397
Apologies @ahlavorato but we already have a PR for this.

[2022-10-26 11:30] #4231 closed

[2022-10-26 11:33] arielweinberger commented on #4207
This is fixed in our `feature/nx` branch we are currently working on. I'll close this issue.

[2022-10-26 11:34] arielweinberger commented on #4253
@toukirkhan This is a part of #4245. It is not available for the community to pick up due to internal dependencies, sorry.

[2022-10-26 11:37] toukirkhan commented on #4253
Alright!

[2022-10-26 13:13] #3939 closed

[2022-10-26 13:13] #4201 closed

[2022-10-26 13:28] #3652 closed

[2022-10-26 13:30] abrl91 commented on #3937
I assigned you. Gook luck!

[2022-10-26 13:33] abrl91 commented on #3585
I left a comment in the issue's conversation. Let's give him another 2 days. Otherwise, we'll assign you

[2022-10-26 13:56] Abubakrce19 commented on #4006
No need to get assigned.
Start working on it.
This is open for all.
Thank you
(i am not from amplication team)

[2022-10-26 14:00] MoFoGo commented on #4114
@ShabanaNaik - are you still interested in working on this?

[2022-10-26 16:07] ShabanaNaik commented on #4114
@MoFoGo  Yes. By tomorrow i will make a pr .

[2022-10-26 16:08] ShabanaNaik commented on #4114
I have a draft of the questions i think should be added. Before i make a pull request should i get them verified from you ?

[2022-10-26 17:06] MAX-786 commented on #4259
hey @abrl91 , I would like to contribute to this project can you assign this to me?

[2022-10-26 17:45] MAX-786 commented on #4154
hey @abrl91, if no one is working on this issue I would like to work on it, can you assign it to me? Thanks :)

[2022-10-26 17:54] arielweinberger commented on #4154
@SayyidMuhammad878 What do you think? Are we good to wrap this up, or can I assign it to @MAX-786?

[2022-10-26 18:25] #4175 closed

[2022-10-26 18:34] #3886 closed

[2022-10-26 23:59] aadrshkashyp commented on #4211
No, Fix yet ..Let me handle this

[2022-10-27 06:10] abrl91 commented on #4211
@chaiwattsw are you working on this issue?

[2022-10-27 06:11] abrl91 commented on #4211
@aadrshkashyp I'll assign you if @chaiwattsw is not working on this issue

[2022-10-27 06:20] chaiwattsw commented on #4211
Yep im working on it will send PR today

[2022-10-27 06:43] ShaneMaglangit opened #4268 "🐛 Bug Report: Roadmap Heading Misaligned on 606-767 screen width."
### What happened?

The roadmap heading is misaligned on screen width >606 and <767.

![image](https://user-images.githubusercontent.com/53674742/198210222-a80e64ca-c10e-44bf-9bb2-aa057f4d7dc7.png)

### What you expected to happen

Ideally, it should remain consistently aligned with the other elements.

![image](https://user-images.githubusercontent.com/53674742/198210165-4290baf6-7448-4777-8f0e-1

[2022-10-27 06:44] ShaneMaglangit commented on #4268
@MichaelSolati Hey, here is the PR for https://github.com/amplication/amplication-site/pull/234

[2022-10-27 08:31] abrl91 commented on #3895
Fixed by https://github.com/amplication/amplication/pull/4267

[2022-10-27 08:31] #3895 closed

[2022-10-27 09:01] arielweinberger commented on #4154
@MAX-786 I have assinged it to you.

[2022-10-27 11:10] MAX-786 commented on #4154
Thanks @arielweinberger , I will try to create a PR soon

[2022-10-27 11:40] SayyidMuhammad878 commented on #4154
Sorry for late answer, Sure you can assign to MAX-786.
But I have completed 99% only I need to know is which file that invoke the TopicPage file. If there is a file called Abc there is must be another file that called Abc something like this <Abc />

[2022-10-27 11:54] hmiiro commented on #2392
Is there any feedback or progress on this please?

[2022-10-27 12:16] MAX-786 commented on #4154
@arielweinberger if it's not a bother, you can re-assign this issue to @SayyidMuhammad878 since I haven't started working on it. And also while exploring I encountered this design improvement at `/user/profile`  which is :
Before improving,
![Screenshot (28)](https://user-images.githubusercontent.com/99530996/198280664-1c09ad50-6fb2-4ebc-aac7-b16f38f218b2.png)
After improving which I think looks g

[2022-10-27 12:26] MAX-786 opened #4269 "[IMPROVEMENT] change alignment of items in user's profile page"
### What happened?

In the user/profile whole div is aligned left with 0 margin & 0 padding which doesn't look good.
![Screenshot (28)](https://user-images.githubusercontent.com/99530996/198283042-10e3ba0c-4509-4095-8ffa-df35aa2b9aca.png)
the

### What you expected to happen

If it is aligned center then it may look good like,

![Screenshot (27)](https://user-images.githubusercontent.com/99530996/

[2022-10-27 13:28] abrl91 opened #4270 "Update `amplication-git-push-webhook-service` to follow our coding conventions"
Aligned amplication-push-webhook-service with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-10-27 16:42] abrl91 commented on #4259
Fixed by https://github.com/amplication/amplication/pull/4263

[2022-10-27 16:42] #4259 closed

[2022-10-27 18:13] ShabanaNaik commented on #4114
Updated FAQ's with Microservices and plugins #209

[2022-10-27 21:27] arielweinberger commented on #2392
I am a doubtful about the usability of this feature for our wide range of users.

In reality, it is very rare that a single `enum Status {}` will serve the purpose of multiple entities in the mid/long term, and in fact can add complexity and limitations as naturally entities and services evolve and require more specific statuses (e.g. `ARCHIVED`, `PENDING` etc), in which case a common enum like th

[2022-10-28 05:42] souravjain540 commented on #4269
@abrl91 please validate

[2022-10-28 05:44] souravjain540 commented on #4268
<img width="1000" alt="Screenshot 2022-10-28 at 11 13 41 AM" src="https://user-images.githubusercontent.com/53312820/198511883-0a190436-6214-4939-bf31-759dd297003b.png">
I can't see this misalignment?

[2022-10-28 05:51] souravjain540 commented on #4257
@tupe12334 @arielweinberger can you validate this issue?

[2022-10-28 05:53] souravjain540 commented on #4244
@abrl91  please validate the issue/

[2022-10-28 05:55] souravjain540 commented on #4242
@arielweinberger can you validate this issue? if it is valid @vincenzodomina will make a PR

[2022-10-28 06:00] carefreeav09 commented on #3894
Can you assign this to me?

[2022-10-28 06:06] AyushK-101 commented on #3894
Can't find the time to do it, unassign-ing myself

[2022-10-28 06:25] TheLearneer commented on #3585
Hi @abrl91 👋
Don't mind me bumping it up 😅

[2022-10-28 06:39] abrl91 commented on #3585
@TheLearneer I assigned you 😃

[2022-10-28 06:44] abrl91 commented on #4269
sorry, a duplicate of https://github.com/amplication/amplication/issues/3596
and it is already assigned

[2022-10-28 06:44] #4269 closed

[2022-10-28 06:52] abrl91 commented on #4244
@souravjain540 @KlausMikhaelson
This is in the dist folder, meaning it is after the code is compiled (`npm run build`).
You can't change the code in the dist file and open a PR with this change. It won't work.

We know that something is wrong with this package and the team is working on fixing the issues.

[2022-10-28 06:52] #4244 closed

[2022-10-28 06:53] abrl91 commented on #3894
@carefreeav09 I assigned you. Good luck!

[2022-10-28 06:56] Smartmind12 commented on #1853
@tupe12334 Can i work on this issue ??

[2022-10-28 06:59] abrl91 commented on #3894
@carefreeav09 Sorry, I have to close this issue, we decided to auto-generate a topic when a message broker is created. Therefore, this issue is irrelevant.
I can assign you to this issue: https://github.com/amplication/amplication/issues/3896

[2022-10-28 07:01] abrl91 commented on #3894
@carefreeav09 just comment in the issue https://github.com/amplication/amplication/issues/3896

[2022-10-28 07:01] #3894 closed

[2022-10-28 07:03] carefreeav09 commented on #3896
I would like to work on this.

[2022-10-28 07:05] abrl91 commented on #3896
@carefreeav09 good luck

[2022-10-28 07:34] souravjain540 commented on #4226
@mathagician are you working on this?

[2022-10-28 07:39] #4200 closed

[2022-10-28 07:44] souravjain540 commented on #4154
assigned to both @SayyidMuhammad878 and @MAX-786  please work on it :)

[2022-10-28 07:44] #4153 closed

[2022-10-28 07:49] souravjain540 commented on #4017
any updates @saloni137

[2022-10-28 07:50] #4010 closed

[2022-10-28 07:50] souravjain540 commented on #4008
do you still want to work on it @saloni137

[2022-10-28 07:54] arielweinberger commented on #4257
@drakored Thanks for the very well written and detailed report, we really appreciate it!
Has there been any progress on your end towards verifying it? Are you able to test your hypothesis and let us know?

[2022-10-28 07:58] arielweinberger commented on #4242
Thanks for your suggestion @vincenzodomina - on a personal level, I am not sure if this is something that would be useful to our wider community.

While it is nice in some use cases, it can also be seen as over-opinionated by others. An admin user seeded and the ability to create additional users via the back-end or Admin UI seems to be sufficient for now.

I don't want to close this issue just ye

[2022-10-28 08:02] arielweinberger commented on #4218
This is indeed a bug and something we'd like to fix. @GreenMachine01 we should add it to our backlog for prioritization, I believe this is a little bit more complicated for the community to take.

[2022-10-28 08:07] arielweinberger commented on #4176
Thank you @waveywaves however we will not be working on this. Here is the reasoning:

1. Uffizzi looks like a very interesting project that can solve this problem for us, but it is very young (138 stars), which would be too early for us to adopt at this point.
2. For us to use this at scale, we would have to pay. Being an open-source project, we favor solutions that have free tiers for open source

[2022-10-28 08:07] #4176 closed

[2022-10-28 08:10] waveywaves commented on #4176
@arielweinberger we are completely free for open source projects. You wouldn't have to pay, even at your scale. I can create a PoC after which you can see if we fit your needs.

[2022-10-28 08:13] arielweinberger commented on #4176
Thanks @waveywaves - this is not just about pricing, but as I wrote above, about maturity as well and the fact that we are doing work to improve the way we develop internally (on the cloud), and would like to use the same tooling for preview environments if possible.

If we're able to do this with the same tool, that would make more sense for us to implement. FYI, we're looking into either [https:

[2022-10-28 08:18] ShaneMaglangit commented on #4268
I don't think you're viewing it within the specified width range. At 606-767, you should definitely have the hamburger menu instead of the full navbar.

[2022-10-28 08:21] abrl91 commented on #4188
Fixed by https://github.com/amplication/amplication/pull/4189

[2022-10-28 08:21] #4188 closed

[2022-10-28 08:27] chaiwattsw commented on #3896
@abrl91 Can I also work on this? I can submit PR today

[2022-10-28 09:04] lizardkingLK commented on #4218
Sure. I understand. Amplication is a great platform. Just wanted to help from a QA perspective. Thanks.

[2022-10-28 09:23] MichaelSolati commented on #4268
fixed by amplication/amplication-site#234

[2022-10-28 09:23] #4268 closed

[2022-10-28 09:33] vincenzodomina commented on #4242
Ok thanks!
I am not an expert yet in testing, but can these generated users that be used i end-to-end tests for role-restricted routes, or is this use case covered already?

[2022-10-28 11:52] abrl91 commented on #3896
@carefreeav09 is working on this issue. It's a small issue, so I don't think you can work on this together.

[2022-10-28 12:59] abrl91 commented on #3585
Fixed by https://github.com/amplication/amplication/pull/4272

[2022-10-28 12:59] #3585 closed

[2022-10-28 13:38] abrl91 opened #4274 "Update `amplication-git-pull-request-service` to follow our coding conventions"
Aligned `amplication-git-pull-request-service` with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-10-28 14:27] abrl91 commented on #4270
Fixed by https://github.com/amplication/amplication/pull/4273

[2022-10-28 14:27] #4270 closed

[2022-10-28 15:14] hmiiro commented on #2392
Understandable!

[2022-10-28 17:06] vincenzodomina commented on #4234
@souravjain540 I would need help with the decision if we should replace the POST route with an array of entities as request body (instead of just one as currently), or if this behaviour should be made selectable as option in the UI.

Sorry, I posted two feature approaches.

Unfortunately[ Prisma "createMany" cannot handle relations](https://www.prisma.io/docs/concepts/components/prisma-client/rela

[2022-10-28 19:11] vincenzodomina opened #4278 "Add Description of Routes and Entity properties to the REST-API Documentation"
### Feature description

Add the Description of Routes and Entity properties to the REST-API Documentation (which are entered in the Amplication-UI) automatically with the Amplication build

### Use case

I as a developer want to see the descriptions of the Routes ant entity properties in the REST-API document.

With @swagger.ApiBody() these can be autogenerated when fed with the entered Text from

[2022-10-28 23:03] #2392 closed

[2022-10-29 05:47] chaiwattsw commented on #3896
@abrl91 Can't access to figma to get asset

[2022-10-29 07:09] chaiwattsw commented on #3896
Any update? If not please assign to me so I can submit PR today

[2022-10-29 09:40] vincenzodomina commented on #4234
My code changes are creating a lot diff compared to the test snapshots.
Is there a way to update the test snapshots (to not have to touch the files manually for every commit) ?

Edit:
Google just magically answered it for me, just had to run `npm test -- -u`
Maybe worth as addition in the readme for people that haven't worked with jest before.

[2022-10-29 12:58] syedzubeen commented on #4007
@souravjain540
Is this issue still accepting contributions ?

[2022-10-29 13:05] souravjain540 commented on #4007
Yes

[2022-10-29 18:32] abrl91 commented on #3896
@alexbass86 can you share a link that can be accessed?

[2022-10-29 19:24] chaiwattsw commented on #3937
Any update ? if not I would like to take

[2022-10-29 20:11] alinehaxkar commented on #1853
@tupe12334  perfect i'm doing it =)

[2022-10-30 08:23] alexbass86 commented on #3896
@carefreeav09  Hi, here is the public Figma link.
Thank you so much for your contribution.
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=1103%3A13099

[2022-10-30 08:26] alexbass86 commented on #2730
@souravjain540 any update

[2022-10-30 09:27] chaiwattsw commented on #3896
@alexbass86 can I submit PR since no reply from @carefreeav09 but if he submit PR I will close my PR

[2022-10-30 09:54] souravjain540 commented on #3896
go ahead and submit

[2022-10-30 11:53] GreenMachine01 commented on #1853
@Smartmind12 @alinehaxkar @ahlavorato Thank you for wanting to contribute.
As @alinehaxkar already submitted a PR I will assign the item to him.

We are working on a more structured protocol for community task assignments

[2022-10-30 15:15] alexbass86 commented on #4076
Great solution!
Please ensure that the padding between the tags & title/text is like in the example.
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=1117%3A13861

[2022-10-30 15:23] alexbass86 commented on #3653
Thank you for your contribution. Here is the working link.
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=1117%3A14242

[2022-10-30 15:59] GreenMachine01 opened #4283 "🐛 Bug Report: When you have 2 Message Brokers and you activate the second one within a service the display changes to show the first message broker"
**Description:**
When attempting to activate the Message Broker on the bottom of the list the display is automatically changed to show the Message Broker at the top of the list.

![Image](https://user-images.githubusercontent.com/112330500/198888656-25d13797-4dce-4cc5-a819-78e046fccf0f.png)

After turning the Message Broker ON the display is changed to show the first message broker

![Image](https

[2022-10-30 16:10] GreenMachine01 commented on #4283
@arielweinberger I am guessing this is an item that is easy to fix and can be done by the community?

[2022-10-30 21:16] arielweinberger commented on #4251
Done directly in `feature/nx`, closing this.

[2022-10-30 21:16] #4251 closed

[2022-10-30 21:17] #4247 closed

[2022-10-31 02:10] #3442 closed

[2022-10-31 02:25] yuval-hazaz commented on #3979
@michizhou sorry for missing you message, you can work on it if you are still interested

[2022-10-31 02:35] yuval-hazaz commented on #4100
@MoFoGo can we close this issue and all the other similar ones?

[2022-10-31 02:41] yuval-hazaz commented on #4204
@abrl91 is that still being handled? just want to make sure it was not forgotten

[2022-10-31 02:52] yuval-hazaz commented on #4022
The value of this field is currently not being used. We will probably start using it as soon as we start building plugins at the project level like nx support

[2022-10-31 02:53] yuval-hazaz commented on #4223
@arielweinberger @tupe12334 please review

[2022-10-31 03:15] yuval-hazaz commented on #4145
Closing due to inactivity. feel free to open a new issue with more details

[2022-10-31 03:15] #4145 closed

[2022-10-31 03:16] #2865 closed

[2022-10-31 03:19] yuval-hazaz commented on #4073
@abrl91 any update on this issue? Should we assign it to someone else?

[2022-10-31 03:41] yuval-hazaz commented on #3887
we can start with a few of the main events and then add more events as needed when working on plugins.

for example, these 3 look as a good place to start but this is just a suggestion, @arielweinberger will know better

createControllerSpec
 createSwagger
 createSeed

[2022-10-31 03:59] yuval-hazaz commented on #4230
@arielweinberger is this issue open to the community?

[2022-10-31 05:07] souravjain540 commented on #4278
@arielweinberger please validate this issue and @vincenzodomina will like to submit a PR :)

[2022-10-31 05:57] mohitshende commented on #3956
@souravjain540 I tried to fix this according to @arielweinberger comment on PR #3989 . But as I tried to set the error message from API response to the formik errors. The error message is not rendered first time when I try to submit, but it renders when I click the submit button second time. I made the following changes to the code.
<img width="718" alt="Screenshot 2022-10-31 at 11 21 59 AM" src="

[2022-10-31 07:09] abrl91 commented on #4204
@yuval-hazaz  I am waiting for responses

[2022-10-31 07:38] abrl91 commented on #4073
@rienheuver @yuval-hazaz @JohnnyDeeee
I couldn't reproduce it. With `yarn` it doesn't work for me at all, even on a clean-generated app. I ran `yarn` to install the dependencies and if it failed in the end.

[2022-10-31 08:28] GreenMachine01 opened #4290 "POC - Import DB scheme via Prisma to set up entities in a service"
The goal of this request is to validate and understand the process of using a Prisma schema to automatically generate all the entities for a service.

How do we generate Prisma schema from existing DB? -->we now know how to do it (Prisma has documentation)
How can we deliver the Prisma schema into our system? --> will upload a schema file

Will it know to set the DB type/install plugin? --> The in

[2022-10-31 08:35] tupe12334 commented on #4223
Hi @vincenzodomina I tried to reproduce the problem and was not able to, I can enter an array of strings into JSON field; can you provide more details, please?
What is the error message?

[2022-10-31 09:51] GreenMachine01 opened #4291 "Add "createControllerSpec" event to DSG"

[2022-10-31 09:53] GreenMachine01 opened #4292 "Add "createSeed" event to DSG"

[2022-10-31 09:53] GreenMachine01 opened #4293 "Add "createSwagger" event to DSG"

[2022-10-31 09:55] GreenMachine01 commented on #3887
@yuval-hazaz @arielweinberger
I opened issues for:
#4291
#4293
#4293

I am marking this item as done.

@arielweinberger let me know if additional events from the list should be added to DSG

[2022-10-31 09:55] #3887 closed

[2022-10-31 10:06] ahlavorato commented on #1853
I already submitted a PR, sorry for the delay.

[2022-10-31 10:29] GreenMachine01 commented on #1959
@yuval-hazaz @arielweinberger
What are the client-side implications of supporting this plugin?
Do we need to handle the service configuration differently if the Mongo plugin is activated on it?

[2022-10-31 11:09] abrl91 commented on #4274
Fixed by https://github.com/amplication/amplication/pull/4277

[2022-10-31 11:09] #4274 closed

[2022-10-31 15:33] abrl91 commented on #3896
IMPORTANT UPDATE:
Currently, when a user generates a service and a message broker, the navigates to the service page and on the left menu clicks on connections:
![image](https://user-images.githubusercontent.com/39680385/199046556-23cb4799-fba3-450f-a6f2-262060652984.png)

There is a miss match between the image and the text:

![image](https://user-images.githubusercontent.com/39680385/199046503-7

[2022-10-31 16:20] chaiwattsw commented on #3896
Hi @abrl91 Thank you for pointing out. How can I add message broker to reproduce?

[2022-10-31 18:26] Deco90 commented on #4283
Hi, can I work on this issue?

[2022-10-31 18:28] abrl91 commented on #4283
@Deco90 Yes. I assigned you. Good luck!

[2022-11-01 07:14] abrl91 commented on #3896
Instead of creating a service, click on create a message broker
![image](https://user-images.githubusercontent.com/39680385/199178974-f377db66-4702-499f-8eb8-47c45ff3b0ef.png)

Then, go to the service page, and click on the connections icon

[2022-11-01 09:26] #4039 closed

[2022-11-01 12:28] rienheuver commented on #4073
What do you mean with "it doesn't work at all"? Because unless you've found a bug in yarn, that sounds like a local issue to your machine

[2022-11-01 16:04] #4254 closed

[2022-11-01 16:04] #4255 closed

[2022-11-01 16:22] 1stcall opened #4299 "🐛 Bug Report: Cannot sign in with github."
### What happened?

Tried to sign in from https://app.amplication.com/login and was unable.
{"statusCode":404,"message":"Cannot GET /login/?error=Failed%20to%20obtain%20access%20token","error":"Not Found"} was returned.

### What you expected to happen

Sign in.

### How to reproduce

Attemp to sign in.

### Amplication version

web

### Environment

_No response_

### Are you willing to submit PR

[2022-11-01 17:04] arielweinberger commented on #4299
Hey, thanks for reporting this. I just tried logging in and managed to do that with no issues.

Are you able to record your screen so we see what exactly you're facing?

Thanks!

[2022-11-01 17:11] 1stcall commented on #4299
See attached

https://user-images.githubusercontent.com/12874669/199294489-e811f811-60a5-4316-9372-43de4c4ef445.mp4

[2022-11-01 17:34] 1stcall commented on #4299
Just signed in fine using Microsoft Edge.  Must be a Firefox thing.

[2022-11-01 22:39] #4237 closed

[2022-11-01 22:44] MichaelSolati commented on #4076
Fixed by amplication/amplication-site#231

[2022-11-01 22:44] #4076 closed

[2022-11-02 09:24] abrl91 commented on #4211
Fixed by https://github.com/amplication/amplication/pull/4271

[2022-11-02 09:24] #4211 closed

[2022-11-02 09:40] abrl91 opened #4301 "Update `amplication-git-utils` to follow our coding conventions"
Aligned `amplication-git-utils` with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-11-02 12:04] abrl91 opened #4305 "Update `amplication-server` to follow our coding conventions"
### Feature description

Aligned`amplication-server` code with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-11-02 12:05] abrl91 opened #4306 "Update `amplication-data-service-generation` to follow our coding conventions"
### Feature description

Aligned `amplication-data-service-generation` code with code conventions
documents:
[Module & Folder Structure](https://www.notion.so/amplication/Module-Folder-Structure-e9393fbe2be54cefa1739c35faec6c24)
[File & Declaration Naming](https://www.notion.so/amplication/File-Declaration-Naming-666afe407ff14ed6aa54bcd3dead45a8)

[2022-11-02 14:08] #4248 closed

[2022-11-02 15:18] GreenMachine01 commented on #3911
@yuval-hazaz @barshimi
Design and text instructions were added to the issue.

[2022-11-02 19:55] arielweinberger commented on #4248
@tupe12334 Was the package consumed successfully by a plugin?

[2022-11-03 00:19] yuval-hazaz commented on #4226
@weblearner07 please let us know if you made any progress or not.
I dont think we can fix this issue, and if this is the case we can keep it the way it is right now and close this issue

[2022-11-03 00:28] yuval-hazaz commented on #4040
I reopened this issue so the core team can handle it

[2022-11-03 00:35] yuval-hazaz commented on #4242
I think this can be made using a simple plugin. We can keep this open as a plugin idea if anyone from the community wants to work on it.

[2022-11-03 00:49] yuval-hazaz commented on #4234
@GreenMachine01 @arielweinberger we need to make a product decision on if and how we want to implement this fix.
@vincenzodomina you provided very valuable feedback, and I agree with the need, but we need to make sure we implement a fix in a way that will be maintainable and will not break existing projects.

[2022-11-03 02:57] BajajAyush commented on #4039
Will we be emailed regarding this?

[2022-11-03 05:54] #4299 closed

[2022-11-03 05:54] souravjain540 commented on #4283
Hi @Deco90, do you need any help in solving this issue?

[2022-11-03 06:23] souravjain540 commented on #4039
yes!

[2022-11-03 09:40] GreenMachine01 opened #4310 "☂️ 'No DB' Service"
**Overview:**
Some users might require to create a service that doesn't use a DB. (Potentially this service only communicates with a Message Broker)
In this case we need to allow creating such a service and know to remove any unnecessary component (DB dependency).

**POC for the feature:**
https://www.notion.so/amplication/POC-for-no-DB-a6cede28efe848a3bcaead8cc8ec841e

**Requirements:**

- Add a

[2022-11-03 09:41] GreenMachine01 commented on #2717
Created a new issue for this request #4310

[2022-11-03 09:42] #2717 closed

[2022-11-03 09:51] tupe12334 commented on #4248
Yes

[2022-11-03 09:56] GreenMachine01 commented on #2874
@MoFoGo is this still an issue or can it be closed?

[2022-11-03 12:26] GreenMachine01 commented on #2971
@arielweinberger Can I close this item?

[2022-11-03 12:28] GreenMachine01 commented on #3247
Was done as part of https://github.com/amplication/amplication/issues/3751

[2022-11-03 12:28] #3247 closed

[2022-11-03 12:32] GreenMachine01 commented on #3386
@arielweinberger can we close this item as completed?

[2022-11-03 12:36] GreenMachine01 commented on #3148
@arielweinberger can we close this item?

[2022-11-03 13:42] abrl91 opened #4311 "DSG snapshot tests are failing"
### What happened?

DSG snapshot tests are failing on branch `next` (Nx environment)

[2022-11-03 13:46] GreenMachine01 commented on #4136
@abrl91 @barshimi I talked with Yuval and there is nothing preventing us from advancing with this item.
You need to look at his feedback and proceed with the item.

[2022-11-03 15:23] #4094 closed

[2022-11-03 15:26] MoFoGo commented on #4099
@yuval-hazaz Who can provide input for delegateId ?

[2022-11-03 15:26] #4100 closed

[2022-11-03 15:39] MoFoGo commented on #4102
Require entityServiceModule input

[2022-11-03 15:40] MoFoGo commented on #4102
Require content for entityServiceModule

[2022-11-03 15:41] #4104 closed

[2022-11-03 15:41] #4105 closed

[2022-11-03 15:42] #4106 closed

[2022-11-03 15:42] #4107 closed

[2022-11-03 15:43] #4108 closed

[2022-11-03 15:45] MoFoGo commented on #4109
@tupe12334 please provide the information as requested by @yuval-hazaz above

[2022-11-03 15:47] #4114 closed

[2022-11-03 15:48] #4111 closed

[2022-11-03 15:49] #4112 closed

[2022-11-03 15:49] #4113 closed

[2022-11-03 16:05] GreenMachine01 commented on #4234
@arielweinberger what is in the standards that we want to follow for the POST Route
1. Create One Route
2. Create Many Routes

[2022-11-03 16:54] arielweinberger commented on #4234
Hey @vincenzodomina, sorry for not getting back to you earlier!

Looking through this proposal, I clearly understand the need. Sometimes it's trivial to create multiple instances of a resource.

I think being too opinionated about whether the default `POST /resource` endpoint should support a single entity (object) or multiple (an array) is a no-no. I would prefer to keep REST endpoints simple and

[2022-11-04 06:53] vincenzodomina opened #4313 "Control seed credentials via .env (to remove hardcoded ones)"
### Feature description

Controlling the seed user credentials through the .env file makes it easier to handle the generated seed user and avoids exposing credentials in the codebase (assuming the .env is not commited ongoing)

### Use case

While developing I as a dev do not want to expose credentials in code or have to delete or change the created seed user every time I seed the database

( I li

[2022-11-04 07:03] vincenzodomina commented on #4313
I think this feature request clashes a bit with the create-seed.ts, where the seed user "admin" is autogenerated:

`const ADMIN_USERNAME = "admin";
const ADMIN_PASSWORD = "admin";
const ADMIN_ROLE = "user";`

But there it is hardcoded as well. Why do you actually autogenerate here? I assume because of some other functionality in mind?

[2022-11-04 07:31] souravjain540 commented on #4313
@tupe12334  please answer

[2022-11-04 08:42] TheDistanceHQ opened #4314 "🐛 Bug Report: .env files added in template"
### What happened?

I've noticed that the server .env file is added to the template so gets committed to git during generation.

Therefore the .gitignore reference is not applied

### What you expected to happen

I would recommend used a .env.template file instead so that the actual local environment settings don't actually get included by a novice user into their git repos

### How to reproduce

[2022-11-04 08:52] vincenzodomina commented on #4234
Thanks @arielweinberger for your feedback and solution! good idea!

With my proposed "multiple entity support"- solution for the default `POST /resource` endpoint you also can just pass a single item in the array and it would create only a single record.
I like the response code 207, that can also be applied to both solutions.

Personally I think having only one route with expecting an array is cl

[2022-11-04 09:22] arielweinberger commented on #4234
While I see your point of view, I think this is deviating from common practices of REST APIs, by not being idempotent. For example, clients will have to be aware of whether they send an array or a single object, to act on the different response type accordingly. This also makes type safety and type definitions more complex which I would like to avoid.

If you'd willing to pick this up, you've got

[2022-11-04 09:43] TheDistanceHQ opened #4315 "🐛 Bug Report: Error pushing to git after removing entity"
### What happened?

I have an entity which was bound to another via a relationship. I forgot to remove the reference property before I committed, which caused an initial compilation error.

However I have now removed that erroneous property but the commit process is now failing with an ambiguous error message during the commit to Github stage

I'm not sure how to debug this further. This is for pr

[2022-11-04 14:50] abrl91 commented on #4301
Fixed by https://github.com/amplication/amplication/pull/4304

[2022-11-04 14:50] #4301 closed

[2022-11-04 14:51] #4258 closed

[2022-11-04 14:58] abrl91 commented on #4311
This problem was solved by re-cloning the project **AND** by running the commands with `npx nx [command]`.
Probably caused by cached files that `nx clear-cache` didn't clean-up

[2022-11-04 14:58] #4311 closed

[2022-11-04 17:48] TheDistanceHQ opened #4316 "🐛 Bug Report: Multiple Services Conflict"
### What happened?

I created a 2nd Service for my project, whilst I cloned some assets I left the previous one there.

There is no choice for which Service is then used during compile, in this case it seems to have taken the newer one, which then creates conflicts in the pull requests as they overwrite the same code.

### What you expected to happen

I expected either:

- The services to be store

[2022-11-04 18:02] TheDistanceHQ commented on #4316
I believe this is by design, but I think an extra should be invoked which ensures the folder name or git mapping is confirmed so there aren't file conflicts

[2022-11-04 18:11] TheDistanceHQ commented on #4316
Probably to be completed as part of:
https://github.com/amplication/amplication/issues/2961

[2022-11-05 10:45] cristianopgx opened #4317 "oauth2 with social login support"
### Feature description

Add an authentication layer through social media such as google, facebook, github, linkedin, etc.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-11-05 13:03] vincenzodomina commented on #4234
Thanks for this input!

Please help me to understand this better:

In my proposed solution here I don't offer both possibilities (single object, array of object) but always only an array of objects. So if a user only wants to create one record he would send only one object inside the array. So it is always an array of objects per type definition. So it is predictable and consistent right?

[2022-11-05 13:21] chaiwattsw commented on #3896
@abrl91 the above issue is also happened in main branch. this should be a bug ?

reproduce step
1. create service
2. create message broker
3. navigate to connections

[2022-11-05 15:17] abrl91 commented on #3896
That's what I meant in the previous comment:) This bug is in production and can be fixed by resolving this issue.

[2022-11-05 15:18] chaiwattsw commented on #3896
what is difference between message broker and topics

I think what I've done should be expected result already

[2022-11-05 15:21] chaiwattsw commented on #3896
then what is the purpose for this topic empty state ? since we will replace with no message broker instead

[2022-11-05 15:21] chaiwattsw commented on #3896
then what is the purpose for this topic empty state ? since we will replace with no message broker instead

[2022-11-05 15:31] chaiwattsw commented on #3896
<img width="1434" alt="Screen Shot 2565-11-05 at 22 29 46" src="https://user-images.githubusercontent.com/30198386/200127509-a0cad5e6-ed72-4a02-a407-a0ecb30ac714.png">
<img width="1436" alt="Screen Shot 2565-11-05 at 22 29 25" src="https://user-images.githubusercontent.com/30198386/200127520-48615af4-63af-4f11-9ecc-2d2091a5cf0d.png">

is this correct? @abrl91

[2022-11-05 15:39] chaiwattsw commented on #3896
Is this correct ? @abrl91

<img width="1428" alt="Screen Shot 2565-11-05 at 22 37 08" src="https://user-images.githubusercontent.com/30198386/200127933-d2902d86-0f46-42a9-9a8b-564edbc89b58.png">
<img width="1428" alt="Screen Shot 2565-11-05 at 22 36 51" src="https://user-images.githubusercontent.com/30198386/200127939-0248a37a-45a4-4124-81b1-529358d823a3.png">

[2022-11-06 09:24] GreenMachine01 opened #4318 "Allow the user to copy text from the code frame"
![Image](https://user-images.githubusercontent.com/112330500/200163258-4ac02dd6-fff5-44f1-bd2b-a8dc308ff25e.png)

A user should be able to copy text from the code frame

[2022-11-06 09:27] abrl91 commented on #4293
Fixed by https://github.com/amplication/amplication/pull/4307

[2022-11-06 09:27] #4293 closed

[2022-11-06 09:31] GreenMachine01 opened #4319 "When deleting an entity show "are you sure" notification if entity is linked to other entities"
**Overview:**
it is possible for a service to have 2 entities linked to each other.
![image](https://user-images.githubusercontent.com/112330500/200163838-145e1d4c-9791-4db7-8e00-09ba504bc157.png)
if we delete one of the entities we will get an error when trying to build and commit.
The source of the error is that the entity that remains still has a relation to the entity that has been deleted.

*

[2022-11-06 09:31] GreenMachine01 commented on #4315
@TheDistanceHQ I tried to follow your steps and after deleting the problematic relationship the commit worked well.
Please try again.

![image](https://user-images.githubusercontent.com/112330500/200163457-682f6323-b397-463d-9506-b18dd558a56d.png)

In any case, your bug makes it clear that we should:
1. Let you copy text from the code view window - I opened an issue for this request https://github

[2022-11-06 11:57] GreenMachine01 opened #4320 "As Product - I need BI events on the Message Broker"
**Overview:**
In order to understand the usage and importance of the Message Broker for our users we need to implement some BI events that will allow us to create reports and perform analysis on the feature usage.

**Requirements:**
1. Implement the BI events according to - https://www.notion.so/amplication/Message-Broker-BI-f0a2caea355440879f37c20eb0c171f3

Events:
- [x] create a message broker f

[2022-11-06 15:03] yuval-hazaz commented on #4317
Thanks @cristianopgx
Are you referring to the generated code or the platform itself?
Either way, I would love to get some more insight into your use case and how do you see the usage.

in case we are talking about the generated code, do you think server-side support would be enough assuming you would want to authenticate the user from a custom client?

[2022-11-06 15:08] yuval-hazaz commented on #4316
Thanks @TheDistanceHQ
I agree about additional validation for the folder name and or git mapping.
As you said, this behavior is by design to allow you to generate multiple services for the same project, either to different folders in a monorepo or different repos.

@GreenMachine01 Please include this in one of the next sprints

[2022-11-06 15:42] yuval-hazaz commented on #4278
@vincenzodomina I like that and I think it should be easy to implement using a new plugin that will add the relevant description to each of the endpoints

@GreenMachine01 let's add this as an idea to a plugin

I think I would like to take this as a personal project to test the plugin's infrastructure and docs, so I will assign myself and let's hope I will find the time soon :-)

[2022-11-06 15:43] yuval-hazaz commented on #3956
@arielweinberger @souravjain540 can you help @mohitshende ?

[2022-11-06 16:28] cristianopgx commented on #4317
Hello, @yuval-hazaz.

Hello

This would be important on the server side, similar to what appwrite, firebase already do. An approach that would be nice and that already left the microservices standard, would be to have a layer authenticating against existing providers such as keycloak, fusionauth, cognito, auth0, etc. Taking the responsibility of authentication away.

[2022-11-06 16:28] yuval-hazaz commented on #4314
@TheDistanceHQ can you please explain what you mean by ".env files are added to the template"?

[2022-11-06 16:30] yuval-hazaz commented on #4102
@abrl91 can you help @MoFoGo with the missing parts?

[2022-11-06 16:34] yuval-hazaz commented on #4099
delegateId - The identifier of the Prisma class used to access the entity data

[2022-11-07 06:47] GreenMachine01 commented on #3956
@souravjain540 @yuval-hazaz @arielweinberger @mohitshende
I went over this bug and I don't think we are approaching it correctly from the solution standpoint.
I followed the steps to reproduce and was able to close the pop-up via the X.
As a general UX rule, we shouldn't close pop-ups automatically to users after they haven't reacted for X seconds.

I think the issue with this bug is that the erro

[2022-11-07 06:54] GreenMachine01 commented on #3956
@yuval-hazaz @mohitshende @souravjain540
I want to take this bug with our UX/UI designer and then we will have a proper definition of the way to communicate the error message and allow the user to continue

[2022-11-07 06:57] GreenMachine01 opened #4322 "Plugin - Adds Description of Routes and Entity properties to the REST-API"

[2022-11-07 06:58] GreenMachine01 commented on #4278
@yuval-hazaz @vincenzodomina Created this request as a new idea for a plugin - https://github.com/amplication/amplication/issues/4322

[2022-11-07 08:19] #4006 closed

[2022-11-07 08:20] #4031 closed

[2022-11-07 08:25] GreenMachine01 commented on #4316
@yuval-hazaz please define the requested solution.

[2022-11-07 09:26] tupe12334 opened #4323 "🐛 Bug Report: formatting our repository"
### What happened?

We don't format our repository anymore

### What you expected to happen

We need to
- [x] #4329
- [x] #4331
- [x] #4327

### How to reproduce

not relevant

### Amplication version

next

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-11-07 10:44] yuval-hazaz commented on #4316
@GreenMachine01 it is more of a product solution rather than a technical one.

It is a matter of validating the value of one service and comparing it with the other services, then either blocking the user or at least showing a warning about the conflict.

Also, this should be handled in the new Service Creation Wizard, and we can make a smart guess on the needed value based on previous values.

[2022-11-07 12:21] tupe12334 opened #4327 "Add format script to our main npm scripts"

[2022-11-07 12:23] #2874 closed

[2022-11-07 12:33] yuval-hazaz commented on #4317
@cristianopgx thanks for the detailed answer.
We are working on multiple initiatives to allow more control over the authentication process.

1. Creation of services without identity management (w/o authentication and authorization)
2. Adding more plugins to support more authentication providers

@GreenMachine01 I suggest keeping this issue open to track the progress of more plugins for auth provid

[2022-11-07 12:39] tupe12334 opened #4329 "format in save of a file (add it to the IDE settings)"

[2022-11-07 12:43] tupe12334 opened #4331 "Fix formatting script after Nx migration"

[2022-11-07 13:52] #4327 closed

[2022-11-07 14:03] MoFoGo commented on #4109
Updated. See PR

[2022-11-07 14:03] #4109 closed

[2022-11-07 14:44] vincenzodomina commented on #4313
Thanks @tupe12334 I can take it

[2022-11-07 14:48] GreenMachine01 commented on #4313
@yuval-hazaz @arielweinberger Please review and let me know if this is something we should push.

[2022-11-07 14:50] GreenMachine01 commented on #3911
We will close this issue as currently there is a notification from the server in case of an error.
Will open a new issue to improve overall UI of errors.

[2022-11-07 14:50] #3911 closed

[2022-11-08 08:25] tupe12334 commented on #3891
@yuval-hazaz Yes, this bug is still relevant

[2022-11-08 09:31] GreenMachine01 opened #4334 "🐛Bug Report: 'Discard Changes' action doesn't cancel new entities or plugins installed"
**Steps to reproduce:**
1. Create a new service
2. Create several new entities
3. Install several plugins
4. Click on the discard changes CTA

**Expected:**

1. New entities are deleted
2. Plugins show as not installed

**Actual:**

1. New entities remain on the list
2. Plugins are shown as "installed"

[2022-11-09 10:11] yuval-hazaz commented on #4313
The seed script is executed with `npm run` and I am not sure if the values from the .env are available in this context.
so, even if we decide to implement this request I don't think we can do it by just moving the values to .env files - we would also need to use something else other then just `npm run` to execute the seed script

@tupe12334 @arielweinberger what do you think?

[2022-11-09 10:20] yuval-hazaz commented on #3891
thanks @tupe12334
@KushalRaut  in case you are still interested let me know and I will assign this issue to you

[2022-11-09 10:54] arielweinberger commented on #4250
Closed in #4321

[2022-11-09 10:55] arielweinberger commented on #4249
Closed by #4321

[2022-11-09 10:55] #4249 closed

[2022-11-09 12:02] arielweinberger opened #4339 "CI optimizations"
### Feature description

Following our migration to Nx (#4245) we introduced some changes in our CI workflow.

There are two points that need to be addressed as a part of this issue:

# 1. Upgrade the cache action version Fixed by #4728

# 2. Caching Node Modules Fixed by #4727

# 3. Transfer of dist artifacts into Dockerize jobs
The Dockerize jobs require the dists of all packages (created by the

[2022-11-09 12:12] arielweinberger opened #4340 "Refactor Deploy GitHub Action for Continuous Deployment"
### Feature description

Currently our Deploy job performs a lookup of the latest tag available for a branch.

# The Problem
This is problematic for continuous and automated deployment. The reason is a race condition.

Upon merging to Next, the "Deploy to Next" automated job runs. At the same time, the CI job for Next runs as as well. At the time where the deployment job is attempting to find a va

[2022-11-09 12:38] tupe12334 opened #4341 "Add format pre-commit hook"
In order to make sure that all our code is formatted every time it will be great to add a pre-commit hook
For more info https://prettier.io/docs/en/precommit.html

[2022-11-09 12:52] abrl91 commented on #4318
Fixed by https://github.com/amplication/amplication/pull/4337

[2022-11-09 12:52] #4318 closed

[2022-11-09 14:06] arielweinberger opened #4342 "🐛 Bug Report: Separated DSG attempts to build Message Broker resource type"
### What happened?

When building a message broker, the build request gets to the message broker and the DSG is failing to build with an error.

We expect the build to be successful when a Message is involved.

This breaks every Message Broken build.

### What you expected to happen

-

### How to reproduce

-

### Amplication version

_No response_

### Environment

_No response_

### Are you wil

[2022-11-09 17:38] arielweinberger opened #4343 "Version DSG and code-gen-types independently of the monorepo"
### Feature description

Version DSG and code-gen-types independently of the monorepo

### Use case

Version DSG and code-gen-types independently of the monorepo

### Are you willing to submit PR?

_No response_