[2022-08-15 09:10] barshimi opened #3449 "Add Directories to DSG Context"
### Feature description

instead of passing directories to every DSG logic function, we should add `directories` key to DSG context. It will allow us to use it inside every function without passing it through and it will be changeable inside each plugin.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-15 10:51] EugeneTseitlin commented on #3430
I propose to implement a component that would check if it's link is the same as a current pathname and would become highlighted if so. This component should be integrated in header in right and possibly in middle part.
@barshimi @abrl91 @morhag90 What do you think about that?

[2022-08-15 10:53] barshimi opened #3452 "New Auth Plugin"
### Feature description

Auth plugins should be divided into two separate plugins:

- AuthJWTPlugin
- BasicAuthPlugin

it will replace the static files we currently have on DSG. so instead of find the right provider it will set it by the used plugin

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-15 13:33] MoFoGo opened #3454 "The Docs search engine is not functioning correctly"
### Describe the issue with documentation

The search engine did not find the word "workspace" despite this word being used many times in the docs. Otherwise the search engine seemed to work OK.

### How to solve the problem

Research the reason the search function di not work with "workspace" - and if it has a similar limitation regarding other words.

### Are you willing to submit PR?

_No respo

[2022-08-15 13:45] MoFoGo opened #3455 "UX: Add description text to the Workspace page"
### Describe the issue with documentation

The [Workspace Settings](https://app.amplication.com/workspace/settings) page and the [Workspace Members ](https://app.amplication.com/workspace/members)page  do not have any explanatory text

### How to solve the problem

Add a short explanation of Workspace Settings and Workspace Members.

Tip: read this [article ](https://docs.amplication.com/docs/gett

[2022-08-15 13:52] MoFoGo opened #3456 "UX: Correct Authentication Method text"
### Describe the issue with documentation

The following phrase is can be improved

![image](https://user-images.githubusercontent.com/96979533/184647999-91548a1c-af95-413c-ac94-0a33a18d3e92.png)

### How to solve the problem

Rewrite avoiding the passive text.

Tip: Passive text is not recommended in UI texts (or documentation) if it can be avoided.

### Are you willing to submit PR?

_No respons

[2022-08-15 15:46] MoFoGo opened #3459 "Docs: Add description of Relation to Entity settings"
### Describe the issue with documentation

In the [Create Entity Field](https://docs.amplication.com/docs/how-to/create-entity-field/) article, there is no description for selecting the Relation to Entity settings.
The following dialogue box needs to be included:
![image](https://user-images.githubusercontent.com/96979533/184667485-b8b9fa7d-c423-4526-965f-5ed584d31c73.png)

-

### How to solve the

[2022-08-15 15:59] MoFoGo opened #3460 "UX: Improve description of Entities feature in the Dashboard"
### Describe the issue with documentation

Try and think of a better way of describing the Entities feature in the Dashboard:

<img width="599" alt="image" src="https://user-images.githubusercontent.com/96979533/184670180-addfca06-3b97-4902-b20e-abdc269217c4.png">

### How to solve the problem

You can check out the docs for inspiration.

https://docs.amplication.com/docs/first-app/#step-3---add-e

[2022-08-15 16:27] MoFoGo opened #3461 "UX: Correct text on sign-in page"
### Describe the issue with documentation

The marked text should be corrected for grammar (Check for periods and commas).

<img width="608" alt="image" src="https://user-images.githubusercontent.com/96979533/184674800-7ee38968-a4d9-484f-a65b-1dd2519a4df3.png">

### How to solve the problem

Review and enhance the text.

### Are you willing to submit PR?

_No response_

[2022-08-15 16:39] yuval-hazaz commented on #3426
@rolwin100 There was a mixup, and it seems like @EugeneTseitlin fixed this issue as part of the other efforts

Thanks for your support. Let me know if you want to be assigned to another issue

[2022-08-15 16:42] EugeneTseitlin commented on #3433
I fixed icon position, but icon size is incorrect. Image doesn't take the whole space of provided container. It's related to icon component implementation: providing image via font and managing sizes with font size.
Regarding "Create new workspace" font weight - amp-button class set it to 500 with important. I think it's not wise override it with more specific selector and important, some construc

[2022-08-15 17:30] JatinRanka commented on #3357
I'm trying to set up the codebase in local to contribute an issue, but unable to because of the missing env variable.

Till the document is updated, @MoFoGo can you please share the steps to get a `SERVICE_DB_NAME` here in the comments?

[2022-08-16 07:35] arielweinberger opened #3463 "Top nav - The fast navigation indicator is not working correctly #3428"

[2022-08-16 07:35] arielweinberger opened #3464 "Top nav - Search icon have wrong inner padding #3429"

[2022-08-16 07:36] arielweinberger opened #3465 "test"

[2022-08-16 07:37] #3465 closed

[2022-08-16 07:40] #3463 closed

[2022-08-16 07:40] #3464 closed

[2022-08-16 08:06] EugeneTseitlin opened #3466 "🐛 Bug Report: Helm deployment template"
### What happened?

Helm deployment template always include secrets:
`          - secretRef:
              name: '{{ .Values.name }}'`
There are services that don't have secrets, so they are failing to run because of that.

### What you expected to happen

Secrets should be optional for deployment. Introduce some condition for that.

### How to reproduce

see it in master branch

### Amplication v

[2022-08-16 08:22] EugeneTseitlin opened #3467 "Top nav - The fast navigation indicator is not working correctly. #3428"

[2022-08-16 09:05] EugeneTseitlin commented on #3428
Change hover on project and resource links

[2022-08-16 09:07] EugeneTseitlin commented on #3429
Every icon should be 20px: search, user profile, disconnect.

[2022-08-16 13:15] alexbass86 opened #3471 "🐛 Bug Report: Circle badge - Wrong icon size"
### What happened?

Our circle badge has the wrong icon size, so please align it with the design system.

Wrong size in component:
![image](https://user-images.githubusercontent.com/96179897/184887826-6daa197b-2534-42c6-9a18-10c016490e7c.png)

Wrong size in the wizard:
![image](https://user-images.githubusercontent.com/96179897/184887982-b9abe418-9154-41d0-b38b-f089db248b19.png)

### What you expe

[2022-08-16 13:22] alexbass86 opened #3472 "🐛 Bug Report: Wizard - Wrong animation"
### What happened?

When we click on create new service, the wizard appears on the screen from the bottom, which looks bizarre and inconsistent with other effects in our system. Let's change it.

### What you expected to happen

Let's change it to a simple fade-in effect.

### How to reproduce

Click on the new service button.

### Amplication version

0.15.0

### Environment

_No response_

### A

[2022-08-16 14:48] MoFoGo commented on #3461
Please replace with the following text:

**Amplication is currently in beta. However, your generated apps are production ready. Every app generated by the Amplication platform contains production-ready, open-source components and packages. We include only those that are popular, documented, secured and supported.
Read more about our stack here.**

[2022-08-16 14:52] MoFoGo commented on #3460
Please replace with the following text:

**Use Amplication's simple and intuitive user interface to define your data model.**

[2022-08-16 15:00] MoFoGo commented on #3456
Replace with the following text:

**Select which authentication method you want to use in the generated app**

[2022-08-16 15:55] MoFoGo commented on #3445
Please insert the following text under the heading:

Enter a name and description for your app, and select a color.

[2022-08-16 16:01] MoFoGo commented on #3455
Please enter the following text under the title on the Workplace Settings page:

**Workspaces help you manage your projects by enabling selected team members to work on specific apps.**

[2022-08-16 16:43] MoFoGo commented on #3443
Please replace the existing text with the following:

**If you connect to GitHub, every time you commit your changes, it automatically pushes your generated code and creates a Pull Request in your GitHub repository.**

[2022-08-16 16:44] MoFoGo commented on #3444
Please replace the text with the following:

**API tokens are used to authenticate requests to the Amplication API. They are specifically required for Amplication CLI.
Tokens are valid for 30 days following creation or last use. The 30 day expiration period automatically refreshes with each API.**

[2022-08-16 17:09] rolwin100 commented on #3426
pls assign another issue. This seems fixed.

[2022-08-17 06:27] alexbass86 opened #3479 "🐛 Bug Report: Inner navigation - Bad padding between tabs"
### What happened?

We have bad padding between the tabs inside the roles section at service resource.

Bad
![image](https://user-images.githubusercontent.com/96179897/185047919-a2e93a6f-ec81-4f80-a254-447302dc7177.png)

How it spouse to look
![image](https://user-images.githubusercontent.com/96179897/185049355-372d5aa0-0951-44b9-8caa-947de93ea60e.png)

### What you expected to happen

We need to

[2022-08-17 07:02] shubhwip commented on #3466
Can i be please assigned to this :) ?

[2022-08-17 07:10] souravjain540 opened #3480 "🐛 Bug Report: Typo Change NextJS to NestJS"
### What happened?

There is a typo in the text on the overview screen that should be changed on the overview screen.
![Screenshot 2022-08-17 at 12 39 38 PM](https://user-images.githubusercontent.com/53312820/185056857-e0f38343-fede-4b52-9058-076232455cb2.png)

### What you expected to happen

Next should be changed with Nest JS

### How to reproduce

Open amplication.com>login>go to any app>overv

[2022-08-17 07:12] souravjain540 opened #3481 "Twenty Issues for First Timers 👕"
### Feature description

### Feature description

Hello contributors 👋

As proud members of the open-source community, we inspire developers to contribute to open-source projects 💜

To help you get started, we have found  **20 issues** for first-time contributors that can be a great way to fire-start your journey of the open-source contribution.

By giving back to the community, you’re also gettin

[2022-08-17 07:23] souravjain540 commented on #3456
@ SergeWilfried I saw this is your first contribution to Amplication.

Thank you so much for contributing, this issue comes under TIFT campaign and you're eligible to get a t-shirt and a pack of stickers from us.

Just make sure the PR is merged :)

[2022-08-17 07:26] #3480 closed

[2022-08-17 07:27] souravjain540 commented on #3424
Thanks for your contribution @regisBafutwabo!

This issue comes under TIFT campaign! You're eligible for a t-shirt and a pack of stickers ❤️

[2022-08-17 07:30] regisBafutwabo commented on #3424
Oh nice how do I get them?

[2022-08-17 08:12] aakankshadhurandhar commented on #3461
Hello Can you assign me this issue ?

[2022-08-17 08:13] Himanxu1 commented on #3461
I want to work on this issue?

[2022-08-17 08:13] Himanxu1 commented on #3481
I want to contribute !

[2022-08-17 08:14] pinkelephant4 commented on #3461
Can I be assigned this issue?

[2022-08-17 08:15] souravjain540 commented on #3461
Hi @aakankshadhurandhar, sure! If you need any help please join our discord :)

[2022-08-17 08:15] Himanxu1 commented on #3460
I want to work on this issue . Assign this to me.

[2022-08-17 08:15] souravjain540 commented on #3461
you can take another issue

[2022-08-17 08:15] souravjain540 commented on #3461
you can take another issue

[2022-08-17 08:16] Sreekar-Tammana commented on #3461
Hey there, please consider me working on this issue.

[2022-08-17 08:16] souravjain540 commented on #3460
Sure @Himanxu1 !

Join our discord for any support you need :)

[2022-08-17 08:18] Himanxu1 commented on #3460
I have already joined !
 assign this to me

[2022-08-17 08:19] pinkelephant4 commented on #3445
can I be assigned this issue?

[2022-08-17 08:19] souravjain540 commented on #3397
Hi @ParkourKarthik, do you want to work on it?
You will get exclusive swag if PR get merged :)

[2022-08-17 08:20] Sreekar-Tammana commented on #3445
Can I work on in this issue?

[2022-08-17 08:22] Sreekar-Tammana commented on #3443
Can I get assigned to this issue?

[2022-08-17 08:22] Pritam0077 commented on #3455
can I work on this issue?

[2022-08-17 08:22] souravjain540 commented on #3445
Hi @pinkelephant4, sure! assigned. Join our discord for any support!

[2022-08-17 08:22] souravjain540 commented on #3445
please take another issue!

[2022-08-17 08:23] pratikgl commented on #2964
Hii @souravjain540. Can I work on this issue?

[2022-08-17 08:24] souravjain540 commented on #3455
I think you have contributed to amplication previously as well?

[2022-08-17 08:24] Sreekar-Tammana commented on #3445
Sure, no problem

[2022-08-17 08:25] souravjain540 commented on #2964
Sure! @pratikgl

Join our discord if you need any help in solving this. :)

[2022-08-17 08:28] Pritam0077 commented on #3455
no

[2022-08-17 08:29] alexbass86 commented on #3428
@EugeneTseitlin approved

[2022-08-17 08:30] Ayush7614 commented on #3443
Intrested in working on this

[2022-08-17 08:31] alexbass86 commented on #3429
@EugeneTseitlin  Search icon is still 16px. Please align all the icons on top menu to be 20px, thanks

[2022-08-17 08:31] juno-w commented on #3444
Hi, PR created https://github.com/amplication/amplication/pull/3484

[2022-08-17 08:33] souravjain540 commented on #3444
Thank you @juno-w !
SUPER FAST!

[2022-08-17 08:35] souravjain540 commented on #3461
@Sreekar-Tammana there are plenty of similar issue, please take one before someone else take it.

I am sorry but Akansha asked this one first

[2022-08-17 08:36] alexbass86 commented on #3066
@tupe12334 it's now with the proper width. The problem is that the look of this button is different from the original design, please make sure the border line is in the current color, and the icon needs to be in the center.
It's just floating there. Hight of the button is also different from the original design.

Bad
![image](https://user-images.githubusercontent.com/96179897/185073804-3ac0df0e-e8

[2022-08-17 08:36] souravjain540 commented on #3455
Okay, assigned @Pritam0077

Join our discord, if you need any help in solving this :)

[2022-08-17 08:37] souravjain540 commented on #3443
Sure @Sreekar-Tammana , assigned.

Join our discord to get any help in solving this issue!

[2022-08-17 08:38] souravjain540 commented on #3443
Please take another one

[2022-08-17 08:38] Hap-i commented on #2441
@souravjain540 please assign it to me.

[2022-08-17 08:39] Sreekar-Tammana commented on #3443
Thank you Sourav, will start working on this.

[2022-08-17 08:39] souravjain540 commented on #2875
@veera6513 sure!

Join our discord for any support in making PR to solving the issue

[2022-08-17 08:40] alexbass86 opened #3485 "🐛 Bug Report: Left nav - Container wrong padding"
### What happened?

We need to have a 16px padding between the top nav and left.

Bad
![image](https://user-images.githubusercontent.com/96179897/185074271-db52c970-22e9-471d-b19d-612198a4c38d.png)

Good
![image](https://user-images.githubusercontent.com/96179897/185074351-a61a56b9-bfee-415d-8327-5286249fbfd9.png)

### What you expected to happen

Adding 16px padding between the top nav and the le

[2022-08-17 08:40] Pritam0077 commented on #3455
ok thnx

[2022-08-17 08:41] souravjain540 commented on #2441
Sure @Hap-i !

Join our discord if you need any help in solving the issue!

[2022-08-17 08:42] alexbass86 commented on #3426
@EugeneTseitlin From my point of view, this fix is approved.

[2022-08-17 08:42] alexbass86 commented on #3434
@EugeneTseitlin From my point of view, this fix is approved.

[2022-08-17 08:43] alexbass86 commented on #3432
@EugeneTseitlin From my point of view, this fix is approved.

[2022-08-17 08:44] alexbass86 commented on #3437
@EugeneTseitlin @tupe12334 I don't see any change.

[2022-08-17 08:47] Himanxu1 commented on #3460
Where is this component ?

[2022-08-17 08:50] munyoudoum commented on #3188
would like to try this if you don't mind 😄

[2022-08-17 08:53] sambhavgupta0705 commented on #2226
hey ,can you assign this issue to me

[2022-08-17 08:53] souravjain540 commented on #3188
sure @munyoudoum!

Join our discord if you need any help :)

[2022-08-17 08:53] ShrutiMishra-2002 opened #3486 "Multi selection button bad corner radius."
### What happened?

Multi selection button corner radius distorted

### What you expected to happen

Changes in Multi selection button UI for better visual

### How to reproduce

Open amplication.com>login>go to any app>overview

### Amplication version

No response

### Environment

Os windows

### Are you willing to submit PR?

_No response_

[2022-08-17 08:53] shubhwip commented on #2814
Can i be assigned to this :) ?

[2022-08-17 08:53] ShrutiMishra-2002 commented on #3486
@souravjain540 please assign me this issue

[2022-08-17 08:54] souravjain540 commented on #2226
hi @sambhavgupta0705 sure!

join our discord if you need any help :)

[2022-08-17 08:54] msquare-2 commented on #3438
Hey,
Can I try to fix this?

[2022-08-17 08:55] souravjain540 commented on #2814
sure! @shubhwip

Join our discord if you need any help :)

[2022-08-17 08:56] Shubhdeep12 commented on #1868
@souravjain540 can I work on this issue

[2022-08-17 08:58] msquare-2 commented on #2733
Hey,
Can I try for this bug?

[2022-08-17 09:02] souravjain540 commented on #2733
sure @msquare-2!

join our discord if you need any help :)

[2022-08-17 09:03] souravjain540 commented on #1868
Sure @Shubhdeep12!

assigned, join our discord for any help :)

[2022-08-17 09:04] msquare-2 commented on #2733
I've joined,
Need to set up locally. Is there any documentation for it?

[2022-08-17 09:06] Shubhdeep12 commented on #1868
Sure,
thanks.

[2022-08-17 09:07] varghesejose2020 commented on #3459
I would like work on this issie

[2022-08-17 09:10] souravjain540 commented on #3459
@varghesejose2020 sure!
Join our discord for any help needed :)

[2022-08-17 09:10] ShrutiMishra-2002 opened #3487 "Add description of Relation to Entity settings"
### What happened?

 description for relation to entity settings not mentioned

### What you expected to happen

Adding description for relation to entity settings

### How to reproduce

No response

### Amplication version

No response

### Environment

Os windows

### Are you willing to submit PR?

_No response_

[2022-08-17 09:10] AravindAkuthota commented on #3481
I want to contribute

[2022-08-17 09:17] cool-coder-here commented on #3316
@souravjain540 Assign this to me please.

[2022-08-17 09:19] souravjain540 commented on #3316
sure @cool-coder-here !

join our discord for any help you need :)

[2022-08-17 09:36] #3486 closed

[2022-08-17 09:36] #3487 closed

[2022-08-17 09:41] ParkourKarthik commented on #3397
Yes, I would like to pick this up

[2022-08-17 09:45] souravjain540 commented on #3397
Sure @ParkourKarthik !

Join our discord, if you need any help :)

[2022-08-17 09:53] sambhavgupta0705 commented on #2226
Yeahh saurav ,
Till when I need to resolve the bug

On Wed, Aug 17, 2022, 14:24 Saurav Jain ***@***.***> wrote:

[2022-08-17 09:53] ShrutiMishra-2002 commented on #3396
@souravjain540 please assign me this issue

[2022-08-17 09:54] souravjain540 commented on #2226
as early as you can

[2022-08-17 09:54] souravjain540 commented on #3396
sure @ShrutiMishra-2002

join our discord for any help

[2022-08-17 10:00] sambhavgupta0705 commented on #2226
Ok

On Wed, Aug 17, 2022, 15:24 Saurav Jain ***@***.***> wrote:

[2022-08-17 10:09] Noxx-7 commented on #3481
I want to contribute

[2022-08-17 10:15] Vipul2504 commented on #3424
the issue is open?

[2022-08-17 10:33] souravjain540 commented on #3424
i will contact you after the end of campaign

[2022-08-17 11:18] arielweinberger opened #3491 "Implement a `@amplication/kafka-proxy` service to process messages from Kafka to S3"
### Feature description

This is an enterprise feature.

This service needs to subscribe to a SQS queue and forward messages to a specific Kafka topic.

The service should accept at least the following environment variables:
- `SOURCE_SQS_QUEUE_ARN`: The source SQS queue to read messages from
- `TARGET_KAFKA_TOPIC`: The target Kafka topic to proxy messages to
- `KAFKA_BROKERS`: A comma-separated s

[2022-08-17 11:37] KlausMikhaelson commented on #3485
Hello @alexbass86 is someone working on this ? if not than can I get it assigned to me ?

[2022-08-17 12:26] tupe12334 commented on #3437
@alexbass86 The pr didnt merge yet

[2022-08-17 12:53] abrl91 commented on #3447
ixed by https://github.com/amplication/amplication/pull/3488

[2022-08-17 12:53] #3447 closed

[2022-08-17 14:15] shubhwip commented on #2814
@yuval-hazaz @abrl91 I am thinking of below approach
- Adding a new error type in errors.ts for `ConflictException`
- Adding validation in `CREATE_ENTITY_FUNCTION` in `controller.base.template.ts`
  - Validation would be to put a check on finding resource based on unique specified attributes of model
  - If we find any resource matching one of the unique define field of model, we will throw confli

[2022-08-17 14:47] shubhwip commented on #3361
Inside `What you expected to happen` Expected URL should be [https://app.amplication.com/login?invitation=[code]](https://app.amplication.com/login?invitation=%5Bcode%5D) :) ?

[2022-08-17 15:08] tupe12334 commented on #2964
Hi @pratikgl The problem is rooted in the `packages/amplication-server/src/core/mail/mail.service.ts` file, the HOST var is pointing to the server url and not the client url in the env CLIENT_HOST

[2022-08-17 15:10] Yashjain1234yw commented on #3481
I want to contribute

[2022-08-17 15:30] tupe12334 commented on #3485
@KlausMikhaelson Yes of course! I will assign you.

[2022-08-17 15:44] #3444 closed

[2022-08-17 15:44] #3443 closed

[2022-08-17 15:44] #3455 closed

[2022-08-17 15:44] #3461 closed

[2022-08-17 15:49] #3188 closed

[2022-08-17 15:50] #3460 closed

[2022-08-17 16:08] abrl91 commented on #3448
Fixed by https://github.com/amplication/amplication/pull/3475

[2022-08-17 16:08] #3448 closed

[2022-08-17 18:54] KlausMikhaelson commented on #3485
Hey @tupe12334
<img width="725" alt="image" src="https://user-images.githubusercontent.com/100528412/185219788-2d19ef59-bc39-46ae-9531-a04663d75416.png">
Ig this is the page that the padding needs to be fixed in but I can't see any top border that we were supposed to add padding from so can you please help me out here ?

[2022-08-18 05:33] shubhwip commented on #3357
@JatinRanka This error happened for me just because my docker daemon was not running. So before you start the `amplication` build process you should make sure your docker is started fine.

@yuval-hazaz I have submitted the PR as others are facing the issue as well :). Hope it is okay.

[2022-08-18 05:34] #3424 closed

[2022-08-18 05:34] #2441 closed

[2022-08-18 05:35] abrl91 opened #3499 "Build Page (build log) - new layout and design"
- fix the build
- fix the link to the build on the commit page
- build log page

[2022-08-18 05:36] souravjain540 commented on #3445
hi @pinkelephant4 👋

are you working on this issue? can we help you?

[2022-08-18 07:24] alexbass86 opened #3501 "🐛 Bug Report: Commit - Functionality and UI problems"
### What happened?

Everything is pushed down when the list of changes becomes long and crosses the window's height.
The background color is wrong. Please also ensure all the padding is precisely as it is in the design.

Bad
<img width="1799" alt="image" src="https://user-images.githubusercontent.com/96179897/185322131-a162f6fe-119d-4581-b2e2-78c2de90414f.png">

Good
![Project - Main Screen](https

[2022-08-18 08:16] #3466 closed

[2022-08-18 09:26] shubhwip commented on #2814
[@yuval-hazaz](https://github.com/yuval-hazaz) [@abrl91](https://github.com/abrl91) I am thinking of below approach
Adding a new error type in errors.ts for ConflictException
Adding validation in CREATE_ENTITY_FUNCTION in controller.base.template.ts
    * Validation would be to put a check on finding resource based on unique specified attributes of model before creating new resource.
    * If we f

[2022-08-18 09:58] EugeneTseitlin commented on #3438
Sorry, I haven't noticed your message before. We are glad to get a contribution from a community. Just pick another one. Thanks.

[2022-08-18 10:08] pinkelephant4 commented on #3445
yes i'm working on it. Can you guide me to where i can find the file to make the changes in?

[2022-08-18 10:17] souravjain540 commented on #3445
`amplication/packages/amplication-client/src/Application/ApplicationForm.tsx` @pinkelephant4

[2022-08-18 10:59] tupe12334 opened #3508 "🐛 Bug Report: Commit page crashing"
### What happened?

When you enter the commit page of a resource, the page crashes with

<img width="1512" alt="Screen Shot 2022-08-18 at 12 08 05" src="https://user-images.githubusercontent.com/61761153/185379295-f0301baa-ec36-4c16-91cc-17d1330437aa.png">

### What you expected to happen

Its needs to show the commit of the resource

### How to reproduce

In v 0.15.0
Generate an resource and ente

[2022-08-18 15:38] alexbass86 opened #3510 "🐛 Bug Report: Commit - Left menu icons"
### What happened?

We don't have a commit screen per resource. Instead, from v15, it's a project-level commit & code view.
Please remove the link to code view & commit from the service left menus.

Bad
![image](https://user-images.githubusercontent.com/96179897/185435165-fea30720-1e80-4a91-b868-6613de2e0e40.png)

### What you expected to happen

No "view code" or "commit" links on the left menu i

[2022-08-18 16:16] pratikgl opened #3511 "🐛 Bug Report: wrong variable type"
### What happened?

In `amplication/amplication/blob/master/packages/amplication-server/src/core/mail/mail.service.ts#L17` the type of var `IS_EMAIL_DEPLOYMENT_NOTIFICATION` is a `String`

### What you expected to happen

The variable type is `string` instead of a `boolean`. This might lead to some unexpected results.

### How to reproduce

https://github.com/amplication/amplication/blob/master/pa

[2022-08-18 21:02] abrl91 commented on #3296
Fixed by https://github.com/amplication/amplication/pull/3392

[2022-08-18 21:02] #3296 closed

[2022-08-19 07:35] Himanxu1 commented on #3511
I want to work  on this issue seems it easy . Assign it to me.

[2022-08-19 07:36] Himanxu1 commented on #3510
I can work on this issue . Assign it to me .

[2022-08-19 14:27] Shubhdeep12 opened #3516 "🐛 Bug Report: Apps should be App when count is 1"
### What happened?

While displaying the count of apps on platform. The word **_Apps_** should be **_App_** when there is 1 app.

### What you expected to happen

It should follow this rule ->
0 Apps
1 App
(n>1) Apps

### How to reproduce

[Video](https://share.vidyard.com/watch/mNXsBbJP9WKsQgvHSVEfVY?)

### Amplication version

0.14.12

### Environment

_No response_

### Are you willing to submi

[2022-08-19 14:28] Shubhdeep12 commented on #3516
If team wants to fix, I can take this.

[2022-08-19 14:34] Shubhdeep12 opened #3517 "🐛 Bug Report: Theme issue, color for options is not correct in Light mode."
### What happened?

UI theme issue.

### What you expected to happen

On changing theme from dark to light mode, the color of options doesn't feel correct.

### How to reproduce

![image](https://user-images.githubusercontent.com/43654389/185642765-ac3af630-68c9-4e96-832e-ea68e8e27903.png)
[video](https://share.vidyard.com/watch/Cw8vjWcC2MF1pbrLZrNAJJ?)

### Amplication version

0.14.12

### Envir

[2022-08-19 14:35] Shubhdeep12 commented on #3517
If team thinks this to be a valid issue.
Please provide the designs for the options.
I would love to fix this.

[2022-08-19 14:47] Shubhdeep12 opened #3518 "🐛 Bug Report: App settings Theme switching issue"
### What happened?

UI theme issue

### What you expected to happen

Color of text is not changing on changing theme.

### **Light theme**
![image](https://user-images.githubusercontent.com/43654389/185644817-0f69df57-db0a-458e-862d-ec2f0cc37380.png)
![image](https://user-images.githubusercontent.com/43654389/185644908-736e61e8-3fe0-46e2-8575-625bf8263916.png)

### **Dark theme**
![image](https://

[2022-08-19 14:47] Shubhdeep12 commented on #3518
If Amplication team think this a  valid issue.
I would love to fix this.

[2022-08-19 14:52] Shubhdeep12 opened #3519 "Settings should display selected App color"
### Feature description

In App settings, platform should indicated selected color.
![image](https://user-images.githubusercontent.com/43654389/185646086-7d8f1370-b99b-4aba-b230-7a30d4cee1a8.png)

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-08-19 17:18] CoderOO7 commented on #3508
Assign that issue to me. I would like to work on that

[2022-08-19 17:22] Shubhdeep12 opened #3520 "🐛 Bug Report: minor UI issues related to text box"
### What happened?

Some UI issues:
1. Across the platform the text input are not having max limit.
2. Word break needs to applied at the Roles name as it can cause UI issue.
3. text input for passwords are normal text input instead it should be in a bullet dots pattern with option to view or hide for example in database settings.

### What you expected to happen

All the above points should be ta

[2022-08-19 19:31] #3445 closed

[2022-08-19 19:41] #3357 closed

[2022-08-19 19:44] #1868 closed

[2022-08-19 19:56] souravjain540 commented on #3397
any updates @ParkourKarthik?

[2022-08-19 19:57] souravjain540 commented on #2964
any updates @pratikgl ?

[2022-08-19 19:57] souravjain540 commented on #2733
any updates @msquare-2 ?

[2022-08-19 19:58] souravjain540 commented on #2226
any updates @sambhavgupta0705 ?

[2022-08-19 20:00] pratikgl commented on #2964
Hey @souravjain540 I was waiting for @tupe12334 follow up on Discord. I had few doubts on the changes.

[2022-08-19 20:29] abrl91 commented on #3499
Fixed by https://github.com/amplication/amplication/pull/3514

[2022-08-19 20:29] #3499 closed

[2022-08-19 21:12] CoderOO7 commented on #3508
Hi I have checked that thing it's working fine for me. I checked the code in master branch for that **CommonList** component. Their is no variable named **currentProject**.

![image](https://user-images.githubusercontent.com/67546884/185707619-48e0b01f-45e5-4af0-9b6d-ba14cc096961.png)

[2022-08-19 22:51] tupe12334 commented on #3510
@Himanxu1 go head, i assigned you

[2022-08-19 22:52] tupe12334 commented on #3508
@CoderOO7 Please check the release/0.15.0 branch

[2022-08-19 22:57] #3438 closed

[2022-08-19 22:58] #3479 closed

[2022-08-19 23:01] #3431 closed

[2022-08-19 23:01] pratikgl commented on #2964
I got the resolution and will raise the PR my morning.

[2022-08-20 02:42] sambhavgupta0705 commented on #2226
I am still not able to deploy it on my local server

On Sat, Aug 20, 2022, 01:28 Saurav Jain ***@***.***> wrote:

[2022-08-20 03:31] msquare-2 commented on #2733
My lapi was not feeling well(My system got corrupted)!

I've restored it now, will update you by today...

[2022-08-20 03:58] Himanxu1 commented on #3520
I want to work on this issue . Need some help while resolving it

[2022-08-20 04:08] Himanxu1 opened #3522 "🐛 Bug Report: Change Entities to Entity if number is 1."
### What happened?

It should be Entity when the number is 1 .
if number > 1 == entities

![amplication3](https://user-images.githubusercontent.com/80101755/185728264-2ab05bba-5dae-415d-808f-93c0beba0235.PNG)

### What you expected to happen

Just change the entities to entity is the number is 1 .

### How to reproduce

for reference use this file

https://github.com/amplication/amplication/blob/m

[2022-08-20 04:16] Himanxu1 opened #3523 "Change the whole link to a text link"
### Describe the issue with documentation

This link is making the documentation looks ugly so just change the whole link to a text link .

![amplic5](https://user-images.githubusercontent.com/80101755/185728599-da1f1eb2-27af-4d41-9377-83c6aac69bbc.PNG)

### How to solve the problem

Just go to the ReadMe.md and change the whole link to a text link

### Are you willing to submit PR?

Yes I am will

[2022-08-20 06:09] space-w-alker opened #3524 "🐛 Bug Report: Inaccurate Instructions in README.md"
### What happened?

The `README.md` says to run `npm run start` in the root folder.
There is no `start` script in the root folder.

![image](https://user-images.githubusercontent.com/36056652/185731364-12687ac5-47b9-4cf5-8e42-ca30cd713914.png)

Executing `npm run start` in the root folder shows the following error.

[code]

### What you expected to happen

There is no need to execute `npm run star

[2022-08-20 07:18] Himanxu1 commented on #3510
So have to make changes in release v15 ??

[2022-08-20 07:35] ParkourKarthik commented on #3397
I'm having some trouble after running the application locally. Seeking help from the #support channel in discord. Meanwhile I can make the changes and create a PR.

[2022-08-20 12:16] yuval-hazaz opened #3528 "🐛 Bug Report: Code View should show the selected build based on a list of commits and a resource"
### What happened?

With the new project level, the code view page should show the selected build based on a selection of a single commit from a list of commits and a specific resource.

Currently, there is a mix between a build, a commit, and a resource.

### What you expected to happen

Show the code of a specific build, based on the selection of a commit and a resource

### How to reproduce

se

[2022-08-20 13:34] #2964 closed

[2022-08-20 15:01] krai500 opened #3530 "🐛 Bug Report: Customizable files are overwritten when you change server path and admin ui path settings"
### What happened?

Customizable files are overwritten
when you change server path and admin ui path settings

### What you expected to happen

Customizable files should not be overwritten

### How to reproduce

1.  Sync with GitHub
2.  Go to `App settings` > `Base Directories`
3.  Set `Server Path` to  `packages/server`
4.  Set `Admin UI Path` to  `packages/admin`
5.  Rebuild and merge code to ma

[2022-08-20 15:33] souravjain540 commented on #2814
@yuval-hazaz @abrl91 please reply to him.

[2022-08-20 15:33] souravjain540 commented on #2875
@veera6513 any updates?

[2022-08-20 15:34] souravjain540 commented on #2226
Please join our discord for support: https://amplication.com/discord

[2022-08-20 15:34] souravjain540 commented on #2733
Thanks @msquare-2

[2022-08-20 15:42] veera6513 commented on #2875
Actually I had some personal work...I will try complete by tomorrow.

[2022-08-20 16:02] sambhavgupta0705 commented on #2226
I have joined it ,seeking help from other members but still not able to
resolve it

On Sat, Aug 20, 2022, 21:04 Saurav Jain ***@***.***> wrote:

[2022-08-20 16:15] souravjain540 commented on #2226
I've asked pawan to reply, please see

[2022-08-20 19:12] yuval-hazaz opened #3531 "🐛 Bug Report: Workspace navigation should show the current item as selected"
### What happened?

When selecting a resource (service) in the workspace navigation, it shows the service name as the currently selected item.

for example:
<img width="790" alt="image" src="https://user-images.githubusercontent.com/43705455/185762713-5488a6c5-78bf-49a6-a36b-bedb55336f51.png">

but, when the current page is "Commits", or "Code View", or "Project Configuration" - the navigation sho

[2022-08-20 19:17] abrl91 commented on #3508
@yuval-hazaz fixed it by removing this link from the resource page, as there is no direct connection between commit and resource from v0.15.0

[2022-08-20 19:17] #3508 closed

[2022-08-20 19:47] yuval-hazaz opened #3532 "🐛 Bug Report: CurrentResource is missing in context when refreshing the page"
### What happened?

The value of currentResource is missing in the appContext when refreshing the page using F5

See this screenshot - The menu us not loading and the workspace navigation is not showing the name of the current resource

<img width="711" alt="image" src="https://user-images.githubusercontent.com/43705455/185763780-5f39c496-f7d4-4af8-9569-03157935df88.png">

### What you expected to

[2022-08-20 20:02] yuval-hazaz commented on #3530
Thanks! It sounds like an important issue. We will look into it soon

[2022-08-20 20:03] #3528 closed

[2022-08-20 20:04] #3524 closed

[2022-08-20 20:24] yuval-hazaz commented on #3523
@MoFoGo please review and see if we want to accept this change

[2022-08-20 20:24] yuval-hazaz commented on #3523
@Himanxu1 thanks for your suggestion. we will review soon

[2022-08-20 20:45] abrl91 commented on #2814
I think the last solution is preferable, but with `409  conflict` HTTP error code

[2022-08-21 03:21] heisenbergwasuncertain opened #3534 "Time only data type"
### Feature description

I'll love to have time only data type in data type selection rather using json type data or text instead as optional one currently i'm using date time data type to and explicitly removing date while on frontend!

### Use case

opening and closing time of a resurant or some store or adding time schedule or regular time bases event that only requires time !

### Are you will

[2022-08-21 04:42] heisenbergwasuncertain opened #3535 "🐛 Bug Report: Unable to fetch and select last github repo when total no of repo exceeds 35 in count"
### What happened?

i had more than 40 repos in my profile and when i created a repo for amplication project that was last by alphabetical order it wasn't able to fetch and there isn't any search option to find that by name!

### What you expected to happen

It'll be able to fetch more than where it is limited right now or should have a  search option for that

### How to reproduce

just create a

[2022-08-21 07:07] Shubhdeep12 commented on #3519
I would love to add this.
Let me know once this is added in TO-do list.

[2022-08-21 07:55] #3510 closed

[2022-08-21 07:57] sambhavgupta0705 commented on #2226
Ok, thanks for the update.

On Sat, Aug 20, 2022, 21:45 Saurav Jain ***@***.***> wrote:

[2022-08-21 08:39] tupe12334 opened #3539 "Pending changes bar has the wrong background color"
it shoud look like this

![image](https://user-images.githubusercontent.com/43705455/185797498-f3c91ce1-0359-46d3-8625-885b25005bc0.png)

[2022-08-21 08:46] tupe12334 opened #3541 "Commit component - missing title"

[2022-08-21 09:22] #3385 closed

[2022-08-21 09:26] #3246 closed

[2022-08-21 09:26] #3215 closed

[2022-08-21 09:27] #3048 closed

[2022-08-21 09:30] #3045 closed

[2022-08-21 09:33] #3044 closed

[2022-08-21 09:33] #3043 closed

[2022-08-21 09:45] #3532 closed

[2022-08-21 10:21] barshimi commented on #3520
how can I help you @Himanxu1 ?

[2022-08-21 10:31] barshimi opened #3544 "🐛 Bug Report: Show The Selected Resource after each selection or refresh"
### What happened?

When choosing new resource or project entities (like: comments, settings etc) the dropdown title should be updated accordingly.

### What you expected to happen

set the right resource after each selection at application header

### How to reproduce

choose different resource under resource dropdown

### Amplication version

_No response_

### Environment

_No response_

### Ar

[2022-08-21 12:49] abrl91 opened #3545 "🐛 Bug Report: Delete resource does not clear the pending changes"
### What happened?

Delete resource does not clear the pending changes

### What you expected to happen

When a user deletes a resource immediately after creating, the pending changes should be cleared it

### How to reproduce

- create a resource
- see the pending changes
- delete the resource
- see that the pending changes are still there

### Amplication version

0.15.0

### Environment

_No re

[2022-08-21 14:33] barshimi opened #3548 "Workespace settings UI"
### Feature description

fix workspace settings UI

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-21 15:30] #3548 closed

[2022-08-21 15:32] barshimi opened #3550 "Workspace Members UI page"
### Feature description

fix Workspace Members UI page

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-21 15:39] #3550 closed

[2022-08-21 15:41] barshimi opened #3552 "🐛 Bug Report: Getting undefined workspace on refresh page"
### What happened?

when refreshing page with existed workspace you get undefined on url

### What you expected to happen

to get the existed workspace and compare to db workspace

### How to reproduce

/cl6xpdwlo0015qr6z6h4zxw21/members on refresh -> /undefined/cl6xpdwmi0063qr6z3zvskcv9

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No

[2022-08-21 16:49] rolwin100 commented on #3518
can u take this up @Shubhdeep12

[2022-08-21 17:23] Shubhdeep12 commented on #3518
Yes sure @rolwin100

[2022-08-21 17:42] Himanxu1 commented on #3520
How can I find the code related to this issue .
Assign this issue to me !

[2022-08-22 09:10] abrl91 opened #3555 "🐛 Bug Report: Connect GH to project configuration fails when the project doesn't have services"
### What happened?

While trying to connect the project configuration to GH,  and we don't have services, we get the following error:

[code]

### What you expected to happen

I expect to be able to connect the project to GH without errors

### How to reproduce

- create a new workspace / sign up
- click on project configuration
- click on the GH button and sync with GH
- see the error

### Amplic

[2022-08-22 09:48] #3552 closed

[2022-08-22 19:13] yuval-hazaz opened #3564 "🐛 Bug Report: GitHub override toggle is not clickable"
### What happened?

The toggle to override GitHub settings is now working. I click on it, and nothing happens

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/43705455/186000269-80f14705-743f-41bd-9885-599cb97fb4f8.png">
,

### What you expected to happen

the toggle should work

### How to reproduce

try to override GitHub settings on a service level

### Amplication

[2022-08-22 19:16] yuval-hazaz commented on #3564
closing - not a bug - it was an env issue

[2022-08-22 19:16] #3564 closed

[2022-08-22 20:40] abrl91 commented on #3544
Fixed by https://github.com/amplication/amplication/pull/3547

[2022-08-22 20:40] #3544 closed

[2022-08-22 20:59] abrl91 opened #3565 "🐛 Bug Report: Sync with GH selector doesn't update after a new connection"
### What happened?

When a user creates a new connection to GitHub on project configuration, the sector is not updated, and the user needs to do a refresh

### What you expected to happen

The selector should update automatically

### How to reproduce

- click on project configuration
- click on the GH button
- click on the connect to GH button
- see that the connect button is still there instead

[2022-08-22 21:09] abrl91 opened #3566 "🐛 Bug Report: Repository name with whitespace saved with a dash in the end on GH and causing a failure on push to GH process"
### What happened?

When a user sets a repository name with whitespace in the end ("my repository "), GitHub saves it as "my-repository-".
This caused an error on the push to GitHub process (repository not found)

### What you expected to happen

The repository name that we saved should be equal to the repository name that GitHub saved, and the push to GitHub process should be successful

### How

[2022-08-23 06:50] yuval-hazaz commented on #3534
Thanks @heisenbergwasuncertain

What data type do you think we shoudl use on the DB?
Should it be DATETIME, or maybe an integer with a number between 0 and 1439?

[2022-08-23 07:19] yuval-hazaz commented on #3517
hi @Shubhdeep12 thanks for reporting this
After looking into the usage statistics we decided to remove the light theme. So, starting v 0.15.0 which should be released soon the light theme is removed

[2022-08-23 07:19] yuval-hazaz commented on #3517
I will close this issue since it is not relevant any longer

[2022-08-23 07:19] #3517 closed

[2022-08-23 07:42] #3541 closed

[2022-08-23 07:43] #3539 closed

[2022-08-23 08:31] #3331 closed

[2022-08-23 09:17] souravjain540 commented on #3522
Thanks for reporting the issue :)

[2022-08-23 09:20] souravjain540 commented on #3516
We can accept this issue @yuval-hazaz?

[2022-08-23 09:20] #3511 closed

[2022-08-23 09:21] #3485 closed

[2022-08-23 09:24] souravjain540 commented on #2875
@veera6513 are you working on this?

If not, can I assign it to someone else?

[2022-08-23 09:25] souravjain540 commented on #2733
@msquare-2 are you working on it?

[2022-08-23 09:25] souravjain540 commented on #2226
any updates @sambhavgupta0705 ?

[2022-08-23 10:04] sambhavgupta0705 commented on #2226
I am still unable to deploy it,installed docker two times but still it is not working

[2022-08-23 11:52] srikarthick-k commented on #3481
Where to contribute??

[2022-08-23 15:36] Shubhdeep12 commented on #3517
Oh, Got it.
Thanks for confirming @yuval-hazaz

[2022-08-23 15:36] yuval-hazaz opened #3575 "🐛 Bug Report: Links to blog incorrectly navigate to docs"
### What happened?

the link to "blogs" on the header is using the wrong URL

### What you expected to happen

it should link to https://amplication.com/blog

### How to reproduce

click on "blogs"

<img width="372" alt="image" src="https://user-images.githubusercontent.com/43705455/186200904-39c29736-3f28-4579-81ac-e60c2f2bd46c.png">

### Amplication version

0.15.0

### Environment

_No response

[2022-08-23 15:37] Shubhdeep12 commented on #3518
Since, we are moving away with themes and just sticking to light theme.
Do we need this? @yuval-hazaz
FYI @rolwin100  @souravjain540

[2022-08-23 16:37] abrl91 commented on #3565
Fixed by https://github.com/amplication/amplication/pull/3569

[2022-08-23 16:37] #3565 closed

[2022-08-23 16:37] abrl91 commented on #3555
Fixed by https://github.com/amplication/amplication/pull/3568

[2022-08-23 16:38] #3555 closed

[2022-08-23 16:43] abrl91 commented on #3531
duplicate #3555 Fixed by https://github.com/amplication/amplication/pull/3547

[2022-08-23 16:43] #3531 closed

[2022-08-23 20:25] abrl91 opened #3577 "Workspace footer - Show last commit and build info and connected GH organization and repository"
Implement Amplication workspace footer showing:
- commit-id
- build-id
- git status connection details
   - conditionally (if there is a connection to GH)
   - project / resource
- open with GitHub button (conditionally)

[2022-08-24 02:37] Himanxu1 commented on #3522
Assign this to me !⚡

[2022-08-24 04:37] Himanxu1 opened #3578 "Hover effect on the links of header"
### Feature description

It would look great if we make the links more attractive . for this we have to add a hover effect on the links in header.

Here is the SS.

![feature1](https://user-images.githubusercontent.com/80101755/186329775-e41ee183-755c-42d7-9b5e-e83ecbf53cab.PNG)

### Use case

User Experience

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-08-24 05:45] souravjain540 commented on #3578
which link are you talking about? @Himanxu1

[2022-08-24 05:45] #3575 closed

[2022-08-24 05:48] souravjain540 commented on #3535
Duplicate of https://github.com/amplication/amplication/issues/2551

[2022-08-24 05:48] #3535 closed

[2022-08-24 06:05] Himanxu1 commented on #3578
Links on the Header of the website like Docs , features .
They don't have any hover effect .

[2022-08-24 07:26] #3530 closed

[2022-08-24 07:46] #3370 closed

[2022-08-24 07:47] #2823 closed

[2022-08-24 08:35] arielweinberger opened #3579 "🐛 Bug Report: Circle Badge in Dropdown shows as an ellipse (should be a circle)"
### What happened?

When clicking on the dropdown to select a resource, the icon shown is not a circle.
![image](https://user-images.githubusercontent.com/4976416/186370895-9fb7d1a9-34d2-48f7-85f2-606a774803be.png)

### What you expected to happen

Should be a circle.

### Amplication version

0.15.0

[2022-08-24 11:12] lavakush07 opened #3581 "Updating the Contact us"
- Instead of the long [contact@amplication.com](mailto:contact@amplication.com) we can add emoji of the mail (📧) with the link embedded in it .

[2022-08-24 11:12] lavakush07 commented on #3581
- Can you Assign me this issue to work on .

[2022-08-24 12:08] #3566 closed

[2022-08-24 13:05] #2712 closed

[2022-08-24 16:34] heisenbergwasuncertain commented on #3534
Great to see you here sir  @yuval-hazaz,

I guess everyone who is opting for this scenerio probably alreading be using integers type, currently i'm utilizing the datetime type and utilizing just time on the frontend with just the current date as dummy data, but i suggest a datetime type with selection of time only type option as similar of date only function would be a novelity!

[2022-08-25 05:08] souravjain540 commented on #3581
Hi @lavakush07, thanks for the suggestion. Let me confirm with @alexbass86 and @yuval-hazaz if we want to do this or not.

[2022-08-25 05:13] souravjain540 commented on #3578
I would confirm it first with @alexbass86, if we want it or not?

[2022-08-25 05:21] alexbass86 commented on #3578
@souravjain540 Yes, please add the hover effect on the link at the menu.
The text should turn white on hover/selection.

[2022-08-25 06:22] Himanxu1 commented on #3578
okay

[2022-08-25 06:38] Himanxu1 commented on #3578
@souravjain540  Assign this to me .
In which directory code is present related to navbar?

[2022-08-25 06:43] souravjain540 commented on #3578
assigned
path: components/Header/Menu/index.jsx

[2022-08-25 06:56] yuval-hazaz opened #3582 "🐛 Bug Report: Commit empty state is missing"
### What happened?

Empty state for the commit list looks bad
![image](https://user-images.githubusercontent.com/43705455/186596148-88ffd9a6-ad7c-4010-b8b1-8cd056c727c1.png)

### What you expected to happen

show a proper empty list message with the empty state graphics

### How to reproduce

create a new project and go to the commits page

### Amplication version

0.15.0

### Environment

_No res

[2022-08-25 06:58] yuval-hazaz commented on #3582
@alexbass86 please prepare a mock

[2022-08-25 07:21] yuval-hazaz opened #3583 "🐛 Bug Report: Code view empty state is missing"
### What happened?

the code view page looks bad before the first commit

![image](https://user-images.githubusercontent.com/43705455/186610292-653b1001-f839-4ad1-8305-55a34d09e878.png)

### What you expected to happen

Show a message to the user that says:

"in this page you can see the code of your services after you commit your changes"

@MoFoGo please rephrase as needed

@alexbass86 please pre

[2022-08-25 07:22] yuval-hazaz commented on #3581
which page are we talking about? is that for the website footer?

[2022-08-25 07:33] tupe12334 commented on #3583
Duplication of #3582

[2022-08-25 07:39] lavakush07 commented on #3581
![Screenshot 2022-08-24 163836](https://user-images.githubusercontent.com/70131581/186604481-0f9888bd-4330-4f7d-bbf1-1e31085427f2.png)
- Yeah Exactly **website footer**.

[2022-08-25 07:45] souravjain540 commented on #3396
@ShrutiMishra-2002 If you are not working on this then should I assign it to someone else?

[2022-08-25 07:47] ParkourKarthik commented on #2875
I would like to pick this up.

[2022-08-25 07:50] ParkourKarthik commented on #2733
Could you assign this to me?

[2022-08-25 07:50] souravjain540 commented on #2875
Only first time contributors can participate in this :)

[2022-08-25 07:50] arielweinberger opened #3584 "🐛 Bug Report: Empty state (no projects) on 0.15.0 looks odd"
### What happened?

When a user in 0.15.0 signs up and has no projects, the UI looks odd
<img width="1512" alt="Screenshot 2022-08-24 at 19 40 37" src="https://user-images.githubusercontent.com/4976416/186606798-86db7a3f-1c4c-4b94-9fd8-e6d0d3ff6566.png">

### What you expected to happen

The UI should look consistent.

### How to reproduce

- Sign up on 0.14 and **do not create any projects**
- Mi

[2022-08-25 08:16] tupe12334 opened #3585 "🐛 Bug Report: Last sync value is incorrect"
### What happened?

When you sync to GitHub and look at the Last sync value in the client, it's not right.

<img width="460" alt="Screen Shot 2022-08-25 at 10 57 49" src="https://user-images.githubusercontent.com/61761153/186611037-fd8e7da7-f74a-43a3-a349-505b821374fb.png">

This happened before the first build
### What you expected to happen

Show the correct time

### How to reproduce

Generate

[2022-08-25 08:27] tupe12334 opened #3586 "🐛 Bug Report: Text over flow in commit selector"
### What happened?

The commit selector in the code, view page is overflow

<img width="427" alt="Screen Shot 2022-08-22 at 17 46 54" src="https://user-images.githubusercontent.com/61761153/186614798-0344ccb0-9c43-45d0-a99d-6060d0511989.png">
<img width="419" alt="Screen Shot 2022-08-25 at 10 56 02" src="https://user-images.githubusercontent.com/61761153/186614802-9008390c-4972-4343-b729-c70992bdb

[2022-08-25 08:33] tupe12334 opened #3587 "🐛 Bug Report: Header menu wrong indication"
### What happened?

The menu shows a V next to an item even tho we are not in the item context
<img width="948" alt="Screen Shot 2022-08-25 at 10 58 42" src="https://user-images.githubusercontent.com/61761153/186616299-5ab6720a-05c7-47e2-891c-8bb02890cb97.png">

### What you expected to happen

The V needs to show only in the resource context

### How to reproduce

not relevant

### Amplication ve

[2022-08-25 08:40] tupe12334 opened #3588 "🐛 Bug Report: UI bug in the header menu"
### What happened?

In an empty project, the header menu shows the divider line
<img width="452" alt="Screen Shot 2022-08-25 at 11 34 41" src="https://user-images.githubusercontent.com/61761153/186617046-79f2297a-cdbe-4194-9d69-50021a549211.png">

### What you expected to happen

Its don't needs to show the divider line there is nothing to divide between

### How to reproduce

Create a new projet

[2022-08-25 10:36] tupe12334 opened #3589 "🐛 Bug Report: Unused code"
### What happened?

In lines 31-41 in the `app.module.ts` file, we have unused code that was forgotten there from the time we were serving the client from the server.
The code
[code]

### What you expected to happen

not relevant

### How to reproduce

not relevant

### Amplication version

0.15.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-08-25 14:02] KlausMikhaelson opened #3592 "Outdated images in the "run your app on development environment" section"
### Describe the issue with documentation

So as per the docs we should be able to see a download button after the generate code in the left section (which is now updated to be in right side)
<img width="960" alt="amplication new bug" src="https://user-images.githubusercontent.com/100528412/186685370-d5d2361f-f8b2-4bcf-8ccc-8be30da2c142.png">
like this but currently it looks like this
<img width="

[2022-08-26 07:51] yuval-hazaz opened #3595 "Project configuration "name" should change the project name"
### Feature description

The `name` field in the `settings` tab in the Project Configuration should change the Project name and not the resource name

<img width="1306" alt="image" src="https://user-images.githubusercontent.com/43705455/186851396-7b3e140a-f33b-40c2-b338-8f2212a6e4c5.png">

### Use case

When the user wants to change the name of the project, they should go into the project configur

[2022-08-27 06:37] Himanxu1 opened #3596 "As User - I want to see a better design for the profile"
**Overview:**
The current profile page looks awkward with the UI on the side and without ability to go back (Close the profile).
![bug1](https://user-images.githubusercontent.com/80101755/187018134-af8387ea-74d5-40de-9e98-9c246c7ba377.PNG)

**New Design:**
https://github.com/amplication/amplication/issues/3596#issuecomment-1229457534

[2022-08-27 08:19] yuval-hazaz commented on #3596
@alexbass86 please prepare a design

[2022-08-27 08:23] yuval-hazaz commented on #3592
Thanks for reporting this.
We deployed a new UI and some new features the day before yesterday and are working on updating the docs. It is a rolling plan and is already in progress.

@MoFoGo  please make sure we include this in the new docs.

@KlausMikhaelson, we are aiming to get all users to use GitHub instead of downloading the code since using Github we can provide much more value. The downloa

[2022-08-27 08:37] yuval-hazaz commented on #3516
Please review this issue again against the new UI in v0.15 (released to prod already), If this issue is still relevant, please include a screenshot and you can go ahead and fix it

[2022-08-27 08:38] yuval-hazaz commented on #3581
Thanks, it is ok the way it is right now with the address visible ,
I will close this issue

[2022-08-27 08:38] #3581 closed

[2022-08-27 08:44] yuval-hazaz commented on #3520
Thanks for reporting this. see my comments about the issues listed above:
1. What kind of limit do you want to use? each field may have a different length limit depends on the DB schema and I don't think it is worth adding specific value on each field as the limits are virtual and in most cases they will not impact the user in any case.
2. for better UX I think we should use ellipsis with a toolti

[2022-08-27 08:45] yuval-hazaz commented on #3520
@Himanxu1 I assigned the issue to you.
The code is in this folder
https://github.com/amplication/amplication/tree/master/packages/amplication-client/src/Roles

Let us know if you can move forward.

[2022-08-27 08:47] yuval-hazaz commented on #3518
Thanks everyone,
in the last release, we removed the light theme, so we do not need to handle this any longer. I will close the issue

[2022-08-27 08:47] #3518 closed

[2022-08-27 08:48] yuval-hazaz commented on #3467
@EugeneTseitlin please add more details or close this issue in case it is no longer relevant

[2022-08-27 08:54] KlausMikhaelson commented on #3592
Okay @yuval-hazaz These  updates sounds really good and ig it will be much better this way I am sure if I am not wrong than the code will be directly pushed to a repository that the user has to create and add there ig right ?

[2022-08-27 08:57] yuval-hazaz commented on #3592
exactly

[2022-08-27 08:59] KlausMikhaelson commented on #3592
That'll be really awesome !, thank you for the response so should I close this issue ?

[2022-08-27 09:01] yuval-hazaz commented on #3592
Let's leave it to @MoFoGo to decide whether to close or not. Depends on how he tracks the progress of the overall task.

[2022-08-27 09:05] KlausMikhaelson commented on #3592
Okay got it !

[2022-08-27 09:44] abrl91 opened #3597 "🐛 Bug Report: Last commit label is empty after generating a new resource"
### What happened?

After creating a new resource, the last commit label is empty.

<img width="843" alt="Screen Shot 2022-08-27 at 12 38 56" src="https://user-images.githubusercontent.com/39680385/187024717-b9bd9480-3182-451f-8492-11a837557c0e.png">

### What you expected to happen

When there is no last commit, we shouldn't show the label
@alexbass86  @yuval-hazaz am I correct?

### How to repro

[2022-08-27 10:35] abrl91 opened #3598 "🐛 Bug Report: The links to project configuration settings and service settings on pending changes lead to an empty page"
### What happened?

The links to project configuration settings and service settings on pending changes lead to an empty page.

https://user-images.githubusercontent.com/39680385/187026333-c505b202-5f65-4be9-b571-d5cc1ff7f352.mov

### What you expected to happen

those links should lead to the project settings page and service settings page

### How to reproduce

Create a new service , you will se

[2022-08-27 18:35] abrl91 opened #3600 "🐛 Bug Report: GitHub organization selector is not refreshed after setting a new connection"
### What happened?

 GitHub organization selector is not refreshed after setting a new connection.

Uploading Screen Recording 2022-08-27 at 21.30.23.mov…

### What you expected to happen

I expect that when I set a new connection, the new connection would be selected automatically

### How to reproduce

- go to connect to GitHub page
- if you don't have a connection, connect one
- then set a conn

[2022-08-27 18:56] abrl91 opened #3601 "🐛 Bug Report: Sync with GitHub selector - `chevron_down` icon position is not permanent"
### What happened?

Sync with GitHub selector - `chevron_down` icon position is not permanent
<img width="695" alt="Screen Shot 2022-08-27 at 21 46 03" src="https://user-images.githubusercontent.com/39680385/187044242-72d82153-1994-4354-a5f9-a9216d600435.png">
<img width="692" alt="Screen Shot 2022-08-27 at 21 47 05" src="https://user-images.githubusercontent.com/39680385/187044243-d7fd68a2-c4ea-4

[2022-08-27 19:14] abrl91 opened #3602 "🐛 Bug Report: Last commit and commit loader is hanging although the process finished"
### What happened?

Last commit and commit loader is hanging, although the process is finished.

https://user-images.githubusercontent.com/39680385/187044730-149fb5e9-0e0f-42a0-9afe-52a594e64a71.mov

### What you expected to happen

I expect that the loader disappears when the process is finished, and I will not have to click on something or refresh

### How to reproduce

Create a service OR make

[2022-08-27 19:37] abrl91 opened #3603 "🐛 Bug Report: Sync with GitHub with more than one workspace causing strange behavior"
### What happened?

when trying to sync with GH in another workspace, we have to configure, disconnect the organization and connect again

<img width="599" alt="Screen Shot 2022-08-27 at 22 22 26" src="https://user-images.githubusercontent.com/39680385/187045145-36034f08-01f7-497b-ab71-033ec1e43680.png">

Then, the current workspace is synced with the organization we configured, disconnected, and

[2022-08-27 19:53] abrl91 opened #3604 "🐛 Bug Report: Sync with GitHub selector is not aligned with the design"
### What happened?

Sync with GitHub selector is not aligned with the design:
- The `hr` should be thinner and lighter.

<img width="344" alt="Screen Shot 2022-08-27 at 22 02 53" src="https://user-images.githubusercontent.com/39680385/187045649-5ca64734-edad-43e7-b163-1191ddd0e9b1.png">

### What you expected to happen

It should look as follows:

[code]

### How to reproduce

Go to sync with GitH

[2022-08-27 19:57] abrl91 commented on #3604
@alexbass86 should we provide a link to Figma?

[2022-08-28 02:45] Himanxu1 commented on #3520
Thanks for assigning me .

[2022-08-28 02:49] Himanxu1 commented on #3604
Assign this to me

[2022-08-28 04:05] Himanxu1 commented on #3523
okay @yuval-hazaz

[2022-08-28 04:13] Himanxu1 commented on #3578
done

[2022-08-28 04:13] #3578 closed

[2022-08-28 05:45] orlandoortegajr commented on #3601
Hi @abrl91 👋, I found a solution to this issue and submitted a PR for it. Let me know what you think 😃

[2022-08-28 06:53] abrl91 opened #3606 "🐛 Bug Report: Disconnect an organization is not reflected in the organizations selector"
### What happened?

In sync with GitHub page, when a user disconnects an organization, it is not reflected in the selector

![image](https://user-images.githubusercontent.com/39680385/187061341-6bb90df2-3956-489c-924c-8dc61ea6bff6.png)

### What you expected to happen

I expect that when a user disconnects an organization, it will not appear in the selectordisconnects

### How to reproduce

- go t

[2022-08-28 06:55] abrl91 commented on #3604
Done

[2022-08-28 09:32] morhag90 commented on #3437
@tupe12334 can we close this issue?

[2022-08-28 09:50] tupe12334 commented on #3437
@morhag90 Yes

[2022-08-28 09:50] #3437 closed

[2022-08-28 10:27] morhag90 commented on #3471
@tupe12334, @EugeneTseitlin Can you give us an update about this issue?
Thanks

@alexbass86

[2022-08-28 10:36] morhag90 commented on #3471
@tupe12334 @EugeneTseitlin  I fixed the icon in service wizard on another branch

[2022-08-28 10:46] morhag90 commented on #3435
@tupe12334  Can you give us an update, please?

[2022-08-28 10:47] morhag90 commented on #3434
@EugeneTseitlin Can we close this issue?

[2022-08-28 10:50] morhag90 commented on #3062
@tupe12334  Can we close this issue?

[2022-08-28 10:51] #3166 closed

[2022-08-28 10:52] morhag90 commented on #3260
@abrl91  Can we close this issue?

[2022-08-28 10:53] morhag90 commented on #3426
@EugeneTseitlin Can we close this issue?

[2022-08-28 10:53] morhag90 commented on #3428
@EugeneTseitlin Can we close this issue?

[2022-08-28 10:54] morhag90 commented on #3429
@EugeneTseitlin Can we close this issue?

[2022-08-28 10:54] #3348 closed

[2022-08-28 11:26] #3062 closed

[2022-08-28 11:27] #3435 closed

[2022-08-28 11:48] #1296 closed

[2022-08-28 11:50] alexbass86 commented on #1296
In our new design, we changed many problematic areas with accessibility & overall design issues, so let's make sure we put the exact colors we have in the new design.

[2022-08-28 11:51] #1879 closed

[2022-08-28 11:52] alexbass86 commented on #2474
Please close this issue if it's not relevant any longer @MoFoGo

[2022-08-28 11:54] alexbass86 commented on #2730
@souravjain540 @tupe12334 please give an update.

[2022-08-28 11:55] alexbass86 commented on #2733
@souravjain540, any update regarding this issue?

[2022-08-28 11:56] alexbass86 commented on #2892
Since the latest UI change, we don't support tabs, so this issue is irrelevant.

[2022-08-28 11:56] #2892 closed

[2022-08-28 11:58] alexbass86 commented on #2943
@abrl91 Is any update regarding the custom icon/color

[2022-08-28 11:59] alexbass86 commented on #2952
@abrl91 Please provide an update regarding this issue or, if not relevant any longer, close it

[2022-08-28 12:14] #3589 closed

[2022-08-28 12:14] #3430 closed

[2022-08-28 12:15] #2904 closed

[2022-08-28 12:15] #2352 closed

[2022-08-28 12:17] #3471 closed

[2022-08-28 12:39] alexbass86 opened #3610 "🐛 Bug Report: Commit card - Update components view"
### What happened?

We figured out that the current look and behavior of the commit card aren't working as we thought it would work, and currently, it's not clear enough where the action buttons are and what is the next step in the user flow.

**Old** - we have three action buttons here (icon, changes, view log)
It's tough to understand that this is clickable, and it's different from other look-a-

[2022-08-28 12:44] alexbass86 commented on #3066
@tupe12334 any update?

[2022-08-28 12:47] tupe12334 opened #3611 "🐛 Bug Report: Unnecessary @types/ora"
### What happened?

We install the @types/ora package but dont need to because @types/ora export its own types

### What you expected to happen

not relevant

### How to reproduce

not relevant

### Amplication version

0.15.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-08-28 12:47] alexbass86 commented on #3519
We removed the ability to change color. From v15, we will have dedicated color for each service in the system.

@tupe12334 please make sure the color selection feature will be removed asap.

[2022-08-28 12:59] abrl91 commented on #2952
This is a question for the product. I'm not sure how and what we want to do it right now with the new hierarchy
@yuval-hazaz

[2022-08-28 13:04] abrl91 commented on #2943
We decided to postpone this task.
I used our icon, but then we realized that it requires us to take care of the business logic regarding the red dot when there are new notifications

[2022-08-28 13:05] abrl91 commented on #3260
Fixed by https://github.com/amplication/amplication/pull/3554

[2022-08-28 13:05] #3260 closed

[2022-08-28 13:27] alexbass86 commented on #3597
@abrl91 let's just write "no commits yet" @MoFoGo, what is the best copy for this case?
![entity_card](https://user-images.githubusercontent.com/96179897/187076301-9f03120f-9862-4380-b761-969534a5bfa1.png)

[2022-08-28 13:29] alexbass86 commented on #3596
We decided to go with a popup here, the design link.
https://www.figma.com/file/5sHyIRe07OTZgclArq7y3i/%232430---User-profile?node-id=111%3A6742

No changes
![No changes](https://user-images.githubusercontent.com/96179897/187076388-56e76220-0e38-49d6-9b58-d4a8b1cde561.png)

With changes
![With changes](https://user-images.githubusercontent.com/96179897/187076394-2602d16f-2dc2-40e8-8324-013e1c99f6b

[2022-08-28 13:55] yuval-hazaz commented on #3610
@alexbass86 can you please update the screenshot with the recent changes as we discussed?

[2022-08-28 13:58] yuval-hazaz commented on #3519
Thanks @alexbass86 , you are correct.

It will require some changes on the API also - do not change the DB schema, please.

@Shubhdeep12 can you handle that?

[2022-08-28 14:13] alexbass86 commented on #3437
@tupe12334 @morhag90 Are you sure that this has been fixed with the design values? From what I see, the hover is different than the design...

[2022-08-28 14:39] tupe12334 commented on #3066
@alexbass86 We no longer have this button in our system, so I close this issue.

[2022-08-28 14:39] #3066 closed

[2022-08-28 14:48] tupe12334 commented on #3519
@Shubhdeep12 and @yuval-hazaz, I will take it because @alexbass86 requested to solve that ASAP

[2022-08-28 15:32] Shubhdeep12 commented on #3519
Sure @tupe12334 . Please go ahead.

[2022-08-28 15:34] #2458 closed

[2022-08-28 17:16] abrl91 opened #3613 "🐛 Bug Report: Last commit and its status is looking odd"
### What happened?

The status is not aligned with the text because there is insufficient space.

![image](https://user-images.githubusercontent.com/39680385/187086265-3de06796-48a6-4111-b145-29cc81f83991.png)

### What you expected to happen

I expect to cleaner look and design.
The new design (screenshot from Figma)
![image](https://user-images.githubusercontent.com/39680385/187086462-527be9d3-f

[2022-08-28 19:05] Prajnaprabhu3 opened #3615 "Adding & improving links in the README header"
## Enhancing the links in the README header

#### I was going through the README and felt the links to Docs and Twitter could be changed a bit. And additional links can be  added

![image](https://user-images.githubusercontent.com/74554892/187089937-9c9d20f8-218f-4de5-ba06-2861a69336a4.png)

### Use case

![image](https://user-images.githubusercontent.com/74554892/187090212-2f916571-79fc-409c-909b

[2022-08-28 20:14] arielweinberger commented on #3615
I actually like your suggestion quite a bit. Feel free to submit a PR!

I personally liked #2 (bullet points) in between most.

@yuval-hazaz What do you think?

[2022-08-29 05:39] souravjain540 commented on #3615
I liked the first one

[2022-08-29 05:40] #3611 closed

[2022-08-29 07:00] abrl91 commented on #3613
Fixed by https://github.com/amplication/amplication/pull/3614

[2022-08-29 07:00] #3613 closed

[2022-08-29 07:07] samanteymoori commented on #3600
Hi @abrl91 It's nice to meet you, it's my first time as a contributor  I like to start with this issue so I would be happy to help if you could assign me this task

[2022-08-29 07:11] abrl91 commented on #3600
Hey @samanteymoori Nice to meet you too 😃 Good luck!

[2022-08-29 07:59] MatanForU opened #3616 "🐛 Bug Report: icon is stretched and not circle as the rest"
### What happened?

looks like the icon got a little bit of stretch
<img width="321" alt="Screen Shot 2022-08-29 at 10 56 09" src="https://user-images.githubusercontent.com/8940907/187152914-52d274ab-1ff8-4b78-aa8c-b30febea838e.png">

### What you expected to happen

i guess it suppose to be a circle

### How to reproduce

.

### Amplication version

0.15.0

### Environment

_No response_

### Are

[2022-08-29 08:01] souravjain540 commented on #3616
Thanks for reporting it @MatanForU  💜

Glad to see you here again :)

please confirm it @alexbass86

[2022-08-29 08:06] arielweinberger commented on #3616
Duplicate of #3579

[2022-08-29 08:06] #3616 closed

[2022-08-29 08:08] MatanForU opened #3617 "🐛 Bug Report: Pending changes panel -hover on the bottom buttons"
### What happened?

Hover state on the compare and discard changes icons are in the bottom of the button, we can't see it unless i scroll down, it should be above the icon.
<img width="240" alt="Screen Shot 2022-08-29 at 11 02 14" src="https://user-images.githubusercontent.com/8940907/187154223-74227a1c-36e0-4e60-924d-efa9d6a6ca06.png">

### What you expected to happen

should be above the icon so

[2022-08-29 08:12] souravjain540 commented on #3617
@arielweinberger @alexbass86  have a look

[2022-08-29 08:28] tupe12334 commented on #3597
@alexbass86 Can you please provide a link to this Figma design?

[2022-08-29 08:39] abrl91 commented on #3597
it looks like the same font and color as the service description

ןא

[2022-08-29 08:50] alexbass86 commented on #3617
Thanks, @MatanForU , you're right. This is a bug, and the tooltip should appear on top of the icon without affecting the whole container. Also, we currently have two scroll bars without any reason. Please make sure to hide them if there is no need for them. And ensure the color of the scroll bar is aligned with the design.

[2022-08-29 08:52] arielweinberger commented on #3617
@yuval-hazaz Please prioritize

[2022-08-29 08:58] morhag90 opened #3619 "🐛 Bug Report: Analytics doesn't work after routes refactor"
### What happened?

After the refactor of the routes, the analytics doesn't work as before on all the relevant paths.

### What you expected to happen

Analytics will work as before

### How to reproduce

open the network => filter by hubspot
Go to resource page: in the network, you will not see an event called: resourceCardClick .

### Amplication version

0.15.1

### Environment

_No response_

[2022-08-29 09:56] CoderCatcher commented on #2733
Hello @souravjain540  can you assign me this issue

[2022-08-29 10:00] CoderCatcher commented on #2733
hello @souravjain540  can you assign me this issue

[2022-08-29 10:01] souravjain540 commented on #2733
sure @CoderCatcher

[2022-08-29 10:49] #3597 closed

[2022-08-29 10:58] tupe12334 opened #3622 "Custom user color removal"
We need to remove the option from the user of selecting a custom color for a resource.
From now on, the color will be selected by the resource type.
![Screen Shot 2022-08-29 at 13 58 13](https://user-images.githubusercontent.com/61761153/187186436-d91b433c-2406-42c1-a11b-1c7a9b45598b.png)
This change effecting the client, server, dtos, and the DB

[2022-08-29 11:02] abrl91 commented on #3586
Fixed by https://github.com/amplication/amplication/pull/3594

[2022-08-29 11:02] #3586 closed

[2022-08-29 11:10] tupe12334 opened #3624 "Unused `ApplicationBadge` component"
We have the `client/src/Resource/ApplicationBadge.tsx` component but it is not in use. We can remove it.

[2022-08-29 11:20] #3619 closed

[2022-08-29 11:21] #3588 closed

[2022-08-29 11:35] abrl91 commented on #3602
Fixed by https://github.com/amplication/amplication/pull/3621

[2022-08-29 11:35] #3602 closed

[2022-08-29 12:03] Himanxu1 commented on #3624
Assign this to me .
in version 0.15.1 ??

[2022-08-29 12:05] tupe12334 commented on #3624
Yes @Himanxu1, it's 0.15.1, have a good luck

[2022-08-29 12:09] tupe12334 commented on #2730
I think @souravjain540 will know, he is assigned to this issue

[2022-08-29 12:12] Himanxu1 commented on #3624
I also have to delete the css file ?? @tupe12334

[2022-08-29 12:16] tupe12334 commented on #3189
This has been fixed in #3354

[2022-08-29 12:16] #3189 closed

[2022-08-29 12:18] #3440 closed

[2022-08-29 12:20] tupe12334 commented on #3519
I elaborated more on that in #3622

[2022-08-29 12:20] #3519 closed

[2022-08-29 12:32] arielweinberger commented on #3141
Released in 0.15.0

[2022-08-29 12:32] #3141 closed

[2022-08-29 12:33] #2961 closed

[2022-08-29 12:34] arielweinberger commented on #3250
Removing the 0.15.0 from this one. @souravjain540 I think we could let the community pick this up.

[2022-08-29 12:44] #3579 closed

[2022-08-29 12:49] #3472 closed

[2022-08-29 12:50] #3439 closed

[2022-08-29 13:23] Himanxu1 opened #3630 "🐛 Bug Report:"
### What happened?

Workspace icon is looking bad if the length of the workspace name is longer .

![issue32](https://user-images.githubusercontent.com/80101755/187211069-75cf8ebc-e543-4373-a888-70a8760b609f.PNG)

### What you expected to happen

Should be looking nice

### How to reproduce

just go to workspace and create new with a longer length

### Amplication version

_No response_

### Envir

[2022-08-29 14:40] #3105 closed

[2022-08-29 14:45] EugeneTseitlin opened #3632 "Merge changes regarding Build Pull Request with master"

[2022-08-29 14:45] EugeneTseitlin opened #3633 "Improve Code Build running time"
Currently Code Build process takes more than a minute, we're trying to get it down to a couple of seconds.

[2022-08-29 14:45] EugeneTseitlin opened #3634 "Obtain Build logs from DSG"
DSG produces logs about generation steps. It would be nice to show them at build log page.

[2022-08-29 14:47] EugeneTseitlin opened #3635 "Update Build creation time at Commit page"
![image](https://user-images.githubusercontent.com/6080188/187476375-68accf34-44be-4d27-85c5-aa5ce8852a1e.png)
Currently add to queue task and generation are shown with zero duration time. These durations should greater than zero.

[2022-08-29 14:47] EugeneTseitlin opened #3636 "Fix Build Step Duration in Build Log"
![image](https://user-images.githubusercontent.com/6080188/187476941-7e625db9-3d14-4507-be27-7fcd9114a800.png)
Build duration is not updated within time, it stuck with the same value.

[2022-08-29 16:08] muhsinkamil commented on #3585
Hey @tupe12334 I can look this up

[2022-08-29 16:33] Prajnaprabhu3 commented on #3615
should I go with 1st or 2nd ?

[2022-08-29 18:49] tupe12334 commented on #3585
Yes of course @muhsinkamil

[2022-08-30 05:28] yuval-hazaz commented on #3615
I also vote for 1 - with pipes |

[2022-08-30 05:29] souravjain540 commented on #3615
@Prajnaprabhu3 go with number 1

[2022-08-30 05:33] yuval-hazaz commented on #3636
@EugeneTseitlin please add details and assign to a project

[2022-08-30 05:34] yuval-hazaz commented on #3635
@EugeneTseitlin please add details and assign to a project

[2022-08-30 05:34] yuval-hazaz commented on #3634
@EugeneTseitlin please add details and assign to a project

[2022-08-30 05:35] yuval-hazaz commented on #3633
@EugeneTseitlin please add details in a assign to a project

[2022-08-30 05:35] yuval-hazaz commented on #3632
@EugeneTseitlin please add details and assign to a project

[2022-08-30 05:57] alexbass86 commented on #3610
@arielweinberger let's try to push this change to 15.2

[2022-08-30 06:08] alexbass86 opened #3638 "🐛 Bug Report: Commit page - Wrong padding between selection"
### What happened?

Wrong padding between selections in our commit screen.
Let's ensure we have a padding of 8px between each commit selection.

Bad:
![image](https://user-images.githubusercontent.com/96179897/187361738-79e2711d-0396-44e0-ba09-8517a8b9af04.png)

How it should be:
![image](https://user-images.githubusercontent.com/96179897/187361821-6219e081-30a4-4c48-bfdb-300170f25437.png)

Also,

[2022-08-30 06:09] #3624 closed

[2022-08-30 06:59] yuval-hazaz commented on #3051
closed in #3222

[2022-08-30 06:59] #3051 closed

[2022-08-30 07:05] alexbass86 opened #3639 "🐛 Bug Report: Inner side menu - Size issues with logo, State color, missing version number"
### What happened?

After the latest change, our side menu icon size changed from 32px to 24px. Except for the size, we also changed the behavior a bit, and please make sure that the hover icon changes from grey to white. We have white both on selected and hovered.

Bad:
![image](https://user-images.githubusercontent.com/96179897/187372139-885475f0-83dc-40f3-bcce-7dc211826a9d.png)

How it should b

[2022-08-30 07:08] yuval-hazaz opened #3640 "Improve the location of ignored files in the .amplication folder"
### Feature description

Amplication includes an undocumented experimental feature that allows the user to create a `.amplicationignore` file and instruct the platform to ignore specific files when syncing code with GitHub.

See this issue for details - #3222

After some tests and usage by beta users, we decided to improve the functionality based on the feedback and make this feature publicly avai

[2022-08-30 07:09] yuval-hazaz commented on #3640
@MoFoGo this will go into one of the next releases and should be included in the doc for v1.

[2022-08-30 07:21] alexbass86 opened #3641 "🐛 Bug Report: Top menu fast nav - Wrong padding, font-weight, dropdown"
### What happened?

The current look and behavior of our "Top menu fast nav" look different than the original design. Please align it.

**Wrong padding, font weight:**
![image](https://user-images.githubusercontent.com/96179897/187372674-39a3f135-9676-44bd-a6c0-e485e1b6f267.png)

**How it should look:**
![image](https://user-images.githubusercontent.com/96179897/187372727-534fd845-f49f-433c-8f7e-0

[2022-08-30 08:02] arielweinberger opened #3642 "Improve GitHub App Docs"
There are currently two issues with our GitHub Apps.

1. The [Connect Amplication server to GitHub](https://docs.amplication.com/docs/connect-server-to-github/) documentation page has semantic errors. It uses the terminology `GitHub App` but it is actually related to `OAuth App`. Please fix that.
2. The [Sync with GitHub](https://docs.amplication.com/docs/sync-with-github/) documentation page only

[2022-08-30 08:19] alexbass86 opened #3643 "🐛 Bug Report: Side commit component - Wrong font size, padding, scrollbar, color, text length"
### What happened?

We did many changes to our commit component. Some of the changes didn't implement as planned.
Let's align it to the design.

**Title font size:**
![image](https://user-images.githubusercontent.com/96179897/187377926-860e957f-c5be-4c22-b45f-a6984f847aee.png)

How it should be:
![image](https://user-images.githubusercontent.com/96179897/187377990-36e62328-59a7-4183-9511-75ab58925

[2022-08-30 10:06] alexbass86 opened #3644 "🐛 Bug Report: Button - Not aligned with the new design"
### What happened?

We must align all our buttons in the system to our new visual language.

This is how it currently looks:
![image](https://user-images.githubusercontent.com/96179897/187409335-039b439c-45ae-4dab-8c83-c8efc9a6f8ff.png)

![image](https://user-images.githubusercontent.com/96179897/187409376-84fdf87e-3de1-49f9-adcb-5954c189923c.png)

![image](https://user-images.githubusercontent.co

[2022-08-30 12:01] arielweinberger opened #3645 "🐛 Bug Report: Project Configuration Base Directory not applied to Child Services"
### What happened?

The Base Directory set in the Workspace Project Configuration Settings seems to be ignored by child services.

### What you expected to happen

My expectation is that if I set the base directory to `/apps` in the root Project Configuration Settings, any child app will be generated under this path. Instead, it's generated at the repo's root.

This can interfere with users who wa

[2022-08-30 12:03] arielweinberger commented on #3645
@yuval-hazaz Can you please confirm it is indeed a bug, and if so, prioritize as needed?

[2022-08-30 12:21] tupe12334 commented on #3624
@abrl91 Are you agreeing with this issue, I want to know before someone is merging the PRs

[2022-08-30 12:28] alexbass86 opened #3647 "🐛 Bug Report: Loader - Lets replace our circular loader with a new one"
### What happened?

We currently have a basic loader in our system that does not represent our new visual language.
Let's change it with a new one.

**Old**
![image](https://user-images.githubusercontent.com/96179897/187435736-2b3ecb01-9b24-4590-8ee0-4c475a5d7621.png)

**New**
https://app.lottiefiles.com/share/159cb0bb-5b16-4aa7-a3e5-aa35df2e8007

**Example**
![main loading](https://user-images.gi

[2022-08-30 12:41] tupe12334 opened #3648 "Adding the resource name to the PR title"
### Feature description

When you press the build and Amplication opens your PRs, we need to add an identifier to the title of the PR.
Now its looks like `Amplication build hko72mr9`
We need to change that.
@yuval-hazaz Please comment below as the product want do you want to change it to.

[2022-08-30 12:43] alexbass86 opened #3649 "🐛 Bug Report: Project configuration - UI Problems (Padding, icon, height, text color, text size)"
### What happened?

We need to ensure all pages in our system have the same padding values to prevent strange visual jumps and inconsistency.

**Bad:**
![image](https://user-images.githubusercontent.com/96179897/187437473-06ad251b-ec35-4dc1-9308-4736427486ab.png)

**How it spouse to be:**
![2  Project Settings](https://user-images.githubusercontent.com/96179897/187437934-1d92a64d-c4c2-4a81-aedd-7a

[2022-08-30 12:47] tupe12334 opened #3650 "ENV port for server in the UI"
### Feature description

We need to provide the user with an option to change the resource server port.
We need to make sure that you remember to change the Dockerfile expose part, the client source part, and the .env file

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-30 12:49] tupe12334 commented on #3650
@yuval-hazaz  and @alexbass86, Please have a look at that.
It's important to notice that its essential to the work with microservices inside a monorepo

[2022-08-30 12:51] arielweinberger opened #3652 "🐛 Bug Report: Generated app `SERVER_PORT` and `PORT` env variables used inconsistently"
### What happened?

# The Problem
Currently, in a generated app's `.env` file, we have an environment variable called `SERVER_PORT`. This is inconsistent with the `PORT` environment variable expected by the server. Basically, there is no easy way to change the server port via `.env`. Instead it has to be manually changed in the `main.ts` file.

# Proposed Solution
We need to be consistent.

1. Mod

[2022-08-30 12:51] arielweinberger commented on #3652
@yuval-hazaz Please prioritize

[2022-08-30 12:56] alexbass86 opened #3653 "🐛 Bug Report: Resource card - UI Problems"
### What happened?

We have some minor problems with our current resource card.

1. Name - we should only support 50 characters.
2. Description - We should support only 180 characters.
3. Hover - on hover, the divider disappears. Please align both states with the design.
4. Badge - The badge becomes broken if the name has two rows. This probably will not happen when we disable the amount of charac

[2022-08-30 13:39] alexbass86 opened #3654 "🐛 Bug Report: Workspace settings/members - UI Issues + Bugs"
### What happened?

When we go to Workspace settings/members, we should see the commit component currently. It looks broken, so please ensure this page is aligned with the design.

**Bad**
![screencapture-app-amplication-ckx7g7jcr210491bs6y595a5d1-settings-2022-08-30-16_32_56](https://user-images.githubusercontent.com/96179897/187450627-4deca5bc-8b32-4b78-a4d8-7b9cc9af265a.png)

![screencapture-ap

[2022-08-30 13:49] arielweinberger opened #3655 "🐛 Bug Report: Admin UI base directory setting visible even if Admin UI is disabled"
### What happened?

I don't expect to see the Admin UI area in the Base Directory setting if it is disabled.
<img width="760" alt="Screenshot 2022-08-30 at 15 49 12" src="https://user-images.githubusercontent.com/4976416/187454453-06cb9ac8-db31-4609-a05d-95ab850ec714.png">

### Amplication version

0.15

[2022-08-30 14:35] abrl91 commented on #3624
approved

[2022-08-30 14:35] tupe12334 commented on #3650
@alexbass86 As of today, we don't have a port input in the service settings, I think we need to add one.
I need to know if @yuval-hazaz Wants to add this option, if so, then we need to think about where to put it.

[2022-08-30 14:39] MatanForU opened #3657 "🐛 Bug Report: when trying to exit 'create new workspace' it shows a typo error"
### What happened?

When clicking the X it shows a typo error and the icon is not aligned to the center
<img width="605" alt="Screen Shot 2022-08-30 at 17 34 36" src="https://user-images.githubusercontent.com/8940907/187466006-c92b2dd0-2e00-4fd7-8771-184f0309f780.png">

### What you expected to happen

it shouldn't show it

### How to reproduce

.

### Amplication version

0.15.2

### Environment

[2022-08-30 14:48] tupe12334 opened #3658 "react-command-palette update"
In the amplication-client we use the `react-command-palette` lib. We can update it, add the @types/react-command-palette and remove the @ts-ignore comments in `/packages/amplication-client/src/CommandPalette/CommandPalette.tsx`.

[2022-08-30 15:24] tupe12334 opened #3659 "Pull request embedded link is broken"
The link we put inside the PR message is not pointing anymore to the Resource page, it's broken.

https://user-images.githubusercontent.com/61761153/187476917-5855ed38-a2fa-4f2b-a6ed-c6d6b66cff63.mov

[2022-08-30 17:19] #3089 closed

[2022-08-30 17:35] #3636 closed

[2022-08-30 19:08] yuval-hazaz opened #3660 "Remove deleted files from GitHub"
### Feature description

When files that were generated in the previous build are no longer included in a new build, they should be removed from GitHub. The PR that is created with any new or changed files should also include deleted files.

### Use case

A user is generating a build that does not include some files that were previously included in the build - for example, an entity is deleted, an

[2022-08-31 02:01] Himanxu1 opened #3661 "🐛 Bug Report: Get started button is not working properly"
### What happened?

https://user-images.githubusercontent.com/80101755/187576177-3cf097c7-9265-4d06-8fdc-c392a4f3cde1.mp4

### What you expected to happen

Should be working properly

### How to reproduce

Just go to the website and click get started

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-08-31 04:32] Himanxu1 commented on #3598
assign this to me .

[2022-08-31 04:51] Himanxu1 opened #3663 "🐛 Bug Report: Hover problem on component"
### What happened?

https://user-images.githubusercontent.com/80101755/187594865-72f72911-5b93-43cc-aa27-b997dd649ed9.mp4

### What you expected to happen

Should be working properly

### How to reproduce

see above

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-31 06:50] souravjain540 commented on #3661
@alexbass86 please review this

[2022-08-31 06:55] souravjain540 commented on #3657
@alexbass86 please accept/reject this

[2022-08-31 06:56] #3459 closed

[2022-08-31 06:57] alexbass86 commented on #3657
You are right, and it's a bug.

[2022-08-31 07:07] Himanxu1 commented on #3661
@souravjain540  Hey i think the button is working now ! but i don't know why it is not working at that time .
Should I close this issue?

[2022-08-31 08:29] MatanForU commented on #3663
duplicated #3617

[2022-08-31 09:34] Prajnaprabhu3 commented on #3615
will submit a PR by eod

[2022-08-31 11:23] alexbass86 opened #3664 "🐛 Bug Report: Blank screen on refresh - undefined"
### What happened?

If you are doing a refresh in chrome, we receive a blank screen without any way to return to our main project screen as the logo link redirected us back to the blank screen and not to the main project screen.

Video:
https://user-images.githubusercontent.com/96179897/187667725-64faedcd-f25f-456a-ba99-8c51a9064986.mp4

### What you expected to happen

We should see the commit co

[2022-08-31 11:59] morhag90 opened #3665 "🐛 Bug Report: Can not delete service that connected to GitRepository directly (override settings)"
### What happened?

When I try to delete a service resource that is connected to GitRepository with override settings, I get an error from Prisma, and the service isn't deleted:

Invalid `this.prisma.gitRepository.delete()` invocation in [X] ; 226 if (gitRepo) { → 227 await this.prisma.gitRepository.delete( Foreign key constraint failed on the field: `Resource_gitRepositoryId_fkey (index)`

### Wh

[2022-08-31 12:50] aakankshadhurandhar commented on #3250
@souravjain540 Can you please assign me this issue?

[2022-08-31 12:50] souravjain540 commented on #3250
done @aakankshadhurandhar

[2022-08-31 12:57] MoFoGo opened #3667 "Docs: Document ignored files in the Amplication folder"
### Describe the issue with documentation

The ignored files have not been a documented feature.
It has now been decided that this feature should revealed to users.

### How to solve the problem

Create documentation.

Refer to   #3640

### Are you willing to submit PR?

_No response_

[2022-08-31 13:07] MoFoGo opened #3668 "Docs: Add-ons"
### Describe the issue with documentation

The new addon feature needs to be documented.

### How to solve the problem

Write documentation for the new features:
UI - using the addons
Developers - how to create and publish an addon

### Are you willing to submit PR?

_No response_

[2022-08-31 13:17] EugeneTseitlin opened #3670 "🐛 Bug Report: Gap between main section and Pending Changes"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/187687150-fa77fd3f-0074-4396-9157-6297c232b007.png)
Gap between main section and Pending Changes is bigger than required
It's 32px instead of 16px.

### What you expected to happen

Gap should be 16px.

### How to reproduce

0.15.2

### Amplication version

_No response_

### Environment

_No response_

### Are you will

[2022-08-31 13:17] yuval-hazaz opened #3671 "Move static auth files in DSG to Auth module"
### Feature description

Currently, all the static files of the auth modules are copied from the root folder of the server as-is.
When using plugins, we may want to skip the default behavior and we don't want the provider files to be copied.

Instead of copying the files at the root, we need to copy the files only when the auto module is running.

### Use case

_No response_

### Are you willing t

[2022-08-31 13:49] Himanxu1 commented on #3663
Should I delete this issue ?

[2022-08-31 14:18] #3643 closed

[2022-08-31 15:46] #3665 closed

[2022-08-31 16:09] AlexVCS commented on #1853
Hi @tupe12334 I went to that file and added SwaggerCustomOptions but what did you want inside of that? Thanks

[2022-08-31 18:24] yuval-hazaz commented on #3648
We are working on several changes in this area, including a single PR for all resources.
I will close this issue for now, and if needed once we complete working on the branching strategy we will review again

[2022-08-31 18:24] #3648 closed

[2022-08-31 18:39] yuval-hazaz commented on #3653
@alexbass86

Why? is that just for UI purposes, or is there any other reason? I don't want to block the user for no reason. I understand we can limit the length of the name and should not allow any length, but why 50?
For example, we are using today a service called "amplication-git-pull-request-service" - 36 chars. 50 is too little, in my opinion.
The limit should include all extreme scenarios. A

[2022-08-31 18:44] yuval-hazaz commented on #3661
yes, let's close this. thanks

[2022-08-31 18:44] #3661 closed

[2022-08-31 18:46] yuval-hazaz commented on #3617
yes, please go ahead and fix it

[2022-08-31 18:46] yuval-hazaz commented on #3663
Thanks, I will close as duplicate

[2022-08-31 18:46] #3663 closed

[2022-08-31 18:48] yuval-hazaz opened #3675 "After signup, the user should land on the service creation wizard instead of the project page"
### Feature description

When a user signs up (enter the platform for the first time) they should land on the service creation wizard instead of the project page.
,

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-08-31 18:56] yuval-hazaz commented on #3668
@MoFoGo please use the term plugin

[2022-08-31 19:04] yuval-hazaz opened #3676 "Add details how to create a repo when the `Create Repo` is not avialable"
### Feature description

When a user connects with an organization account, they have an option to create a repo from Amplication UI.

but, when a user connects with a personal account, they only have an option to connect to an existing repo.

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/43705455/187761089-10c32dfc-2cfc-4eda-a42f-4dc8b5102507.png">

We need to help

[2022-08-31 19:20] Himanxu1 commented on #3657
assign this to me. @yuval-hazaz

[2022-08-31 19:25] Himanxu1 commented on #3657
should I have to made a PR on release/0.15.3 ?
@souravjain540

[2022-09-01 05:38] alexbass86 commented on #3653
@yuval-hazaz Okay, so let's allow them to write as many characters they wish, but hide it with the "show more" button this way, we don't mess up with the UI yet still allow them the freedom to write how many characters they need.

Something like
![Group 1698](https://user-images.githubusercontent.com/96179897/187839471-0219a9fe-a4a1-4062-be6d-036f21f0cecc.png)
 that

[2022-09-01 05:43] yuval-hazaz commented on #3653
ok, thanks @alexbass86
I will move to "ready for dev"

[2022-09-01 07:20] tupe12334 commented on #3650
I think we need to use a different port for each service by default and let them the option to change that in the UI

[2022-09-01 07:21] tupe12334 commented on #3658
Yes @Himanxu1 good luck

[2022-09-01 07:44] abrl91 commented on #3577
Fixed by https://github.com/amplication/amplication/pull/3599

[2022-09-01 07:44] #3577 closed

[2022-09-01 10:11] abrl91 opened #3679 "🐛 Bug Report: Build status doesn't indicate the correct status when the resource is synced with GitHub"
### What happened?

 Build status doesn't indicate the correct status when the resource is synced with GitHub.
The build status represents only the status of the code generation step and not the status of the 'push to GitHub' step.
As a result, when a service is synced with GitHub, the user doesn't get an indication if the 'push to GitHub' step fails.

### What you expected to happen

1. I expect

[2022-09-01 11:11] souravjain540 commented on #3316
your name and email? @cool-coder-here

[2022-09-01 11:21] souravjain540 commented on #3397
your email @ParkourKarthik ?

[2022-09-01 13:44] ParkourKarthik commented on #3397
parkourkarthik@gmail.com

[2022-09-02 06:39] cool-coder-here commented on #3316
It's Rasmi Mohapatra and Mail will be rbm.psy@gmail.com
@souravjain540

[2022-09-02 10:23] yuval-hazaz opened #3681 "Refactor Resource Service"
The resource service is currently providing methods to create resources of the type `Service` using the terminology `CreateResource`

To allow a more dynamic approach where we can create different types of resources, we need to create a generic method for creating a resource, which will be called for specific implementations of Create[ResourceType] like `CreateService`, `CreateMessageBroker` etc

[2022-09-02 11:19] jainpawan21 opened #3685 "🐛 Bug Report: right sidebar is going right on delete key press"
### What happened?

When a user try to edit code by pressing backspace/delete button, a warning is shown but right side bar is moving right with every key press.

https://user-images.githubusercontent.com/39362422/188128675-371970b5-21d5-480e-8a67-2cdde69578f8.mov

### What you expected to happen

It should not move

### How to reproduce

Go to code view page of any project
click on any file
now t

[2022-09-02 11:42] jainpawan21 opened #3686 "🐛 Bug Report: field level granular permission is missing in delete action"
### What happened?

See in this 👇🏻 screenshot, all others action has option to customise field level granular permission but delete action is missing
<img width="891" alt="Screenshot 2022-09-02 at 5 02 37 PM" src="https://user-images.githubusercontent.com/39362422/188131891-b45aa737-16e4-435f-bf8c-6bc9bc2a1d42.png">

### What you expected to happen

It should be there in delete action also

### Ho

[2022-09-02 11:49] arielweinberger commented on #3686
Hey @jainpawan21 I am not sure if I understand. I see I'm able to attach granular permissions on the Update operation, and I also see this option in your screenshot. Can you elaborate?

[2022-09-02 12:22] jainpawan21 commented on #3686
Hi @arielweinberger, by mistake I typed update. This should be delete. I updated everywhere

[2022-09-02 13:26] SaadAnsari17 opened #3690 "Image in the docs should be rotated."
### Describe the issue with documentation

The middle div image(Nestjs) makes it harder to read the contents inside it
![image](https://user-images.githubusercontent.com/94478736/188155774-aaf81cca-1e03-4878-9e35-0bbb829e4904.png)

### How to solve the problem

The middle div image(Nestjs) should be rotated in order to make it easily readable.

### Are you willing to submit PR?

Yes I am willing t

[2022-09-02 14:15] arielweinberger commented on #3690
@alexbass86 What do you think?

[2022-09-02 14:16] arielweinberger commented on #3686
This is the intended behavior. Delete refers to deleting an entire resource, not an individual property. I'll close this issue.

[2022-09-02 14:16] #3686 closed

[2022-09-02 14:16] arielweinberger commented on #3685
@yuval-hazaz Please prioritize

[2022-09-03 07:26] yuval-hazaz opened #3692 "⭐️ Feature : New resource type - message broker"
### Feature description

Add support for a new resource type "Message Broker" to allow communication between services

See the design on Figma
https://www.figma.com/file/GLTbBuQoYvwas6XsCMHnqd/%23none---Resources?node-id=1877%3A8665

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-03 08:34] yuval-hazaz opened #3694 "Enforce creation of block type per resource type"
### Feature description

Not all block types can be used for every resource type, and many times a block type can only be used by a single resource type.

Add a generic code at the block level, where each block type can hold a list of the allowed resource types.
See this implementation for example (enforcing parent types for blocks)
https://github.com/amplication/amplication/blob/cf1f03a8c73efd198

[2022-09-03 09:39] westlag114 commented on #3350
Excuse me.
I am facing the same problem.
Is there any progress on this issue?

[2022-09-03 13:36] jainpawan21 commented on #3655
it is disabled but visible in this condition:-
<img width="447" alt="Screenshot 2022-09-03 at 7 04 13 PM" src="https://user-images.githubusercontent.com/39362422/188272835-ced4b2f8-0acd-48d1-be08-1da6bb19af40.png">

and

visible and editable in this condition
<img width="447" alt="Screenshot 2022-09-03 at 7 02 45 PM" src="https://user-images.githubusercontent.com/39362422/188272766-5bc00ec2-6a47-4

[2022-09-03 13:52] jainpawan21 commented on #3606
@abrl91 this Configure option will be visible to new organisations only or old ones also?
I am not able to see this option in 0.15.2 version

[2022-09-03 14:07] arielweinberger commented on #3655
Hey @jainpawan21 I think you are mixing it with a different screen. What you demonstrated is by design - our Admin UI relies on a GraphQL API to function.

With regards to my original issue, my expectation is that if the Admin UI is switched off, I won't see the option to set its base directory at all.

[2022-09-03 14:08] arielweinberger commented on #3655
@souravjain540 I've set the "good first issue" label to this one, I think it could be good for a seasoned community member to pick up.

[2022-09-04 05:56] yuval-hazaz opened #3704 "🐛 Bug Report: Pending Changes component is using the wrong value for resourceId"
### What happened?

The PendingChange component is expecting to receive the resource ID, but instead, the value of Project ID is provided.

![image](https://user-images.githubusercontent.com/43705455/188299601-65d9c2a1-37a9-4a1f-831c-37a1e758083f.png)

### What you expected to happen

the PendingChange component is also getting the change object which includes the resource ID, so we need to remove

[2022-09-04 07:44] KlausMikhaelson commented on #3704
Hello @yuval-hazaz can I work on this ?

[2022-09-04 09:08] morhag90 commented on #3622
@tupe12334  can we close this issue?

[2022-09-04 09:42] #3675 closed

[2022-09-04 10:07] #3622 closed

[2022-09-04 10:07] #3660 closed

[2022-09-04 10:42] #3426 closed

[2022-09-04 10:43] #3428 closed

[2022-09-04 10:43] #3429 closed

[2022-09-04 10:43] #3432 closed

[2022-09-04 10:43] #3434 closed

[2022-09-04 14:30] arielweinberger opened #3709 "🐛 Bug Report: No empty state when project has no commits"
### What happened?

When creating a new project, and navigating to the Commits page, I see a blank page.

![image](https://user-images.githubusercontent.com/4976416/188318723-7126aa4e-a159-421e-90f7-ca4304751c50.png)

### What you expected to happen

I expect to see a user-friendly empty state.

### How to reproduce

1. Create a new proejct
2. Go to the Commits page

### Amplication version

0.15.

[2022-09-04 14:40] arielweinberger opened #3710 "🐛 Bug Report: New project commits page totally broken after building"
### What happened?

When building a new project (that has no resources), after hitting Build, the Commits page is totally broken. No build actually happens.

![Screenshot 2022-09-04 at 16 33 32](https://user-images.githubusercontent.com/4976416/188319106-b87c6570-d702-4802-ad72-d759b0f82255.png)

### What you expected to happen

Either something preventing me from building if it's not the right ti

[2022-09-04 14:41] EugeneTseitlin opened #3711 "🐛 Bug Report: Last Commit Animation"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/188318852-1d2b7528-437f-47db-8844-c0f109369c07.png)

Animation during build process looks weird.

### What you expected to happen

This gray block should not be there.

### How to reproduce

Go to Commit Page and press Build button.

### Amplication version

0.15.3

### Environment

_No response_

### Are you willing to

[2022-09-04 15:56] b4s36t4 commented on #3659
@tupe12334 can you list the steps to reproduce this issue?

[2022-09-04 16:19] souravjain540 commented on #3690
please update.

[2022-09-04 16:28] arielweinberger commented on #3709
Duplicate of #3582

[2022-09-04 16:28] #3709 closed

[2022-09-04 18:39] b4s36t4 commented on #3711
Made changes can someone please review it.

[2022-09-04 18:49] yuval-hazaz opened #3714 "Display names and links for changed blocks in Pending Changes panel"
### What happened?

The pending changes panel shows a list of changed entities and blocks.
The items in the list are clickable, and on click, the user should navigate to the page of the entity or block.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/43705455/188328097-e5a31e28-3454-429b-bcde-243e05569d04.png">

We are now adding new types of blocks like "Topic" and "S

[2022-09-04 18:52] yuval-hazaz commented on #3714
Also, we may want to add an icon next to each item based on the block type

@alexbass86  please let us know what you think

[2022-09-05 04:08] jainpawan21 commented on #2508
Hi @yuval-hazaz, is this issue in scope or ready to pick?

[2022-09-05 04:12] jainpawan21 commented on #3650
As per me this option can be added here:-
<img width="291" alt="Screenshot 2022-09-05 at 9 41 48 AM" src="https://user-images.githubusercontent.com/39362422/188359135-7a4c5d51-ba24-449d-a2e7-c42f542bf5c3.png">

[2022-09-05 06:21] jainpawan21 commented on #3244
Can I work on this?

[2022-09-05 06:22] jainpawan21 commented on #3595
Hi Yuval, I have figured out the root cause
Can you please assign this to me?

[2022-09-05 06:40] abrl91 commented on #3244
Good luck 😃

[2022-09-05 06:52] jainpawan21 commented on #2840
@yuval-hazaz is this ready to pick up, if designs are ready.
I can work on this

[2022-09-05 07:00] jainpawan21 commented on #2547
@yuval-hazaz, If I am not wrong, this issue is for sorting these fields?
<img width="303" alt="Screenshot 2022-09-05 at 12 28 40 PM" src="https://user-images.githubusercontent.com/39362422/188384129-77faafdc-f867-4e1e-be42-ad4db36edb89.png">

[2022-09-05 07:09] jainpawan21 commented on #2547
I found that we already have support for this in backend
If design is available, I can work on this

https://github.com/amplication/amplication/blob/master/packages/amplication-server/src/core/entity/dto/FindManyEntityFieldArgs.ts
https://github.com/amplication/amplication/blob/master/packages/amplication-server/src/core/entity/dto/EntityFieldOrderByInput.ts

[2022-09-05 07:28] tupe12334 commented on #3659
@b4s36t4  You need to generate a resource on Amplication and connect the resource to your GitHub, after that, press build and open the pull request on the connected Git repository

[2022-09-05 11:03] arielweinberger opened #3717 "Feature Request: Display Entity name in Entity view"
### Feature description

Currently, when browsing an Entity in the Amplication UI, I cannot see which entity I am browsing.
I expect the entity name to be clearly visible in the page, perhaps as a heading or title.

![Screenshot 2022-09-05 at 13 00 29](https://user-images.githubusercontent.com/4976416/188434527-dd731736-ed82-42cc-843c-2fd0be834346.png)

### Use case

_No response_

### Are you wil

[2022-09-05 12:32] alexbass86 opened #3719 "🐛 Bug Report: Divider UI problem"
### What happened?

Some of the dividers in our system are built from a square and not a line, making the line look a lot thicker than it should be.

**Example:**
![11](https://user-images.githubusercontent.com/96179897/188449630-8b4224ba-fe79-4f73-bde2-01b7f69a4170.png)

Please also make sure the color is #2C3249

### What you expected to happen

Divider line should be 1px, color #2C3249

### How

[2022-09-06 05:17] yuval-hazaz commented on #3704
closed in #3705

[2022-09-06 05:17] #3704 closed

[2022-09-06 05:23] yuval-hazaz commented on #3635
@EugeneTseitlin wasn't that fixed already?

[2022-09-06 05:29] yuval-hazaz commented on #3234
@alexbass86, the lock information is not relevant on the resource list - you can remove the lock indication on Figma.

I will move this to dev to work on the settings page

![image](https://user-images.githubusercontent.com/43705455/188554004-fb77a49e-52fb-450b-b00d-c2b2315daa6a.png)

[2022-09-06 06:29] yuval-hazaz opened #3722 "🐛 Bug Report: models.ts in amplication/git-pull-request format is broken"
### What happened?

when updating the models.ts files in the project, the file in amplication-git-pull-request is updated and is format is changed comparing to the last accepted format.
in order to fix this, we need to manually run `npm run format` on the package to reformat the file.

The actual problem is with the formatting rules in the package.
The models.ts file is created the same for all pa

[2022-09-06 06:37] yuval-hazaz commented on #3641
i am also adding this
![image](https://user-images.githubusercontent.com/43705455/188563719-1617f4c0-1f4f-440c-9fa3-36c28a74218c.png)

when the list is long - there is no scroll, and all the items are pushed closer to each other

[2022-09-06 06:47] alexbass86 commented on #3717
@arielweinberger Correct me if I'm wrong, but you're saying that when you select an entity type in the dropbox after that, it does not show the icon & the text is grey, so it kind of disappears in the overall UI, correct?

[2022-09-06 06:57] #2733 closed

[2022-09-06 07:02] yuval-hazaz commented on #3641
### What happened?

The current look and behavior of our "Top menu fast nav" look different than the original design. Please align it.

Inner padding is 8px
![image](https://user-images.githubusercontent.com/96179897/187374074-9f6e2a00-c1b7-455c-9938-013b924c01cd.png)

**Padding between the selection is 4px**
![image](https://user-images.githubusercontent.com/96179897/187374163-d4194152-0768-462d-

[2022-09-06 08:05] alexbass86 commented on #3234
Do you mean the locked by info? Should it be only "locked"?

[2022-09-06 09:46] MoFoGo opened #3725 "Docs: Update "Your first application" to "Your First Project"
### Describe the issue with documentation

The article does not reflect the new structure of Projects> Resources

https://docs.amplication.com/docs/first-app/

### How to solve the problem

Rewrite the description in accordance with the new Project workflow

### Are you willing to submit PR?

_No response_

[2022-09-06 12:20] EugeneTseitlin opened #3730 "Locate scroll in a gap between elements"
### Feature description

In order to avoid shrinking transition of scrollable elements (e.g. main section, right menu)  when more children added and container became big enough to be scrolled, it's better to put scroll instead of margin/padding of scrollable elements.

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-06 12:50] EugeneTseitlin commented on #747
@souravjain540 As far as we don't build docker image anymore I think the issue can be closed as irrelevant. Am I right?

[2022-09-06 13:01] alexbass86 commented on #3717
@EugeneTseitlin
please use this design
https://www.figma.com/file/smoEIQ7W2EaTBiBqL4qAok/%233717---Display-Entity-name-in-Entity-view?node-id=0%3A1

![Topic Setting](https://user-images.githubusercontent.com/96179897/188641854-704ffe76-7688-472a-adb3-147cb52070fd.png)

[2022-09-06 14:06] EugeneTseitlin commented on #3595
@jainpawan21 Go for it.

[2022-09-06 15:46] EugeneTseitlin commented on #3109
@mshidlov @arielweinberger It seems to be irrelevant. Should I just close the issue?

[2022-09-07 06:30] #3617 closed

[2022-09-07 06:31] alexbass86 commented on #3617
I closed it. From what I see, its already been fixed

[2022-09-07 08:40] NisanAyash commented on #2491
I've created a pull request #3738,

@arielweinberger - Of course, the user id added under the `sub` property, thanks.

@tupe12334  - can you review this and tell me if there are any issues?

[2022-09-07 09:07] yuval-hazaz opened #3739 "⭐️ DSG: Generate Message Broker Code"
### Feature description

1. Send all the needed Blocks with the relevant data to the DSG
2. Update the generated code of the service to include the needed kafka module and other parts. based on this PR https://github.com/amplication/kafka-monorepo-demo/pull/22
3. (not in current scope) create a new "code" in the DSG to generated the common parts needed to run Kafka (e.g. docker file )

- `.env` fi

[2022-09-07 09:30] souravjain540 commented on #747
closing :)

[2022-09-07 09:30] #747 closed

[2022-09-07 09:36] #3714 closed

[2022-09-07 09:44] morhag90 commented on #3587
We solved it in another issue, ew limited the chars number :
<img width="375" alt="image" src="https://user-images.githubusercontent.com/97830649/188847340-6f94c26d-b711-48ad-a8b5-74fc01aa988a.png">

[2022-09-07 09:45] #3587 closed

[2022-09-07 10:14] alexbass86 commented on #3583
Please use this design for the empty state
https://www.figma.com/file/1BN7FXfK6trj6xsvHLSnk6/%233582%2C-%233583---view-empty-state?node-id=836%3A18964
also, please make sure the dropdown fields are disabled with the text "none" in the `commit-selector-item__title`

![Project - view code](https://user-images.githubusercontent.com/96179897/188853598-d715f41f-3f2b-4df0-9f3f-32cf9971d67e.png)

[2022-09-07 10:17] alexbass86 commented on #3582
Please use this empty state.
https://www.figma.com/file/1BN7FXfK6trj6xsvHLSnk6/%233582%2C-%233583---view-empty-state?node-id=1704%3A3057

![Commit empty state](https://user-images.githubusercontent.com/96179897/188854183-393a7a5a-7211-428b-a8ef-d971667943e6.png)

[2022-09-07 11:17] #3659 closed

[2022-09-07 13:00] #3722 closed

[2022-09-07 15:14] khuongduy354 commented on #3396
is this issue assigned ?

[2022-09-07 15:21] souravjain540 commented on #3396
I can assign it to you, if you want to work.

[2022-09-07 15:27] khuongduy354 commented on #3396
yes, please assign me.

[2022-09-07 15:29] souravjain540 commented on #3396
Done. Let me know if I can help you on anyway

[2022-09-07 16:55] shubhwip opened #3744 "🐛 Bug Report: Some Text is not Visible on Amplication UI"
### What happened?

There are some texts which are highly invisible and can't be seen easily. For e.g. in the screenshot below
-  Amplication Logo at the top left corner
- `Pending Changes` text at the right top
-  `Go to View Code` text at bottom right
<img width="1440" alt="Screenshot 2022-09-07 at 10 19 13 PM" src="https://user-images.githubusercontent.com/23444368/188935165-546a020d-ad84-40d7-

[2022-09-07 17:02] shubhwip opened #3745 "🐛 Bug Report: Generated App Tests are failing"
### What happened?

I generated application using Amplication Data Service Generator Locally and Tests are failing for the generated app.
[code]

### What you expected to happen

Tests should pass for generated application.

### How to reproduce

Prepare Amplication Setup Locally
 - Clone Repo
 - `npm install`
 - `npm run setup:dev`

Go into amplication data service generator
 - `npm run generate-

[2022-09-08 05:12] yuval-hazaz commented on #3717
I merged the current PR.

@alexbass86 please complete the design for how it looks in the rest of the tabs - current design only include a small title with the entity name and a bigger one with the name of the tab - but how does it look for example in the main "General Settings" tab ? I don't think the big title should be using the tab nama, instead is should be the entity name

Let me now what you

[2022-09-08 05:32] yuval-hazaz commented on #3745
Thanks @shubhwip
We will look into it soon

[2022-09-08 05:34] yuval-hazaz commented on #3744
@shubhwip thanks for reporting
we removed the light theme recently, but if I understand correctly your setup is still set on "light" which is a bug.

Team, we need to make sure we do not use the Theme settings from the local storage and always use the Dark theme

[2022-09-08 05:35] yuval-hazaz commented on #3690
the issue was added to the docs backlog.
@MoFoGo and @alexbass86 will review and will decide how to move forward.

[2022-09-08 05:36] yuval-hazaz commented on #3685
thanks, obvisouly we need to fix this, but it has a small impact so priority is low.
if it is a quick win, let's go for it

[2022-09-08 06:49] rolwin100 commented on #3744
@yuval-hazaz I think I can take this up

[2022-09-08 06:50] rolwin100 commented on #3744
Probably we can write a hook to remove the theme setting in local storage if present. on the app load.

[2022-09-08 06:50] rolwin100 commented on #3744
We can have this hook for few months and later remove it.

[2022-09-08 06:51] rolwin100 commented on #3725
I'm willing to take this up. @MoFoGo @yuval-hazaz

[2022-09-08 08:06] yuval-hazaz commented on #3744
Instead of adding a new hook, we can update the code in packages/amplication-client/src/Layout/ThemeProvider.tsx

use this code with a hard-coded value

[code]

[2022-09-08 08:41] EugeneTseitlin opened #3748 "🐛 Bug Report: Right and left sidebars don't appear like in the design"
### What happened?

Right and left menu are not aligned with the design.
![image](https://user-images.githubusercontent.com/6080188/189074572-d4b8895d-0795-4b08-b2e0-3f593509579f.png)
Right menu:
1. Delimiter with is too big, it should be 1px.
2. Padding from top of the list is to big, it should be 16px.
3. Menu area should not be scrollable, only list area should be scrollable.
4. Add New Project

[2022-09-08 11:45] mshidlov opened #3751 "🌟 Epic: GitHub Sync - Amplication branch"
To reduce user changes overrides amplication is going to integrate with the user’s repository through a single `amplication `branch. The amplication branch will be a long-lived branch created in the user repository by amplication and will be the target location for all amplication commits. when a resource is built a corresponding commit with amplication recent changes will be created. user will be

[2022-09-08 11:49] morhag90 opened #3752 "Change Circular progress component style => center the loader by boolean parameter"
### Feature description

Currently, the circularProgress component doesn't have a style that allows changing the loader's position.
We need to add a style that does it by a boolean parameter that will add this style if sent true.

### Use case

CircularProgress component will support center the loader.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-08 15:56] #3748 closed

[2022-09-08 15:57] #3717 closed

[2022-09-08 15:58] #3641 closed

[2022-09-08 15:58] #3615 closed

[2022-09-08 15:58] #3711 closed

[2022-09-08 16:04] #3730 closed

[2022-09-08 16:07] #3670 closed

[2022-09-09 09:26] yuval-hazaz opened #3757 "⭐️ Plugins Order"
### Feature description

Add support to manage the order of execution plugins.
Currently. the PluginInstallation block has a property "Order" that was planned to be used to determine the execution order.
But this design has a problem we need to fix.
Since the change of order impact multiple plugins, it will confuse for the user to see multiple plugins under "pending changes" for every order change

[2022-09-09 09:45] yuval-hazaz opened #3758 "⭐️ Plugins Catalog"
### Feature description

We need to update the Plugin Catalog Page in amplication-client

Currently it was developed as a draft, and the task should be completed.

This is how the page looks right now in the branch release/0.17.0
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/43705455/189319853-bc4ca2dc-2130-45b0-8472-654a14aee1ba.png">

### Todo:
- Update the data st

[2022-09-09 10:12] khuongduy354 commented on #3396
Sorry, I think you should i assign this to someone else. I have so much troubles setting up.

[2022-09-09 10:51] LinboLen commented on #3272
Nx, please. can create nx setup pull request first. maybe I can help migrate to nx.

[2022-09-09 17:34] abrl91 commented on #3710
This issue was fixed by #3761

@yuval-hazaz this issue happens when the user clicks on the build button right after creating a new service when the only pending change he has is `project configuration settings`.   The resource type of project configuration settings is filtered out from the build process, that is the reason that in the image below, we can see the commit, but there are no builds.

T

[2022-09-09 17:37] abrl91 commented on #3583
@tupe12334 this is not the same issue. One is for the code view page and the other is for the commits page

[2022-09-10 05:23] yuval-hazaz commented on #3610
@alexbass86 I am missing a link to the resource in the new design. Did we remove this on purpose?

[2022-09-10 06:25] manisha6700 commented on #3719
Yes I am willing to submit a PR!

[2022-09-10 06:27] yuval-hazaz opened #3762 "⭐️ Validate Topic Name"
### Feature description

When creating a message broker topic, the user is requested to select a name for the topic.
This name is used in the code and the actual Kafka topic (or other brokers in the future).

Currently, we use the <NameField/> component, which enforces a specific regex on the input.

For Topics, there is a need for a different type of validation.

1. Create a new component, `<Topi

[2022-09-10 06:31] yuval-hazaz opened #3763 "⭐️ Message Broker Creation Wizard"
### Feature description

We need to update the design of `./packages/amplication-client/src/Resource/create-message-broker/CreateMessageBroker.tsx`

See design from Figma below
Please ask @MoFoGo for updated text

![image](https://user-images.githubusercontent.com/43705455/189472149-0cc37663-ff4b-44f7-b31c-e1b687b27188.png)

### Use case

_No response_

### Are you willing to submit PR?

_No respo

[2022-09-10 06:35] yuval-hazaz opened #3764 "⭐️ Update Message Broker Overview Page"
### Feature description

Remove the Overview, Entities, and Roles tiles.
Add new tiles for topics

(The tile for Services as shown in the design below, is not yet in scope and will be handled in another tas)

![image](https://user-images.githubusercontent.com/43705455/189472251-a973155c-01a4-4f90-92f4-6ddf606327fc.png)

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-10 06:45] yuval-hazaz opened #3765 "⭐️ DSG - Add plugin events"
### Feature description

We need to add events for plugins throughout the DSG code to allow plugin developers to customize the code generation in as many ways as possible.

We completed a POC with a few events that were implemented using the `pluginWrapper` function.

- [x] #3766
- [x] Add implementation of 'pluginWrapper` for new events

### Use case

_No response_

### Are you willing to submit

[2022-09-10 06:46] yuval-hazaz opened #3766 "⭐️ Refactor the code of the existing implementation of `pluginWrapper`"
Before starting with the implementation in all other places, we first need to update the code for the existing events.
The current code uses an arrow function to wrap the existing code - but this makes the readability of the code more complicated than needed because the last two parameters of the pluginWrapper are our of context.

### Current Code

[code]
### Refactor

Instead of using an arrow fu

[2022-09-10 06:59] yuval-hazaz opened #3767 "⭐️ Add all directory parameters into DSGContext"
### Feature description

To allow a better context and control for the plugin developers, we need to add all the directory parameters into the DSG Context.

1. Add the logic of the directory structure at the beginning of the DSG operation
2. Add the results to DSG Context
3. Use the data directly from the DSG Context, instead of passing the data in the function chain as parameters
4

### Use case

[2022-09-10 07:05] yuval-hazaz opened #3768 "🧩 Add a plugin for postgreSQL"
### Feature description

Currently, we generate code with PostgreSQL as the database.
To allow support for using other types of databases like mySQL and MongoDB, we first need to extract the logic that generates the code needed to use Postgres to a plugin.

Once we have the plugin structure in place, we will be able to create more plugins to support other DBs.

As a results of this task, the outpu

[2022-09-10 07:08] yuval-hazaz opened #3769 "🧩 Add a plugin for mySQL"
### Feature description

Following the completion of #3768 , we want to add a new plugin to support code generation with mySQL instead of PostgreSQL.

The output of the generated code should include a docker file for mySQL, and a Prisma generator for mySQL.

Also, due to some limitation of mySQL, the plugin should validate the list of entity fields and throw an error when the user tries to generat

[2022-09-10 07:14] yuval-hazaz opened #3770 "⭐️ Message Broker - Services page"
### Feature description

Create a new page that shows the list of services that are connected to the message broker.
Also, Create a tile in the overview page, to link to the new page

![image](https://user-images.githubusercontent.com/43705455/189473380-9e4b034a-07fe-4cb3-b07d-5410d7559ec8.png)

![image](https://user-images.githubusercontent.com/43705455/189473413-b99a8160-0f2e-4bb5-96a3-ec0e1ad1c

[2022-09-10 07:38] abrl91 commented on #3610
the commit card is the link to the resource

[2022-09-10 08:33] baptistesx opened #3771 "Option to generate or not the display of CreatedAt, UpdatedAt, Id columns on admin-ui"
### Feature description

It would be nice to be able to choose with a checkbox/switch to display or not in the backoffice  the columns CreatedAt, UpdatedAt, Id

### Use case

I just spend time to comment all CreatedAt, UpdatedAt, Id columns in my backoffice.

### Are you willing to submit PR?

_No response_

[2022-09-10 11:36] abrl91 commented on #3710
fixed by https://github.com/amplication/amplication/pull/3761

[2022-09-10 11:36] #3710 closed

[2022-09-11 06:49] Abhay5855 commented on #2875
I can take this issue can you assign it to me

[2022-09-11 06:58] souravjain540 commented on #2875
Sure

[2022-09-11 07:09] yuval-hazaz commented on #3771
Thanks for your suggestion
This may be a good candidate for a plugin
we will add this to the backlog and will consider the priority soon

[2022-09-11 09:31] abrl91 commented on #3582
Fixed by https://github.com/amplication/amplication/pull/3761

[2022-09-11 09:31] #3582 closed

[2022-09-11 09:43] Abhay5855 commented on #2875
cloned the repo and started working on it thank you

[2022-09-11 09:59] abrl91 commented on #3610
Fixed by https://github.com/amplication/amplication/pull/3760

[2022-09-11 09:59] #3610 closed

[2022-09-11 10:03] abrl91 opened #3773 "🐛 Bug Report: The link to changes in the commits page is broken"
### What happened?

 The link to changes in the commits page is broken:

https://user-images.githubusercontent.com/39680385/189521787-33ba827e-b784-41c6-9393-41fbe3fa252d.mov

### What you expected to happen

The link should redirect to the changes page

### How to reproduce

- go to the commits page
- click on the changes link on the card

### Amplication version

0.16.1

### Environment

_No res

[2022-09-11 11:29] mshidlov commented on #3109
@EugeneTseitlin do you implement that functionality?

[2022-09-11 11:54] #3773 closed

[2022-09-11 15:35] rakshitgondwal commented on #3655
Hey @arielweinberger !!
Can I try taking upon this issue?

[2022-09-12 05:25] #3719 closed

[2022-09-12 05:27] EugeneTseitlin commented on #3491
@arielweinberger I think we can close this issue as irrelevant. What do you think?

[2022-09-12 05:29] EugeneTseitlin commented on #3441
@arielweinberger I propose to close this issue despite that there are action items that we not completed. The product moved further, most probably the are fixed in other issues.

[2022-09-12 05:30] #3390 closed

[2022-09-12 05:34] EugeneTseitlin commented on #2971
@arielweinberger Let's close the issue. It was cleaned once, now the condition just should be maintained. No need for a such long running issue.

[2022-09-12 05:37] #2795 closed

[2022-09-12 05:48] yuval-hazaz opened #3781 "🐛 Bug Report: JSON field on user entity generates incorrect default value in the seed script"
### What happened?

When using a JSON field on the User entity, the seed script uses the value "false" in the admin record.
This value causes an error when accessing the record in the API

### The generated code
The extenededProperties field is of type JSON
![image](https://user-images.githubusercontent.com/43705455/189581723-12b0f42c-5b16-4dd4-ae13-89c9efbf5847.png)

### The error
![image](https:

[2022-09-12 06:03] #3467 closed

[2022-09-12 06:05] EugeneTseitlin commented on #3635
@EugeneTseitlin Yep, it was fixed.

[2022-09-12 06:05] #3635 closed

[2022-09-12 06:06] #3634 closed

[2022-09-12 06:06] #3633 closed

[2022-09-12 10:06] barshimi opened #3784 "new-plugin-UI"
### Feature description

fix plugin UI after the addition of plugin order block

### Use case

while using the plugin , we divided the requests to two different blocks.

### Are you willing to submit PR?

_No response_

[2022-09-12 17:24] yuval-hazaz opened #3792 "DSG: Use Json field for User.Roles to allow support for other DB types"
### Feature description

Currently, the Roles field on the user entity is generated as an array of strings in the Prisma schema.
While using PostgreSQL, this is valid and works as expected.

Since other databases like mySQL does not support an array of primitives as a data type, we would like to generate the code differently, and instead of using string[] we should use Json.

This will allow us to

[2022-09-12 17:26] yuval-hazaz commented on #3792
@MoFoGo  please add this to the release notes of 0.17

[2022-09-12 18:14] yuval-hazaz commented on #3763
@MoFoGo we need text for this page please

[2022-09-12 21:07] b4s36t4 commented on #3781
@yuval-hazaz how can we create empty json using `builder.objectExpression` I found we need to pass some properites to it. Would it be ok if we can include some dummy JSON data as a default value instead of empty object?!

[2022-09-12 21:10] b4s36t4 commented on #3781
Like this.
<img width="403" alt="Screenshot 2022-09-13 at 2 40 27 AM" src="https://user-images.githubusercontent.com/59088937/189759337-aaffab72-e0fe-4e14-9ff1-59a806a28273.png">

[2022-09-13 06:48] MoFoGo commented on #3763
@EugeneTseitlin - do you need more from me regarding this task, or can we close it?

[2022-09-13 06:52] MoFoGo commented on #3690
@alexbass86  - I agree it would be clearer if the text was horizontal. Low priority.

[2022-09-13 06:53] yuval-hazaz commented on #3763
@MoFoGo I added this task to your backlog yesterday since we need text for this page. Did you provide the text already?

[2022-09-13 07:00] yuval-hazaz commented on #3781
I assume you are working on it, so I assigned you.
Let me know if that is ok

[2022-09-13 07:08] #3441 closed

[2022-09-13 07:43] b4s36t4 commented on #3781
Sure.

[2022-09-13 11:33] alexbass86 commented on #3690
For now, I rotated you the original img.

![dark mode](https://user-images.githubusercontent.com/96179897/189890676-708d886d-3925-4dc7-9ae1-30458f38a12e.png)

[2022-09-13 11:47] NisanAyash commented on #2491
close #3738

[2022-09-13 11:52] b4s36t4 commented on #3781
@yuval-hazaz Created PR for this, please have a look.

[2022-09-13 12:04] b4s36t4 commented on #3770
@yuval-hazaz can I work on this part?!

[2022-09-13 12:12] #2491 closed

[2022-09-13 15:14] abrl91 opened #3802 "🐛 Bug Report: resource list empty state is not aligned with the style"
### What happened?

The resource list empty state is not aligned with the other empty states

### What you expected to happen

The empty state image and text should use the new empty state component

### How to reproduce

Create a new project and see the empty resource empty state

### Amplication version

0.17.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing

[2022-09-13 15:28] abrl91 commented on #3802
Fixed by https://github.com/amplication/amplication/pull/3803

[2022-09-13 15:28] #3802 closed

[2022-09-13 16:36] AnshuPathak-88825 opened #3805 "🐛 Bug Report: click to go back button isn't working in login page"
[Screencast from 13-09-22 09:32:28 PM IST.webm](https://user-images.githubusercontent.com/78332454/189954351-1e6beff0-cb16-43f7-a1b0-a40f0eeaf3e5.webm)

In this video my cursor is not visible but you can see when I click previous click button to move home page that's not working. Website should take me to homepage from login page

[2022-09-13 17:39] #3767 closed

[2022-09-13 17:39] #3766 closed

[2022-09-14 08:10] arielweinberger opened #3807 "🐛 Bug Report: IDE automatically imports modules from `src/` folder, needs to be relative"
### What happened?

Most likely due to our tsconfig `baseUrl` configuration, when we auto-import files from VSCode, they get prefixed with `src/`. This is a bad practice, and the best practice is to use relative imports.

### What you expected to happen

I expect this to be fixed so that automatic imports are relative to the path of the current file. This should be done across all of our packages.

[2022-09-14 09:30] arielweinberger opened #3808 "🐛 Bug Report: Generated package-lock and package.json do not support Node 16 and NPM 8"
### What happened?

The current LTS (Long Term Support) version of Node.js is 16. The majority of our users likely use this version. Besides, we stopped official support for Node 14 due to Lerna 5 limitations.

When generating a new app, running `npm ci` locally works fine. However, when using Docker (with a base image of `node:16`, I was getting a bunch of errors on the `npm ci` step.

The impact

[2022-09-14 11:39] #3807 closed

[2022-09-14 12:28] arielweinberger commented on #3808
This is already fixed and released in the next version

[2022-09-14 12:28] #3808 closed

[2022-09-14 12:40] abrl91 opened #3811 "🐛 Bug Report: Open with GitHub button open the repository and not the last pull request"
### What happened?

Open with GitHub button open the repository and not the last pull request.

### What you expected to happen

I expect the button to open the last pull request

### How to reproduce

- create a project with a service
- connect to GitHub
- build
- click on the Open with GitHub button on the footer
- see that the link redirects to the GitHub repository

### Amplication version

0.

[2022-09-14 12:42] arielweinberger opened #3812 "Refactor generated Dockerfiles for admin-ui and server"
### Feature description

Following work on the Amplication Blog, and bringing it to feature parity with the current version of Amplication, we discovered some needed adjustments to bring this application to production.

# Scope
- Modify the Dockerfile of the generated server to [match this one](https://github.com/amplication/blog-server/blob/main/server/Dockerfile). This introduces a multi-stage d

[2022-09-14 13:28] tupe12334 opened #3815 "🐛 Bug Report: Missing dependencies in code-gen-types"
### What happened?

When I try to use the `amplication/code-gen-types` package I get and error
[code]

The winston and json-schema packages are missing

### What you expected to happen

The tsc needs to work properly

### How to reproduce

Install the `@amplication/code-gen-types` package and try to run `tsc`

### Amplication version

0.17.0

### Environment

_No response_

### Are you willing to

[2022-09-14 13:48] morhag90 opened #3817 "Refactor: useContext all relevant places"
### Feature description

After creating a context for DSG data, we need to use it in all relevant places.

### Use case

Use data from context instead of passing parameters all over the methods.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-14 14:54] GreenMachine01 commented on #3046
@MoFoGo is this item still in progress or can be closed?

[2022-09-14 15:51] abrl91 opened #3820 "🌟 Refactor `PluginWrapper` - support async functions"
### Feature description

Refactor `PluginWrapper` to support async functions.

### Use case

For use cases when the plugin creator needs async logic

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-14 15:56] abrl91 opened #3821 "🌟 Refactor `PluginWarapper` to support async functions"
### Feature description

Refactor `PluginWarapper` to support async functions

### Use case

For use cases when the plugin creator needs async logic in the before/after lifecycle events.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-14 16:17] pranavbadola commented on #3522
/assign

[2022-09-14 17:06] yuval-hazaz opened #3822 "teast"
### Feature description

- [ ] fdsf
- [ ] fkdslfkl;
- [ ] fsdfsd

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-14 17:06] yuval-hazaz opened #3823 "fdsf"

[2022-09-14 17:06] #3823 closed

[2022-09-14 17:53] arielweinberger commented on #3046
@GreenMachine01 It is already implemented. Let's close this.

[2022-09-14 17:53] #3046 closed

[2022-09-14 18:14] #3820 closed

[2022-09-14 18:14] abrl91 commented on #3820
Duplicated

[2022-09-15 06:08] #3763 closed

[2022-09-15 06:09] #3764 closed

[2022-09-15 08:08] yuval-hazaz opened #3826 "DSG: Default plugins"

[2022-09-15 09:00] vincenzodomina opened #3827 "🐛 Bug Report: Error "JSONObject cannot represent non-object value" in React-Admin UI"
### What happened?

Similar to Issue #1321 i got an error in the React-Admin UI with a JSON field in my schema saying "JSONObject cannot represent non-object value"

I managed to work around this by changing the files:
- all Occurrences of GraphQLJSONObject to GraphQLJSON (e.g. in base/MyEntity.ts)
- schema.graphql: all Occurrences of JSONObject are changed to JSON automatically by db:init

of cou

[2022-09-15 09:28] abrl91 opened #3828 "🐛 Bug Report: Plugin name is missing on "pending changes""
### What happened?

The pending changes are updated when the user installs a plugin on a service, but the plugin name is missing.

![image](https://user-images.githubusercontent.com/39680385/190367920-aa68821d-93dc-4f43-8092-2f3864e1ccb0.png)

### What you expected to happen

I expect to see the plugin name

### How to reproduce

- create a service
- Click on the plugin on the left menu
- install

[2022-09-15 09:29] yuval-hazaz opened #3829 "🐛 Bug Report: Build for Message Broker fails"
### What happened?

When triggering a commit on a project that includes a message broker an error appears on the build log of the message broker

![image](https://user-images.githubusercontent.com/43705455/190368073-a9dea120-7885-49b4-bdee-de49785e2a98.png)

![image](https://user-images.githubusercontent.com/43705455/190368140-6c7b3a40-1885-439a-a5db-4473f526c376.png)

### What you expected to hap

[2022-09-15 09:43] arielweinberger commented on #3762
@yuval-hazaz @EugeneTseitlin following a quick chat with Eugene, I've updated the issue with specific requirements.

[2022-09-15 09:44] GreenMachine01 opened #3831 "🐛 Bug Report: Text is not centered on "Create Workspace" button"
**Overview:**
When creating a new workspace the text on the "Create" button is not centered

**Expected:**

**Actual:**

![Image](https://user-images.githubusercontent.com/112330500/190372652-baae240f-5df0-4491-8aad-d42042e924af.png)

[2022-09-15 09:54] tupe12334 opened #3832 "🐛 Bug Report: DB does not exist in release 0.17.0"
### What happened?

When I deleted the image, container, and volume of our DB from my local environment and tried to run the dockers again, I noticed that the server is crashing because he missing the `amplication-prisma-db` Data base from the DB server.
I went back to master and booted up the containers and saw that in master we generate this DB

[2022-09-15 09:55] arielweinberger commented on #3827
Please adjust the title to be descriptive.

[2022-09-15 10:40] #3817 closed

[2022-09-15 11:29] arielweinberger commented on #3769
test

[2022-09-15 11:56] #3828 closed

[2022-09-15 13:24] tupe12334 commented on #3832
UPDATE: the problem comes from the nx cache

[2022-09-15 13:27] tupe12334 opened #3835 "Name conversion in message broker"
When you create a new message broker topic, the name is automatically converted to camelCase format
<img width="865" alt="Screen Shot 2022-09-15 at 16 27 44" src="https://user-images.githubusercontent.com/61761153/190416050-a54d5264-bd30-4417-948b-25405b744666.png">

[2022-09-15 13:41] arielweinberger opened #3836 "Test"

[2022-09-15 13:43] #3836 closed

[2022-09-15 14:50] #3757 closed

[2022-09-15 14:58] #3595 closed

[2022-09-15 16:01] #3744 closed

[2022-09-16 06:37] EugeneTseitlin opened #3839 "🐛 Bug Report: Missing scroll in Topics Page"
### What happened?

![image](https://user-images.githubusercontent.com/6080188/190572348-7b988206-67d3-49c8-bc4b-b3d74d68e125.png)
Due to missing scroll there is no option to see the topics.

### What you expected to happen

Topics list should be scrollable.

### How to reproduce

0.17.0
Project Screen -> choose or create Message Broker -> go to Topics Screen

### Amplication version

_No response

[2022-09-16 09:02] arielweinberger commented on #3812
Fixed in #3812

[2022-09-16 10:44] b4s36t4 commented on #3835
What do we need to do here? @tupe12334

[2022-09-16 11:58] arielweinberger commented on #3835
Duplicate of #3762  which has been fixed in #3838. Closing.

[2022-09-16 11:58] #3835 closed

[2022-09-16 13:33] yuval-hazaz opened #3841 "Docs: how to use migrate with the generated app"
We need to create a doc about using Prisma Migration when making schema changes on the generated app.

[2022-09-16 16:35] abrl91 commented on #3768
fixed by https://github.com/amplication/plugins/pull/1

[2022-09-16 21:15] #3821 closed

[2022-09-16 22:01] #3792 closed

[2022-09-17 05:44] Asmit2952 commented on #3211
Can I work on this? @arielweinberger

[2022-09-17 08:05] yuval-hazaz opened #3845 "Plugin: Create a plugin template"
### Feature description

We need a template that can used as a starting point when creating a new plugin.
The plugin should include all the minimal code that is needed to build a plugin -
packae.json with all the minium details
README.md with instructions and a document structure to instruct the developer what to write
index.ts
.gitignore
more...

### Use case

A plugin developer will be able to d

[2022-09-17 08:07] yuval-hazaz opened #3846 "Plugins: update README.md for all new plugins"
### Feature description

We need to update the README.md file for all the new plugins that were recently created (kafka, MySQL, postgres, basic auth. jwt auth)

The first plugins will be used as an inspiration for all future plugins and we should implement al best practices and standards into the first plugins

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-17 08:19] yuval-hazaz opened #3847 "Plugin: Add eventParams to the After event"
### Feature description

All after event get two parameters - dsgContext, and modules.

[code]

We should also pass the eventParams to the "after" event since it may include data that will help the plugin developer.

### Use case

for example, the developer should know which entity is current being used in the "AfterCreateController" event - this data is available in the eventParams in the "before

[2022-09-17 17:12] #3769 closed

[2022-09-17 17:27] yuval-hazaz opened #3852 "🐛 Bug Report: Service Connection page UI issues"
### What happened?

the service connections page includes sevreal issues that need to be addressed:

1. the description of the message broker is currently hard-coded - "description about message broker and topic"
2. The green/ yellow dot is misplaced
3. The content of the cards in the list of topics needs to be aliged with Figma

<img width="1262" alt="image" src="https://user-images.githubusercon

[2022-09-17 19:01] abrl91 opened #3854 "Error handling for MySQL plugin on entity field of data type `MultiSelectOptionSet`"
### Feature description

The MySQL Prisma provider is not supporting an array of primitives.
The error handling should be handled on the`db-mysql` plugin.
https://github.com/amplication/plugins/tree/master/plugins/db-mysql

The plugin should handle one of the main events (e.g. beforeCreateServer) and if needed the plugin will:

1. write the error message to the logger
2. throw and error? or "skip"

[2022-09-17 19:19] abrl91 opened #3855 "🐛 Bug Report: missing logging when the plugin registration is trying to install a package that doesn't exist"
### What happened?

Missing logging when the plugin registration is trying to install a package that doesn't exist
for example:
[code]

### What you expected to happen

I expect to see an error on the log, except the error that is thrown to the terminal

### How to reproduce

-

### Amplication version

0.17.0

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-17 20:03] abrl91 opened #3856 "Clean up `PostgreSQL` from env variables and docker-compose files"
### Feature description

As we extract the `PostgreSQL` implementation and logic to separate functions (events) and use a default plugin installation of `db-postgres: https://github.com/amplication/plugins/tree/master/plugins/db-postgres
we can remove the default env variables, and the DB implementation and env variables are the docker-compose files.
Regarding the Prisma schema data-source:
We dec

[2022-09-18 04:41] MoFoGo commented on #3763
![image](https://user-images.githubusercontent.com/96979533/190886090-069de1af-508f-423b-bbcb-67d869d62b94.png)

[2022-09-18 04:41] MoFoGo commented on #3763
This is the text I provided.

[2022-09-18 06:39] #3762 closed

[2022-09-18 07:02] alexbass86 commented on #3596
@yuval-hazaz can we try and push this to the upcoming release?

[2022-09-18 07:06] alexbass86 opened #3860 "🐛 Bug Report: User profile - returning back show empty screen"
### What happened?

When you click on the profile
![image](https://user-images.githubusercontent.com/96179897/190889986-9a8e03af-9a65-4153-9b44-1e9cf1869ab2.png)

We enter the profile screen, but when I want to return and click on the back button on the browser, it lands us on the blank white screen.

### What you expected to happen

Return to the last visited screen.

### How to reproduce

Click

[2022-09-18 07:53] GreenMachine01 opened #3861 "🐛 Bug Report: topic list 'add field' always at the end"

[2022-09-18 08:00] GreenMachine01 opened #3862 "🐛 Bug Report: Blog is down"
![Image](https://user-images.githubusercontent.com/112330500/190892107-6a804a13-6e22-40cc-95eb-594cb0af5f4a.png)

[2022-09-18 08:14] abrl91 commented on #3856
Fixed by https://github.com/amplication/amplication/pull/3857

[2022-09-18 08:14] #3856 closed

[2022-09-18 08:14] abrl91 commented on #3826
Fixed by https://github.com/amplication/amplication/pull/3843

[2022-09-18 08:14] #3826 closed

[2022-09-18 08:15] abrl91 commented on #3768
fixed by https://github.com/amplication/plugins/pull/1

[2022-09-18 08:15] #3768 closed

[2022-09-18 08:50] arielweinberger commented on #3862
Fixed. [Here is the hotfix commit](https://github.com/amplication/amplication-site/commit/aa44a99158ecb3f9d3a6964c22a2d9b462021556).
It was apparently needed to include the API url in both `NEXT_PUBLIC_API_URL` and `NEXT_PRIVATE_BLOG_SERVER_URL` env variable.

[2022-09-18 08:50] #3862 closed

[2022-09-18 09:14] EugeneTseitlin opened #3863 "🐛 Bug Report: Description is missing in Message Broker Service List page"
### What happened?

Description is missing in Message Broker Service List page

![image](https://user-images.githubusercontent.com/6080188/190894821-ef6d2458-adc1-4977-ac0f-8a66efe87948.png)

### What you expected to happen

Proper text that actually explains the meaning of the page.

### How to reproduce

0.17.0

### Amplication version

_No response_

### Environment

_No response_

### Are you

[2022-09-18 09:19] #3839 closed

[2022-09-18 11:26] GreenMachine01 opened #3867 "art test"

[2022-09-18 11:49] GreenMachine01 opened #3869 "🐛 Bug Report: "Roles" list is not responsive (long list looks bad) + cant scroll"
![Image](https://user-images.githubusercontent.com/112330500/190900378-1681971e-5287-4fdf-967d-7633b7fcef0a.png)

**Actual:**
Video from Alex showing the issue - https://insights.hotjar.com/r?site=2379803&recording=15540345679&workspace_id=2022612

**Expected:**
The list window has a max size that allows viewing all components and any additional items added to the list should be accessed by scroll

[2022-09-18 14:45] mshidlov opened #3871 "🐛 Bug Report: Amplication HELM - amplication auto scaler is set to minimum 12 in the chart"
### What happened?

I deployed a personal environment and there were 12 amplication-server pods running.

the auto scaler minimum is set to 12 and affects all environments. this value should be set only in production, the correct place should be the values prod file and not the chart itself.

### What you expected to happen

I expected that only one amplication server pod will be up

### How to re

[2022-09-18 14:48] arielweinberger opened #3873 "🐛 Bug Report: Create Entity modal keeps appearing after creating an entity"
### What happened?

The Create Entity modal keeps showing up when entering the Entities page, after creating an entity.

### What you expected to happen

I expect just to be able to see the list of entities, without the modal.

### How to reproduce

- Go to a service
- Create an entity
- Go back to the Entities view
- The modal is still open

https://user-images.githubusercontent.com/4976416/19091

[2022-09-18 14:52] GreenMachine01 opened #3874 "🐛 Bug Report: After deleting and creating a new service you cant access the "View Code" page"

[2022-09-18 15:01] arielweinberger commented on #3871
@shaharblanksela Please fix ASAP

[2022-09-18 17:27] abrl91 commented on #3679
Fixed by https://github.com/amplication/amplication/pull/3876

[2022-09-18 17:27] #3679 closed

[2022-09-18 17:42] MoFoGo commented on #3863
My suggestion:

Services associated with this message broker

[2022-09-18 17:43] MoFoGo commented on #3863
@EugeneTseitlin - is there other information that should be included (for example, if there is a significance to the order)

[2022-09-18 17:44] EugeneTseitlin commented on #3863
No, there is no meaning to the order.

[2022-09-18 19:29] yuval-hazaz opened #3879 "Bug: Create resource button is not clickable on all surface"
In order to create a new resource, the user must click on the text inside the dropdown, and not all the area of the item is clickable

![Image](https://user-images.githubusercontent.com/43705455/190925021-522aed6c-3017-4c91-b19f-9f654ab34f27.png)

[2022-09-18 21:21] yuval-hazaz opened #3883 "Update beta message on the sign in page"
**Request:**
1. Update the text on the sign-in page - remove the text about the platform being in Beta mode

![Image](https://user-images.githubusercontent.com/112330500/191092286-6753f46d-be38-46df-93ce-b3c20bf9bcd7.png)

[2022-09-19 07:25] GreenMachine01 opened #3886 "🐛 Bug Report: On back to homepage the rotating MKT text is not shown"
**Steps to reproduce:**

1. Navigate to one of the tabs on the homepage
2. Return to the homepage

**Expected:**

![Image](https://user-images.githubusercontent.com/112330500/190968783-9e839887-68bc-4d32-8463-c9a472b3806a.png)

**Actual:**

![Image](https://user-images.githubusercontent.com/112330500/190968542-22252cd7-cca5-4695-a550-80874a109a5a.png)

[2022-09-19 07:29] #3871 closed

[2022-09-19 07:43] #3829 closed

[2022-09-19 07:53] #3867 closed

[2022-09-19 08:05] GreenMachine01 opened #3887 "DSG: Add more events"
- [x] research/mapping - outcome is list of events that need to be added
- [ ] Create an issue/subtask for each event
events:
- [x] #4138
- [x] #4136
- [ ] createControllerSpecModule
- [ ] createSwagger
- [ ] createSeedModule
- [ ] createMessageBrokerInternal
- [ ] createGrantsModule
- [ ] createManifestModule
- [ ] createIndexHTMLModule
- [ ] createDTOModules
- [ ] createEnumRolesModule
- [ ] cre

[2022-09-19 08:05] GreenMachine01 opened #3888 "research/mapping - outcome is list of events that need to be added"

[2022-09-19 08:11] #3888 closed

[2022-09-19 08:44] abrl91 opened #3889 "🐛 Bug Report: Topics page - a change of a topic is not reflected in the list nor is it saved after a refresh"
### What happened?

  Topics page -  a change of a topic is not reflected in the list nor is it saved after a refresh

https://user-images.githubusercontent.com/39680385/190980544-ba4f0a50-52dc-4985-b1df-e1283c5597f7.mov

### What you expected to happen

I expect that the new name will be updated in the topic list (on the left) and that the renaming will not be discarded after a refresh

### How t

[2022-09-19 08:52] abrl91 opened #3890 "🐛 Bug Report: Topics Page - error message appears with no reason"
### What happened?

Topics Page - error message appears with no reason:
1. although I named my topic as it should, I got an error message.
2. I think this error message needs some proofreading by @MoFoGo
3. @alexbass86  the style is not aligned with our styles for error messages.

![Screen Shot 2022-09-19 at 11 34 01](https://user-images.githubusercontent.com/39680385/190981651-8f200d46-e744-402a-

[2022-09-19 08:55] tupe12334 opened #3891 "🐛 Bug Report: Miss place scroll bar in the commit page"
The horizontal scroll bar in the commit page is on the entire page contact, but we need it to show only on the logs section
<img width="1342" alt="Screen Shot 2022-09-19 at 11 51 58" src="https://user-images.githubusercontent.com/61761153/190982177-a765f8a3-860d-46bf-b88b-6cd124ab6396.png">

The page contact needs to be responsive to fit the screen

[2022-09-19 09:00] tupe12334 opened #3892 "No spacing between buttons"
In the settings page of the project configuration, the bug not exist in the service settings
![Screen Shot 2022-09-05 at 11 37 47](https://user-images.githubusercontent.com/61761153/190983371-71ee1254-cf1a-4574-adf5-eb4b3f98ca37.png)

[2022-09-19 09:21] abrl91 opened #3893 "🐛 Bug Report: Message Broker page - the first topic is not selected"
### What happened?

![image](https://user-images.githubusercontent.com/39680385/190986188-2f2b71f3-e318-4e77-88dc-25508e9db3b2.png)

### What you expected to happen

I expect that if I have a broker in the project and I go  a service page, the first one will be selected

### How to reproduce

- create a service
- create a broker
- go to broker page and add topics
- go to the service page and click

[2022-09-19 09:24] abrl91 opened #3894 "🐛 Bug Report: Topics Page - missing the empty state"
### What happened?

Topics Page - missing the empty state

![image](https://user-images.githubusercontent.com/39680385/190987781-704d7e42-a629-48e6-b4de-10e5d213d871.png)

### What you expected to happen

I expect to see the empty state image + text

### How to reproduce

Create a broker, go to its page and click on the topics icon on the left

### Amplication version

0.17.0

### Environment

_No

[2022-09-19 09:26] tupe12334 opened #3895 "🐛 Bug Report: Not align with style button in new project modal"
The button in the create new project modal is not aligning with the design spec by @alexbass86

# The wanted design
![New Project](https://user-images.githubusercontent.com/61761153/190988156-8d7a5f80-d0f7-433b-aeca-26eab79a6a1c.png)

# The existing design
https://user-images.githubusercontent.com/61761153/190987201-c32826c8-e59b-4f64-857f-720b09f7bb88.mov

[2022-09-19 09:32] abrl91 opened #3896 "🐛 Bug Report: Message Broker Page - missing the empty state"
### What happened?

 Message Broker Page - missing the empty state
![image](https://user-images.githubusercontent.com/39680385/190988816-128804c6-a94d-48b9-8687-f85890af11fa.png)

### What you expected to happen

I expect to see the empty state image + text

### How to reproduce

- create a service
- go to its page and click on the broker's icon on the left
- see the page is empty but without our

[2022-09-19 09:34] #3739 closed

[2022-09-19 09:38] GreenMachine01 commented on #3894
@alexbass86 can I see the empty state example?

[2022-09-19 09:44] b4s36t4 commented on #3891
@tupe12334 can I work on this?!

[2022-09-19 09:49] abrl91 opened #3897 "🐛 Bug Report: "Bouncy" resources while navigating between projects"
### What happened?

 "Bouncy" resources while navigating between projects.
It happens on the first time only or after a refresh.

https://user-images.githubusercontent.com/39680385/190991550-25ff4d98-053c-43ac-b0fc-851871eb31c1.mov

### What you expected to happen

I expect smooth navigation or a loader.

### How to reproduce

Make sure you have more than one project with resources and navigate be

[2022-09-19 10:06] GreenMachine01 commented on #3897
@alexbass86 please describe what is expected.

[2022-09-19 10:15] arielweinberger opened #3898 "🐛 Bug Report: Auth plugin generates files at the root level rather than inside `server`"
### What happened?

I have used the Auth plugin and noticed that the code is generated in the repo's root folder.
This happens with both JWT and Basic auth plugins.

<img width="628" alt="Screenshot 2022-09-19 at 12 07 23" src="https://user-images.githubusercontent.com/4976416/190996187-3c1e5ba6-7fff-4707-adf5-d083ed6fdb8c.png">

### What you expected to happen

I expect the auth module to generat

[2022-09-19 10:23] abrl91 opened #3899 "🐛 Bug Report: `docker-compose.db.yml` of a generated app with MySQL isn't running as expected"
### What happened?

 `docker-compose.db.yml` of a generated app with MySQL isn't running as expected

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/39680385/190997016-6c326711-9ea7-483b-87dd-49169b169141.png">

and as a result the command `npm run prisma:generate `fails

![image](https://user-images.githubusercontent.com/39680385/190997449-d39a5139-1a74-4bcd-af03-9b8

[2022-09-19 10:31] GreenMachine01 commented on #3890
@abrl91 does the feature keep working or once you get the error you are blocked from proceeding?

[2022-09-19 10:37] GreenMachine01 opened #3900 "UX: Message Broker creation instruction text is confusing"
![Image](https://user-images.githubusercontent.com/112330500/190999671-f64463bc-9a7b-467d-a8d3-c5d3f0d79f88.png)

@MoFoGo We need to update the instruction text as the user cant select anything

New text for now - "Create topics and connect your services to the message broker"

[2022-09-19 11:11] GreenMachine01 commented on #3898
@abrl91 @barshimi please review and decide who can take this one.

[2022-09-19 11:11] GreenMachine01 commented on #3898
Please check also other Auth Plugins

[2022-09-19 11:17] tupe12334 commented on #3891
@GreenMachine01 Can you please assign @b4s36t4 ?

[2022-09-19 11:44] #3899 closed

[2022-09-19 11:46] abrl91 commented on #3898
I am on it

[2022-09-19 11:54] alexbass86 commented on #3896
@abrl91, please use this design for the empty state

[Figma](https://www.figma.com/file/1BN7FXfK6trj6xsvHLSnk6/%233582%2C-%233583---view-empty-state?node-id=836%3A18964)

![Broker empty state](https://user-images.githubusercontent.com/96179897/191011525-c873282a-b5aa-459a-8136-251d73533a3e.png)

[2022-09-19 11:59] alexbass86 commented on #3897
@GreenMachine01 Please use the simple loader animation while we navigate between the projects.
https://app.lottiefiles.com/share/159cb0bb-5b16-4aa7-a3e5-aa35df2e8007

[2022-09-19 12:07] arielweinberger opened #3901 "Ops: Create an automated deployment pipeline to the `next` env"
### Feature description

Right now, we have a manual "Deploy" action.

In the near future, we will move to a setup where we have only a single branch - `next` - to which the next version's features will be merged (this allows us to address hotfixes in staging and prod during sprints).

To make developers more productive, we need an automated GitHub action, called `Automatic Deployment`, which list

[2022-09-19 12:33] tupe12334 commented on #3889
My speculation is that the data not updating because of #3890 , this bug blocks it from sending a network update, so the data is not updated

[2022-09-19 13:25] #3898 closed

[2022-09-19 14:04] tupe12334 commented on #3890
Will close by #3904

[2022-09-19 14:04] #3890 closed

[2022-09-19 14:04] tupe12334 commented on #3889
Has closed by #3904

[2022-09-19 14:04] #3889 closed

[2022-09-19 14:36] GreenMachine01 commented on #3856
Approved By:
Ariel & Amit

[2022-09-19 14:38] GreenMachine01 commented on #3768
Approved By:
Amit

[2022-09-19 14:39] GreenMachine01 commented on #3769
Approved By:
Amit

[2022-09-19 14:39] GreenMachine01 commented on #3826
Approved By:
Amit
Yuval
Shimi

[2022-09-19 14:39] GreenMachine01 commented on #3821
Approved By:
Yuval
Ofek
Shimi

[2022-09-19 14:44] GreenMachine01 commented on #3829
Approved By:
Ariel
Amit
Shimi

[2022-09-19 14:46] GreenMachine01 commented on #3852
@alexbass86 can you approve we can proceed with this item?

[2022-09-19 14:46] GreenMachine01 commented on #3879
Approved By:
Amit
Erez
Ariel

[2022-09-19 14:51] GreenMachine01 commented on #3770
Approved By:
Team on Video call

[2022-09-19 14:53] GreenMachine01 commented on #3812
Approved By:
Ariel
Amit

[2022-09-19 14:53] GreenMachine01 commented on #3847
Approved By:
Shimi
Yuval

[2022-09-19 15:11] alexbass86 commented on #3852
@GreenMachine01 I think we are good, we still will need to work more on these screens to make sure it's aligned with the original design, but for now, that looks good enough for the release :)

[2022-09-19 15:15] arielweinberger commented on #3873
Tested on Next and works properly.

[2022-09-19 15:20] arielweinberger commented on #3898
Tested both JWT and Basic auth plugins, fixed!

[2022-09-19 15:20] arielweinberger commented on #3898
Tested both JWT and Basic auth plugins, fixed!

[2022-09-19 15:20] arielweinberger commented on #3679
@abrl91 and @morhag90 please test this :)

[2022-09-19 15:22] #3852 closed

[2022-09-19 15:35] abrl91 opened #3908 "🐛 Bug Report: commit and build status - mismatch between the UI and the logic"
### What happened?

1. The build loader keeps spinning, although in most cases, the commit was pushed to GitHub
2. When you click commit, the spinner starts rolling, but when the call finishes, the spinner is not replaced with the check icon
3. The commit status doesn't indicate the status of all builds

![Screen Shot 2022-09-01 at 13 07 40](https://user-images.githubusercontent.com/39680385/18788

[2022-09-19 15:41] abrl91 opened #3909 "🐛 Bug Report: The build loader keeps spinning although in most cases the commit was pushed to GitHub"
### What happened?

The build loader keeps spinning although in most cases the commit was pushed to GitHub

### What you expected to happen

I expect the loader status to reflect the real status

### How to reproduce

It happens sometimes. to reproduce just connect your service to GitHub and click on build

### Amplication version

0.17.0

### Environment

_No response_

### Are you willing to sub

[2022-09-19 15:49] GreenMachine01 commented on #3874
Approved By Yuval

[2022-09-19 16:03] abrl91 opened #3911 "🐛 Bug Report: When a plugin is installed and the operation fails there is no indication in the client"
### What happened?

 When a plugin is installed and the operation fails there is no indication in the client

### What you expected to happen

I expect to see an error mesage

### Amplication version

0.17.0

### Environment

_No response_

[2022-09-19 16:08] arielweinberger opened #3912 "🐛 Bug Report: Generated app with PostgreSQL database errors on NPM start"
When generating a new app on version 1, and following the Local Development instructions in the generated `README.md`, I am getting the following error:

![Image](https://user-images.githubusercontent.com/4976416/191063024-44f1a727-d3b6-4cb1-88c8-525ce0a76c33.png)

I checked with an app generated in v0.16.0 and this does not happen, which makes me feel pretty confident about the facrt that this wa

[2022-09-19 16:17] GreenMachine01 commented on #3900
Approved By:
Erez

[2022-09-19 16:25] abrl91 commented on #3912
cannot reproduce
[code]
![image](https://user-images.githubusercontent.com/39680385/191065891-fae6b500-2bc7-4b00-bfdc-076511a89f6a.png)

[2022-09-19 16:49] arielweinberger commented on #3912
Let's close this. If this comes up again, we'll tackle it.

[2022-09-19 16:49] #3912 closed

[2022-09-19 18:19] arielweinberger opened #3914 "Generated Dockerfile won't work with compose:up"
The DSG generated dockerfile is missing some important stuff:

[code]

These are required for the migration script to work.

[2022-09-19 18:53] #3583 closed

[2022-09-19 18:54] #3765 closed

[2022-09-19 18:54] #3784 closed

[2022-09-19 18:55] #3863 closed

[2022-09-20 07:18] #3900 closed

[2022-09-20 07:18] #3883 closed

[2022-09-20 07:20] #3879 closed

[2022-09-20 07:21] #3831 closed

[2022-09-20 07:22] GreenMachine01 commented on #3852
@alexbass86 please approve its proper on prod

[2022-09-20 07:39] alexbass86 commented on #3852
Looks the same in prod, approved :)

[2022-09-20 08:01] KlausMikhaelson commented on #3895
Hey @tupe12334 can I work on this issue ?

[2022-09-20 08:23] GreenMachine01 opened #3927 "🐛 Bug Report: 'Commit update' status is not updated"
When click commit the spinner start rolling but when the call finish the spinner is not replaced with check icon

[2022-09-20 09:04] tupe12334 commented on #3895
@GreenMachine01 Can you assign @KlausMikhaelson

[2022-09-20 09:14] b4s36t4 commented on #3927
@GreenMachine01 https://github.com/amplication/amplication/pull/3921 PR for that, can you check that solves the same or not?

[2022-09-20 10:12] alexbass86 opened #3929 "🐛 Bug Report: Dropdown - Inconsistant look and behavior, not alligned with the design"
### What happened?

We need to ensure the dropdown looks and behaves the same everywhere in our system.
Let's make sure we align them with the design.

Screen 1 - Project Configuration (sync with GitHub)
![image](https://user-images.githubusercontent.com/96179897/191229587-7f3017dd-f6f1-4185-a37d-d52f5dd3563e.png)

Screen 2 - Service (sync with GitHub)
![image](https://user-images.githubuserconten

[2022-09-20 10:26] alexbass86 opened #3930 "🐛 Bug Report: Missing scrollbar in long list"
### What happened?

We need an option to scroll when the list gets longer than our screen view in these sections.

Entities
![image](https://user-images.githubusercontent.com/96179897/191233154-6b5aa6c9-75ea-4288-9674-35b66a1d9045.png)

Inside an entity
![image](https://user-images.githubusercontent.com/96179897/191233312-b166a3e1-f2b8-4054-a22e-b445a844c680.png)

Roles
![image](https://user-image

[2022-09-20 11:08] GreenMachine01 commented on #3930
@alexbass86 please add reference to proper design examples

[2022-09-20 11:15] #3869 closed

[2022-09-20 11:15] GreenMachine01 commented on #3869
This item is duplicated by https://github.com/amplication/amplication/issues/3930

[2022-09-20 11:16] GreenMachine01 commented on #3930
Duplicates partially - https://github.com/amplication/amplication/issues/3869
More information can be found in the #3869 ticket

[2022-09-20 11:37] abrl91 opened #3931 "🐛 Bug Report: the docker-compose file of the Postgres and MySQL plugins isn't generating properly the health-check part"
### What happened?

The docker-compose file of the Postgres and MySQL plugins isn't generating properly the health-check part

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/39680385/191247401-ead8c19e-8859-4b49-ba12-98c2f021deeb.png">

### How to reproduce

- rebuild your old app (amplication verion > 1.0.0)
- see the pr result

### Amplication version

1.0.0

### En

[2022-09-20 11:55] alexbass86 opened #3932 "🐛 Bug Report: Message broker - UI Issues"
### What happened?

In message broker, we have an empty state currently It's aligned to the top, and Please make it in the center of the container.
Also, we need to ensure our title and subtext are consistent and look precisely like it's in the design and other places in the system.

![image](https://user-images.githubusercontent.com/96179897/191235155-8efe860c-e126-419a-8638-a8ae0704284a.png)

##

[2022-09-20 11:58] alexbass86 commented on #3930
Please use the same scroll bar we have on the main project screen (project list)
![image](https://user-images.githubusercontent.com/96179897/191251558-05ff76e7-a0df-4843-9033-b367dbb2b110.png)

[2022-09-20 12:17] alexbass86 opened #3933 "🐛 Bug Report: Side menu - bad padding between options"
### What happened?

Please make sure we have proper padding in the side menu. It needs to be 8px between each selection button.

![image](https://user-images.githubusercontent.com/96179897/191253100-4a32850f-a968-4f74-a36d-149bdb29a949.png)

This is also happening on these screens; please ensure it is fixed everywhere.

- [ ] Project Configuration - General Settings
- [ ] My message broker - Gener

[2022-09-20 12:26] alexbass86 opened #3934 "🐛 Bug Report: Message broker - UI problems"
### What happened?

Currently, the page is not aligned with the design.
Please make sure to align it with the latest design found here.
https://www.figma.com/file/GLTbBuQoYvwas6XsCMHnqd/%23none---Resources?node-id=1877%3A11798

### What you expected to happen

This page needs to be aligned with the design.

### How to reproduce

Go to the connection screen in service.

### Amplication version

1.0

[2022-09-20 12:31] alexbass86 opened #3935 "🐛 Bug Report: Service, Entities card - wrong on hover effect"
### What happened?

When you hover this card, we have the wrong effect, and please make sure the colors are exactly like it's in the design.
Design - https://www.figma.com/file/9vQeA4a87RBsyCViJTh13W/Design-System?node-id=1082%3A12193

background: #373D57;
border: 1px solid #444B66;
border-radius: 8px;

Also, please make sure the divider color changes.
![entity_card](https://user-images.githubuser

[2022-09-20 12:39] alexbass86 opened #3936 "🐛 Bug Report: Add resource - UI Issues"
### What happened?

Currently, the add resource button & dropdown with the elements inside look different from the design. Let's align it.
Design - https://www.figma.com/file/9vQeA4a87RBsyCViJTh13W/Design-System?node-id=2024%3A18957

How it spoused to look
![Project - Main Screen](https://user-images.githubusercontent.com/96179897/191259397-e771739e-f46b-4d84-8164-ea08db4ca148.png)

### What you e

[2022-09-20 13:32] #3934 closed

[2022-09-20 15:15] alexbass86 opened #3937 "🐛 Bug Report: Commit - Last commit section text break"
### What happened?

By clicking on the "Rebuild" button, the text on the last commit section breaks into two rows without any reason.
Let's make sure if it breaks, the message is below the Commit ID.

![image](https://user-images.githubusercontent.com/96179897/191296715-e0f58780-c099-437d-8a4e-e4c4b79f6500.png)

### What you expected to happen

The commit message needs to be below the commit id.

[2022-09-20 16:33] #3931 closed

[2022-09-21 08:43] woodenfish commented on #3745
I found the solution.  User roles data structure been changed to `{"roles": ["user"]}`. You can fix it following screenshot

![image](https://user-images.githubusercontent.com/3112528/191458234-37f297da-ae16-42db-b67e-65f84a7328e9.png)

[2022-09-21 12:33] shubhwip commented on #3745
@woodenfish It has changed recently i guess, tests has been failing before that.
Now I tried your suggestion as well and synched from latest master and it seems tests are still not happy but thanks for pointing this out.

[2022-09-21 12:44] arielweinberger opened #3939 "🐛 Bug Report: @ts-ignore comments in the Auth plugins"
### What happened?

We have @ts-ignore statements generated as a part of the code generated by the Auth plugins. This is against best practices and we got a few complaints from community members about this following v1.

### What you expected to happen

Remove the `@ts-ignore` statements from all generated code, and fix the root cause if needed.

### How to reproduce

Produce code with the Auth pl

[2022-09-21 12:53] westlag114 commented on #3604
Is someone still working on this issue? If not, I'm willing to pick it up
@yuval-hazaz

[2022-09-21 20:05] andrewstevenboima opened #3941 "Retrieving Project preview from GitHub"
### Feature description

Code or Project Preview

### Use case

I have some codes on GitHub. I would like Amplication to tell me which programming language it is and if I would love to view my project. For instant let's say HTML code. I should be able to view or preview the website through Amplication.

### Are you willing to submit PR?

_No response_

[2022-09-21 20:56] shanurrahman commented on #3745
Facing exactly the same issue

[2022-09-22 07:17] shubhwip commented on #3745
@tupe12334 When ACGuard is commented out in specs then tests pass
[code]
What could be the reason ?

[2022-09-22 08:25] abrl91 commented on #3927
Thank you @b4s36t4 I will check

[2022-09-22 09:07] abrl91 commented on #3927
duplicated #3908

[2022-09-22 09:53] arielweinberger commented on #3901
Done and working!

[2022-09-22 09:53] #3901 closed

[2022-09-22 11:26] ykhokhaneshiya commented on #3937
@alexbass86 , Can I work on this issue?

[2022-09-22 11:49] #3927 closed

[2022-09-22 12:33] abrl91 commented on #3909
duplicated https://github.com/amplication/amplication/issues/3908

[2022-09-22 12:36] #3909 closed

[2022-09-22 12:54] deejoe79 opened #3943 "Mongo DB support"
### Feature description

Do you plan to consider a document database (NoSQL) support in the future? Like Mongo DB?

### Use case

I find the NoSQL DBs a bit more flexible for many purposes, I use them with NestJS already in my side projects. This app would be just perfect with Mongo.

### Are you willing to submit PR?

_No response_

[2022-09-22 13:03] MoFoGo opened #3944 "Docs: remove download button from docs"
### Describe the issue with documentation

The user must now sync with GitHub to get the code. There is no longer a download button.

### How to solve the problem

Review all the docs and update.

### Are you willing to submit PR?

_No response_

[2022-09-22 13:07] ykhokhaneshiya commented on #3936
@alexbass86 , Can I work on this task?

[2022-09-22 13:49] morhag90 commented on #3933
@alexbass86 it seems its already fixed:

![Image](https://user-images.githubusercontent.com/97830649/191764664-734cdd05-e1d8-48f1-8120-40597e980b59.png)

please confirm
Thanks.

[2022-09-22 14:03] arielweinberger commented on #3943
Closing as this is a duplicate of  #1959.

It's definitely on our roadmap. We will soon have thorough documentation on plugin development, so community members who are up for it, will be able to create this as plugin and feature it as an official plugin.

[2022-09-22 14:03] #3943 closed

[2022-09-22 14:39] #3399 closed

[2022-09-22 14:43] #3681 closed

[2022-09-22 14:45] yuval-hazaz commented on #1993
closing with no activity

[2022-09-22 14:45] #1993 closed

[2022-09-22 14:47] #3364 closed

[2022-09-22 14:47] #3373 closed

[2022-09-22 14:47] #3362 closed

[2022-09-22 14:48] #3381 closed

[2022-09-22 14:48] #3401 closed

[2022-09-22 14:50] #3658 closed

[2022-09-22 14:50] #3692 closed

[2022-09-22 14:53] GreenMachine01 commented on #3211
@mshidlov @arielweinberger
Do we need this item?
Please explain it

[2022-09-22 14:53] GreenMachine01 commented on #3237
@mshidlov @arielweinberger
Do we need this item?
Please explain it

[2022-09-22 14:53] GreenMachine01 commented on #3239
@mshidlov @arielweinberger
Do we need this item?
Please explain it

[2022-09-22 14:55] GreenMachine01 commented on #3360
@abrl91 is this item still relevant?

[2022-09-22 14:55] #3655 closed

[2022-09-22 14:55] GreenMachine01 commented on #3276
@mshidlov @arielweinberger
Do we need this item?
Please explain it

[2022-09-22 14:55] GreenMachine01 commented on #3272
@mshidlov @arielweinberger
Do we need this item?
Please explain it

[2022-09-22 14:56] #3584 closed

[2022-09-22 14:58] GreenMachine01 commented on #3642
@arielweinberger
Do we need this item?

[2022-09-22 14:58] GreenMachine01 commented on #3694
@arielweinberger
Do we need this item?

[2022-09-22 15:00] #3491 closed

[2022-09-22 15:20] alexbass86 commented on #3933
Don't see these changes..

[2022-09-22 15:45] morhag90 commented on #3933
@alexbass86 doesn't work on prod yet, but I see it is working on master branch.
Do you have a personal working environment?

[2022-09-22 18:41] #3604 closed

[2022-09-22 20:42] abrl91 opened #3946 "🐛 Bug Report: Pending changes showing a wrong state after clicking on build, close the window and go back"
### What happened?

Pending changes showing a wrong state after clicking on build, close the window and go back. After a refresh, it's updated.

https://user-images.githubusercontent.com/39680385/191846471-3fb4bf64-8624-4cab-888b-fa58b2e27ca3.mov

.

### What you expected to happen

I expect to see a clean pending changes panel if I didn't make changes

### How to reproduce

A little bit tricky to

[2022-09-22 20:44] abrl91 commented on #3930
and also on the code view page

https://user-images.githubusercontent.com/39680385/191847410-4c79bbf5-21e2-482f-8780-b2e54309c56b.mov

[2022-09-23 16:57] abrl91 opened #3947 "🐛 Bug Report: The generated server code is not compiled when the JWT plugin is installed"
### What happened?

The generated server code is not compiled when the JWT plugin is installed.

based on a discord thread: https://discord.com/channels/757179260417867879/1021766691639791707

![image](https://user-images.githubusercontent.com/39680385/192012456-9d7ff81a-5c1d-4bea-95d9-201c3f032868.png)

### What you expected to happen

I expect the code to compile without errors

### How to repro

[2022-09-23 17:46] abrl91 opened #3949 "🐛 Bug Report: Generated app server - `Invalid role(s): []` error"
### What happened?

based on the a discord thread: https://discord.com/channels/757179260417867879/1022628873210429511

![image](https://user-images.githubusercontent.com/39680385/192026193-50ab7ae7-00ea-4504-8225-2cce8345e357.png)

### How to reproduce

- create a project with a service
- clone and run the app
- login with admin/admin
- make any other request

### Amplication version

1.0.0

###

[2022-09-25 06:01] harel-tussi opened #3952 "feat(client): SearchField - raise change event only after minimal idle time"
### Feature description

Hi,
As I browsed through the code in the client design system, I saw a todo note in the SearchField component - "add timer to raise event only after minimal idle time".

I would be happy to make a quick PR for this.

### Use case

Raise search field change event only after minimal idle time

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-09-25 06:33] shubhwip commented on #3949
Looks similar to #3745

[2022-09-25 07:29] abrl91 commented on #3949
Thank you. It's similar but in this case, it is not in a test

[2022-09-25 09:02] abrl91 commented on #3811
Fixed by https://github.com/amplication/amplication/pull/3950

[2022-09-25 09:02] #3811 closed

[2022-09-25 09:03] abrl91 commented on #3908
Fixed by https://github.com/amplication/amplication/pull/3942

[2022-09-25 09:03] #3908 closed

[2022-09-25 09:21] #3854 closed

[2022-09-25 09:49] abrl91 commented on #3873
fixed by 3873-bug-report-create-entity-modal-keeps-appearing-after-creating-an-entity

[2022-09-25 09:49] #3873 closed

[2022-09-25 10:00] abrl91 opened #3954 "🐛 Bug Report: When a plugin event fails, there is no indication of a failure"
### What happened?

When a plugin event fails, there is no indication of a failure.

For example, when a user installs the MySQL plugin, and on one of the entities, he has a field with the `MultiSelectOptionSet` type. Prisma's MyQL provider doesn't support an array of primitives. Therefore the plugin event fails, **but** there is no indication of a failure on the build page, as the plugin wrapper

[2022-09-25 12:25] arielweinberger opened #3955 "Implement status updates from DSG Job to Build Manager using HTTP calls"
### Feature description

The DSG Job should be able to send updates to the Build Manager during its run. This task involves making changes wherever necessary - DSG, Build Manager and if necessary, Amplication Server.

Once we are done and all is working end-to-end, we can consider replacing direct HTTP calls for Kafka.

[2022-09-25 13:02] omer3020 opened #3956 "🐛 Bug Report: Popup cannot be closed - UI Issues"
### What happened?

Whenever you try to create a project whose name already exists, the small tooltip message never disappears

![image](https://user-images.githubusercontent.com/45441211/192144310-6fd9492b-2744-43b8-b518-65b25f23498c.png)

### What you expected to happen

After a few seconds, the tooltip should disappear.

### How to reproduce

1.Add a new project to workspace
2.Add a new project

[2022-09-25 14:15] abrl91 opened #3958 "🐛 Bug Report: Generated app - admin-ui `npm install` failed"
### What happened?

Generated app - admin-ui `npm install` failed.

![image](https://user-images.githubusercontent.com/39680385/192148032-99a3c298-21a8-482a-bf66-886ba50806d4.png)

### What you expected to happen

I expect `npm install` to finish successfully.

### How to reproduce

-  create a project with a resource and download the code/clone from GitHub
- open with your IDE
- `cd admin-ui && n

[2022-09-26 06:43] aaaaayushh commented on #3522
Hello, if this is still up for grabs, can I work on it?

[2022-09-26 06:47] aaaaayushh commented on #2808
Hi, is this up for grabs? Would love to work on it

[2022-09-26 07:09] yuval-hazaz opened #3959 "🐛 DSG: Plugin Event `CreatePackageJson` should be renamed to `CreateServerPackageJson`"
### What happened?

The name of the event that runs on the server creation is called CreatePackageJson, instead, it should be named 'CreateServerPackageJson'

Soon we will need to add a similar event for the Admin-UI, and it should be called `CreateAdminPackageJson`

### What you expected to happen

the name of the event should be CreateServerPackageJson

### How to reproduce

go to packages/ampli

[2022-09-26 07:26] yuval-hazaz opened #3960 "DSG: Add event 'PrepareContext'"
### Feature description

The file create-data-service-impl.ts includes many preparation steps, and the current code is too cluttered.
To resolve that, we should refactor the files to extract all the preparation steps to a separate file.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-26 08:19] TAKANOME-DEV commented on #2808
Hello @aaaaayushh we have already started one with React Native and TypeScript. You can check it out [here](https://github.com/amplication/sample-mobile-app)

[2022-09-26 08:27] yuval-hazaz opened #3962 "🐛 Plugin Event: inconsistent type for updateValues in CreatePackageJson event"
### What happened?

The type of `updateValues` in `CreateServerPackageJsonParams` is inconsistent with other events that provide the same functionality.

In other events, we expose an array that allows the plugin writer to push new values to the processes without knowing anything about the current structure or other plugins. Each push is handled separately.

In the `CreateServerPackageJsonParams`,

[2022-09-26 08:28] yuval-hazaz commented on #3962
@arielweinberger I assigned this to you to get your opinion before moving to one of the eng for implementation

[2022-09-26 09:22] arielweinberger commented on #3962
@yuval-hazaz This is an interesting one. On the one hand, I like the idea of `JsonValue` because it will disallow stuff like functions, so it is more type safe, and feels more appropriate.

On the other hand, `JsonValue` comes from an external package (`type-fest`), which means external plugins will need to have it installed, and I am not a great fan of that.

I'll vote for being consistent and us

[2022-09-26 16:56] shubhwip opened #3963 "🐛 Bug Report: Static Images for Admin UI Missing"
### What happened?

If you start and open generated application's admin ui server then you will see images missing.
`http://localhost:3001/#/login`

<img width="1440" alt="Screenshot 2022-09-26 at 10 22 34 PM" src="https://user-images.githubusercontent.com/23444368/192335878-271a277c-e76a-405d-b021-c9aa0f6ea959.png">

### What you expected to happen

There should be correct images.
I looked at the

[2022-09-27 11:02] arielweinberger opened #3964 "Add a `/healthz` endpoint for Amplication Server"
### Feature description

The endpoint should be added to a `health.controller.ts` file in the App Module.

[code]

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-09-27 18:00] tupe12334 commented on #3745
Hi @shubhwip I saw your solution, and instead of removing the guard logic, I overrode the interceptors logic as well.
Please see my #3967 PR if you want; you can even leave some comments if you have any.

[2022-09-27 18:00] #3745 closed

[2022-09-27 19:38] imkrishnaagrawal opened #3974 "Permission To Allow Operation Based On Ownership"
### Feature description

I was thinking the permission section of the app . just like we have actions based on roles we can also add more control based on the conditions. if particular attribute of that field match to some value then we can allow it to perform action like View or Create as an generic feature.
One Of The use case I could think of is allow owner of entity to update not all user with

[2022-09-28 02:52] mikepsinn opened #3979 "🐛 Bug Report: `Error: Response not successful: Received status code 400` response when trying to run any command in the CLI, despite having athenticated"
### What happened?

I get a `Error: Response not successful: Received status code 400` response when trying to run `amp entities` on the CLI or any other command in the CLI docs, despite having successfully logged in.

### What you expected to happen

It should list the entities in the app.

### How to reproduce

1. Created an access token at https://app.amplication.com/cl6zoylfh105454401jhgihecoe

[2022-09-28 09:07] souravjain540 commented on #3974
Thank you for your suggestion @imkrishnaagrawal ! One of the team members will review this very soon.

[2022-09-28 09:07] souravjain540 commented on #3974
@arielweinberger  your views?

[2022-09-28 09:08] souravjain540 commented on #3963
@tupe12334 can you confirm?

[2022-09-28 09:09] souravjain540 commented on #3979
@yuval-hazaz can we help him?

[2022-09-28 09:09] souravjain540 commented on #3956
@alexbass86  please confirm this issue.

[2022-09-28 09:10] souravjain540 commented on #3956
Thank you so much for reporting the issue @omer3020!

[2022-09-28 09:12] souravjain540 commented on #3952
@tupe12334 can you please assist in this?

[2022-09-28 09:14] souravjain540 commented on #3941
Thanks for suggesting this @andrewstevenboima. One of our team member will review this very soon.

[2022-09-28 09:15] souravjain540 commented on #3805
@abrl91 can you confirm this issue?

[2022-09-28 09:25] tupe12334 commented on #3963
Hi @souravjain540 , @shubhwip is absolutely right.

[2022-09-28 09:27] souravjain540 commented on #3963
@shubhwip would you like to work on this issue?

[2022-09-28 09:33] arielweinberger commented on #3956
I've marked this issue as a `good first issue`. Community members wishing to contribute, you're most welcome!

[2022-09-28 10:40] morhag90 commented on #3933
@alexbass86, please recheck it in the staging environment; looks good there.

[2022-09-28 11:22] GreenMachine01 commented on #3944
@MoFoGo The fix here is to change just the flow. Developer can still download his code via GitHub instead of via Amplication

[2022-09-28 13:00] alexbass86 commented on #3933
@morhag90 in entities it's still not fixed

![image](https://user-images.githubusercontent.com/96179897/192784807-bab2d353-a21c-4a2a-8d29-06a999a4b01a.png)

[2022-09-28 16:15] andrewstevenboima commented on #3941
My pleasure.

On Wed, Sep 28, 2022 at 11:14 AM Saurav Jain ***@***.***>
wrote:

--
andrewstevenboima

[2022-09-28 16:43] Martande8055 commented on #3956
hello, can you assign this issue to me

[2022-09-28 16:50] souravjain540 commented on #3956
Assigned @Martande8055

Let us know if you need any help :)

[2022-09-28 17:05] Martande8055 commented on #3956
if I am in need, I will definitely ask for your help, thank you. thank you for offering help. I will let you know :)

[2022-09-29 06:03] Asmit2952 commented on #3211
Any updates? @arielweinberger @GreenMachine01

[2022-09-29 06:23] arielweinberger commented on #3211
Yes we need it. Feel free to go ahead @Asmit2952.

[2022-09-29 06:47] arielweinberger commented on #3211
After discussing it with the team, we feel it might be better for this to be done by one of our internal team members.

This must be a quick change and it involves scripts and pipelines as well. Due to the folder renaming it could cause a lot of conflicts with existing PRs.

I'd be happy to help you find another issue to contribute to. Ping me on Discord so we can figure out what kind of work you'

[2022-09-29 06:55] Asmit2952 commented on #3211
Thanks for the reply @arielweinberger, I'll ping you on Discord:)

[2022-09-29 11:32] #3947 closed

[2022-09-29 11:47] #3087 closed

[2022-09-29 12:53] tupe12334 opened #3987 "GraphQLJSON instead of GraphQLJSON in generated objects and inputs"
As I tested the #3957 PR I saw that the admin UI not working because the rules decorator in the `server/src/user/base/User.ts` file is marked as GraphQLJSONObject and not GraphQLJSON but the JSON in the rules is `string[]` requests are crashing on this decorator because its returning `["admin"]`

[2022-09-29 13:20] #3781 closed

[2022-09-29 13:30] #3987 closed

[2022-09-29 13:36] GreenMachine01 commented on #3933
@arielweinberger @morhag90
on Stage...

![Image](https://user-images.githubusercontent.com/112330500/193046252-3d544537-4039-4567-b532-8e225a1fcd60.png)

Moving it back to "To Do"

[2022-09-29 13:37] #3598 closed

[2022-09-29 13:37] #3449 closed

[2022-09-29 13:38] #3433 closed

[2022-09-29 16:35] tupe12334 commented on #3949
This issue is resolved in #3957

[2022-09-29 16:35] #3949 closed

[2022-09-30 08:32] rabebb opened #3993 "Error handling"
### Feature description

add customized error messages to base api. like http exception filter but more specific. for example, in create a user when there's a duplicate unique element, it returns "500 internal server error" and in the terminal it returns "unique constraint failed on the  field x". so instead i will be able to display the specific error without having to create a custom api.

thank

[2022-09-30 13:29] piriyapol opened #3994 "Feature Request - Social login"
**### Feature Request - Social login**
Google Account
Facebook Account
Line Account

[2022-09-30 13:31] #3994 closed

[2022-09-30 13:35] piriyapol opened #3995 "Feature Request - Social login User authentication"
### Feature description

### Feature Request - Social login User authentication
Google Account
Facebook Account
Line Account

### Use case

Social login integration.

### Are you willing to submit PR?

_No response_

[2022-09-30 13:41] NisanAyash commented on #3974
That's a good idea,
It may be helpful to consider `RBAC`.

[2022-09-30 13:51] arielweinberger commented on #3974
Thanks for the suggestion. It's a pretty busy holiday season for us so we'll make sure to get back to you ASAP.

@GreenMachine01 and @yuval-hazaz will be able to help as they steer the roadmap.

@NisanAyash We already have RBAC in place. I assume you mean ABAC? (Attribute Based Access Control)

[2022-09-30 17:26] sukiejosh commented on #3949
I am still facing the issue

![Screenshot 2022-09-30 182230](https://user-images.githubusercontent.com/44656210/193323888-6f68453d-eed8-4033-9258-b83a7c432678.png)

My Payload

![Screenshot 2022-09-30 182600](https://user-images.githubusercontent.com/44656210/193324263-56cf0756-ec53-454c-aa88-1e82e0bbab20.png)

[2022-10-01 05:37] Rutam21 commented on #3456
@souravjain540 If it's still not resolved, I can submit a PR.

[2022-10-01 05:38] Rutam21 commented on #3314
@souravjain540 If this still needs a PR, I am up for it.

[2022-10-01 06:23] souravjain540 commented on #3314
Assigned. :)

[2022-10-01 08:15] Shubhdeep12 commented on #3516
Yes @yuval-hazaz
Checked the above issue in the current build, seems like it is not handled.
here is the screenshot -
![image](https://user-images.githubusercontent.com/43654389/193399954-3c2e6d64-23d1-4801-b0fc-b96013e01512.png)

Raised PR with changes - https://github.com/amplication/amplication/pull/3997
It would be great if you review it.
Thanks.

[2022-10-01 08:17] Rutam21 commented on #3314
@souravjain540 I have gone through the `amplication-server` folder and it seems that the files are already using relative imports within them. There are no changes required and this issue can be closed.

[2022-10-01 09:30] souravjain540 commented on #3963
@yuval-hazaz can you help here

[2022-10-01 10:07] yuval-hazaz opened #3998 "Plugins: Settings"
Enable plugin developer to collect settings from the user.
The values of the settings will be passed to the plugin developer from the DSG to be able to make decisions in the plugin based on the values provided by the user.

https://www.figma.com/file/M1pqmkFKOw2DIm3wU0fB7h/Concept---Plugin-settings---View-Code?node-id=1136%3A6535

[2022-10-01 10:27] Manethpak opened #4001 "🐛 Bug Report: UI issue - Select field's input text is unreadable with current text color"
### What happened?

<img width="352" alt="Screen Shot 2022-10-01 at 12 07 54 PM" src="https://user-images.githubusercontent.com/58499300/193395776-dbedf2d3-57a1-4941-8108-0cb0253eacb5.png">

The text color for the select field is currently barely readable when I tried to search for a datatype, I have to guess what I'm typing most of the type when I try to search for a specific data type.

### What

[2022-10-01 11:27] souravjain540 commented on #4001
@alexbass86 please check if this is valid issue. @Manethpak will make a PR :)

[2022-10-01 11:29] comixtrip commented on #1313
Hi, i'm willing to take a look at this issue. Pls confirm that there are no other people already work on that so I can start right away.

[2022-10-01 12:37] Manethpak opened #4002 "Docs: Improve README"
### Describe the issue with documentation

There are some minor issues on the README which I would like to make some improvisation on

- Current Version on README is incorrect since amplication has already released version 1.0.1 but it still showing 1.0.0
- On the Version section this line `The feature set is listed above in the README file.` seem a bit odd.
- Create bug report and Submit feature

[2022-10-01 12:45] souravjain540 commented on #4002
Would love to have a PR from you @Manethpak .

Assigned :)

[2022-10-01 13:30] imkrishnaagrawal commented on #3974
Yes @arielweinberger I do agree with you and I understand amount of efforts you guys have to spend for the feature. I have build similar application using CASL , NestJs and TypeOrm where I have used AWS like policies stored in database and reflect metadata to pass permission between components which can be attached to roles and I can control the permissions using those policies. I have also design

[2022-10-01 15:05] Keshraf commented on #3929
Hello @alexbass86 , is this issue resolved?

[2022-10-01 15:07] yuval-hazaz commented on #1313
@comixtrip i am assigning you. Good luck. We would love to support on discord if needed

[2022-10-01 15:21] souravjain540 commented on #3995
Thank you so much for your suggestion. I don't think it is something that we wanted and is on our roadmap. 2

You can checkout our official roadmap here: https://amplication.com/roadmap

[2022-10-01 15:21] #3995 closed

[2022-10-01 15:21] souravjain540 commented on #3993
Thanks for your suggestion.

@yuval-hazaz @arielweinberger your thoughts?

[2022-10-01 15:23] souravjain540 commented on #3929
@arielweinberger @alexbass86 can @Keshraf work on this?

[2022-10-01 15:25] yuval-hazaz commented on #3963
@shubhwip you can find the original images in this repo
https://github.com/amplication/site/tree/master/assets

please download the relevant images and include them in the generated code as static files

[2022-10-01 18:25] yuval-hazaz opened #4004 "⭐️ Plugin Versions"
See - https://www.notion.so/amplication/Plugin-Versions-78aba86264af493a82b41ede0702cd59

### Feature description

Allow the developer of a plugin to publish multiple versions of a plugin.
Allow a user to select which version of the plugin to be used.

### Design
https://www.figma.com/file/VUJTnJdplrOahG8kPZ6RRa/%234004---Plugin-Versioning?node-id=1136%3A6535&t=KprM63Tps4019rq0-1

### Use case

_N

[2022-10-01 18:53] arielweinberger opened #4005 "Automate publishing a new version of `@amplication/code-gen-types`"
### Feature description

This library will be installed via NPM. Currently, NPM publishing of this one is manual.
Add a GitHub action that runs whenever a new tag is created from `master`.
The action should install dependencies, build the code-gen-types library, and publish the package.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-10-02 07:17] GreenMachine01 commented on #3893
Tested and approved by Erez

[2022-10-02 07:20] GreenMachine01 commented on #3930
Rejected..no scroll within an entity and UI shows outside the frame

![Image](https://user-images.githubusercontent.com/112330500/193442807-04432616-1bf9-41cf-b851-a0bf18e1ca27.png)

[2022-10-02 07:22] souravjain540 opened #4006 "Advocacy: Write a blog post about Amplication"
We always promote non and low-code contributions to Amplication.

In this issue you have to write a blog post or article about the experience of using Amplication or make a tutorial that about any project using Amplication.

**The blog must include unique content based on your experience and not just a copy-paste from other blogs or Amplication web site.**

This article should be published on any

[2022-10-02 07:25] souravjain540 opened #4007 "Advocacy: Make a video about Amplication."
We always promote non and low-code contributions to Amplication.

In this issue, you have to make a video about the experience of using Amplication, or you can make a tutorial doing any project using Amplication.

This video should be published on any platform of your choice(for example, Youtube, Twitch, etc.).

You have to create a PR by making a new file(in which there is link to that video) in