[2022-03-09 15:27] alexbass86 opened #2409 "Design System Task - Icons"
Please update all our icons in the app to be aligned with our design system.
[**Figma Link**](https://www.figma.com/file/9vQeA4a87RBsyCViJTh13W/Design-System?node-id=94%3A2796)

[2022-03-09 15:27] alexbass86 opened #2410 "Design System Task - Dropshadow"
Please update all our drop-shadow effects in the app to be aligned with our design system.
[**Figma Link**](https://www.figma.com/file/9vQeA4a87RBsyCViJTh13W/Design-System?node-id=357%3A8546)

[2022-03-09 16:30] MatanForU opened #2411 "🐛 Bug Report: button has a drop down but it doesn't function as drop down"
### What happened?

it has a dropdown, but opens a modal
<img width="1692" alt="Screen Shot 2022-03-09 at 18 25 30" src="https://user-images.githubusercontent.com/8940907/157485800-16bf2ad1-b6f3-44cf-a865-127c96827f7f.png">

### What you expected to happen

or cancel the dropdown icon or put a dropdown.

### How to reproduce

.

### Amplication version

0.12

### Environment

_No response_

### Ar

[2022-03-09 16:33] alexbass86 opened #2412 "🐛 Bug Report: The dropdown icon is shown incorrectly"
### What happened?

The arrow icon in our dropdown field is in the wrong place.
It should be on the right side.

Currently, it is on the left side like this:
<img width="346" alt="image" src="https://user-images.githubusercontent.com/96179897/157485876-0d294e8f-94b9-4e1a-85d2-311cbc7cec42.png">

### What you expected to happen

It should be on the right side:
<img width="297" alt="image" src="http

[2022-03-09 16:49] alexbass86 opened #2413 "🐛 Bug Report: Wrong dropdown design in our GitHub page"
### What happened?

Our organization's select button's current design looks different from the original design.

this is how it look now
<img width="1313" alt="image" src="https://user-images.githubusercontent.com/96179897/157488893-1f784677-c715-4fb9-8109-dea1f6767d50.png">

this is how it suppose to look
![a3](https://user-images.githubusercontent.com/96179897/157488991-01532169-a0ed-4283-9051-1

[2022-03-09 16:50] MatanForU opened #2414 "🐛 Bug Report: "Change repo" button leads me to select repo page instead to the select repo modal."
### What happened?

this button leads me to
<img width="1990" alt="Screen Shot 2022-03-09 at 18 26 18" src="https://user-images.githubusercontent.com/8940907/157486574-33832b7c-2979-4fb1-85c1-7666ee5d12a3.png">

but then, it leads me back to
<img width="1992" alt="Screen Shot 2022-03-09 at 18 48 25" src="https://user-images.githubusercontent.com/8940907/157489739-59353ff3-028b-4daf-8ce1-a032908e36

[2022-03-09 16:56] alexbass86 commented on #2409
Attached is the new v1.1 of the icomoon bundle. P
[amplicationicon-v1.1.zip](https://github.com/amplication/amplication/files/8216629/amplicationicon-v1.1.zip)
lease update the icon font using this zip

[2022-03-09 17:10] tupe12334 commented on #2305
@souravjain540 I think so

[2022-03-09 19:22] abrl91 opened #2415 "🐛 Bug Report: on dev environment - admin-ui failed when running npm run start"
### What happened?

Dev environment only!
On amplication-data-service-generation, after running "generate-test-data-service" script we get 'generated' folder.
There, on admin-ui folder running npm i and then npm run start it throws the following error

![image](https://user-images.githubusercontent.com/39680385/157514196-651a9e74-2967-41e6-8c0b-0f7a6280e8d4.png)

### What you expected to happen

n

[2022-03-10 05:18] yuval-hazaz commented on #2415
@abrl91 this is a classic case of “it’s not a bug, it’s a feature”
Since the generated app is created in a sub folder within the DSG folder, the parent node modules folder cause a conflict.

you should add SKIP_PREFLIGHT_CHECK=true  in the command line just before ‘npm i’

[2022-03-10 08:20] tupe12334 commented on #2352
We pinpoint the problem.
The problem accrues because of the use of yarn instead of npm to do the packages installation.

[2022-03-10 08:22] tupe12334 commented on #2352
@mshidlov how do you want to proceed?
1. block the use of yarn via the package.json engine section?
2. Add in the doc big comment that said "We are not support yarn"

[2022-03-10 08:25] yuval-hazaz commented on #2352
@tupe12334
why does yarn is not supported? what causes it to fail when using yarn?

[2022-03-10 08:26] yuval-hazaz commented on #2415
@abrl91 please confirm that this is the issue you were talking about, and that the method I suggested works for you
if so, we will close this issue

[2022-03-10 08:29] tupe12334 commented on #2352
@yuval-hazaz @0xsapphir3 help me a lot to reproduce this problem because it does not happen to me because I use npm.
I didn't start to go deeper because I'm focusing on #2374 , @0xsapphir3 said that he want to dig deeper and he will let me know if he found anything

[2022-03-10 08:29] souravjain540 commented on #2401
Sure, best of luck @muhsinkamil :)

[2022-03-10 08:30] abrl91 commented on #2415
@yuval-hazaz added to my todo list :) I will check it later and update/close this issue

[2022-03-10 11:31] abrl91 commented on #2415
@yuval-hazaz  run SKIP_PREFLIGHT_CHECK=true npm run start on admin-ui works

[2022-03-10 11:31] #2415 closed

[2022-03-10 12:01] tupe12334 opened #2416 "🐛 Bug Report: GitHub sync tile isn't updating"
### What happened?

if you have an app that is connected to a GitHub repository the GitHub sync tile will not update that you are now connected

![Screen Shot 2022-03-10 at 13 58 35](https://user-images.githubusercontent.com/61761153/157657327-3a9e84bb-0fc3-4233-9881-e67fb58072ef.png)

in this photo the app is connected to GitHub but it still show that it isn't

### What you expected to happen

th

[2022-03-10 12:45] mshidlov commented on #2411
@MatanForU Thank you for reporting this issue @alexbass86 can you add design for this

[2022-03-10 13:55] tupe12334 commented on #2384
## update

we need to change the logic that will make the git organization to stay even if we pressed the change repository

[2022-03-10 17:57] MoFoGo opened #2461 "Docs: Create/Enhance description of Many-to-Many Relations"
Review current documentation (Docs) and add and enhance as required
 Refer to Discord discussion
 https://discordapp.com/channels/757179260417867879/951445834803855390/951475677801119765

[2022-03-11 16:42] EdroViegas opened #2420 "🐛 Bug Report: Many-to-many relationship entity with merging of generating entity names causes problems in Deployment"
### What happened?

I have entity Teams that Own a lot of services, so I created TeamServices, but that caused  Deploy to fail without much additional information.
![Captura de ecrã 2022-03-10, às 12 40 57](https://user-images.githubusercontent.com/21107004/157906405-99c9df5d-cbcf-4879-ae7c-f296a187a7a9.png)

### What you expected to happen

I was trying to create a table generated by a many to

[2022-03-11 16:49] abrl91 commented on #2420
Hi @EdroViegas, can you please add screenshots of your 3 entities from Amplictaion dashboard? It would be very helpful

[2022-03-11 16:56] abrl91 commented on #2420
discord thread: https://discord.com/channels/757179260417867879/951445834803855390

[2022-03-12 07:43] yuval-hazaz commented on #2420
@tupe12334
IIUC from your reply on discord - the error is related to the name of the entity which uses the word "Service"?

If that is the case, let's check the exact conditions which cause it to fail.
Can we use the word "Service" at all?
IS the problem happen only when the entity name ends with the word "Service"?
What if the entire name of the entity is "Service"?

Please note:
There is already

[2022-03-12 07:44] yuval-hazaz commented on #2420
@all-contributors please add @EdroViegas for bug report

[2022-03-12 07:47] yuval-hazaz commented on #2392
@all-contributors please add @hmiiro for ideas

[2022-03-13 07:56] yuval-hazaz commented on #2341
fixed in https://github.com/amplication/docs/pull/112

[2022-03-13 07:56] #2341 closed

[2022-03-13 09:47] yuval-hazaz commented on #2414
thanks @MatanForU
This behavior is by design to allow the user to use the option to create a repo instead of selecting an existing one.

There is another issue open asking to change the text on the button to "Disconnect" to better describe the action

[2022-03-13 09:47] #2414 closed

[2022-03-13 10:29] tupe12334 commented on #2374
@mshidlov we need to change the milstone

[2022-03-13 11:50] abrl91 opened #2423 "🐛 Bug Report: info popup state is always open after clicking"
### What happened?

when a user clicks on the info icon (?) it stays open even after he clicks on one of the options.

![image](https://user-images.githubusercontent.com/39680385/158058083-32c24fc1-37d2-446f-b502-250172e841bd.png)

### What you expected to happen

I accept that this popup will get closed on clicking outside and when a user clicks on one of the options

### How to reproduce

open A

[2022-03-13 14:58] #2384 closed

[2022-03-14 09:22] #2366 closed

[2022-03-14 10:34] tupe12334 opened #2425 "ra-data-graphql-amplication package.json alignment"
### Feature description

We need to update the packages in the package json file of the ra-data-graphql-amplication to match the packages of ra-data-graphql-simple

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-03-14 10:36] tupe12334 opened #2426 "Test validation and custom tests for ra-data-graphql-amplication"
### Feature description

The package ra-data-graphql-amplication is based on the ra-data-graphql-simple package including its tests.
We need to add custom tests and make sure the existing tests are working properly

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-03-14 10:37] tupe12334 opened #2427 "Refactoring ra-data-graphql-amplication"
### Feature description

To make the ra-data-graphql-amplication lib is metanable and up to date we take the task  and separate it into 3 sub-tasks.

- [x] #2376
- [x] #2425
- [x] #2426

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-03-14 10:54] EdroViegas commented on #2420
![Captura de ecrã 2022-03-14, às 11 49 33](https://user-images.githubusercontent.com/21107004/158157668-f9dfdaba-2adc-4eb7-8fbc-c07f325b47b4.png)

Iam going to change my Service Entity name for something else ... The project is working perfectly in Sandbox but not on my machine , gives the error above (Image) .

[2022-03-14 10:56] morhag90 opened #2428 "🐛 Bug Report: Unknown Resources error on react admin"
### What happened?

After generating an app, download the code, run the environment and open the browser on lcalhost:3000 - react admin
shows the following error message:
![image](https://user-images.githubusercontent.com/97830649/158158051-0b132631-d098-4c8b-9376-08b3ddc91a9b.png)

This bug related to bug: #2373

### What you expected to happen

expect all the resources to work

### How to reprod

[2022-03-14 10:59] morhag90 commented on #2428
In this bug we fixed the next scenarios:
1. Entity with more then one word, for example: TheCustomer
2. Entity that ends with big latter, for example: CustomerA
3. Entity with number inside the string, for example: The5Customer

[2022-03-14 11:00] mshidlov commented on #2425
@tupe12334 as part of the dependency updates let's make sure that the generated `Admin-UI` dependencies are updated as well and that we are solving the dependency issues we encountered lately.

[2022-03-14 12:10] souravjain540 opened #2430 "🐛 Design: App Screen - Empty State"
### Feature description

We need to replace our current "no app" screen attached to the one we currently have

![image](https://user-images.githubusercontent.com/53312820/158169284-0f78efbd-1136-4ec9-bf08-98b921fcfd60.png)

This is what we want it to be:

![image](https://user-images.githubusercontent.com/53312820/158169324-f19c96bb-8cb5-47dc-822a-a772d05f4f3c.png)

The image:
https://www.figma.co

[2022-03-14 13:03] yuval-hazaz commented on #2430
@souravjain540 please get the new image from Alex and attach it to this issue

[2022-03-14 15:33] #2428 closed

[2022-03-14 15:35] #2386 closed

[2022-03-14 15:46] #2416 closed

[2022-03-14 18:14] yuval-hazaz opened #2431 "🐛 Bug Report: client - help menu background color is not visible on the default page background"
### What happened?

The help menu background color is not visible on the default page background color

<img width="646" alt="image" src="https://user-images.githubusercontent.com/43705455/158235025-c9194a61-b793-43f8-814f-0d9a37aa46ad.png">

### What you expected to happen

the popover background color should be distinct

### How to reproduce

open the support menu

### Amplication version

0.12.

[2022-03-14 18:14] yuval-hazaz commented on #2431
@alexbass86 please provide a fixed style

[2022-03-14 18:37] MichaelSolati opened #2432 "Improve `README`s"
### Describe the issue with documentation

For a complete newbie to this project it's hard to tell how the different packages relate to each other. For example, in order to use the client you also need to be running server (it seems like), but the README in the client doesn't tell you that.

### How to solve the problem

I think the README in the root should list all the different packages with a

[2022-03-14 19:08] MichaelSolati commented on #2342
@souravjain540 I have the time and don't mind getting to this today.

[2022-03-14 19:10] yuval-hazaz commented on #2342
You can go for it @MichaelSolati . I will assign it to you

[2022-03-14 20:21] MichaelSolati opened #2434 "Deploy to Azure can't be played..."
### Describe the issue with documentation

The video in `tutorials/deploy-to-azure.md` is set to private, so it can't be watched...

### How to solve the problem

@0xsapphir3 can you make it public again? Or at least unlisted? Otherwise a new guide/video will need to be created.

### Are you willing to submit PR?

_No response_

[2022-03-14 20:58] MichaelSolati commented on #2410
_If_ this is open for the public to try to help with I think some sort of screenshot would be helpful. The figma link seems to be private, so I'm not sure what it's supposed to look like.

[2022-03-14 20:59] MichaelSolati commented on #2403
The figma link isn't public, so new contributors don't have a reference 😢

[2022-03-15 06:49] alexbass86 commented on #2430
@souravjain540 Here the img
![empty-state](https://user-images.githubusercontent.com/96179897/158322498-9d2890aa-fc4d-438d-aaf3-fee29e6fffcc.png)

[2022-03-15 06:53] alexbass86 commented on #2430
@souravjain540 Here is the img for the empty stat
![empty-state](https://user-images.githubusercontent.com/96179897/158322977-cebeeb1b-5af4-4e88-aed5-354c927018f3.png)
e

[2022-03-15 07:03] alexbass86 commented on #2431
@yuval-hazaz  please use this color for the background #22273C (called black90) and #2C3249 (called black80) for the hover effect

btw on my mac it looks fine

<img width="359" alt="image" src="https://user-images.githubusercontent.com/96179897/158323959-6012aa39-fe29-45a3-afc1-99ec93f1b165.png">

[2022-03-15 07:05] alexbass86 commented on #2410
@MichaelSolati Hi :)
here is the code coming from Figma for the shadow style

box-shadow: 0px 44px 40px -24px #090B144D;
or
box-shadow: 0px 44px 40px -24px rgba(9, 11, 20, 0.3);

let me know if that's help

[2022-03-15 07:19] alexbass86 commented on #2403
@MichaelSolati Please give me your email. I will add you to our "10 issues 10 shirts" project on figma

[2022-03-15 07:44] alexbass86 commented on #2430
@souravjain540 Please use this link to download the SVG img
i prefer svg not png
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=1%3A2096

[2022-03-15 07:46] yuval-hazaz commented on #2431
@alexbass86 I think these are the current colors and it looks fine on your machine because you are using it in a page with the black menu area behind it.
Please try to open it on the "Sync with GitHub" page and see how it looks

[2022-03-15 07:51] alexbass86 commented on #2431
oh I see now the problem so let's change it to this values:
BG - #373D57 (called black70)
Hover - #444B66 (called black60)

[2022-03-15 07:51] #2365 closed

[2022-03-15 07:56] yuval-hazaz commented on #2241
@alceil sorry I missed your request!
yes, you can go ahead and do that

What we need is to create a single issue template that will include instructions and a link to open the issue in this repo instead of in the other repo.

The new template should be added to all other public repositories under the Amplication organization https://github.com/orgs/amplication/repositories

Something like
[code]

[2022-03-15 10:29] souravjain540 opened #2435 "Ten Issues For First Timers"
### Feature description

# 10 Issues For First Timers 👕

Hello contributors 👋

As proud members of the open-source community, we inspire developers to contribute to open-source projects 💜

To help you get started we have found 10 issues for first-time contributors, that can be a great way to fire-start your journey of the open-source contribution.

By giving back to the community, you’re also gett

[2022-03-15 10:51] MoFoGo opened #2457 "Docs: The page headings are not formatted consistently"
Current situation: The headings are sometimes sentence case and sometimes title case. We should be consistent.

Change required: Change the title for each topic  to Title Case (each word starts with an upper case letter).

[2022-03-15 13:51] muhsinkamil commented on #2347
Hey @yuval-hazaz, Are the requirements finalised for this ? If so, please assign to me. Would love to take up this :heart:

[2022-03-15 17:07] souravjain540 commented on #2410
Hello @MichaelSolati :)

[2022-03-15 17:13] mshidlov opened #2437 "Git Pull Service: sync changes from remote repositories"
Create a service called `@amplication/git-pull-service` for pulling changes from remote repositories.

`@amplication/git-pull-service` will subscribe to a queue containing `repository-push` events. The `repository-push` events represent a developer's (client)  past action of pushing changes to a repository on GitHub (or in the **future** any other vendor).

`repository-push` event data include:
-

[2022-03-15 17:21] abrl91 commented on #2437
@mshidlov What about assets? Should I clone images and videos too?

[2022-03-15 18:12] mshidlov commented on #2437
Currently, we should pull only code. so images, videos, and other assets should be excluded

[2022-03-16 10:38] RakeshPotnuru commented on #2431
I want to work on this?(This will be my first contribution to amplication)

[2022-03-16 10:50] 0xsapphir3 commented on #2435
Can I take the fourth one :eyes:

[2022-03-16 10:51] souravjain540 commented on #2435
So nice of you :) But Rule No- 2. Only for new contributors!

[2022-03-16 10:53] 0xsapphir3 commented on #2435
Sad, well no problem :smile:

[2022-03-16 11:02] souravjain540 commented on #2435
Sorry for that. I will add you to the list of contributors ❤️

[2022-03-16 11:06] Ash-KODES commented on #2435
Please add me in:)
@souravjain540

[2022-03-16 11:08] jainpawan21 commented on #2385
Hi @souravjain540 and @amitbarletz
I would like to work on this.
Can you please assign this to me?

[2022-03-16 11:09] jainpawan21 commented on #2435
Hi @souravjain540,
I would like to work on [3rd](https://github.com/amplication/amplication/issues/2385) issue
Can you please assign that issue to me?

[2022-03-16 11:10] souravjain540 commented on #2435
sure!

[2022-03-16 11:11] souravjain540 commented on #2435
Comment there!

[2022-03-16 11:11] souravjain540 commented on #2435
comment on that issue.

[2022-03-16 11:12] Ash-KODES commented on #2294
Can I work on it?

[2022-03-16 11:13] souravjain540 commented on #2385
sure @jainpawan21

[2022-03-16 11:13] preet-2 commented on #2217
Can i take this issue

[2022-03-16 11:15] souravjain540 commented on #2217
done. @preet-2 !

Have a good time working on it.

[2022-03-16 11:18] souravjain540 commented on #2294
Assigned it to you! Have a good time working on it.

[2022-03-16 11:21] souravjain540 commented on #2294
this is not that issue. please comment here - https://github.com/amplication/amplication/issues/2411

[2022-03-16 11:23] Ash-KODES commented on #2411
Can i work on this?
@souravjain540

[2022-03-16 11:27] souravjain540 commented on #2411
yes, sure! have a good time working on it.

[2022-03-16 11:29] souravjain540 commented on #2241
you can work on maximum one issue :)

[2022-03-16 11:32] souravjain540 commented on #2431
sure. have a good time working on it!

[2022-03-16 11:33] theamanbhargava commented on #2388
Submitted a fix for this in #2439. Please review. Thanks in advance :)

[2022-03-16 11:34] Ash-KODES commented on #2241
Ya sure,,actually i thought its a different issue,,apologies

[2022-03-16 11:35] theamanbhargava commented on #2387
@souravjain540 Can you please assign this to me?

[2022-03-16 11:36] souravjain540 commented on #2387
thanks for your pr

[2022-03-16 11:41] GaneshSonarSD commented on #2423
can i take this @souravjain540

[2022-03-16 11:41] ParkourKarthik commented on #2423
I would like to pick this up.

[2022-03-16 11:43] GaneshSonarSD commented on #2423
i am using windows is it ok

[2022-03-16 11:44] souravjain540 commented on #2423
can you reproduce the issue?

[2022-03-16 11:47] GaneshSonarSD commented on #2423
how can i do that can you help

[2022-03-16 11:51] GaneshSonarSD commented on #2423
yes ill do it

[2022-03-16 11:54] GaneshSonarSD commented on #2423
yes thank you @souravjain540

[2022-03-16 11:56] rkshaw20 commented on #2430
Can I take this one?

[2022-03-16 11:58] souravjain540 commented on #2430
Have a good time working on it.

[2022-03-16 11:59] rkshaw20 commented on #2430
Thanks Brother

[2022-03-16 12:01] sohailg commented on #2241
Can i work on this?

[2022-03-16 12:16] suryaraj1 commented on #2019
@souravjain540 can I work on this issue?

[2022-03-16 12:18] souravjain540 commented on #2019
Have a good time working on it

[2022-03-16 12:19] suryaraj1 commented on #2019
Thanks a lot 😄

[2022-03-16 12:30] HimikaP commented on #2431
I would like to work on this

[2022-03-16 12:31] RakeshPotnuru commented on #2431
@HimikaP
It's already been assigned to me.

[2022-03-16 12:42] sonali-dudekula commented on #2388
Hey @souravjain540 , Can I please work on this issue?

[2022-03-16 13:22] yuval-hazaz commented on #2347
@muhsinkamil yes! you can take it.
@alexbass86 will provide the latest design files and you can start

[2022-03-16 13:58] Dvip07 commented on #2217
Hey, Can I take Issue?

[2022-03-16 14:01] alexbass86 commented on #2347
@muhsinkamil Hello, here is the link for the new design feel free to contact me if you have any questions :)
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=16%3A3154
GOOD LUCK!

[2022-03-16 14:23] gorakh999 commented on #2217
Hey, can i take this issue ?

[2022-03-16 14:25] Dhoni77 commented on #2435
Can I work on #2411

[2022-03-16 14:44] theamanbhargava commented on #2375
@souravjain540 Can I work on this please?

[2022-03-16 14:45] MoFoGo opened #2460 "Docs: Reformat the GitHub Sync articles"
1. Rearange the two articles related to the GitHub Synchronization next to each other on the navigation sidebar.

https://docs.amplication.com/docs/sync-with-github
https://docs.amplication.com/docs/connect-server-to-github

2. Update the _Connect Server_ to GitHub app article to remove references to "new"
3. Correct the formatting for paths in _Connect Server to GitHub app_

[2022-03-16 14:50] tupe12334 opened #2441 "🐛 Bug Report: unnecessary dependencies in generate admin-ui"
### What happened?

When we generate an app for the user we give him in the admin-ui package.json several unnecessary dependencies:
- graphql-tag (we have it as a dep of @apollo/client
- typescript (needs to move to devDeps)
- gql (we have it via the @apollo/client)

### What you expected to happen

not relevant

### How to reproduce

not relevant

### Amplication version

0.12.0

### Environment

[2022-03-16 15:19] abrl91 opened #2442 "🐛 Bug Report: A personal GitHub user can't connect generated app to a new repo"
### What happened?

A personal GitHub user, meaning not an organization can't connect generated app to a new repo.

On the following screenshot, my personal account is selected and the create repository button is missing
![image](https://user-images.githubusercontent.com/39680385/158622051-6a165754-b6dd-495c-9c66-43fda0d2ec58.png)

On the following screenshot, my organization is selected and the c

[2022-03-16 15:40] theamanbhargava commented on #2259
Can I take a look at this please?

[2022-03-16 15:45] souravjain540 commented on #2259
done @theamanbhargava

[2022-03-16 17:03] MichaelSolati commented on #2434
@0xsapphir3

1. Sorry to hear that you were having problems, hopefully everything is better now.
2. NOICE! Thank you for making it public again. I'll close out this issue.

[2022-03-16 17:03] #2434 closed

[2022-03-16 18:35] #2217 closed

[2022-03-16 18:53] #2342 closed

[2022-03-16 18:58] #2401 closed

[2022-03-16 21:02] jainpawan21 commented on #2412
Hi @mshidlov,
I would like to work on this, Can you please assign this to me?

[2022-03-16 21:04] jainpawan21 commented on #2413
Hi @alexbass86 and @souravjain540,
I would like to work on this

[2022-03-17 05:52] souravjain540 commented on #2080
@all-contributors please add @0xsapphir3  for bug

[2022-03-17 06:41] jainpawan21 opened #2451 "🐛 Bug Report: Usage of hard coded RGB color value instead of css variable"
### What happened?

I see there are a few places we are using hard-coded RGB color values
We should use CSS variables to avoid re-work when we need to change some color

### What you expected to happen

We should use CSS variables for color values

### How to reproduce

See one example in this file:-
`packages/amplication-client/src/Application/git/dialogs/GitCreateRepo/GitCreateRepo.scss`
at line

[2022-03-17 06:42] jainpawan21 commented on #2442
I would like to work on this.
@abrl91 Can you please assign this issue to me?

[2022-03-17 07:07] yuval-hazaz commented on #2442
The current behavior is based on a limitation on GitHub API where you cannot create a repo on a personal account using a GitHub App Instance Token.

We should do some research to find a way how we can get access to create a repo in a personal account.

### Notes:
When going to https://github.com/settings/apps/authorizations there are 3 different tabs -

 - Installed GitHub Apps
 - Authorized GitHu

[2022-03-17 07:09] yuval-hazaz commented on #2442
This issue is not ready to be worked on, as far as writing code.
You are more than welcome to participate in the research - We would love to get any suggestions on how to fix the issue.

[2022-03-17 07:48] poposki317 commented on #2423
Can I try to fix this?

[2022-03-17 09:10] yuval-hazaz commented on #2347
@alexbass86 the prototype is not working as expected (it shows the project card instead of the actual design)

[2022-03-17 09:21] yuval-hazaz commented on #2412
@jainpawan21 yes you can.
Please note that this control is in @amplication/designs-system so before you make the change please remember that it may impact multiple places.

best way to approach would be to add an optional parameter with the position of the icon (left/right) with the default in current place, and use the other value for the specific location where we need to make the change current

[2022-03-17 09:23] yuval-hazaz commented on #2413
@jainpawan21 please let us know when you are available to take this task, once you complete the other issue your were assigned to, and we would love to assign this one also

[2022-03-17 09:29] yuval-hazaz commented on #2451
Thanks!
l will assign this issue to you

[2022-03-17 17:23] sohailg commented on #2241
I've changed the code in amplication/doc
https://github.com/amplication/docs/pull/119

[2022-03-18 08:52] yuval-hazaz commented on #2437
@mshidlov few comments:
1. I think we should call the service differently not to be confused with "pull requests", or even git "pull" (although this is exactly what we are doing in the service, in addition to clone). How about "git-sync" or "git-sync-remote" or "git-fetch-changes"? any other ideas?
2. Since it is a new DB, I think this is a good opportunity to use numbers for IDs as you wanted bef

[2022-03-18 08:58] yuval-hazaz commented on #2363
@mshidlov we need to update the details on this issue based on our recent talk

[2022-03-18 09:24] yuval-hazaz opened #2459 "Docs: Add an article about GitHub sync including the schema hierarchy"
the doc will explain how we install the GitHub App on the organization or personal account - and how it maps to a workspace.
Also. how all apps in the workspace can use the same app, each app with a different repo.

How you can add multiple apps to a workspace

Also, have a look at this issue -
https://github.com/amplication/amplication/issues/2396

we need to explain how org admin can sign in to

[2022-03-18 09:53] yuval-hazaz commented on #2241
perfect, thanks
I will close this issue, and we will consider doing the same for all other public repos.
If needed, I will open a new issue with a list of all other repos that need the same thing

[2022-03-18 09:53] #2241 closed

[2022-03-18 12:32] mshidlov commented on #2437
1. Any one of the above is fine by me.
2. OK
3. I believe that direct commits are performing push behind the scenes, but in case this is e different webhook it can be handled on the service that will process the webhooks. this service is not aware of the event source.
4. that answer is similar to 3 this should be part of the service that will process the webhooks.

The service that will process th

[2022-03-18 17:43] jainpawan21 commented on #2413
Hi @yuval-hazaz, I am available to work on this issue.

[2022-03-18 18:02] nik132-eng commented on #2019
if anything remains can I work on this issue?

[2022-03-18 18:02] nik132-eng commented on #2019
@souravjain540

[2022-03-19 02:22] souravjain540 commented on #2423
Hey @GaneshSonarSD, are you working on this?

If not I can assign this to other members.

[2022-03-19 02:23] souravjain540 commented on #2430
Are you working on it? @rkshaw20

[2022-03-19 02:24] souravjain540 commented on #2388
Are you working on it @sonali-dudekula ?

[2022-03-19 02:25] souravjain540 commented on #2411
Are you working on it? @Ash-KODES

[2022-03-19 02:26] souravjain540 commented on #2019
Are you working on this issue? @suryaraj1

[2022-03-19 02:34] suryaraj1 commented on #2019
Hi @souravjain540, I have raised a PR for this issue - https://github.com/amplication/amplication/pull/2453

[2022-03-19 02:35] souravjain540 commented on #2019
thank you :)

[2022-03-19 05:01] GaneshSonarSD commented on #2423
yes working on it.....

[2022-03-19 05:02] GaneshSonarSD commented on #2423
yup working on it @souravjain540

[2022-03-19 05:52] Sairam022 commented on #2435
Any issue left to work on or everything solved

[2022-03-19 05:53] souravjain540 commented on #2435
you can try #2430

[2022-03-19 05:56] Sairam022 commented on #2430
I think @rkshaw20 already working on it?

[2022-03-19 06:01] rkshaw20 commented on #2430
Yes, I am working on it.
 @souravjain540

[2022-03-19 06:55] yuval-hazaz commented on #2413
cool, go ahead

[2022-03-19 09:04] GaneshSonarSD commented on #2423
please assign this to other member @souravjain540

[2022-03-19 09:06] abrl91 commented on #2423
@poposki317 you can work on it :)

[2022-03-19 16:40] jainpawan21 commented on #2327
Hi,
Any update on this?
I would like to work on this issue if it is finalized.

[2022-03-20 03:31] sonali-dudekula commented on #2388
@souravjain540 yes, I am working on it

[2022-03-20 06:39] morhag90 commented on #2363
@Yes of course

[2022-03-20 07:06] MoFoGo opened #2458 "Docs : Improve description of Relation to Entity data type."
Also, the Owner field description does not mention the dialog that opens following the selection of the Relation to Entity data type.

![image](https://user-images.githubusercontent.com/96979533/158066761-d57e5082-1422-4ce7-ba43-dd8772a71399.png)

_Originally posted by @MoFoGo in https://github.com/amplication/docs/issues/113#issuecomment-1066124104_

[2022-03-20 09:48] alexbass86 commented on #2347
fixed

[2022-03-20 10:54] yuval-hazaz commented on #2327
I think the current options are not impactful in a way that is worth investing time in it right now.
@alexbass86 I suggest that we rethink this issue in a holistic way with the rest of the planned changes

[2022-03-20 11:12] morhag90 opened #2462 "Create `@amplication/git-service` web app"

[2022-03-20 11:12] abrl91 opened #2463 "create pull service package with Amplication"
1. Delete unnecessary code and make sure the server is still running successfully
    a. User entity - delete
    b. graphql resolvers - delete
    c. rest API - delete

   2. Postgres and Prisma - renaming

[2022-03-20 11:24] abrl91 opened #2464 "git pull service - create git client and git provider interfaces and classes"

[2022-03-20 11:24] abrl91 opened #2465 "git pull service - flow and logics"
1. Build the flow:
queue => controller listen and get the event data => trigger the git-pull service => clone and pull logic
=> (git client, git provider) => manage DB and storage
    (`git-remote/[provider]/[owner]/[name]/[branch]/[commit]`)

2. Add logger

[2022-03-20 11:24] abrl91 opened #2466 "git pull service - connect to Kafka"
connect the service logic to Kafka.
listening to topics.

[2022-03-20 11:33] alexbass86 commented on #2327
Agree

[2022-03-20 12:37] MoFoGo commented on #2471
This relates the new screen - will be relevant when merged into a release.

[2022-03-20 13:48] MoFoGo opened #2475 "Docs: Using an ID/Unique ID with JWT"
### Describe the issue with documentation

JWT authentication article needs to be expanded to describe the requirement for and use of IDs.

### How to solve the problem

See the following Discount thread:
https://discord.com/channels/757179260417867879/954297574066626570

Also, see if the JWT blog has useful info (check out the links at the bottom) :
https://www.notion.so/amplication/Using-JWT-wit

[2022-03-20 15:40] mshidlov commented on #2466
@abrl91 you can use this `docker-compose.yaml` for local development.

in the file there is 4 services:
1.   **kafka-ui**: UI to visualize the kafka cluster
2.  **zookeeper:** this is a cluster coordination server you don't need to interact with it but it is needed for by kafka broker (server)
3. **kafka:** a kafka broker - this is the service you need to interact with.
4. **kafka-init-topics:** s

[2022-03-20 15:42] alexbass86 commented on #2474
@MoFoGo can i close this issue?

[2022-03-20 15:50] MoFoGo commented on #2474
@alexbass86 - let's keep it open because I still need to make the changes in the docs. I will unassign you.

[2022-03-20 17:45] tupe12334 commented on #2405
I'm adding a todo list
- [ ] Colors
- [ ] Sizes
- [ ] States

[2022-03-20 18:11] morhag90 opened #2476 "Move all git functionality to `@amplication/git-service`"

[2022-03-20 18:11] morhag90 opened #2477 "Refactor `github.service.ts` and separate according to SOLID principles"

[2022-03-20 18:11] morhag90 opened #2478 "Create unit tests for github service functionality"

[2022-03-21 07:06] abrl91 opened #2479 "Nested Mutation with graphql for related entities"
### Feature description

Create nested mutation with graphql for related entities.
For example: create a new author with his posts at the same time

discord:
https://discord.com/channels/757179260417867879/781089015548870695/955025899781255179

### Use case

Being able to create a graphql mutation for related entities in a way that it will update the nested (related) entity

mutation:
[code]

vari

[2022-03-21 07:20] yuval-hazaz commented on #2479
In Prisma, it is called "Nested Writes"
https://www.prisma.io/docs/concepts/components/prisma-client/relation-queries#nested-writes

We should be able to stick to Prisma API and conventions to support that.

Currently, we only support connecting existing records when creating a new parent record using the "connect" or" set" property
https://github.com/amplication/amplication/pull/2296

[2022-03-21 08:39] alexbass86 opened #2480 "🐛 Bug Report: Roles icon change"
### What happened?

The current icon does not look well after the last changes also we needed a more representative icon for "Roles".

### What you expected to happen

.

### How to reproduce

.

### Amplication version

0.11.2

### Environment

.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-03-21 11:48] jainpawan21 commented on #2413
@yuval-hazaz

After exploring the root cause of this issue I have found that we need to modify our SelectMenu component in amplication-design-system. We are using @primer/react. As per primer [docs](https://primer.style/react/deprecated/SelectMenu) Select Menu is deprecated.
Shall I rewrite the entire component using the new [Action Menu](https://primer.style/react/ActionMenu) or modify the existi

[2022-03-22 05:30] souravjain540 commented on #2423
Hello @poposki317, are you working on it?

Can we help you in some way? We would love to help you!

[2022-03-22 05:34] souravjain540 commented on #2430
Hey @rkshaw20, are you still working on it?

Can we help you in someway?

[2022-03-22 05:35] souravjain540 commented on #2435
Hey @RepeaterCreeper, you can work on #2388

[2022-03-22 05:36] souravjain540 commented on #2430
Checking it, will assign you it in few hours if he is not working :)

[2022-03-22 05:37] Sairam022 commented on #2430
Ok

[2022-03-22 05:38] souravjain540 commented on #2435
Yes please leave a comment on that issue and I will assign it to you.  🤝

[2022-03-22 06:00] rkshaw20 commented on #2430
Everything is done, facing issue while placing the img in center of the page. Code is correct but don't know what's the issue. I will try to fix it by today evening.

[2022-03-22 06:03] souravjain540 commented on #2430
Great! You can ask for help anytime in discord in the (support) channel. We will love to help you

[2022-03-22 06:34] hiteshpatwari commented on #2460
I can submit a pr for this one.

[2022-03-22 06:37] hiteshpatwari commented on #2435
@souravjain540 could you please add me to the contributors list.

[2022-03-22 06:38] souravjain540 commented on #2460
Hey @hiteshpatwari! I've asked @MoFoGo about it. Wait for his reply then I'll assign it to you if he agrees :)

[2022-03-22 06:38] souravjain540 commented on #2435
Have you worked on any issues?

[2022-03-22 06:49] souravjain540 commented on #2467
Hey @MoFoGo, can I work on this?

[2022-03-22 06:56] souravjain540 commented on #2460
Okay, @MoFoGo has completed this issue already and PR is in review by him!

@hiteshpatwari you can work on another issue. There are many open issues that needs an awesome developer like you ;)

You can check it here - https://github.com/amplication/amplication/issues

[2022-03-22 08:02] MoFoGo commented on #2467
Sure @souravjain540

[2022-03-22 11:51] yuval-hazaz commented on #2413
Thanks @jainpawan21.
Do you know to tell how complicated a migration would be?

If that is something you can handle in a timely manner we can go for it, but let's try to estimate first

[2022-03-22 12:08] mshidlov opened #2486 "`@amplication/server` Phone-Home"
### Feature description

To help the Amplicaion team understand and be more aware of `@amplication/server` usage a notification event should be added on server load.

The loading event should not include any private personal data.
The event should include only:

- Build version
- Server version
- Runtime environments (OS, node version, ...)

### Use case

When `@amplication/server` is loaded it sh

[2022-03-22 12:23] jnfrati opened #2487 "Create data providers without any specific client side implementation"
### Feature description

Give a user a config section on their apps, to configure if they want or not the generated react SPA frontend client.
If the user chooses to not create the client app, Amplication can generate a root folder with the automatically generated data providers for the frontend. This will allow the user to choose the frontend framework that they like and still have the advantages

[2022-03-22 12:32] #2372 closed

[2022-03-22 13:24] MoFoGo commented on #2469
In progress. Awaiting PR approval.

[2022-03-22 19:52] duanecilliers opened #2489 "Conflicting Shortcut: (CMD+SHIFT+P) is new private window on Firefox"
I'm not sure if I've somehow got a custom shortcut config, but I don't remember changing it and [found this here](https://balsamiq.com/support/faqs/privatebrowsing/#mozilla-firefox
).

![Screenshot 2022-03-22 at 21 51 30](https://user-images.githubusercontent.com/1135407/159564265-59d72738-a125-4996-beb5-2edefc66a85f.png)
![Screenshot 2022-03-22 at 21 53 56](https://user-images.githubusercontent.c

[2022-03-22 20:41] yuval-hazaz opened #2490 "option to create a private repo when connecting to GitHub"
### Feature description

Right now, when creating a new repo for the sync with GitHub it is created as public by default.
We should allow the user to select whether the new repo in Github will be created as private or public

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-03-22 21:26] MichaelSolati opened #2491 "JWT should include User ID"
### Feature description

Presently JWT tokens return the `username` of a user rather than their ID. Either instead of the username, or in addition to this, a the UID of a user should be included in the encoded object,

### Use case

For fetching the user object of the current user, they need to make  a GET request like this `http://localhost:3000/api/users?where%5Busername%5D[equals]=admin` which

[2022-03-22 21:38] MichaelSolati opened #2492 "JWT should be able to be stored as cookies"
### Feature description

Presently JWT tokens are returned on `/api/login`  as a field in the response. This requires developers to save the token into local storage and attach it to all requests.

To provide more options to developers, we should allow for JWT tokens to returned in the response cookies. That way devs wouldn't need to worry about attaching it to all requests.

Their are security be

[2022-03-22 23:53] #2427 closed

[2022-03-22 23:54] #2425 closed

[2022-03-22 23:54] #2376 closed

[2022-03-22 23:55] #2426 closed

[2022-03-22 23:55] #2387 closed

[2022-03-22 23:56] #2019 closed

[2022-03-22 23:56] #2451 closed

[2022-03-22 23:57] #2480 closed

[2022-03-22 23:57] #2385 closed

[2022-03-23 07:10] DavianYang commented on #2492
Can I work on this?

Since I am also working on Auth module in my GitHub repo, I would like to take this opportunity to contribute.

[2022-03-23 07:26] abrl91 opened #2493 "🐛 Bug Report: React admin-ui m2m unsaved changes"
### What happened?

taking products and order for example: when on orders a user chooses connected products, then exit the edit page of orders and go back to the order he has just edited, the connected product list is still empty.Take

### What you expected to happen

I expect that the user will see the products that the user selected  as a connection to the order

### How to reproduce

Set m2m re

[2022-03-23 08:00] karunakerreddyv opened #2495 "build never gets succeeding"
deployment never succeeded for sample app

[2022-03-23 08:58] yuval-hazaz commented on #2495
thanks @karunakerreddyv
we are working to expand the capacity on the deployment server. When we are experiencing a very high volume of traffic the cloud services used for the sandbox deployment reach some limits.

We are in a middle of a migration process to new cloud infrastructure and that will also resolve this issue.
Until then, users may experience some delays when deploying to the cloud sand

[2022-03-23 09:44] karunakerreddyv commented on #2495
thanks for the speedy response

[2022-03-23 11:28] MoFoGo opened #2496 "Docs: Missing info in ReadMe re running client and server after npm setup"
### Describe the issue with documentation

The ReadMe does not explain that i n the dev environment, you need to run the server and the client.
ReadMe is  missing the instructions to run the client and the server after `npm run setup:dev`

### How to solve the problem

Update the ReadMe with the required information

### Are you willing to submit PR?

_No response_

[2022-03-23 12:42] #1940 closed

[2022-03-23 12:52] muhsinkamil commented on #2489
Interesting. I am checking this.
Seems react-command-palette already checks at https://github.com/asabaylus/react-command-palette/blob/main/src/command-palette.js#L90.
But unfortunately, only works on chrome. I will update the progress here. Most probably we would need to change the shortcut key since the option/func to override is not provided from react-command-palette

[2022-03-23 17:44] innub commented on #2410
Hey, if this issue is unassigned, I would love to pick this up.

[2022-03-23 17:45] souravjain540 commented on #2410
Sure!

[2022-03-23 21:22] PiggyPlex commented on #2495
good luck with everything! and look forward to the future of amplication

[2022-03-23 22:12] innub commented on #2410
There seems to be several different types of box shadows specified in amplication-design-system + other custom ones scattered throughout the app. Do I unify all the colors but keep the pixels offsets?
I got access to the Figma via [this comment](https://github.com/amplication/amplication/issues/2403#issuecomment-1067649978), but the Dropshadow page is rather vague.

[2022-03-24 00:51] dusty1977 opened #2498 "Just template"

[2022-03-24 06:19] SomehowPatrick commented on #2498
Great issue!

[2022-03-24 06:51] #2493 closed

[2022-03-24 07:10] souravjain540 commented on #2423
Hey @salindae25, do you want to work on this issue?

This is a part of 10 Issues for First timers, submitting PR for this will give you an exclusive merch from Amplication.

[2022-03-24 07:41] #2498 closed

[2022-03-24 08:41] Lucarnosky commented on #2411
Hi, can I be assigned to this task?

[2022-03-24 08:53] Ash-KODES commented on #2411
I will be making a pr in 2 days,if not done you can definetly work on it:)

[2022-03-24 09:03] Lucarnosky commented on #2411
Is just that after a week of silent for a simple task I've tought you were not working on it.

[2022-03-24 09:55] souravjain540 commented on #2411
Thanks for your PR @Lucarnosky

[2022-03-24 09:57] Lucarnosky commented on #2411
@souravjain540 Glad to contribute

[2022-03-24 11:03] abrl91 commented on #2437
@mshidlov I'm tagging you to review if I understood you.
We talk about adding indices for the database table:
1. pushed_at
2. combined index of: provider + ownerName + repositoryName

for 'looking good' press 👍  otherwise leave a comment :)

[2022-03-24 12:36] tupe12334 opened #2503 "🐛 Bug Report: ra-data-graphql-amplication user create"
### What happened?

When we go to the generated admin UI and try to make a new user instance with the same roles it will crash.
The error:
[code]

The source of the error is in the buildVarubles.ts line 373

### What you expected to happen

The user needs to be created with the role

### How to reproduce

Generate an app -> go to the sandbox -> login and create new user

### Amplication version

0

[2022-03-24 14:24] muhsinkamil commented on #2489
Did more digging.
[React command palette](https://github.com/asabaylus/react-command-palette/blob/main/package.json#L91) internally uses [Mousetrap](https://github.com/ccampbell/mousetrap). And there seems to be an [issue reported at mousetrap](https://github.com/ccampbell/mousetrap) long time back and is still open.

So our option would be to change the shortcut, I guess.

@yuval-hazaz How about

[2022-03-24 15:20] duanecilliers commented on #2489
Nice work @muhsinkamil

`/` and `cmd + k` is search on https://docs.amplication.com/docs/first-app/ which works in Firefox. I'm guessing the docs isn't using mousetrap.

I think `cmd/ctrl + shift + k` is a decent alternative.

[2022-03-24 18:06] salindae25 commented on #2423
@souravjain540  I would love to give it a try.

[2022-03-24 19:22] #2225 closed

[2022-03-24 21:43] MichaelSolati commented on #2496
Related to #2432

[2022-03-24 23:11] lukaskwkw commented on #2459
Also how to make it working with local env. How to setup i.e. https://smee.io and how to fill all .env properties like GITHUB_APP_INSTALLATION_URL  etc.

[2022-03-25 03:20] MichaelSolati commented on #2492
Have you already implemented something like this?

I also think we'd need to figure out how a user would be able to enable this.

[2022-03-25 06:18] abrl91 commented on #2503
This is not the correct error that appears. The error is Not Found 404

[2022-03-25 08:04] abrl91 opened #2505 "🐛 Bug Report: React Admin many to many relation - source attribute get wrong value"
### What happened?

Data of m2m relation is sometimes lost. It depends on the relation entity name now, but it does not need to be affected.

### What you expected to happen

A user can call the entity's field however he wants and still get m2m relation. Then on react admin UI when he set the relation data, the values should be saved.

### How to reproduce

After setting m2m relation on Amplicatio

[2022-03-25 08:43] MoFoGo commented on #2496
@MichaelSolati - will close this, as is a duplicate of #2432

[2022-03-25 08:43] #2496 closed

[2022-03-25 12:07] tupe12334 commented on #2503
I'm talking about the network request @abrl91

[2022-03-25 14:14] muhsinkamil commented on #2489
yes @duanecilliers, docs uses algolia search.

[2022-03-25 14:57] yuval-hazaz commented on #2487
@jnfrati thanks for this idea.
Its fits perfectly with our plans to give more control over the generated code.

would you please provide some more details on what do you expect to see in the folder?
are you talking just about the models? have a look at this folder, is that what you have in mind?  https://github.com/amplication/blog-server/tree/main/admin-ui/src/api

[2022-03-26 06:49] yuval-hazaz opened #2507 "🐛 Bug Report: Generated app build failed when a using OptionSet with the work "Title" in the name"
### What happened?

For the Admin UI Amplication automatically chooses a field to be used as the "title" of a record - by looking for any field with one of these words - "name" or "title"
see code here:
https://github.com/amplication/amplication/blob/b896532197f64d272770cbc57414caea09b39ceb/packages/amplication-data-service-generator/src/admin/entity/entity-title-component/create-entity-title-comp

[2022-03-26 19:43] pevey opened #2508 "Unchangeable email address"
For some reason, after signing in with github, Amplication picked an old non-primary email address from my github profile to link to my Amplication account.  Now, that email address cannot be removed or changed in Amplication.  After removing the email address in github, it is still linked to my Amplication account and cannot be changed.  Throughout this time, my primary email in github did not ch

[2022-03-27 06:23] mshidlov opened #2509 "GitHub Events Listener Service: listen to GitHub push webhooks events"
Create a service called `@amplication/gh-events-listener-service` for listening to repository push events webhooks sent from GitHub.

`@amplication/gh-events-listener-service`  will have to:
1. validate the webhook received for authentication token
2. validate that the repository and the branch are tracked by us (we have a repository defined is our DB)
3. create a push event message with data from

[2022-03-27 06:28] mshidlov commented on #2509
@morhag90 please keep in mind that the first section should be handled by the framework. please do a small POC before starting to develop.

![Git Webhook Service - Page 3](https://user-images.githubusercontent.com/91742238/160269475-bce15c40-7ddd-45c4-a1fe-f14cad4b968f.png)

[2022-03-27 06:28] abrl91 opened #2510 "🐛 Bug Report: React Admin m2m relation is not shown in 'show' view"
### What happened?

m2m relation: products and order the list of related products in the order (I added the products label).
![image](https://user-images.githubusercontent.com/39680385/160269383-4ab85884-d311-4f76-bc6a-19df4f230ae5.png)

### What you expected to happen

If an order has related products, the list should appear in the 'show' view.
Like user and his orders, unless user and orders is

[2022-03-27 11:40] MoFoGo commented on #2347
@alexbass86 I'm not sure the following is clear

![image](https://user-images.githubusercontent.com/96979533/160279402-f979c8a1-5ddb-43b1-9d2b-ee3262ff77ef.png)

I would suggest changing the text. Currently, it could be understood to mean that the Node.js is generated automatically once you load the CSV file.

I would suggest as follows:

Just upload an Excel or CSV file to import its schema, and

[2022-03-27 11:46] alexbass86 commented on #2347
Love it. Good job! @MoFoGo
I just updated it
![B](https://user-images.githubusercontent.com/96179897/160279982-ef9f2e81-eba6-4daf-957b-9d2045fdb7c9.png)

[2022-03-27 11:46] MoFoGo commented on #2347
@mshidlov - do we know in what release this will be included?

[2022-03-27 11:53] MoFoGo opened #2513 "Docs: Describe the new Amplication start screen and flow"
### Describe the issue with documentation

Related to:  App - New Project Screen - UI/UX #2347

The opening screen for generating a new application is being changed.
The CSV option is now less prominent.

### How to solve the problem

1. Update the following topics in Docs to reflect the new screen and workflow:
https://docs.amplication.com/docs/first-app
https://docs.amplication.com/docs/how-to/c

[2022-03-27 21:06] molaycule opened #2515 "A What's New or Release Note Menu in the client app"
Having a what's new or release note in the client app will let user know what has changed, what has been added etc. The inspiration for this feature request comes from the release note of every new release that is published on the github repo. Having the release note or what's new section in app will provide quick access to such information from the client app.

[2022-03-27 22:38] molaycule opened #2516 "🐛 Bug Report: Token text extends out of container area"
### What happened?

When token is display after creating one, and the pending changes container is open, token extended out of the container area.
<img width="960" alt="Screenshot 2022-03-27 225018" src="https://user-images.githubusercontent.com/20028628/160303719-d8a1b8c9-ece2-4597-a3fa-676f4705ac02.png">

### What you expected to happen

Token text should be within the container area and not ove

[2022-03-28 03:35] souravjain540 commented on #2423
Thanks for your PR @salindae25  :)

[2022-03-28 03:35] souravjain540 commented on #2430
Thanks for your PR @rkshaw20

[2022-03-28 03:39] rkshaw20 commented on #2430
Thanks for giving me the opportunity to contribute to open-source.

[2022-03-28 05:44] Sairam022 commented on #2435
So everythig solved or anything left to work?

[2022-03-28 05:58] souravjain540 commented on #2435
#2388 is still pending :) You can work on it.

[2022-03-28 12:35] muhsinkamil commented on #2347
@alexbass86 prototype link seems broken again.

- Could you please check it.
https://www.figma.com/proto/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?page-id=16%3A3154&node-id=1%3A2131&viewport=401%2C48%2C0.37&scaling=min-zoom&starting-point-node-id=16%3A4832

- Also, could you please review B3 in figma and confirm if the text should be changed to "Just upload an Excel or CSV file to import its

[2022-03-28 16:40] rienheuver opened #2519 "Duplicate step in first-app documentation"
### Describe the issue with documentation

Bullet point 6 of step 5 of the "Your first application" documentation seems duplicate of bullet 5, just worded slightly differentyl and less clear than bullet 5:
https://docs.amplication.com/docs/first-app/#set-entity-permissions

### How to solve the problem

Seems to me like bullet 6 can be removed. And I believe people in discord agree:
https://discor

[2022-03-28 20:20] rienheuver opened #2520 "🐛 Bug Report: Material-UI: the createMuiTheme function was renamed to createTheme."
### What happened?

When running the code generated by Amplication, it will throw the following error in your browser console when running the admin app:
[code]

My UI looked really weird as well. Looks to me like a package was updated but someone forgot to look at the breaking changes :wink:

### What you expected to happen

No errors to be thrown and the UI to work normally

### How to reproduce

[2022-03-28 20:25] MichaelSolati opened #2521 "🐛 Bug Report:"
### What happened?

As reported by @rienheuver,

---

Alright, got it... maybe you guys should call this channel #rubber-duck... anyways, for future reference: the docs won't suffice for (most?) linux users. In linux you usually have to run docker as super user: sudo docker (...) (and the same for docker-compose). However, I can't run the npm command as super user, because npm is not installed for

[2022-03-29 02:37] ysfbsf commented on #2503
It seems there is an issue with the generated GraphQL request :

`{
  "where": {
    "id": "cl19sqx2c0000ye2seza4hxvf"
  },
  "data": {
    "roles": {
      "set": [
        "admin",
        "autoEntrepreneur"
      ]
    },
    "username": "admin"
  }
}`

After passing the array of roles directly as value of the **roles** attribute, this query seems working:

`{
  "where": {
    "id": "cl19sqx2c0

[2022-03-29 03:31] abrl91 commented on #2503
Thanks @ysfbsf we already fixed. In the upcoming release you will be able to create and update users.

[2022-03-29 06:42] MoFoGo commented on #2486
@mshidlov - please supply details of how to deactivate the feature.

[2022-03-29 06:52] abrl91 commented on #2503
@tupe12334 this bug is not related to amplication/amplication.
I opened a bug report and PR on amplication/ra-data-graphql-amplication about this issue. I think you can close this issue :)

[2022-03-29 09:50] tupe12334 commented on #2520
' My UI looked really weird as well. Looks to me like a package was updated but someone forgot to look at the breaking changes 😉 '

@rienheuver can you send a snapshot of what you see wrong with the admin UI

[2022-03-29 09:55] yuval-hazaz commented on #2413
@jainpawan21 are you still interested in working on this?

[2022-03-29 09:57] yuval-hazaz commented on #2460
@MoFoGo is this still open?

[2022-03-29 09:58] yuval-hazaz commented on #2467
@souravjain540 are you working on this?

[2022-03-29 09:58] souravjain540 commented on #2460
no, he has submitted a PR

[2022-03-29 09:59] souravjain540 commented on #2467
yes :)

[2022-03-29 10:00] yuval-hazaz commented on #2469
@MoFoGo is that still open? can you add a link to the PR?

[2022-03-29 10:01] rienheuver commented on #2520
![image](https://user-images.githubusercontent.com/9960351/160586658-953529aa-2701-4ddd-a914-3ec6cdef9569.png)

![image](https://user-images.githubusercontent.com/9960351/160586774-e5848970-2cd4-4322-85f0-519305e5e94c.png)

For some reason I need to login and logout to see this change.

[2022-03-29 10:07] yuval-hazaz commented on #2491
thanks @MichaelSolati this one move to "accepted" and will be picked up in a future sprint.

also, I will open it to the community in case someone will want to handle it

[2022-03-29 10:08] yuval-hazaz commented on #2491
just to clarify - this issue is about the generated app and not about Amplicaiton server

[2022-03-29 10:09] morhag90 opened #2523 "Create separated package to Prisma schame"
### Feature description

create separated package for the prisma schema and remove it from amplication- server .
sub issue of: #2509

### Use case

In order to provide shared DB we need to create separated package for the prisma schema and remove it from amplication- server

### Are you willing to submit PR?

_No response_

[2022-03-29 10:26] #2411 closed

[2022-03-29 10:37] jainpawan21 commented on #2413
Yes @yuval-hazaz , Give me some more time. I am working on this issue

[2022-03-29 11:18] yuval-hazaz commented on #2347
@muhsinkamil about light mode - if you use the correct theme variables in CSS the light mode should work fine. We are not managing the design system of the light mode any longer to save redundant work.
So, once you complete the work, let us know so we will review the results on the light mode and if needed will give you comments

[2022-03-29 11:23] yuval-hazaz commented on #2503
@abrl91 we want to track all issues in this repo, including issues related to the other repos.
we should implement the issue template we use in the docs in all other repos

[2022-03-29 11:26] yuval-hazaz commented on #2460
so we need to close the issue

[2022-03-29 11:26] #2460 closed

[2022-03-29 11:28] yuval-hazaz commented on #2413
perfect, thanks

[2022-03-29 12:13] tupe12334 commented on #2520
@rienheuver Can you elaborate more about you envierment and open a different issue, about that?

[2022-03-29 12:28] rienheuver commented on #2520
If I'm not mistaken, it happens when you open a fresh project in Amplication, download the code and start the UI. Anyway, what do you want a new issue to be about? Because this issue is about this weird looking UI right? I'm not sure I understand what you mean

[2022-03-29 12:33] jnfrati commented on #2487
Sorry for taking so long on answering this! Glad to hear that this is something that's on the plans @yuval-hazaz!

So as far as I've seen the current generated code is only generating models for the GraphQL client right?
Would be possible (with the current status of the generator) to setup models for querying to the REST api as well?

[2022-03-29 12:35] morhag90 opened #2524 "Amplication-server => add new prisma dependency"
### Feature description

Change amplication-server to consume prisma from package (dependency) and remove the prisma folder from it.

### Use case

In order to create shared DB, we created a new package for prisma schema and remove it from amplication-server.
related issue: #2523

### Are you willing to submit PR?

_No response_

[2022-03-29 13:10] souravjain540 commented on #2467
PR : https://github.com/amplication/docs/pull/129

[2022-03-29 13:15] Holajuwon commented on #2435
HI @souravjain540 is this still pending, can I work on it?

[2022-03-29 13:16] souravjain540 commented on #2435
Yes please comment in #2388 once and I will assign it to you.

[2022-03-29 13:21] Holajuwon commented on #2388
Hi @souravjain540.

[2022-03-29 13:22] Holajuwon commented on #2435
I have done that.

[2022-03-29 13:26] Holajuwon commented on #2388
OK @souravjain540 , I look forward to that.
I am already on discord.

[2022-03-29 13:47] alexbass86 commented on #2238
@mshidlov hey any update?

[2022-03-29 14:13] #2467 closed

[2022-03-29 14:32] muhsinkamil commented on #2347
@yuval-hazaz I see, understood ! Thank you.

@alexbass86 The background of "Start from scratch" in [Figma](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=163%3A4153) is a gif. Should we add it as gif or to animate with svg or image ?
If to animate, Can I get an image to add.

[2022-03-29 16:31] MichaelSolati commented on #2491
I guess technically yes. I assumed server since it generates the returned token...

[2022-03-29 19:05] #2409 closed

[2022-03-30 07:35] alexbass86 commented on #2347
gif at this point attached both gifs

![sample](https://user-images.githubusercontent.com/96179897/160776880-be160cd1-eb87-434d-bc56-14c3e279dfeb.gif)

![clean](https://user-images.githubusercontent.com/96179897/160776855-5104df67-0c55-4c17-b4d3-590b4f82291b.gif)

[2022-03-30 09:19] #2412 closed

[2022-03-30 09:19] #2423 closed

[2022-03-30 09:19] alexbass86 commented on #2347
Yes sorry for the delay, let me know if that works for you
https://www.figma.com/proto/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?page-id=16%3A3154&node-id=163%3A4044&viewport=397%2C48%2C0.36&scaling=min-zoom&starting-point-node-id=163%3A4044
make sure you don't use the prototype to get the code, use the working file
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?nod

[2022-03-30 09:20] #2520 closed

[2022-03-30 09:20] #2486 closed

[2022-03-30 12:14] abrl91 commented on #2503
@yuval-hazaz
so the following issue and the issue that was tagged on this issue's description resolved it
https://github.com/amplication/amplication/pull/2528

May I close this issue?

[2022-03-30 14:27] jainpawan21 commented on #2413
Hi @yuval-hazaz , I explored changes in @primer/react package since the 34.1.0 version. There are a few changes which create issue for us.
1. In the 35.1.0 version, they have dropped className props support, now they are supporting [this](https://primer.style/react/overriding-styles) method, but we are using class-based styling.
2. They have changed prop and component types in a few of the compone

[2022-03-30 14:56] yuval-hazaz commented on #2487
Thanks that is very helpful.

@all-contributors please add @jnfrati for Ideas and feature requests

[2022-03-30 15:52] abrl91 commented on #2503
https://github.com/amplication/amplication/pull/2528 solved it

[2022-03-30 15:52] #2503 closed

[2022-03-30 17:24] rienheuver commented on #809
This would be a great addition in my opinion too! Even more so if you can create new entities and edit entities through the diagram. There's already a nice library that implements this for Prisma!

[2022-03-30 17:45] mshidlov commented on #2492
Hey @DavianYang,
This feature involves many parts, and it doesn't have a design yet.

To support it this should be an option in the code generation, which means that the app settings JWT auth provider should also support the option selection.

We can develop the server support for it and add it to the UI later on.
Still, it needs to be thought of and make sure that this is built in a way that will

[2022-03-31 12:30] alexbass86 opened #2533 "🐛 Bug Report: Refreshed design for commit section"
### What happened?

The current commit section looks outdated and not aligned with our new design system. Currently, the button is connected to the message box, which can confuse some users to think that they first need to fill the commit message to commit changes.

Also, we don't have buttons connected to another component in our new design system. It's always separated.

**Old Look:**
![image](h

[2022-04-01 02:05] jainpawan21 commented on #2533
@alexbass86 I think #2526 is the same issue

[2022-04-01 04:46] MoFoGo opened #2534 "Docs: Update with Run command for client and server following npm run setup"
### Describe the issue with documentation

Users may not be aware of the steps required after npm run setup

### How to solve the problem

Add the missing information as follows:

After npm run setup:dev you should go to ../packages/amplication-server and run npm run start
same for the client - go to ../packages/amplication-client and run npm run start

### Are you willing to submit PR?

_No respo

[2022-04-01 04:50] MoFoGo commented on #2534
See Discord thread:
 https://discordapp.com/channels/757179260417867879/781089015548870695/953637022768177232

[2022-04-01 05:07] MoFoGo opened #2535 "Docs: Add examples of GraphQL query/mutates"
### Describe the issue with documentation

The instructions would be clearer if there were more details and examples of GraphQL queries and mutations

### How to solve the problem

Update https://docs.amplication.com/docs/api#mutations  with examples

See https://discordapp.com/channels/757179260417867879/781089015548870695/953953188724219934

### Are you willing to submit PR?

_No response_

[2022-04-01 05:29] MoFoGo commented on #2535
This is covered in
https://docs.amplication.com/docs/tutorials/react-todos/step-006

Closing the issue

[2022-04-01 05:29] #2535 closed

[2022-04-02 12:25] muhsinkamil commented on #2347
@alexbass86 What happens on clicking "More info" on upload excel option ?

<img width="830" alt="Screenshot 2022-04-02 at 5 53 42 PM" src="https://user-images.githubusercontent.com/62111075/161383150-ba67d05e-c830-4a48-930f-3becb00fd04d.png">

[2022-04-02 19:19] abrl91 commented on #2437
Filter files' size <= 250KB

[2022-04-03 08:26] yuval-hazaz commented on #2347
@muhsinkamil that should link to a doc on our docs site.
since the doc does not exist yet, you can remove the link for now.
@MoFoGo please add a task on your list to create the missing doc and after that we will be able to add the link from the app into the doc

[2022-04-03 13:42] #2533 closed

[2022-04-03 14:44] kurdi-dev commented on #1045
hoping to see this happen!

[2022-04-04 10:51] yuval-hazaz commented on #2432
@abrl91 can you please share the chart you created with @MoFoGo
We should create a packages diagram and explain the relations of all the packages

[2022-04-04 11:07] abrl91 commented on #2432
@MichaelSolati
@yuval-hazaz You made me share  a spoiler for my tomorrow's meeting with Michael 🙈

![IMG_1778](https://user-images.githubusercontent.com/39680385/161530931-b57ab881-f2b0-4812-83c3-95bad129863c.jpg)

[2022-04-04 14:58] MoFoGo opened #2541 "Docs: Syncing with GitHub"
### Describe the issue with documentation

The current documentation does not reflect the new GitHub Sync feature

### How to solve the problem

Create a new article to replace the current article:
https://docs.amplication.com/docs/sync-with-github

Remove the following article:
https://docs.amplication.com/docs/connect-server-to-github

### Are you willing to submit PR?

_No response_

[2022-04-04 19:35] MoFoGo opened #2542 "Docs: Enhance the Phone home doc"
### Describe the issue with documentation

The article could be improved with some minor tweaking

### How to solve the problem

Use this for inspiration:

https://docs.dagger.io/1218/cli-telemetry/

### Are you willing to submit PR?

_No response_

[2022-04-04 19:36] MoFoGo commented on #2542
Mention that we follow the [the DNT (Console Do Not Track) standard](https://consoledonottrack.com/)

[2022-04-05 09:57] yuval-hazaz opened #2543 "React Admin is not listed in the technology stack"
### Describe the issue with documentation

The list of technologies in this list is missing React Admin
https://docs.amplication.com/docs/getting-started

We should add React Admin under client-side with a link to their web site

https://marmelab.com/react-admin/

### How to solve the problem

_No response_

### Are you willing to submit PR?

_No response_

[2022-04-05 11:46] MoFoGo commented on #2534
PR  submitted Update README.md #2544

[2022-04-05 14:21] tupe12334 opened #2545 "🐛 Bug Report: amplication client apollo link"
### What happened?

The apollo link in the amplication client is static to the server type deployment, we need to extract the URI property in the create HTTP link function of the apollo server to an env variable.

### What you expected to happen

The data source needs to be dependent on the env

### How to reproduce

not relevant

### Amplication version

0.12.3

### Environment

_No response_

##

[2022-04-05 15:47] #2545 closed

[2022-04-06 05:22] souravjain540 commented on #2423
hey @salindae25, the email mentioned in your bio is the right one to contact you?

[2022-04-06 05:23] souravjain540 commented on #2411
hey @Lucarnosky , the email mentioned in your bio is the right one to contact you?

[2022-04-06 05:24] souravjain540 commented on #2217
hey @preet-2, I need your email to contact you :)

[2022-04-06 05:25] souravjain540 commented on #2019
hey @suryaraj1, the email mentioned in your bio is the correct one to contact you?

[2022-04-06 05:27] Lucarnosky commented on #2411
@souravjain540 Yes it is

[2022-04-06 05:27] preet-2 commented on #2217
My email id is - bhatiapreet059@gmail.com

[2022-04-06 05:42] yuval-hazaz opened #2547 "Sort the fields of an entity based on desired order"
### Discussed in https://github.com/amplication/amplication/discussions/2539

<div type='discussions-op-text'>

<sup>Originally posted by **Archer-Thane** April  4, 2022</sup>
There will be nice if there was a way to order the fields of an entity, especially on the ui.
Now we have the order based on alphabet. We have the Prisma Schema sorted alphabetically, and ui based on too.
For example if we h

[2022-04-06 05:56] yuval-hazaz commented on #2432
looks good
@alexbass86 please prepare a styled design from this.
You can have a chat with @abrl91  to arrange it properly for design, maybe even create a few different charts

[2022-04-06 10:17] salindae25 commented on #2423
Hi @souravjain540, yes that is my personal one.

[2022-04-06 10:44] yuval-hazaz commented on #2545
@tupe12334 can you please describe the reason behind this change for future reference.

[2022-04-06 10:50] tupe12334 commented on #2545
@yuval-hazaz This change gives us the option to consume the client data from a different data source.
now we deploy the client throws the server, in the future, we want to make a separation.

[2022-04-06 10:58] yuval-hazaz commented on #2545
so, to be more precise - it is not about changing the endpoint from /graphql to something else... it is more about using a different domain or subdomain for the client

[2022-04-06 11:20] tupe12334 commented on #2545
@yuval-hazaz you are right

[2022-04-06 12:41] #2363 closed

[2022-04-06 13:15] yuval-hazaz opened #2549 "Add docs for /api/_health"
### Describe the issue with documentation

The generated app includes endpoints for health checks
We should document this feature and explain what is the purpose of these endpoints and how to use it

![image](https://user-images.githubusercontent.com/43705455/161983060-f7f2982a-9a78-47bb-baac-c4fe274e0f3c.png)

### How to solve the problem

_No response_

### Are you willing to submit PR?

_No res

[2022-04-06 13:16] yuval-hazaz commented on #2549
@mshidlov please add the info here so @MoFoGo can create a doc

[2022-04-06 18:22] Brainchild13 opened #2550 "Internal server error when pushing changes to github"
Hi I was trying out the application to see if i can use it for development, but I am unable to push changes to github despite syncing my account and creating a repo. I have tried several times and different ways, but none of the changes I have made are reflected on github. any suggestions

[2022-04-07 06:51] yuval-hazaz opened #2551 "🐛 Bug Report: GitHub repos list is missing repositories"
### What happened?

The Github repos list only shows 30 repos and not all the repos of the user.
With the previous implementation of the GitHub OAuth app, we could not run a search on the server-side so we only returned the top 30 repos but we also sorted the list on the server-side by creation date so the user at least can find the repo they just created.

In the current implementation with GitHu

[2022-04-07 06:58] yuval-hazaz commented on #2550
Thanks @Brainchild13
Can you please provide more details?
Are you getting an error?

[2022-04-07 08:18] rienheuver opened #2552 "Sending emails from Amplication"
### Feature description

There are lots of scenario's in which you want to send emails to users, at the bottom I'll give a list of examples. These emails will typically be sent by the backend, so Amplication. Currently the developer is required to customize the backend to make it send emails, though a lot of emails would be on already existing (and possibly complex) endpoints such as registering a

[2022-04-07 09:02] yuval-hazaz commented on #2552
Thanks! this sounds like a very valuable feature.
We need first to make sure there is enough demand for such a feature, and decide how and when to implement it.
We have plans to implement a notification center in the Amplication console, so that would be a very good opportunity to check the valid options in the market and the different configurations needed to create a generic solution.

Our frien

[2022-04-07 12:08] MoFoGo opened #2553 "Docs: Update "Add custom code to your server" article"
### Describe the issue with documentation

The opening paragraphs are difficult to understand.

### How to solve the problem

Rewrite  "The Vision" section to make the meaning clearer.

### Are you willing to submit PR?

_No response_

[2022-04-07 13:11] abrl91 opened #2554 "🐛 Bug Report: amplicatoin-server dockerfile build failed"
### What happened?

when running
[code]
the build failed on

[code]

### What you expected to happen

build run successfully

### How to reproduce

on amplication run:
[code]

### Amplication version

0.12.3

### Environment

node 16.3.0
npm 7.15.1
macOS

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-04-07 21:30] Brainchild13 commented on #2550
yes i get an internal server error whenever i try to run the build or push the code to github

[2022-04-08 07:50] rienheuver commented on #2552
Novu sounds like the perfect package for this feature! This would suffice my feature request entirely it seems.

[2022-04-08 09:14] yuval-hazaz opened #2556 "DSG: Add util methods to handle decorators"
### Feature description

To be able to manipulate decorators in the DSG we add two new util methods

findFirstDecoratorByName
removeObjectPropertyByName

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-04-08 15:14] jonatan5524 commented on #2059
Hey, I am new to this repo and open source, can I work on this? I want to make a contribution

[2022-04-09 09:57] bogere opened #2560 "🐛 Bug Report:"
### What happened?

Failed  completely to install some nodejs modules that are needed for the amplication app to run successfully  whether running `npm run dev ` for development purposes or running the` docker-compose up -d or  sudo docker-compose -f docker-compose.yml -f docker-compose.production.yml up -d`  to test the application.
All nodejs modules are installed successfully until this last pa

[2022-04-10 14:54] morhag90 commented on #2509
@mshidlov  , about this request:
"validate that the repository and the branch are tracked by us (we have a repository defined is our DB) "
=< we don't save any data about the branches, only the repository info, i think that a good check will be to validate the repository name compare to installationId received in the event data, please tell me what you think :)

[2022-04-10 22:47] molaycule opened #2563 "Click to copy token to clipboard"
### Feature description

Have a button to copy new token to the user clipboard for easy convenience.

### Use case

Presently, user have to select the whole token text and right click to copy or press `Ctrl + C`. But with a button to copy the token text to clipboard, it offers better user experience.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-04-11 10:29] dortam888 commented on #2435
Hello @souravjain540.
Any issue is still pending or can you recommend another issue that is good for first time?
Really looking forward to donate it looks like a great project :)
Thanks in advance.

[2022-04-11 12:06] MoFoGo opened #2567 "🐛 Bug Report: Incorrect text in GitHub Sync app"
### What happened?

The marked text Is incorrect:

<img width="354" alt="Screenshot 2022-04-11 150231" src="https://user-images.githubusercontent.com/96979533/162735617-95a0b5f9-10a2-4cb2-9b1a-eac522a55613.png">

### What you expected to happen

It should say **Only selected repositories**

### How to reproduce

Run Github sync app

### Amplication version

_No response_

### Environment

_No resp

[2022-04-11 17:00] #2435 closed

[2022-04-11 17:00] souravjain540 commented on #2435
#2388 is still pending :)

[2022-04-12 05:59] #2463 closed

[2022-04-12 06:00] #2505 closed

[2022-04-12 07:51] molaycule commented on #2567
Hi @MoFoGo, this looks like it from GitHub. See attached image from GitHub Doc. From more information see this link -> https://docs.github.com/en/get-started/customizing-your-github-workflow/purchasing-and-installing-apps-in-github-marketplace/installing-an-app-in-your-personal-account
![marketplace-select-repo-field](https://user-images.githubusercontent.com/20028628/162907690-7192e2c8-e058-407b-

[2022-04-12 08:32] tupe12334 commented on #2567
@MoFoGo this text is not in our control, it's a GitHub issue

[2022-04-12 08:32] #2567 closed

[2022-04-12 12:58] KayhanB opened #2574 "Disable amplication sandbox deployment"
I think sandbox deployment of amplication must be optional. in my case i don't need to amplication sandbox  deployment because i handling all pull requests in my CI/CD pipeline. so I think we need such a development in order to use energy more efficiently.

[2022-04-14 09:10] yangguofu2022 opened #2578 "🐛 Bug Report: one-to-one relation is generated incorrectly"
### What happened?

When the key of the associated entity of the user table is not required, but the generated database table structure is not displayed as null.

### What you expected to happen

Consistent type

### How to reproduce

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/101538735/163352079-64e9d285-fc8c-432f-8d95-0901c43f20c3.png">
<img width="759" alt="ima

[2022-04-14 09:24] dusty1977 opened #2579 "Mine"
Earn

[2022-04-14 09:28] dusty1977 opened #2580 "Crypto minepool"
### Feature description

 ​set​ -e

 ​if​ [ ​!​ ​-f​ ​"​build/env.sh​"​ ]​;​ ​then
 ​    ​echo​ ​"​$0​ must be run from the root of the repository.​"
 ​    ​exit​ 2
 ​fi

 ​#​ Create fake Go workspace if it doesn't exist yet.
 ​workspace=​"​$PWD​/build/_workspace​"
 ​root=​"​$PWD​"
 ​gitdir=​"​$workspace​/src/github.com/2miners​"
 ​if​ [ ​!​ ​-L​ ​"​$gitdir​/stratum-ping​"​ ]​;​ ​then
 ​    mkdir 

[2022-04-14 15:16] alexbass86 opened #2584 "🐛 Bug Report: Wrong Color on the notification message for "Small screen.""
### What happened?

![image](https://user-images.githubusercontent.com/96179897/163420208-c8153d55-b4a2-44ae-bb77-cfa842d61d06.png)

We should change the text color to #FFFFFF. Currently, it's hard to see the message.

### What you expected to happen

The message when the screen is too small should be clear and readable

### How to reproduce

just shrink the screen width

### Amplication version

[2022-04-14 15:27] alexbass86 opened #2585 "🐛 Bug Report: Wrong trash icon placement at the field list screen."
### What happened?

![image](https://user-images.githubusercontent.com/96179897/163422582-fb510c09-5c72-4900-b143-3da8e62bc5a6.png)

The delete icon should be on top, the same as in other places, such as the app list.
![image](https://user-images.githubusercontent.com/96179897/163421797-f181b01f-3821-4fa8-99e3-5fd2bca4b86c.png)

### What you expected to happen

To keep everything in our system con

[2022-04-14 15:30] #2579 closed

[2022-04-15 03:31] yangguofu2022 commented on #2578
In a many-to-one relationship, this problem can arise

[2022-04-16 17:48] MoFoGo commented on #2543
PR -  ReadMe-update-stack #136

[2022-04-17 08:33] rolwin100 commented on #2585
@alexbass86 can I take this up

[2022-04-17 08:47] alexbass86 commented on #2585
@rolwin100 Sure, thank you for the contribution :)

[2022-04-17 09:08] Juicpt opened #2588 "🐛 Bug Report: count type error"
### What happened?

[count](https://github.com/amplication/amplication/blob/master/packages/amplication-data-service-generator/src/server/static/src/util/MetaQueryPayload.ts) type is string ,but react admin prop `total` only accepts nume types.
Causes the listing page to not work properly.

### What you expected to happen

The normal list page effect is as follows:

![image](https://user-images.gi

[2022-04-17 23:31] mshidlov opened #2591 "Disconnect `@amplication/client` from `@amplication/server`"
Remove from  `@amplication/server`:
1. `@amplication/client` dependency
2. `ServeStaticModule` from `AppModule`
3. remove `index.html` file and update the `Dockerfile` according

[2022-04-17 23:41] mshidlov opened #2592 "create `@amplication/kafka` a common kafka functionality library"
Gather the Kafka functionality and create a common shared library:

:upport the following use-cases and update them to use `@amplication/kafka`:
* `@amplication/git-webhook-service` - Producer (emit - publish events)
* `@amplication/git-pull-service` - Consumer (consume - process events)
* `@amplication/git-pull-request-service` - Consumer (consume- process commands and response with event)
* `@am

[2022-04-17 23:50] mshidlov opened #2593 "create `@amplication/logger`"
Create a shared library for logging and update the services to use the shared library:
* `@amplication/server`
* `@amplication/git-pull-service`
* `@amplication/git-webhook-service`
* `@amplication/git-pull-request-service`

[2022-04-18 00:02] mshidlov opened #2594 "`@amplication/client` - App Overview Page"
Create a new app overview page. this page will be the default page after a new app was created or when an app is selected on the workspace apps list page.

The page [figma](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=387%3A3699)

Please add the relevant components in the design system.

![image](https://user-images.githubusercontent.com/91742238/163736863-fbe7

[2022-04-18 10:04] mshidlov opened #2595 "`@amplication/server` - Update build flow to commit only changed files"
Update build flow that only files that were changed from the previews build will be included in the new build pull request.
To accomplish that please write all generated files to a drive (EFS - will be managed in the helm chart).
Compare the generated files in the new folder with the last build files and include in the pull request only changed files.

As part of this task create a new service `@a

[2022-04-18 13:01] alexbass86 opened #2597 "🐛 Bug Report: In-app settings, all screens should be in same structure"
### What happened?

On some pages, we have a different inner page layout. To be consistent and allow our users to have smoother interaction, we need to make sure we won't have any strange jumps between the section, for example:
**App Settings** here we have an inner padding
![image](https://user-images.githubusercontent.com/96179897/163811488-30533201-d18c-4e60-9596-6e8a6d06f3c6.png)

While in DB

[2022-04-18 19:15] abrl91 opened #2598 "🐛 Bug Report: generated app - docker compose up fails on step 6"
### What happened?

When trying to run on the generate app
[code]
it fails on step 6

Link to Discord thread: https://discord.com/channels/757179260417867879/965547581482610688

There, we provide kind of a workaround solution:

![image](https://user-images.githubusercontent.com/39680385/163862329-651ecc79-387f-46ec-be14-4732b1c6a25b.png)

*for mac: remove the '-alpine3.14' (line number 2)

### Wha

[2022-04-18 21:19] tupe12334 commented on #2593
- [ ] Create the new lib
- [ ] Moving the use to the new lib
- [ ] Remove old deps

[2022-04-19 00:42] molaycule commented on #2584
Hi @alexbass86 can I work on this?

[2022-04-19 02:27] rolwin100 opened #2599 "🐛 Bug Report: Unused code in WorkspaceLayout.tsx"
### What happened?

The graphql query used in line number 90 is not used anywhere can we please remove it if it is not used anywhere.

### What you expected to happen

Please remove line 90 in the file ` https://github.com/amplication/amplication/blob/master/packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx` if it is not used.

### How to reproduce

Please check `WorkspaceLayout.tsx`

[2022-04-19 04:53] CKanishka commented on #2599
Can I take this up? @rolwin100

[2022-04-19 04:54] rolwin100 commented on #2599
@CKanishka sure

[2022-04-19 06:54] yuval-hazaz commented on #2598
@tupe12334 are you familiar with this?

[2022-04-19 06:57] yuval-hazaz commented on #2550
@Brainchild13 sorry for the late response.
Do you see the error in the code generation step or any other step? can you share a screenshot?
Also, please share your app ID (from the URL) so we can check the logs for errors

[2022-04-19 07:19] tupe12334 commented on #2598
@yuval-hazaz no. will check it now

[2022-04-19 07:25] yuval-hazaz commented on #2560
@tupe12334 please review

[2022-04-19 07:28] tupe12334 commented on #2598
@abrl91 Can you help me reproduce this problem, I didn't able to

[2022-04-19 07:34] abrl91 commented on #2598
sure

[2022-04-19 07:43] souravjain540 opened #2600 "Old Screenshots and Text"
### Describe the issue with documentation

1. Old UI screenshot (create an entity, project entity, create the name field, create roles, entity permissions, field permissions, commit changes, task field, pending changes, GitHub repo, get application source code, preview app)
2. Node 14 -> Node 16.13.1 (LTS)
3. preview app -> open in sandbox

### How to solve the problem

_No response_

### Are you

[2022-04-19 09:02] yuval-hazaz commented on #2574
Thanks for this suggestion
It sounds very reasonable
We are working on a few new configurations and this definitely should be included

[2022-04-19 09:07] yuval-hazaz commented on #2578
Thanks @yangguofu2022

@abrl91, would you please look into this and add your comments/ suggestions ?

[2022-04-19 09:15] abrl91 commented on #2578
@yuval-hazaz @yangguofu2022
sure, I will take a look at that in the evening

[2022-04-19 09:41] #2588 closed

[2022-04-19 10:23] mshidlov opened #2601 "Add New Micro-Services to Helm"
We have to create new charts for 3 new services and update the server chart as well.

This update should include creating claims and volumes based on EFS.

- [x] #2605
- [x] #2606
- [x] #2607
- [x] #2608

[2022-04-19 10:25] mshidlov commented on #2601
@tupe12334 @morhag90 @abrl91
Please comment for each service what is the expected environment variables and secrets.

[2022-04-19 10:28] morhag90 commented on #2601
@mshidlov=>  For the @amplication/git-push-webhook-service :
KAFKA_BROKER_IP_ENV_KEY = localhost:9092,localhost:9090
WEBHOOKS_SECRET_KEY = [your webhooks secret key]
KAFKA_REPOSITORY_PUSH_QUEUE = repositoryPush_created

[2022-04-19 10:31] abrl91 commented on #2601
git-pull-service:
[code]

[2022-04-19 10:32] mshidlov commented on #2601
@morhag90 what about GH app id, GH app private key, Postgres, etc....

please separate between environments that are public and once that are privates (secrets)

[2022-04-19 10:37] MoFoGo opened #2602 "Need to update the guid for developers environment"
@MoFoGo => need to update also the guid for developers environment

_Originally posted by @morhag90 in https://github.com/amplication/docs/pull/135#pullrequestreview-941898398_

[2022-04-19 10:39] MoFoGo commented on #2602
Update https://docs.amplication.com/docs/connect-server-to-github

[2022-04-19 10:46] yuval-hazaz commented on #2584
@molaycule go ahead!
thanks

[2022-04-19 10:47] yuval-hazaz commented on #2599
@CKanishka I assigned it to you.
you can go ahead.
thanks

[2022-04-19 13:04] tupe12334 commented on #2601
git pull request and server
[code]

[2022-04-19 19:06] abrl91 commented on #2578
@yangguofu2022
Hi, I am still looking at it.

For now, you can add a question mark on the settings filed on `prisma.schema` file

![Screen Shot 2022-04-19 at 22 02 56](https://user-images.githubusercontent.com/39680385/164076948-d1f14871-6ed7-454f-b04c-17112f44fea2.png)

remove the docker container and run again
[code]

[2022-04-19 19:45] abrl91 commented on #2578
@yuval-hazaz
From Prisma documentation:
https://www.prisma.io/docs/concepts/components/prisma-schema/relations/one-to-one-relations#required-and-optional-1-1-relation-fields

our generated code:
![Screen Shot 2022-04-19 at 22 31 25](https://user-images.githubusercontent.com/39680385/164082163-07b91cbc-5e46-4d91-96fa-e09a0541747a.png)

"_In a one-to-one relation, the side of the relation without a

[2022-04-20 02:48] yangguofu2022 commented on #2578
@yuval-hazaz @abrl91  Thank you very much for your answers, and very you provide such a great open source project

[2022-04-20 08:28] mshidlov opened #2605 "add to `@amplication/server` helm - kafka and volume"

[2022-04-20 08:28] mshidlov opened #2606 "add new helm chart for `@amplication/git-pull-service`"
This service receives messages from Kafka sent by `@amplication/git-push-webhook-service` they need to have the same topic and same kafka brokers.

The service should be connected to EFS and the mount path should be provided in the `STORAGE_PATH` environment.

for architectural design see issue: #2437

This service environments and secrets:
[code]

[2022-04-20 08:28] mshidlov opened #2607 "add new helm chart for `@amplication/git-pull-request-service`"

[2022-04-20 08:28] mshidlov opened #2608 "add new helm chart for `@amplication/git-push-webhook-service`"

[2022-04-20 08:59] molaycule commented on #2597
@alexbass86 can I submit a PR?

[2022-04-20 10:00] souravjain540 commented on #2597
Assigned @molaycule, let us know if you need some help :)

best of luck!

[2022-04-20 13:54] yuval-hazaz commented on #2578
Thanks @abrl91
What do you suggest ?

[2022-04-20 14:08] abrl91 commented on #2578
I think we should generate Prisma schema according to their suggestions, but we need to figure out if there is a good reason to generate it in the way it is generated now.

[2022-04-20 14:54] abrl91 opened #2611 "🐛 Bug Report: wrong resource on nest access control UseRoles"
### What happened?

The code generation is generating the wrong resource on the Entity controller
[code]

For example, let's take a sample generated app (with the entities order, product, customer, address, user)
On the order.controller.base we have a route handler `findManyProduct` that returns `Promise<Product[]>`
Therefore, the resource should be 'Product' and not 'Order'.

![image](https://use

[2022-04-20 17:00] molaycule commented on #2597
Hi @souravjain540 thanks. I just submitted a PR that might close this issue.

[2022-04-20 18:15] rolwin100 commented on #2594
@mshidlov can I and take up this feature.

[2022-04-20 18:21] CKanishka commented on #2594
Let me know if I can help you in this feature, I am interested

[2022-04-20 18:22] rolwin100 commented on #2594
@mshidlov Can I and @CKanishka work on this together.

[2022-04-21 05:04] #2595 closed

[2022-04-21 08:43] molaycule commented on #2594
Hi @rolwin100 can I pair program with you and @CKanishka on this if it gets assigned.

[2022-04-21 09:37] rolwin100 commented on #2594
@molaycule it may become difficult to coordinate for us me and @CKanishka work together as colleagues so it's easy for us to work on. Will let you know if something else comes up.

[2022-04-21 10:51] molaycule commented on #2594
@rolwin100 Alright, that's fine. Please keep tabs with me. Thanks.

[2022-04-21 11:02] suryaraj1 commented on #2019
yes it is 😄 , sorry for the late reply, got really caught up. Thanks for the shirt!!

[2022-04-21 12:50] abrl91 opened #2613 "create permissions interceptor to handle the permissions"
### Feature description

We are handling the permissions now in a way that makes the route handlers massive and less readable.
By creating a permissions interceptor, we can handle the permissions stuff outside the function body and manipulate the returned value according to the user's permission right before sending the result to the client.

https://docs.nestjs.com/interceptors

![image](https://

[2022-04-21 17:43] rolwin100 opened #2614 "🐛 Bug Report: Typescript error for urlError on Login.tsx line 91"
### What happened?

Line 91 on Login.tsx is throwing lint error fro type safety.

### What you expected to happen

urlError should be typecast to string

### How to reproduce

Check line 91 with eslint configured on VS code.

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-04-21 18:03] dawidcyron commented on #2491
Is someone still working on this issue? If not, I'm willing to pick it up

[2022-04-21 18:09] rolwin100 commented on #2594
@yuval-hazaz can you please help me with the updates on this feature so we can start on this.

[2022-04-21 19:39] tupe12334 commented on #2491
@dawidcyron You can take it yourself, I have the POC that works if you need it...
Good luck

[2022-04-21 19:47] tupe12334 commented on #2613
@abrl91 Many thanks for posting this image, I learned a lot from it ❤️.

[2022-04-22 07:54] yuval-hazaz commented on #2594
@alexbass86 can you please create a public link to the design on Figma?

[2022-04-23 13:56] MoFoGo opened #2620 "Docs: Troubleshooting Guide for Installation"
### Describe the issue with documentation

The users require more information about common errors and resolutions for the setup process.

### How to solve the problem

Create an Installation and setup troubleshooting article to include in the docs.
Incorporate input from the community and core team.

### Are you willing to submit PR?

_No response_

[2022-04-23 13:57] MoFoGo commented on #2620
See the thread on Discord:

https://discordapp.com/channels/757179260417867879/967072827087937656

[2022-04-23 14:41] abrl91 commented on #2620
First, I think we should separate it into two sections:
1. errors and resolutions for Amplication setup
2. errors and resolutions for generated app

We can divide each section into errors that refer to setups and errors that refer to incorrect use.
(for instance, missing the documentation guide and forgetting to run `npm run docker:db` and, as a result getting errors from Prisma.

From what I expe

[2022-04-24 07:16] alexbass86 commented on #2594
@yuval-hazaz I updated Matan "Figma link" with the correct one
@rolwin100 please use this link
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=387%3A3699

[2022-04-24 09:45] Juicpt opened #2623 "🐛 Bug Report: React Admin one to many relation - source attribute get wrong value"
### What happened?

Data of o2m relation cannot be saved in entity multi-word names

### What you expected to happen

Data of o2m relation can be saved in entity multi-word names

### How to reproduce

After setting o2m relation on Amplication, generate an app and run it. Data cannot be saved , when the entity name is more than one word

### Amplication version

0.12.4

### Environment

_No respon

[2022-04-24 14:55] #2599 closed

[2022-04-24 14:58] #2430 closed

[2022-04-24 14:58] #2413 closed

[2022-04-24 15:02] #2347 closed

[2022-04-24 15:32] abrl91 opened #2628 "🐛 Bug Report: Wrong request body on create update and delete m2m nested entity"
### What happened?

The data-service-generation package generates the wrong endpoints for m2m nested relation (for example Order and Product).
This bug includes few things that we need to discuss on:

1. one of the method is called `createProduct`, while the action in the UseRole is `update'
`UPDATE /api/:id/product`
2. The DTO on the request body seems to be wrong
3. The resource and the action n

[2022-04-24 16:33] alexbass86 opened #2629 "🐛 Bug Report: The search field is too big in the commit screen"
### What happened?

Currently, this is how it looks
![image](https://user-images.githubusercontent.com/96179897/164986318-d8172b21-7002-4b44-a7a9-67c5246b9ccd.png)

While it should look the same on all screens
![image](https://user-images.githubusercontent.com/96179897/164986345-e4a80884-3515-401e-b995-28d475c873e9.png)

### What you expected to happen

Every component that we use more than one ti

[2022-04-25 05:46] souravjain540 commented on #2629
hey @alexbass86, can I work on this>

[2022-04-25 06:00] souravjain540 commented on #2629
submitted a PR, hope that solves what required @alexbass86 :)

[2022-04-25 11:47] #2629 closed

[2022-04-25 14:50] #2585 closed

[2022-04-25 14:51] #2563 closed

[2022-04-25 14:57] tupe12334 commented on #2388
@Holajuwon Hi there, any updates?

[2022-04-25 16:18] yuval-hazaz commented on #2578
@mshidlov please include in a coming release

[2022-04-25 18:04] abrl91 commented on #2628
@EugeneTseitlin @mshidlov @yuval-hazaz

something doesn't make sence.
This is a screenshot from swagger showing the expected request body for a simple patch request (by simple I mean not nested or in other words: "update order by id")
it already has a product property in which the user can:
`connect`, `disconnect` and `set` a product to a specific order.
Therefore, it already covers the endpoints

[2022-04-26 05:25] yuval-hazaz commented on #2628
This is not true. These properties only accept an ID so it will not `create`, `update` and `delete` a product

[2022-04-26 05:41] abrl91 commented on #2628
@yuval-hazaz
But this is exactly what I mean. I used create, update and delete because this is how we call it.
The end point on the screenshot already do want the endpoints mentioned on this issue should be regarding to the last comment of @EugeneTseitlin that mentioned that those endpoint will not create update and delete, they will do connect, disconnect and set

[2022-04-26 05:43] yuval-hazaz commented on #2628
what is your claim? what do you expect?

[2022-04-26 05:45] abrl91 commented on #2628
why do we need 3 different endpoints that do: set, connect, disconnect, and what endpoint do set+connect+disconnect (the one in the screenshot)

[2022-04-26 05:47] yuval-hazaz commented on #2628
what is your claim? what do you expect?

[2022-04-26 05:49] abrl91 commented on #2628
that those 3 endpoints, mentioned on the issue would actually also create, update and delete and not just set connect and disconnect or - remove them

[2022-04-26 06:12] yuval-hazaz commented on #2628
Got it, thanks!
We looked into it yesterday and also considered these 2 options.

The endpoint /api/order/{id}/product endpoint exists since day 1 - so :
1. Initially, there was no support for the connect, disconnect, and set properties on the parent object. It was just added recently.
2. There is no trigger that should make us change the current implementation. No one reported an issue, no one as

[2022-04-26 09:03] alexbass86 opened #2635 "🐛 Bug Report: Create App Screen - Wrong spacing and missing hover effect"
### What happened?

**The space on this page is not correct, and This is how it currently looks.**
![image](https://user-images.githubusercontent.com/96179897/165262425-67d17092-f53f-4b19-9c81-f8f1b255a56a.png)

**It should look like this.**
![B](https://user-images.githubusercontent.com/96179897/165262662-b5661d3b-8842-44c2-9729-32dcf247bf90.png)

Link for the OG design, where you can also find t

[2022-04-26 11:34] #2611 closed

[2022-04-26 12:23] MoFoGo commented on #2471
Will not be reformatting this article

[2022-04-26 12:23] #2471 closed

[2022-04-26 12:27] MoFoGo commented on #2432
Any estimate of when this diagram will be done

[2022-04-26 13:10] abrl91 opened #2637 "create validate input interceptor to handle the permissions"
### Feature description

Following https://github.com/amplication/amplication/issues/2613

We are handling the permissions now in a way that makes the route handlers massive and less readable.
By creating a permissions interceptor, we can handle the permissions stuff outside the function body and manipulate the returned value according to the user's permission right before sending the result to th

[2022-04-26 13:42] alexbass86 commented on #2432
I will try to finish it by end of the week, max mid-next one

[2022-04-26 20:14] mshidlov opened #2639 "Create `@amplication/code-store-service` - generated code access API"
create a new service that will give access to the generated code.
the service should include two APIs:
* **list:** lists the contents of the current app-commit directory.
* **concatenate:** returns the content of a file.

The service is public and can be accessed by the outside world, as such it will include the JWT authorization layer and will check resources access permissions.

the authorizatio

[2022-04-27 05:08] jainpawan21 commented on #2635
Hi @alexbass86
You mean drop-down by hovered state background gif?
What is the exact transition/animation it should have?

[2022-04-27 08:57] alexbass86 commented on #2635
transition ease in 650ms
transition ease out 650ms

[2022-04-27 09:04] jainpawan21 commented on #2635
What do you mean by drop-down?

[2022-04-27 09:21] jainpawan21 commented on #2635
Can you please assign this to me?

[2022-04-27 09:24] alexbass86 commented on #2635
Good luck, and thank you for your time :)

[2022-04-27 12:31] #2597 closed

[2022-04-27 12:40] alexbass86 opened #2643 "🐛 Bug Report: Sync with GitHub - The dropdown has Unnecessary padding."
### What happened?

This is how it currently looks.
![image](https://user-images.githubusercontent.com/96179897/165519349-69c7262c-fc39-4808-acdc-500f48792e23.png)

and this is how it is supposed to look.
![image](https://user-images.githubusercontent.com/96179897/165519499-2a9b7dcc-25c8-4a56-bb4c-5eb2db32deca.png)

We also need to make sure the text is in the center of the profile pic & arrow ico

[2022-04-27 12:54] #2613 closed

[2022-04-27 12:56] #2628 closed

[2022-04-27 12:56] #2637 closed

[2022-04-27 13:13] abrl91 commented on #2465
was merged

[2022-04-27 13:13] #2465 closed

[2022-04-27 13:36] jainpawan21 commented on #2643
@alexbass86 I worked on one issue related to this drop down in this [PR](https://github.com/amplication/amplication/pull/2531).
I missed this. Can you assign this to me, I will fix this

[2022-04-27 18:48] jainpawan21 commented on #2410
Hi @innub Are you still working on this?

[2022-04-28 05:32] yuval-hazaz commented on #2432
We need to make sure we use standards of how this type of chart should look like
also, the whiteboard @abrl91 created includes several charts that can be created separately.

@abrl91 let's schedule a time to review it together before @alexbass86 is starting to work on it

[2022-04-28 05:32] jainpawan21 opened #2647 "CLI Progress for npm run setup:dev command"
### Feature description

npm run setup:dev command takes time because it runs 6 processes. Sometimes it seems that it is stuck and nothing is happening.
we should have CLI Progress setup for this something like we see when we install any npm package.

### Use case

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-04-28 05:35] yuval-hazaz commented on #2639
@mshidlov what is the origin of the word CONCATENATE for the API? is that something common for this type of API? I am not sure if that is a typo or by design?

[2022-04-28 08:30] abrl91 opened #2648 "🐛 Bug Report: Rename filterResultInterceptor and validateInputInterceptor"
### What happened?

for more readability and to describe the purpose of those two new interceptors, rename:
-  `filterResultInterceptor` to `aclFilterResponseInterceptor`
- `validateInputInterceptor` to `aclValidateRequestInterceptor`

### Amplication version

0.12.6

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-04-28 09:07] achamorro-dev opened #2650 "Improve the readability of the text in the Amplication client"
### Feature description

### Feature description

We can improve the readability for the Amplication client adding only the `font-smooth` CSS rule.

BEFORE:
![Screenshot 2022-04-28 at 11 03 40](https://user-images.githubusercontent.com/1499378/165718313-61ade43f-9504-41b0-bf6f-28b78767b0cc.png)

AFTER:
![Screenshot 2022-04-28 at 11 03 56](https://user-images.githubusercontent.com/1499378/165718337

[2022-04-28 09:20] abrl91 opened #2652 "restructure the place of decorator on the controllers and resolvers"
### Feature description

We have two kinds of decorators above every route handler that can be moved to the top of the controller:
- `@common.UseInterceptors(nestMorgan.MorganInterceptor("combined"))`
- `@common.UseGuards(
  defaultAuthGuard.DefaultAuthGuard,
  nestAccessControl.ACGuard
)`

We have one decorator that is placed on the controller itself `@swagger.ApiBearerAuth()` and for the feature

[2022-04-28 09:23] abrl91 opened #2653 "move nestMorgan.MorganInterceptor("combined") to the top of the controller"
move nestMorgan.MorganInterceptor to the top of the controller and check if everything is work as expected

[2022-04-28 09:23] abrl91 opened #2654 "move UseGuards to the top of the controller"
move
[code]
from the top of every route handler and resolver to the top of the controller/resolver

[2022-04-28 09:23] abrl91 opened #2655 "search for appropriate solution for <code class="notranslate">@swagger.ApiBearerAuth()`"
find out if the swagger annotation of API bearer should be moved to the top of every route handler (this is for the case of the public route feature) OR keep it where it is now (top of the controller) and find if a swagger API anonymous (or something like that) exists. If so, put it together with the public annotation

[2022-04-28 09:32] #2648 closed

[2022-04-28 09:38] #2643 closed

[2022-04-28 16:14] #2635 closed

[2022-04-29 13:22] abrl91 opened #2662 "convert the methods names on dsg create controller template to key on option map"
### Feature description

On `create-controller` we have a mapping object. Adding to that object the controller's functions names will make it easier to traverse the syntax tree by the function id and make a manipulation that we want.

### Use case

For example, find a decorator on the function, remove it and add a different decorator.
(remove UseRoles decorator and add Public decorator in order to

[2022-04-30 10:44] abrl91 opened #2664 "🐛 Bug Report: GraphQL read permission of child entity is not filtered out"
### What happened?

A user with a role that don't have permissions to view or search specific attributes on entity, still able to view/search if he query for the father entity

### What you expected to happen

I expect that if some role doesn't have view and search permission for attributes, he won't be able to see them at all.

### How to reproduce

Let's take the sample app as an example and cre

[2022-05-01 09:18] morhag90 opened #2665 "Code view => new page: client"
### Feature description

In order to show the source code of the app (commits/builds) we need to develop new page : "code view" .
This page will be a new tab in the app and will contain the following options:

1. connect to Github account
2. choose one of the last 5 commits
3. Files tree
4. Show for each file the source code in a new tab

Implementation:

- [ ]  code-view-window (create new compon

[2022-05-01 09:31] alexbass86 commented on #2665
Hi @morhag90 @mshidlov
Here is the Figma file for the code view feature. If you have any questions feel free to ask
good luck
[Figma](https://www.figma.com/file/a9AGIkvVQ5vqPHB6MHlsZ3/Overview-Screen-%26-Code-view?node-id=762%3A13415)

<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ff

[2022-05-01 09:49] #2654 closed

[2022-05-01 09:52] #2662 closed

[2022-05-01 10:01] #2653 closed

[2022-05-01 10:21] #2655 closed

[2022-05-01 10:22] abrl91 commented on #2652
all sub-issues merged

[2022-05-01 10:22] #2652 closed

[2022-05-01 12:06] MoFoGo commented on #2469
Done

[2022-05-01 12:06] #2469 closed

[2022-05-01 13:18] #2650 closed

[2022-05-01 14:33] abrl91 opened #2668 "🐛 Bug Report: unused userRoles after merging master into release 0.12.7"
### What happened?

after merging master into release 0.12.7 there is a missed unused variables userRoles and rolesBuilder

### What you expected to happen

delete this variable

### How to reproduce

-

### Amplication version

0.12.7

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-01 14:49] #2668 closed

[2022-05-01 15:25] tupe12334 opened #2670 "🐛 Bug Report: unmatch @nestjs/passport in dsg"
### What happened?

The version of @nestjs/passport is the root dsg is not matching the version in the generated server `8.2.1`

### What you expected to happen

Update the root dsg to `8.2.1`

### How to reproduce

not relevant

### Amplication version

0.12.6

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-01 15:43] tupe12334 opened #2672 "🐛 Bug Report: .server-id is not relevant for git"
### What happened?

When we run the server, the server generates a .server-id file for the call home service

### What you expected to happen

The file don't need a git track

### How to reproduce

clone amplication and bootup the server

### Amplication version

0.12.6

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-01 15:48] #2670 closed

[2022-05-02 02:08] admodev opened #2674 "Logo broken on README"
### Describe the issue with documentation

The logo is broken on the `README.md` file.

### How to solve the problem

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-02 07:29] yuval-hazaz commented on #2674
Thanks!

[2022-05-02 07:58] tupe12334 opened #2676 "🐛 Bug Report: Unnecessary files in the root of the project"
### What happened?

We entered accidentally unnecessary files to the root of the project.
The files are all the files from https://github.com/amplication/amplication/commit/bfa59b4638cab46d15b1cce6facce90dad4e83f5 commit

### What you expected to happen

Not relevant

### How to reproduce

Not relevant

### Amplication version

0.12.2

### Environment

_No response_

### Are you willing to submit

[2022-05-02 08:26] yuval-hazaz commented on #2674
fixed

[2022-05-02 08:26] #2674 closed

[2022-05-04 04:02] souravjain540 opened #2679 "🐛 Bug Report:"
### What happened?

test

### What you expected to happen

test

### How to reproduce

test

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-04 04:02] #2679 closed

[2022-05-04 04:03] souravjain540 opened #2680 "🐛 Bug Report: checking how backlog works"
### What happened?

ok

### What you expected to happen

nice

### How to reproduce

yay

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-04 04:04] #2680 closed

[2022-05-04 04:05] souravjain540 opened #2681 "🐛 Bug Report: one last time"
### What happened?

checking how backlog works

### What you expected to happen

working?

### How to reproduce

or not?

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-04 04:06] #2681 closed

[2022-05-04 16:48] #2584 closed

[2022-05-04 16:51] #2672 closed

[2022-05-04 20:09] devblin commented on #2114
Hey @mshidlov , I am willing to work on this issue.

[2022-05-05 07:39] yuval-hazaz commented on #2114
cool, go ahead I assigned you

[2022-05-05 11:40] devblin commented on #2114
Made PR for the fix.

[2022-05-05 13:45] abrl91 opened #2686 "On dsg: `create-resolver' - make sure that when the '@public' decorator is added, and remove:"
add logic for public queries and mutation

[2022-05-05 13:49] abrl91 opened #2687 "create-resolver toMany and toOne: add logic for public"
handle to-many and to-one for public queries and mutations

[2022-05-06 09:48] borisfoko opened #2691 "Delete Account, Manage Workspaces"
There is no way how to delete an account and also no way how to manage workspaces.
Can you please to something there. I wanted to delete my current account, as it is linked to a wrong email, but there is no way to do it.

[2022-05-06 13:58] abrl91 opened #2692 "🐛 Bug Report: unused imports and parameter on controller base and resolver base"
### What happened?

controller base and resolver base:
[code]

resolver base: on update mutation: unused parameter userRoles
[code]

### What you expected to happen

remove unused imports and parameters

### How to reproduce

open controller base / resolver base in a generated Amplication app

### Amplication version

0.12.6

### Environment

_No response_

### Are you willing to submit PR?

Yes I

[2022-05-06 17:03] abrl91 opened #2693 "🐛 Bug Report: when navigating from entity page to anther the general settings in not selected automatically"
### What happened?

from the entities page, when you navigate to an entity, the general setting tab is selected and you can see data,
but when from the entity itself, when you want to navigate to a related entity, the related entity state is not set on the general settings tab.

### What you expected to happen

I expect that the general setting tab would be selected while navigating from one entit

[2022-05-07 14:22] yuval-hazaz commented on #2114
thanks @devblin, we will review soon

[2022-05-07 14:23] yuval-hazaz commented on #2691
Thanks @borisfoko
we will add this request to our backlog

[2022-05-08 07:20] #2114 closed

[2022-05-08 07:26] sebabratakundu commented on #2693
can I work on this issue?

[2022-05-08 07:27] abrl91 commented on #2693
@sebabratakundu I assign you. Good luck :)

[2022-05-08 09:36] #2006 closed

[2022-05-08 09:37] #2686 closed

[2022-05-08 09:37] #2687 closed

[2022-05-08 09:52] abrl91 opened #2695 "🐛 Bug Report: when all the methods are public, there are unused imports of interceptors"
### What happened?

Unused imports of interceptors when all the methods on controllers and resolvers are public.

### What you expected to happen

imports should be added only if there is a use on interceptors

### How to reproduce

generate a sample app
declare Order entity permissions to be Public in all the actions

### Amplication version

0.12.7

### Environment

_No response_

### Are you wi

[2022-05-08 10:15] tupe12334 commented on #2695
Please check https://ts-morph.com/details/source-files#organizing-imports It will do all the hard work for you.

[2022-05-08 10:47] jainpawan21 commented on #2692
hi @abrl91, I will like to work on this issue!

[2022-05-08 10:49] abrl91 commented on #2692
I assigned you

[2022-05-08 10:50] sebabratakundu commented on #2693
@abrl91 , I think the second option refers to the field itself.
![image](https://user-images.githubusercontent.com/44576979/167292564-eede1598-7d1d-47c2-8d0b-7251cab23a44.png).

if you look into the related field. it will take us to that related field.
![image](https://user-images.githubusercontent.com/44576979/167292655-ffb08f55-df66-4e0a-8e27-f563f67f0468.png)

correct me if I'm wrong

[2022-05-08 10:57] abrl91 commented on #2693
@sebabratakundu I think you created a different use case, but it behaves the same. As long as it is a relation between two entities, once you are on a view of entity A and click on entity B you should be redirected to the B entity while the general settings is selected

[2022-05-08 11:03] NisanAyash commented on #2491
Is anyone working on this issue?

[2022-05-08 11:08] NisanAyash commented on #2403
Can I take this issue?

[2022-05-08 11:38] souravjain540 commented on #2403
@alexbass86 please see if you can assign him this issue.

[2022-05-08 12:10] alexbass86 commented on #2403
Good luck :)

[2022-05-08 12:22] jainpawan21 opened #2697 "[Docs] Minimum system requirements to run project"
### Describe the issue with documentation

Minimum system requirements should be mentioned in docs to run the project in the development/local environment

### How to solve the problem

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-08 13:33] abrl91 commented on #2695
Thank you @tupe12334

[2022-05-08 13:36] mshidlov commented on #2491
Hey, @dawidcyron are you working on that issue?

[2022-05-08 13:38] mshidlov commented on #2491
@dawidcyron is currently assigned let's see if he will update

[2022-05-08 15:54] abrl91 opened #2700 "🐛 Bug Report: in to-many relation Public decorator is added to related entity while supposed to be added to the entity"
### What happened?

in create-controller, where we manage the to-many relation, calling to setEntityPermission should be called with the entity itself when the method id is `update/connect/disconnect`

### What you expected to happen

update, connect, and disconnect are methods that mutate the entity itself and not the related entity. Therefore the entity we pass to setEntityPermission should be t

[2022-05-09 05:36] souravjain540 commented on #2294
@tupe12334 this issue is not clear from the last 10 issues for first timers.

Either make it clear or please close it.

[2022-05-09 07:15] mshidlov opened #2702 "Update dockerfile"
make docker file more generalize

[2022-05-09 08:07] mshidlov commented on #2601
the branch containing the new services release/0.13.0

[2022-05-09 08:31] #2676 closed

[2022-05-09 12:48] #2695 closed

[2022-05-09 13:14] tupe12334 opened #2703 "Update the auto cleanup to 14 days"
### Feature description

When the deployment has happened 30 days ago it will auto delete.
@yuval-hazaz Ask to update the time period to 14 days

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-09 13:51] #2647 closed

[2022-05-09 21:11] abrl91 opened #2708 "🐛 run prisma migrate on release 13 in order for it to includes public on EnumEntityPermissionType"
### What happened?

while working on public routes feature (release 0.12.7) we added public to EnumEntityPermissionTypel.
On release 0.13 prisma is managed on its own package, therefore we should add this change to prisma schema of this package and run migration

### What you expected to happen

-

### How to reproduce

-

### Amplication version

_No response_

### Environment

_No response_

###

[2022-05-10 08:22] alexbass86 opened #2711 "Screen Update - Overview Screen & Settings Screen"
### Feature description

What changed:
**Overview update**
We removed the side menu from the left side from now on the app settings will have their own screen and we added an icon for fast navigation.
![overview main](https://user-images.githubusercontent.com/96179897/167582257-34032dcd-1b66-46dd-b5ba-bf6b9d43d0e5.png)

**Setting Screen**
Settings are moving to their own screen and removing the "O

[2022-05-10 08:38] alexbass86 opened #2712 "Side menu update - Reduce the size of the icon from 32px to 24px"
### Feature description

Due to the need to have more space on our side menu, we decided to change the size of the icons from 32px to 24px, We also changed the state colors.

**[Figma file](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=532%3A6541)**

### Use case

To have more space on the side menu

### Are you willing to submit PR?

Yes I am willing to submit

[2022-05-10 09:46] alexbass86 opened #2713 "Workspace dropdown update"
### Feature description

We are doing a few minor updates to make the workspace selection area more visible.

![Dropdown](https://user-images.githubusercontent.com/96179897/167599979-0feea67b-64e7-42c3-94e9-04227497932d.png)

**[Figma File](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=534%3A7128)**

### Use case

Currently, the select area feels a bit disconnec

[2022-05-10 15:20] NisanAyash opened #2715 "🐛 Bug Report: HTTP does not redirect to HTTPS"
### What happened?

HTTP does not redirect to HTTPS

![image](https://user-images.githubusercontent.com/47306758/167662914-cf85e53d-3510-42d2-ab30-c32b65890262.png)

### What you expected to happen

Redirect the user to a secure connection (HTTPS)

### How to reproduce

go to: http://amplication.com/

If you are getting the HTTPS connection, try with another device.

### Amplication version

lates

[2022-05-10 15:21] NisanAyash commented on #2715
@souravjain540

[2022-05-10 15:22] souravjain540 commented on #2715
would you love to get assigned on this issue?

[2022-05-10 15:28] NisanAyash commented on #2715
Yes.

[2022-05-10 15:58] mshidlov opened #2717 "Selective code generation: add enable\disable app database"
Update application database settings and add enable\disable toggle.
the default value for applications is database enabled.

when the database is disabled the application database-related code generation should not be part of the code generation.

database-related code:
* prisma client
* database docker-compose
* database environments

![image](https://user-images.githubusercontent.com/91742238/16

[2022-05-10 15:59] mshidlov commented on #2717
@alexbass86 can you please share a figma link?

[2022-05-11 06:49] MoFoGo commented on #2697
@tupe12334  I need the system requirements for the Amplication and for the generated app.

Currently this is what is documented in the [Server ReadMe](https://github.com/amplication/amplication/blob/master/packages/amplication-server/README.md)

Development
💡 Before you begin, make sure you have all the below installed:

[Node.js v14 or above](https://nodejs.org/en/download/)
[npm v7 or above](htt

[2022-05-11 08:51] alexbass86 opened #2720 "🐛 Bug Report: Entities - Remove the divider line between the buttons"
### What happened?

Remove the divider line between the buttons
![image](https://user-images.githubusercontent.com/96179897/167807133-e1843b3d-e424-488a-9951-5a45d2882cc5.png)

This is how it should look.
![image](https://user-images.githubusercontent.com/96179897/167806969-850de690-6801-40e1-abe3-71a79d9ed1fc.png)

### What you expected to happen

No divider lines

### How to reproduce

Go to Ent

[2022-05-11 15:19] MoFoGo opened #2721 "Troubleshooting: Installation fails"
### Overview

`npm run Setup:dev` fails

### Symptoms

Attempting to run `npm run Setup:dev`  for the generated app is not successful. An error message may, or may not, be displayed.

### Cause

## Cause

The most common causes are

- Using unsupported versions of Node.js and or npm

- Typescript is not installed globally

- Installation is stopped before completion of the process

### Resolution

[2022-05-11 15:23] MoFoGo commented on #2721
@MoFoGo to transfer to Troubleshooting section in Docs.

[2022-05-11 16:14] MoFoGo commented on #2721
In the Resolution section, add a link to the system requirements info.

[2022-05-12 05:31] yuval-hazaz commented on #2491
@NisanAyash since we didn't hear from @dawidcyron for a while, I will assign it to you.

@tupe12334 please send @NisanAyash anything you have that can help moving this forward

[2022-05-12 05:33] yuval-hazaz commented on #2491
@NisanAyash please confirm that you start working on it.

[2022-05-12 05:42] yuval-hazaz commented on #2715
@mshidlov is that something that the DevOps team is already working on?

[2022-05-12 05:44] yuval-hazaz commented on #2717
@mshidlov we should also decide how to handle the reference to Prisma from the service. Which code should be included in the service level for each function (e.g. create, update, etc)

[2022-05-12 09:45] alexbass86 commented on #2717
Here you go:
https://www.figma.com/file/Usy9suKLTgDM0xMc2atH9g/Screen-Update---Enable%5Cdisable-app-database?node-id=0%3A1

[2022-05-12 15:52] MoFoGo commented on #2461
Not clear what was the original intention - so will close

[2022-05-12 17:05] NisanAyash commented on #2491
Hi,

I am still trying to understand how to run the project in the local environment, so maybe it will take time to fix this issue.

In addition, As I can see, we are already generating the access token with the user-id.
am I missing something?

[code]

[2022-05-14 07:53] yuval-hazaz commented on #2491
@tupe12334 can you please help here?

[2022-05-14 07:57] muhsinkamil commented on #2715
Is this fixed @yuval, I am not able to reproduce now. Would love to know how this is fixed

[2022-05-14 14:09] Bshah88 commented on #2547
Hello @yuval-hazaz Yes this will be a really great-to-have feature as fields gets added in the later requirements and position of that field needs to be move to the top. Currently it takes a lot effort so an app in Amplication would become time consuming.

[2022-05-15 06:06] mshidlov commented on #2601
![Blank diagram (4)](https://user-images.githubusercontent.com/91742238/168459523-7f89855e-0442-437f-bfd3-ae521837d12a.png)

[2022-05-15 06:40] mshidlov opened #2729 "Add @amplication/code-store-service helm configurations"
Add `@amplication/code-store-service` (#2639) to Amplication helm.

this service should:
1. have public access under `https://server.amplication.com` (will need to be rout on the existing ingress).
2. communicate through MSK on the topic: `authorization.internal.can-access-build.request.0`.
3. Access EFS `@amplication/server` builds folders.

![Blank diagram - Page 2 (1)](https://user-images.githu

[2022-05-15 07:33] yuval-hazaz commented on #2458
@MoFoGo can you please split this issue into 2 separate issues?

[2022-05-15 07:37] yuval-hazaz commented on #2712
Details in the Figma link (also provided above by Alex)
[Figma file](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=532%3A6541)

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/43705455/168462371-d01fc3b4-2f60-4fbc-9302-693a681a3e9b.png">

[2022-05-15 07:38] yuval-hazaz commented on #2720
@souravjain540 please split to 2 separate issues

[2022-05-15 07:43] yuval-hazaz commented on #1296
@alexbass86 please have a look at this issue. If there is anything left to do, please open a new separate issue and close this one

[2022-05-15 07:46] yuval-hazaz commented on #2697
@tupe12334 please provide @MoFoGo  with the details to resolve this issue.

@MoFoGo please open 2 separate issues - one for the readme file in this repo and another one to update the docs on amplication/docs

[2022-05-15 07:56] yuval-hazaz commented on #2374
@abrl91 is that still open or should we close it?

[2022-05-15 07:57] yuval-hazaz commented on #2352
@tupe12334 is that something we need to add to the docs as troubleshooting?
Is there anything else to do with this issue or should we close it?

[2022-05-15 07:58] yuval-hazaz commented on #2336
@mshidlov can we link this issue with the recent PRs and close it?

[2022-05-15 07:59] yuval-hazaz commented on #2255
@tupe12334 is that still relevant? should we handle it or close it?

[2022-05-15 08:03] alexbass86 opened #2730 "🐛 Bug Report: Entities - Add button need padding"
### What happened?

The add button doesn't have space between the options on granular. Please make sure it has 12px padding. The text following to add button should be 14px, and the selection filter should have total round corners.
![image](https://user-images.githubusercontent.com/96179897/168022873-9ae7ae2e-6a3e-4cad-89ce-77ce9367ad97.png)

### What you expected to happen

We should have padding

[2022-05-15 08:15] abrl91 commented on #2374
@yuval-hazaz I need to check. I think @morhag90 worked on a similar issue
https://github.com/amplication/amplication/issues/2428
And this is also related to this issue:
https://github.com/amplication/amplication/issues/2623
where you set one-to-many relation (customer and orders)

[2022-05-15 09:09] MoFoGo commented on #2697
@yuval-hazaz , @suryaraj1 @suryaraj1 -  According to @tupe12334, the info as it is currently in [Server ReadMe](https://github.com/amplication/amplication/blob/master/packages/amplication-server/README.md) is correct for both Server and generated app (Node.js v14 and npm v7).

I will open an issue to include this in the docs and in the root ReadMe.

[2022-05-15 09:10] MoFoGo commented on #2697
@yuval-hazaz , @suryaraj1 @suryaraj1 -  A @tupe12334 . The info as it is currently in [Server ReadMe](https://github.com/amplication/amplication/blob/master/packages/amplication-server/README.md) is correct for both Server and generated app (Node.js v14 and npm v7).

I will open an issue to include this in the docs and in the root ReadMe.

[2022-05-15 09:44] #2255 closed

[2022-05-15 10:49] yuval-hazaz commented on #2369
@kwinyyyc please see this RFC with details about the plugin system we are working on
https://github.com/amplication/amplication/discussions/2634

[2022-05-15 10:50] MoFoGo opened #2731 "Docs: Create a System Requirements section in the Amplication/ReadMe"
### Describe the issue with documentation

The system requirments are currently documented only in the [Application server ReadMe](https://github.com/amplication/amplication/blob/master/packages/amplication-server/README.md)

Users often miss this information, so we need to make the information more accessible.

### How to solve the problem

Include **System Requirements** section in the Amplicati

[2022-05-15 10:51] yuval-hazaz commented on #2369
I also added a link from the RFC to this issue. for now I will close this issue and we will keep tracking progress on the RFC and new backlog items for the implementation tasks

[2022-05-15 10:51] #2369 closed

[2022-05-15 10:53] yuval-hazaz commented on #2192
@mshidlov
is this still open?
would you like to move forward with the approach we implemented in the generated app?

[2022-05-15 10:54] yuval-hazaz commented on #2104
is that something we are still considering or can we close it?

[2022-05-15 10:57] yuval-hazaz commented on #2059
@alexbass86 please create a template for this notification
@MoFoGo please create the content for this notification

[2022-05-15 11:02] yuval-hazaz commented on #1992
@mshidlov is this still relevant?

[2022-05-15 11:03] yuval-hazaz commented on #2003
Thanks! something similar will be part of the new feature to support micro-services
I will close this issue

[2022-05-15 11:03] #2003 closed

[2022-05-15 11:04] yuval-hazaz commented on #2002
@paulica40 as this is a great idea, we were focusing on providing features on the backend, while the users should be able to use the API to achieve this functionality on the client side.
I will close this issue.
Thank you

[2022-05-15 11:04] #2002 closed

[2022-05-15 11:05] yuval-hazaz commented on #1994
@mshidlov can we close this one?

[2022-05-15 11:06] MoFoGo opened #2732 "Docs: Create a System Requirements section in the Amplication/Docs"
### Describe the issue with documentation

Describe the issue with documentation
The system requirments are currently documented only in the [Application server ReadMe](https://github.com/amplication/amplication/blob/master/packages/amplication-server/README.md)

Users often miss this information, so we need to make the information more accessible.

### How to solve the problem

Include a System R

[2022-05-15 11:08] yuval-hazaz commented on #1985
@elrankalili  although this is a great idea, we were focusing on providing features on the backend, while the users should be able to connect the code base to any existing pipelines for deployments.
I will close this issue.
Thank you

[2022-05-15 11:08] #1985 closed

[2022-05-15 11:08] #1968 closed

[2022-05-15 11:09] #1964 closed

[2022-05-15 11:10] yuval-hazaz commented on #1939
this should be implemented as plugins in the coming plugin system
I will close this issue

[2022-05-15 11:10] #1939 closed

[2022-05-15 11:10] yuval-hazaz commented on #1938
this should be implemented as plugins in the coming plugin system
I will close this issue

[2022-05-15 11:10] #1938 closed

[2022-05-15 11:10] yuval-hazaz commented on #1937
this should be implemented as plugins in the coming plugin system
I will close this issue

[2022-05-15 11:10] #1937 closed

[2022-05-15 11:11] yuval-hazaz commented on #1922
This is part of the ongoing efforts
I will close this issue

[2022-05-15 11:11] #1922 closed

[2022-05-15 11:12] yuval-hazaz commented on #1897
this was fixed in 0.12.6

[2022-05-15 11:12] #1897 closed

[2022-05-15 11:12] yuval-hazaz commented on #1892
@mshidlov @tupe12334 @abrl91
are we planning to do anything with this?

[2022-05-15 11:15] #1869 closed

[2022-05-15 11:16] yuval-hazaz commented on #1868
@souravjain540 please make sure this is still open, and if it is you may implement the same fix you did in the other issue

[2022-05-15 11:17] yuval-hazaz commented on #1861
@mshidlov is this still relevant? can we close it?

[2022-05-15 11:19] yuval-hazaz commented on #1800
@tupe12334 are you planning to take this one? should you send it to @MoFoGo ?

[2022-05-15 11:19] yuval-hazaz commented on #1793
@mshidlov can you please update this one and close it if the tasks are completed

[2022-05-15 11:20] yuval-hazaz commented on #1792
@mshidlov is this still relevant?

[2022-05-15 11:27] souravjain540 commented on #2059
**Instructions**

Task by Contributor: To trigger the event
Task by Team: To add the template and content in sendgrid

[2022-05-15 11:28] yuval-hazaz commented on #1343
@tupe12334 is this still relevant?

[2022-05-15 11:29] souravjain540 opened #2733 "🐛 Bug Report: Entities - Multi selection button bad corner radius"
### What happened?

Currently, its 0px corner radius and its suppose to be 4px
![image](https://user-images.githubusercontent.com/53312820/168470482-9301dd10-2937-46fb-a356-5d977f1270b5.png)

### What you expected to happen

The corner radius should be 4px

### How to reproduce

Go to Entities and then Permissions

### Amplication version

_No response_

### Environment

_No response_

### Are you

[2022-05-15 11:30] #1244 closed

[2022-05-15 11:30] yuval-hazaz commented on #1157
closed since it is not relevant any more

[2022-05-15 11:30] #1157 closed

[2022-05-15 11:31] yuval-hazaz commented on #1156
closed since it is not relevant any more

[2022-05-15 11:31] #1156 closed

[2022-05-15 11:31] yuval-hazaz commented on #1158
closed since it is not relevant any more

[2022-05-15 11:31] #1158 closed

[2022-05-15 11:31] yuval-hazaz commented on #1154
closed since it is not relevant anymore

[2022-05-15 11:31] #1154 closed

[2022-05-15 11:31] yuval-hazaz commented on #1089
closed since it is not relevant anymore

[2022-05-15 11:32] #1089 closed

[2022-05-15 11:32] yuval-hazaz commented on #989
closed since it is not relevant anymore

[2022-05-15 11:32] #989 closed

[2022-05-15 11:32] yuval-hazaz commented on #899
closed since it is not relevant anymore

[2022-05-15 11:32] #899 closed

[2022-05-15 11:33] yuval-hazaz commented on #713
closed since it is not relevant anymore

[2022-05-15 11:33] #713 closed

[2022-05-15 11:33] souravjain540 opened #2734 "🐛 Bug Report: Import lodash as a single library(client)"
### What happened?

Currently, we import each lodash function separately.
Example from client:
"lodash.debounce": "4.0.8",
"lodash.keyby": "4.6.0",
"lodash.omit": "4.5.0",

### What you expected to happen

It's better to import lodash as a whole library.
Expected import:
"lodash": "4.17.20",

### How to reproduce

Import lodash as a single library in amplication client

### Amplication version

_N

[2022-05-15 11:33] yuval-hazaz commented on #695
already completed in previous versions

[2022-05-15 11:33] #695 closed

[2022-05-15 11:35] souravjain540 opened #2735 "🐛 Bug Report: Import lodash as a single library(server)"
### What happened?

We are currently importing each lodash function separately.

### What you expected to happen

Import whole lodash library

### How to reproduce

Import lodash as a single library in server

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-15 11:36] souravjain540 opened #2736 "🐛 Bug Report: Import lodash as a single library(dsg)"
### What happened?

Currently, we import each lodash function separately.

### What you expected to happen

Import whole library

### How to reproduce

Import lodash as a single library in data service generator

### Amplication version

_No response_

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-15 11:38] mshidlov commented on #2192
@yuval-hazaz yes this is still open and yes we can continue with the approach we implemented in the generated app

[2022-05-15 11:41] #336 closed

[2022-05-15 12:05] souravjain540 opened #2737 "Dozen Issues for First Timers 🧢"
### Feature description

Hello contributors 👋

As proud members of the open-source community, we inspire developers to contribute to open-source projects 💜

To help you get started we have found a **Dozen issues** for first-time contributors, that can be a great way to fire-start your journey of the open-source contribution.

By giving back to the community, you’re also getting a chance to win coo

[2022-05-15 12:10] ganganimaulik commented on #2734
Can you assign me this issue?

[2022-05-15 12:59] souravjain540 commented on #2550
Hello @Brainchild13 👋

Can you please share the required details?

We will like to help you in using Amplication.

[2022-05-15 13:00] souravjain540 commented on #2547
Hello @Bshah88 👋

Would you like to work on this issue?

[2022-05-15 13:01] souravjain540 commented on #2543
Hey @MoFoGo 👋

Is this issue still relevant or should we close it?

[2022-05-15 13:03] #2516 closed

[2022-05-15 13:04] #2495 closed

[2022-05-15 13:07] souravjain540 commented on #2489
Hey @duanecilliers and @muhsinkamil 👋

Thank you so much for taking the time to open an issue.

As far as I see, @muhsinkamil gave a nice alternative.

So, I am closing this issue for now. You can open a new issue anytime. 💜

[2022-05-15 13:08] #2477 closed

[2022-05-15 13:08] #2478 closed

[2022-05-15 13:08] #2476 closed

[2022-05-15 13:10] souravjain540 commented on #2466
@abrl91  is it still valid or should we close it?

[2022-05-15 13:10] #2462 closed

[2022-05-15 13:12] souravjain540 commented on #2420
Hey @yuval-hazaz, can you look into it

[2022-05-15 13:38] muhsinkamil commented on #2489
Hey @souravjain540 The alternative is not implemented though. I was waiting for Yuval's reply. Let me open a PR to it :+1

[2022-05-15 13:40] souravjain540 commented on #2489
Amazing ;)

[2022-05-15 19:12] #2543 closed

[2022-05-16 06:38] yuval-hazaz commented on #2715
It is hard to reproduce, it is working on most devices.
@mshidlov did you fix anything related to that?

[2022-05-16 06:40] yuval-hazaz commented on #2639
@mshidlov are we naming this service storage-api or code-store?

[2022-05-16 06:41] yuval-hazaz commented on #2697
ok, so if all good we can close the issue

[2022-05-16 06:42] tupe12334 commented on #2491
@NisanAyash You are looking in the Amplication server and not in the generated server please check the file `packages/amplication-data-service-generator/src/server/static/src/auth/UserInfo.ts` Its the user info that came back from the jwt in `packages/amplication-data-service-generator/src/server/static/src/auth/auth.service.ts` we return it but without the user Id

[2022-05-16 06:42] yuval-hazaz commented on #2059
@mshidlov please add some more detailed instructions on how to approach this issue

[2022-05-16 06:44] tupe12334 commented on #2420
@EdroViegas Are you still encounter this problem?

[2022-05-16 06:45] #1343 closed

[2022-05-16 06:46] tupe12334 commented on #1800
@yuval-hazaz please send it to @MoFoGo

[2022-05-16 06:52] #2466 closed

[2022-05-16 06:58] yuval-hazaz commented on #1800
@tupe12334  if there is a need, @MoFoGo will need the content from you anyway

[2022-05-16 06:58] mshidlov commented on #1792
@yuval-hazaz today when a new repository is created from amplication we create a readme file that contains only the app name.

We should put in the readme some relevant content like how to run the server/client, docker, and docker-compose, folders in the repo, etc.

[2022-05-16 06:59] mshidlov commented on #1792
this can be a documentation for @MoFoGo

[2022-05-16 07:01] #1990 closed

[2022-05-16 07:02] #1992 closed

[2022-05-16 07:02] #1994 closed

[2022-05-16 07:02] #1995 closed

[2022-05-16 07:02] #1996 closed

[2022-05-16 07:02] #1997 closed

[2022-05-16 07:04] yuval-hazaz commented on #2420
we can close this issue, it was already fixed in a previous version

[2022-05-16 07:04] #2420 closed

[2022-05-16 14:04] MoFoGo commented on #2432
@yuval-hazaz Any progress with this?

[2022-05-16 14:16] #2697 closed

[2022-05-16 14:24] #2721 closed

[2022-05-16 14:25] #2541 closed

[2022-05-16 14:28] MoFoGo opened #2742 "Docs: Update Sync Amplication Server with GitHub"
### Describe the issue with documentation

GitHub sync with dev environment is not updated.

### How to solve the problem

Update the article:
https://docs.amplication.com/docs/connect-server-to-github

### Are you willing to submit PR?

_No response_

[2022-05-16 14:51] MoFoGo opened #2744 "Docs: Describe Public Endpoints feature."
### Describe the issue with documentation

The docs do not yet include description of the Public Endpoints

### How to solve the problem

Create an article describing public endpoint.

See https://github.com/amplication/amplication/releases/tag/v0.12.7 for information

### Are you willing to submit PR?

_No response_

[2022-05-17 05:26] souravjain540 commented on #2034
@morhag90 @mshidlov is this still relevant?

[2022-05-17 06:25] yuval-hazaz commented on #2744
@MoFoGo also, we need to update screenshots and content related to the permissions in articles like these
https://docs.amplication.com/docs/first-app
https://docs.amplication.com/docs/how-to/how%20to/set-access-permissions

[2022-05-17 08:42] souravjain540 commented on #2734
Hello @ganganimaulik  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG is waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 08:50] mshidlov opened #2745 "Adding new project hierarchy between workspace and apps"
Create a new project hierarchy.

1. Add a new table for the project.
2. Add a new project-id field in the App table
3. Create migration that will create a project for each app and will add project-id to the app table
4. update amplication-server to create a project when a new App is generated
![ERD](https://user-images.githubusercontent.com/91742238/168770547-82d0d89d-f1f8-493c-b935-34707eeb0ea3.p

[2022-05-17 08:56] GaneshSonarSD commented on #2731
can i take this @souravjain540

[2022-05-17 09:10] souravjain540 commented on #2731
Hello @GaneshSonarSD  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 09:23] garvitrai013 commented on #2712
Is this issue assigned to anyone? If not I'd like to take it

[2022-05-17 09:23] ShreyaPrasad1209 commented on #2712
Hi can I take up this issue?

[2022-05-17 09:23] ShreyaPrasad1209 commented on #2736
Hey can I take up this issue?

[2022-05-17 09:25] souravjain540 commented on #2736
Hello @ShreyaPrasad1209  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG is waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 09:25] souravjain540 commented on #2712
Hello @garvitrai013  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 09:26] souravjain540 commented on #2712
Hello @ShreyaPrasad1209, assigned you the other one :)

[2022-05-17 09:27] garvitrai013 commented on #2712
Thank you Sourav 💙

[2022-05-17 09:35] pawan521 commented on #2720
If no one assigned on this issue.I would love to contribute

[2022-05-17 09:37] alexbass86 opened #2746 "🐛 Bug Report: The back button is not working properly"
### What happened?

When you click on the "back" button, it takes us to a broken page

### What you expected to happen

This should take us to the last visited page

### How to reproduce

Just click on the "back" button from the commit screen

### Amplication version

0.12.5

### Environment

.

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-17 09:38] souravjain540 commented on #2735
Hello @pawan521  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 09:40] souravjain540 commented on #2720
You've just been assigned with #2735 :)

[2022-05-17 09:45] pawan521 commented on #2733
Can you assign this issue to me

[2022-05-17 09:51] yuval-hazaz commented on #2713
the required changes are detailed in Figma in this link [Figma File](https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=534%3A7128)

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/43705455/168783596-d74057e5-c8ce-4ae0-9bd3-c8b45c16fb01.png">

[2022-05-17 10:21] codeNitesh commented on #2711
Hi @souravjain540 ,
Can you please assign this issue to me?

Thanks :)

[2022-05-17 10:22] Sumanth077 commented on #2733
Hello @souravjain540 can I take up this issue?

[2022-05-17 10:24] codeNitesh commented on #2713
Hi @souravjain540 @yuval-hazaz ,
Can you please assign this issue to me?

Thanks :)

[2022-05-17 10:25] souravjain540 commented on #2733
Hello @Sumanth077  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 10:26] souravjain540 commented on #2713
Hello @codeNitesh  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 10:46] abrl91 commented on #2745
projectId will be a string and not a number

[2022-05-17 11:03] sonali-dudekula commented on #2720
Hi @souravjain540 , i would love to contribute
If in case no one assigned, will you please assign this issue to me

[2022-05-17 11:13] souravjain540 commented on #2720
Hello @sonali-dudekula  👋🏻

I am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-17 11:20] pawan521 commented on #2735
hey @souravjain540 can you guide me to setup the project.

[2022-05-17 11:27] souravjain540 commented on #2735
You can join our discord server: https://amplication.com/discord

There is a support section specially to help on priority.

see you there!

[2022-05-17 11:36] MoFoGo commented on #2731
Hi @GaneshSonarSD - The Generated app contains exactly the same system requirements as for the Amplication Server. Even so, you should write these as two different sections, so it is clearer for the user.

[2022-05-17 11:43] GaneshSonarSD commented on #2731
okay thanks @MoFoGo

[2022-05-17 11:45] Sumanth077 commented on #2733
@souravjain540 It would be great if you can provide the exact file location.
Thank you

[2022-05-17 11:54] souravjain540 commented on #2733
@alexbass86 can you provide him the exact file location?

[2022-05-17 12:46] souravjain540 commented on #2735
https://discord.gg/y2YuAese

[2022-05-17 15:52] tupe12334 commented on #2104
@yuval-hazaz I still think that its the smart thing to do and even have a pr that does that

[2022-05-17 17:31] devblin commented on #1811
Hey @souravjain540, can I work on this issue ?.

[2022-05-17 17:59] souravjain540 commented on #1811
Hey @devblin

As far as I can see, you've contributed to Amplication earlier as well?

This issue is assigned for DIFT campaign which is for First time contributions to Amplication.

[2022-05-17 18:02] devblin commented on #1811
Oh ok, got it 👍🏽

[2022-05-17 18:30] Shubh28698 commented on #2457
Hi @MoFoGo @souravjain540

Can I take up this issue?

Thanks

[2022-05-17 18:35] Shubh28698 commented on #2457
Also if assigned, can you let me know which page needs the change ( sending page link here would be helpful)

Thank you

[2022-05-18 04:12] souravjain540 commented on #2457
Hey @Shubh28698 sure! Assigned.

@MoFoGo please help him.

[2022-05-18 04:13] souravjain540 commented on #1811
If you've any friend who can contribute, do tell them :)

[2022-05-18 05:02] uday03meh commented on #2712
Is this issue solved?

[2022-05-18 05:17] souravjain540 commented on #2712
He is working on it.

You can take #2711

[2022-05-18 05:39] mshidlov commented on #2746
Hey @alexbass86 Thank you for reporting this issue. can you please elaborate on which back button and where? (in which page)
If you can add screen shots it can be much helpful.

[2022-05-18 06:48] sonali-dudekula commented on #2720
Hey @souravjain540 will you please provide me the exact file location?

[2022-05-18 06:52] alexbass86 commented on #2733
Hi, here is the Figma link
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=571%3A7981
thanks for your contribution :)

[2022-05-18 07:32] alexbass86 commented on #2746
I saw now it has been fixed you can close the issue thanks

[2022-05-18 07:34] alexbass86 commented on #2720
Hi, here is the Figma link
https://www.figma.com/file/tIfcueoxU4DtYtCHmmLuE7/Community---Task-Assets?node-id=571%3A7981
thanks for your contribution :)

[2022-05-18 07:50] garvitrai013 commented on #2712
I ran the dev setup command (`npm run setup:dev`) in the directory after cloning it & it failed at 2nd stage (client build)

Its related to webpack. I tried installing it locally & also linking it with global webpack and the error is still there.

`

info: Welcome to Amplication installer!
info: This script will help you easily set up a running amplication server

info: Starting step 1/6
info: Sta

[2022-05-18 07:51] souravjain540 commented on #2712
Hello @garvitrai013

Please join our discord and ask this in support channel.

One of our team member will help you on priority!

https://discord.gg/qPVPzRvJ

[2022-05-18 10:02] tupe12334 opened #2753 "Wrong title in the root README file"
### Describe the issue with documentation

The title in the root README file is ```This is the private clone of the public repo amplication/amplication```, we need to remove that

### How to solve the problem

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-18 10:08] #2734 closed

[2022-05-18 10:17] tupe12334 opened #2754 "EE seperation"
### Feature description

As part of the adding of the ee version, we need to separate the parts of the project that is source available and not os.
The part, for now, is the two-way sync with GitHub.

- [x]  Lerna support
- [x]  File movement
- [x] codegen Yaml
- [x]  Docker files
- [ ]  .github actions (Sela)

[2022-05-18 10:20] tupe12334 opened #2755 "🐛 Bug Report: Wrong COMPOSE_PROJECT_NAME in the server"
### What happened?

The COMPOSE_PROJECT_NAME in the server is `amplication-server-oc` but its need to be `amplication-server`

[2022-05-18 10:39] MoFoGo commented on #2742
Best of luck with this @aparna2071.  Let me know if you need more info.

[2022-05-18 10:55] MoFoGo commented on #2457
Hi, @Shubh28698.  You should go through all the docs, and see where the Title in the sidebar is different from the Title in the article.
Here are a few examples:
https://docs.amplication.com/docs/about/roadmap
https://docs.amplication.com/docs/helm-chart
https://docs.amplication.com/docs/how-to/create-entity-field
https://docs.amplication.com/docs/getting-started/getting-started/phone-home
https:/

[2022-05-18 11:45] tupe12334 opened #2757 "[HOTFIX]: Wrong port on the server's docker compose"
### What happened?

When we merged the amplication-hosted to the os implication we accidentally update the port on the server's docker-compose to be the hosted port 5433.
In the beginning, we set it to be a different port so we can run them locally together.

### What you expected to happen

The DB port needs to be 5432 like the default.

### How to reproduce

not relevant

### Amplication version

[2022-05-18 11:59] #2757 closed

[2022-05-18 17:44] kinb98 commented on #1811
Hi can I work on this ?

[2022-05-18 17:44] kinb98 commented on #2711
Hi can I work on this ?

[2022-05-18 17:47] jainpawan21 commented on #1893
For this issue, we should write admin UI tests?

[2022-05-18 18:13] souravjain540 commented on #1811
Hello @kinb98 am assigning you this issue!

Have a good time working on it. Limited Edition Amplication SWAG are waiting for your PR 😉

If you need any help just reply to me. We are more than happy to help you in your first PR to Amplication 💜

[2022-05-18 18:14] souravjain540 commented on #1809
@mshidlov @tupe12334

[2022-05-18 18:16] souravjain540 commented on #2711
Just assigned you another issue

[2022-05-18 18:16] aparna2071 commented on #2742
Thanks @MoFoGo

[2022-05-18 20:06] aparna2071 commented on #2742
Hi @MoFoGo

On https://docs.amplication.com/docs/connect-server-to-github, in the important Info section, it is mentioned that :
When using the hosted service on https://app.amplication.com/, the integration is pre-configured and you just need to follow [this guide](https://docs.amplication.com/docs/sync-with-github) to sync your application with GitHub.

This guide shows the required steps to syn

[2022-05-19 04:35] jainpawan21 commented on #2294
Hi @tupe12334,
I tried to run this workflow in my cloned repository because the links you have mentioned do not have logs now [may be a retention period issue]

This import statement `import getPort from "get-port";` is creating issue

<img width="1511" alt="Screenshot 2022-05-19 at 10 02 23 AM" src="https://user-images.githubusercontent.com/39362422/169205740-290813d5-e590-491a-a273-bd5df8313eae.

[2022-05-19 05:01] liketoeatcheese opened #2760 "Login using Github error"
Ola,

I got this issue when trying to log in with Github (I think there's only one way to log in): `Timed out fetching a new connection from the connection pool. More info: http://pris.ly/d/connection-pool (Current connection pool timeout: 10, connection limit: 9).` I think it did reach the Github server as I authenticated it to use my credentials, and it showed the error after that.

Looking forw

[2022-05-19 05:04] yuval-hazaz commented on #2760
Thanks @liketoeatcheese
We migrated the database yesterday from GCP to AWS. I assume we need to adjust the connection limit setting.

we will review soon. Thanks for reporting 💜

[2022-05-19 06:56] yuval-hazaz commented on #2760
The issue is now resolved,
thanks for reporting

[2022-05-19 06:56] #2760 closed

[2022-05-19 06:57] #2746 closed

[2022-05-19 07:31] tupe12334 commented on #1779
@jainpawan21 We have some tests in the generated controllers, we can add them to the resolvers too.
And add tests for the health and auth controllers and the auth resolver

[2022-05-19 08:16] jainpawan21 commented on #1779
Hi @tupe12334, Can you please route me to correct file?
It will be very helpful

[2022-05-19 09:50] liketoeatcheese opened #2761 "Code zip file unavailable"
Heya,

I tried to download the zip file, and when I opened it, the error popped up with the message: "Window cannot open the folder. *file name.zip* is invalid."

This button to download it is located at the build time screen. I pressed build id, and next to the "Generate Code" section, there was a small download icon to download it.

[2022-05-19 09:56] liketoeatcheese opened #2762 "Sandbox image is broken"
Heya,

When I use the "Open sandbox environment" button after the build is finished, a window pops up, which is good. However, on the choosing screen between GraphQL, AdminUI, and RESTAPI, the images were broken

[2022-05-19 11:49] #2708 closed

[2022-05-19 11:54] tupe12334 commented on #1893
@jainpawan21 We ether write some test or add `SKIP_PREFLIGHT_CHECK=true` to the env file

[2022-05-19 11:57] abrl91 opened #2763 "🐛 Bug Report: delete prisma form amplication server"
### What happened?

Prisma was moved to a separate package and we need to remove it from amplication-server

### What you expected to happen

-

### How to reproduce

-

### Amplication version

0.13.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-19 12:04] tupe12334 opened #2764 "🐛 Bug Report: Line up the the release 0.13.0 to the new CI"
### What happened?

In the process of moving to the new CI and the new release, the tests failed to pass because of a package-lock problem.

### What you expected to happen

The CI process need to pass

### How to reproduce

not relevant

### Amplication version

0.13.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-19 13:16] mshidlov commented on #2761
Thank you @liketoeatcheese for reporting I'm looking on it now

[2022-05-19 13:23] liketoeatcheese commented on #2762
It's the button at the lower right-hand corner when the deployment to the sandbox is finished. I think the"chain icon" in the image you sent does the same thing. I tried to add an image before but couldn't find any option to add.

But basically, there're images on top of the text box GraphQL, Admin UI, RESTAPI, but they were all showing the broken image icon at the time I saw it

[2022-05-19 13:31] tupe12334 commented on #2294
@jainpawan21 Yes the problem started when we update is to version 6

[2022-05-19 16:38] #2755 closed

[2022-05-20 03:44] devblin opened #2767 "🐛 Bug Report: Missing description for `auth` command in @amplication/cli"
### What happened?
There is missing description for `auth` command in amplication-cli.
![amplication-cli](https://user-images.githubusercontent.com/55559527/169446148-fd82e446-400e-4a46-acf5-b3828e341d27.png)

### What you expected to happen

There must be description for `auth` command in CLI such as ` 'authenticates CLI using API token generated in amplication server UI'`

### How to reproduce

[2022-05-20 03:47] souravjain540 commented on #2767
Hi @devblin

Can you please join our discord server. There is a support channel there for priority support to such errors.

We would love to help you.

Invite: https://discord.gg/y2YuAese

[2022-05-20 16:52] ShreyaPrasad1209 commented on #2736
@souravjain540 why do you need to import the whole library? Isn't it better to import specific functions that are needed so that we don't make the application unnecessarily heavy?

[2022-05-20 17:50] yuval-hazaz commented on #2736
The differences are too small to impact. We use it server side so also no impact on page load.
The cost of maintaining multiple packages is bigger then the cost of the size

[2022-05-20 18:06] jainpawan21 commented on #2294
Hi @tupe12334,
As per the reply of the get-port library author in [this](https://github.com/sindresorhus/get-port/issues/59) issue and 6.00 version [release notes](https://github.com/sindresorhus/get-port/releases/tag/v6.0.0), get-port is now pure ESM,

Now, We have three options:-

1. Rollback to previous version 5.1.1 [We can do so because we are using get-port only at one place to get random po

[2022-05-20 18:34] jainpawan21 commented on #1893
`SKIP_PREFLIGHT_CHECK=true` should be added in root env file or dsg package env file

[2022-05-21 07:06] souravjain540 commented on #2730
I am working on this issue.

[2022-05-21 07:30] abrl91 commented on #2742
Hi @aparna2071
You need to update the env variable on the docs.
The variables on the docs are wrong
![image](https://user-images.githubusercontent.com/39680385/169640965-137133d9-c086-437e-bc7c-d1e18f7fd385.png)

If you open `packages/amplication-server/.env`
you will see those variables:

[code]
So all you need to do is replace the env variables on the docs with those env variables

[2022-05-21 07:35] aparna2071 commented on #2742
Ok thanks @abrl91 for helping

[2022-05-21 08:25] codeNitesh commented on #2713
hey @souravjain540
I am facing issue while setting up project on my local environment.
The error is related to nodejs version. I installed the required version, but still issue persist. I checked issues section here on this project, but all the discuss related to set up seems not good and productive. I think it is quite important to provide doc with possible bugs and their solutions.
Also, can you

[2022-05-21 08:35] aparna2071 commented on #2742
Done the necessary changes.
PR opened: https://github.com/amplication/docs/pull/144

[2022-05-21 09:03] yuval-hazaz opened #2770 "docs: incorrect links in https://docs.amplication.com/docs/community/handling-a-new-issue"
### Describe the issue with documentation

the doc at https://docs.amplication.com/docs/community/handling-a-new-issue is using incorrect links to external pages instead of internal links to the sections on the page

<img width="796" alt="image" src="https://user-images.githubusercontent.com/43705455/169644200-fae3673f-17ae-40c1-9d5d-9bb979462df8.png">

### How to solve the problem

replace the li

[2022-05-21 09:18] souravjain540 commented on #2730
Hi @alexbass86 @tupe12334 @mshidlov

I've done the padding and text font size change but I am unable to locate the selection filter button in the code.

Can you give me the path of file where it exists?

[2022-05-21 09:19] souravjain540 commented on #2713
Hello @codeNitesh 👋

Can you join our discord server and ask the query in Support channel for a fast resolution?

invite: https://amplication.com/discord

[2022-05-21 09:20] souravjain540 commented on #2767
Hi @devblin

Did you get the help?

[2022-05-21 09:23] souravjain540 commented on #2560
@tupe12334  is it still relevant?

[2022-05-21 09:35] souravjain540 commented on #2735
Hi @pawan521, are you working on this issue?

[2022-05-21 09:35] souravjain540 commented on #2736
Hi @ShreyaPrasad1209 , are you working on this issue?

Can we help in some way?

[2022-05-21 09:36] souravjain540 commented on #2733
Hi @Sumanth077 , are you working on this issue?

Can we help in some way?

[2022-05-21 09:37] souravjain540 commented on #2712
Hi @garvitrai013 , are you working on this issue?

Can we help in some way?

[2022-05-21 09:39] yuval-hazaz commented on #2745
also, we should remove the workspace ID field from the app. Instead apps are linked to workspace via a project

[2022-05-21 09:50] yuval-hazaz commented on #2104
I think it would be a good example of a plugin that will control the style of the code
Let's keep this open and we can revisit it once the plugin systems is ready

[2022-05-21 09:53] #2753 closed

[2022-05-21 09:57] yuval-hazaz commented on #2007
@mshidlov @souravjain540

[2022-05-21 10:03] yuval-hazaz commented on #2762
@mshidlov
see this page for example https://cl3cvuvlm28374501ka9x8ock6q-server-vn57etnuya-ue.a.run.app/#/login

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/43705455/169646563-38bf08c7-03f3-438c-b5ae-7923d8686f95.png">

[2022-05-21 10:05] yuval-hazaz commented on #2762
the assets of these images were originally located in amplication.com and probably are missing now after we migrated the website to next.js

We can add the missing files in amplication.com, but we should **ALSO** use local files for the images so we are not depend on external files

[2022-05-21 10:14] souravjain540 commented on #2007
Hi @jainpawan21

I will talk to @mshidlov

[2022-05-21 10:27] jainpawan21 commented on #2770
Hi @yuval-hazaz ,
I just created a [PR](https://github.com/amplication/docs/pull/145) to fix this.

[2022-05-21 10:38] jainpawan21 commented on #2767
Yes, you are right, description is missing for this command.

[2022-05-21 11:20] aparna2071 commented on #2059
Hey, I would like to contribute.
If it is unassigned, can you please assign this to me?

[2022-05-21 11:30] jainpawan21 commented on #1879
Hi @tupe If this is not resolved and still relevant,
Can you please assign this to me?

[2022-05-21 11:31] jainpawan21 commented on #1208
@souravjain540 I think this can be closed. As linked PR has fixed this issue.

[2022-05-21 11:35] jainpawan21 commented on #1792
Hi @MoFoGo, Can you please share contents that should be in README.md file of generated repo?
I would like to work on this.
@mshidlov Can you please assign this to me?

[2022-05-21 11:39] jainpawan21 commented on #1891
Is this still relevant and needs to work on?

[2022-05-21 11:46] jainpawan21 commented on #2490
Hi @yuval-hazaz ,
I think it can be implemented server-side easily as [Github API](https://docs.github.com/en/rest/repos/repos#create-an-organization-repository) supports private flag
Do we need a design for the client-side or can we add a checkbox or dropdown in creating a new repo popup?

[2022-05-21 11:52] jainpawan21 commented on #2551
As Github API supports all these query parameters, So all requirements can be implemented
<img width="604" alt="Screenshot 2022-05-21 at 5 19 26 PM" src="https://user-images.githubusercontent.com/39362422/169650330-a354d47a-926c-4aaf-9d75-b52553bba534.png">

 Do we need a design update to work on this?

[2022-05-22 06:03] mshidlov opened #2771 "CD: Migration Job is preventing new version to be deployed"
When deploying a new version to a namespace the ArgoCD command is failing due to pre-existing amplication-server migration job.

[2022-05-22 06:08] mshidlov opened #2772 "CD: Deploying none existing image tag"
When trying to deploy none existing branch tag (in case of a typo or CI didn't run yet) the deployment is finishing with success and the Kubernetes cluster becomes stale as no such image exists.

verify the branch tag name at the beginning of the process.

[2022-05-22 06:13] mshidlov opened #2773 "CD: Add secret on deployment"
To prevent accidental deployments, we want to introduce a **confirmation mechanism** to our CD flow. This will prevent us from accidentally deploying to the wrong environment.

The mechanism is similar to how danger zones work in AWS, GitHub etc.

Currently, the AWS CD trigger looks like this:
<img width="344" alt="image" src="https://user-images.githubusercontent.com/4976416/177746222-1c661936-e4

[2022-05-22 06:45] mshidlov commented on #1792
@jainpawan21 sure once we will decide on content for it you can start working on it

[2022-05-22 06:50] tupe12334 commented on #1893
@jainpawan21 To the `/packages/amplication-data-service-generator/src/admin/create-dotenv.template.env` file

[2022-05-22 06:52] mshidlov commented on #2007
@jainpawan21 yes sure no problem, there is a thread on the discord support channel `Docker-compose migration issue`  that with information that can assist.

Please feel free to contact me with any questions.

[2022-05-22 06:53] jainpawan21 commented on #1893
Thanks, Can you please assign this to me?

[2022-05-22 06:56] #2764 closed

[2022-05-22 07:02] devblin commented on #2767
@souravjain540 Hey, actually I don't think so its major issue to get support about, its just a missing description for a command in @amplication/cli, if engineering team allows, I can make PR for the same 👍🏽.

[2022-05-22 07:43] souravjain540 commented on #2767
sure @abrl91 @tupe12334 please help!

[2022-05-22 08:48] tupe12334 commented on #1893
@jainpawan21 You been assign, good luck!

[2022-05-22 08:49] tupe12334 commented on #1891
@jainpawan21 Yes, the linter needs to block empty files.

[2022-05-22 08:50] tupe12334 commented on #1879
@jainpawan21 Yes, but @alexbass86 do you want to create a valid UI?

[2022-05-22 09:45] alexbass86 commented on #1879
Yes please, lets do quick zoom meeting

[2022-05-22 15:02] #1893 closed

[2022-05-22 15:05] tupe12334 commented on #2591
@mshidlov Did we enter this change already?

[2022-05-22 15:25] tupe12334 commented on #2294
@jainpawan21 I think for now we will roll back to 5.1.1

[2022-05-22 15:26] jainpawan21 commented on #2294
Ok, I will raise PR to fix the same

[2022-05-22 16:03] abrl91 opened #2778 "prisma was denied access on the database postgres"
### Overview

`npm run setup:dev` failed on step 6 with the following message:
![image](https://user-images.githubusercontent.com/39680385/169704282-06d84a42-b554-4fb8-bca5-c8272d9d1e57.png)

### Symptoms

Access to DB was denied while trying to start DB.
Docker is running

### Cause

This error and other errors like that (about accessing DB) is usually caused by another Postgres process that runs

[2022-05-22 16:23] abrl91 opened #2779 "Adding custom DTOs to a generated app"
### Overview

Sometimes our users have use-cases where they need other DTOs that are supported by Prisma but not generated by us.
In these cases, the user should add his own custom DTO to the project. The question is WHERE? (and also maybe HOW)

### Symptoms

For example. Prisma supports filtering on Enum values, but we are not.

### Cause

Go to the entity service, to the relevant method (for exa

[2022-05-22 17:17] Sumanth077 commented on #2733
Hi @souravjain540 Thank you for asking, currently working on it, and will make a PR Soon

[2022-05-23 05:23] souravjain540 commented on #2733
Thanks for the update!

[2022-05-23 05:24] souravjain540 commented on #2731
Hi @MoFoGo, can you please approve the PR?

[2022-05-23 05:25] souravjain540 commented on #2713
Hi @codeNitesh 👋

Any updates? Can we help you in some way?

[2022-05-23 05:33] yuval-hazaz commented on #2767
@devblin I will assign you. Please go ahead and make a PR

[2022-05-23 05:48] mshidlov opened #2780 "Selective code generation app settings"
Add to app settings the ability to enable\disable code generation parts.

Add the ability to enable\disable:
* GraphQL API
* REST API
* Admin UI

And adding new settings page to control the code generation.

**please note**
1. when GraphQL is disabled Admin UI should be disabled as well. Admin UI works with GraphQL and won't function when GraphQL is disabled.
2. In the figma you have folders locat

[2022-05-23 06:04] mshidlov opened #2781 "Convert App table to Resource"
As our move toward supporting project level with many services and resources as part of it.,
We should rename the app table to a resource table,  add a resource type column and set current apps to become service resource type.

- [x] #2797
- [x] #2819
- [x] #2914
- [x] #2919
- [x] #2921
- [x] #2923
- [x] #2907
- [x] #2966

[2022-05-23 06:16] mshidlov opened #2782 "Project backend functionality (CRUD)"
We added Project as a new level between Workspace and App.
We now need to add the project backend functionality.

1. Add GraphQL API's for CRUD operations.
2. Resource creation should get project as input for connecting

[2022-05-23 06:19] mshidlov commented on #2782
blocked by #2781

[2022-05-23 06:27] mshidlov opened #2783 "Add notification infrastructure"
POC integration with [novu](https://novu.co/) for notification infrastructure..

[2022-05-23 06:29] souravjain540 commented on #2783
Interesting 👀

[2022-05-23 06:41] tupe12334 commented on #2730
@souravjain540 This is the path to the select button `packages/amplication-client/src/Permissions/EntityPermissionFields.tsx`

[2022-05-23 09:41] #2294 closed

[2022-05-23 10:04] tupe12334 opened #2784 "🐛 Bug Report: Dynamically generated date in tests"
### What happened?

In the test `packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts` We use `new Date()` instead of declaring a NOW variable.
This makes the test depend on outside data and may fall like in this example: https://github.com/amplication/amplication/runs/6536268805?check_suite_focus=true

### What you expected to happen

We need to declare a static time variable

[2022-05-23 10:09] souravjain540 commented on #2784
Hi @tupe12334 👋

Do we want here to use `Date.now()` instead of `new Date()`

[2022-05-23 11:42] #2767 closed

[2022-05-23 11:45] #2720 closed

[2022-05-23 12:12] Mohsin533 commented on #2784
F:\Bootstrap5\css\img\nature.jpg

[2022-05-23 12:21] #2007 closed

[2022-05-23 12:25] jainpawan21 commented on #1891
@tupe12334  Please share steps to reproduce. I am a bit confused 😅

[2022-05-23 12:35] jainpawan21 commented on #1900
@tupe12334 I would like to work on this, Please assign this to me!

[2022-05-23 12:44] tupe12334 commented on #2784
Hi @souravjain540 We can use both, but the better way is Date.now() for readability.

[2022-05-23 12:47] jainpawan21 commented on #2206
@MatanAmplication the main issue is with [this](https://github.com/Ilshidur/action-discord) GitHub Action. I have created [one issue](https://github.com/Ilshidur/action-discord/issues/122) regarding double-quotes. I would like to work on this, once I get a reply on that issue from the maintainer.

[2022-05-23 12:51] tupe12334 commented on #1900
@jainpawan21 good luck, I'm here if you need me

[2022-05-23 13:30] tupe12334 opened #2788 "Kafka in the main docker-compose"
### Feature description

We started to work with Kafka as our messaging broker, we need to add it to the main docker-compose for easier use in local environments.

We can use this compose for example
`
version: '3'
services:

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    depends_on:
      - zookeeper
      - kafka
    environme

[2022-05-23 15:12] rizdev99 commented on #2192
Hey, @souravjain540
Can you please assign this issue to me?
PS - I am a newbie to open source :)

[2022-05-23 15:39] souravjain540 commented on #2192
Sure! @rizdev99.

[2022-05-23 15:55] tupe12334 commented on #1891
@jainpawan21  Try to add a new empty file to the dsg and run the linter script

[2022-05-24 06:03] mshidlov opened #2790 "CI: Create branch trigger is set always"
When a comment is set on a PR, regardless of the comment a branch is created

[2022-05-24 06:05] #2790 closed

[2022-05-24 06:09] mshidlov opened #2791 "Update CI\CD to work with separated folders"
We have separated our repository code folders into `packages` and `ee/packages`.

The CI\CD should be updated accordingly and run all processes on both of the folders.

related-to: #2754

[2022-05-24 08:26] mshidlov commented on #2206
Sure, thank you!

[2022-05-24 09:27] MoFoGo commented on #2778
Hi @abrl91.  What is the correct term here: postgres, postgREST, or postgreSQL ?

[2022-05-24 11:25] mshidlov opened #2793 "Create design-system methodology"

[2022-05-24 11:58] barshimi commented on #2793
Create a wrapper methodology to extends third party abilities and customize components to Amplication design system

[2022-05-24 12:28] EugeneTseitlin opened #2795 "Amplication client should make calls only to origin"
### Feature description

Amplication client today makes calls to different origins which require additional CORS configuration in server side. Working with same origin allows to leverage SOP (same origin policy). It's can be implemented using reverse proxy in order to make requests to different server apps.

### Use case

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-24 14:04] tupe12334 opened #2797 "Update prisma schema - rename App table to Resource"

[2022-05-24 14:56] abrl91 opened #2798 "Update docs with the new interceptors, moving morgan to module level and useGuard to controller level"
### Describe the issue with documentation

In version 0.12.6 we restructured the code and add two new interceptors:
AclValidateRequset
AclFilterResponse

We also moved morgan interceptor to the module level
And UseGuard to the controller level

### How to solve the problem

Update the code examples with the new approaches

### Are you willing to submit PR?

Yes I am willing to submit a PR!

[2022-05-24 17:28] kalmanl commented on #2059
Hi, can I please work on this?
I would need more info on how to implement the future

[2022-05-24 17:36] yuval-hazaz commented on #2059
@kalmanl have a look at the code here
https://github.com/amplication/amplication/blob/c609bd14f4a1f76a28231cc4ea8158d3f66a7624/packages/amplication-server/src/core/workspace/workspace.service.ts#L160

and here
https://github.com/amplication/amplication/blob/c609bd14f4a1f76a28231cc4ea8158d3f66a7624/packages/amplication-server/src/core/mail/mail.service.ts#L17

you should do the same thing, with a n

[2022-05-24 18:52] kalmanl commented on #2059
Make sure I understand correctly: at the end of the deployment we send an email with `mailService`
From when do I call the send email methods? should I from handleDeployResult in https://github.com/amplication/amplication/blob/c609bd14f4a1f76a28231cc4ea8158d3f66a7624/packages/amplication-server/src/core/deployment/deployment.service.ts#L315

[2022-05-25 03:37] MichaelSolati commented on #769
I'll take this, I've done a lot in the world of geo so I think I can manage this.

[2022-05-25 06:51] MoFoGo opened #2802 "Docs: Create documentation for the Code View feature"
### Describe the issue with documentation

Release 13.0 will include the new View Code functionality.

### How to solve the problem

Create doc article(s) to describe View Code.

### Are you willing to submit PR?

_No response_

[2022-05-25 13:53] abrl91 opened #2805 "🐛 Bug Report: unnecessary hover effect on permissions button"
### What happened?

There is an unnecessary hover effect on the permission buttons

https://user-images.githubusercontent.com/39680385/170278390-168fb0fa-232b-43d1-930d-a5677da77131.mov

### What you expected to happen

remove the hover effect

### How to reproduce

on the entities page, chose an entity and then click on the permissions tab. Hover the permissions type button

### Amplication versi

[2022-05-25 14:48] vipulkunwar000 commented on #2736
Do you use multiple servers?

[2022-05-25 19:41] Selt0 commented on #2805
Can I work on this issue? I can change the hover to a different color or I can remove it completely.

[2022-05-25 19:46] souravjain540 commented on #2805
Sure, you can work on this.

I think completely remove.

@abrl91 will confirm

[2022-05-26 01:31] devopstoday11 opened #2808 "sample mobile app development with full stack as an example"
### Feature description

Could your team please develop a sample mobile app with react-native frontend and nodejs as backend using Amplication? Backend microservices (APIs, gRPC, GraphQL, etc.) should be running on Kubernetes with API gateway as the traffic entry point plus a load-balancer, and use SaaS DB like Datastax Cassandra or Crunchy Postgresql SaaS.
It would be a really good example for be

[2022-05-26 06:29] MoFoGo commented on #2802
Will do this when v13.0 is released.

[2022-05-26 08:43] abrl91 opened #2809 "🐛 Bug Report: amplication prisma db doesn't build on npm run bootstrap"
### What happened?

while trying to run amplication-server and when checking out from one branch to another (on branches > release/0.13.0), amplication-server is failing on amplicaion-prisma-db dependency and even after running lerna clean && lerna bootstrap it is still failing

### What you expected to happen

lerna bootstrap should build amplication-prisma-db

### How to reproduce

on branch rel

[2022-05-26 14:19] #2809 closed

[2022-05-26 18:01] abrl91 opened #2812 "Add a guide on how to add custom dto"
### Describe the issue with documentation

Our users sometimes have use-cases where they need DTOs that are supported by Prisma but not generated by Amplication.
In these cases, the users should add their own custom DTO to the project. This article answers the question WHERE and HOW?
For example, Prisma supports filtering on Enum values, but Amplication does not.

### How to solve the problem

Gen

[2022-05-27 19:36] devopstoday11 commented on #2808
@yuval-hazaz  - please let us know when your team planning on providing an example like above.

[2022-05-28 05:35] #1208 closed

[2022-05-28 05:37] yuval-hazaz commented on #2490
@jainpawan21 you can add a checkbox to the creation popup

[2022-05-28 05:39] yuval-hazaz commented on #2551
@jainpawan21, no need for a design to start working on it.
fee free to implement the pagination and @alexbass86 will review and suggested fixes after you finish

Thanks for your continuous support!

[2022-05-28 05:42] yuval-hazaz commented on #1792
@jainpawan21 I think we can use the content from this doc (starting from step 2)
https://docs.amplication.com/docs/getting-started/dev-env

[2022-05-28 05:46] yuval-hazaz commented on #1893
@tupe12334 sorry for jumping on this a little too late, but I am not sure it is the right thing to add this flag to the .env file

what is the impact of this flag? what will happen if users will want to run tests on the admin-ui?
where it is failing with it?

[2022-05-28 05:46] yuval-hazaz commented on #1893
@mshidlov please review also

[2022-05-28 05:52] yuval-hazaz commented on #2731
where is the PR?

[2022-05-28 06:05] yuval-hazaz commented on #2784
@tupe12334 @souravjain540 please have a look at this example
https://github.com/amplication/amplication/blob/2e6a2df94774b8d13dd318f9e62bce1fa26c73eb/packages/amplication-server/src/core/account/account.service.spec.ts#L96

[2022-05-28 06:08] yuval-hazaz commented on #1900
@jainpawan21 we are working on some big changes in the entire workspace hierarchy to support a new Project level between workspace and app.
This change will incorporate massive refactoring on the server and also some major changes on the client-side.
in order to avoid conflicts, it is better to put this issue to sleep for a while, and get back to it in a later stage

[2022-05-28 06:09] yuval-hazaz commented on #2713
hi @codeNitesh let us know if you need any further assistant 🙏

[2022-05-28 06:24] yuval-hazaz commented on #2059
you are correct - from handleDeployResult in DeploymentService

[2022-05-28 06:26] yuval-hazaz commented on #769
@MichaelSolati thanks!
please note, for backward compatibility we should not change the actual data type, but just renaming the display name of the type in the UI

[2022-05-28 06:51] codeNitesh commented on #2713
Hi @yuval-hazaz
I am almost done with issue. Will push the code by eod.

[2022-05-28 06:51] yuval-hazaz commented on #2805
before moving forward we better hear what @alexbass86 think about it

[2022-05-28 07:06] yuval-hazaz commented on #2808
hi @devopstoday11
we are always encouraging the community to share sample use cases using Amplication and we would love to see an example built for a mobile app.

currently, we do not have the resources to work on such an example, but we are open to getting help from the community.

I will leave this request open and flag it for help from the community in case anyone can help with it

[2022-05-28 07:16] abrl91 opened #2814 "🐛 Bug Report: internal server error while trying to create a user with a username that already exisits"
### What happened?

on create user, when I try to create a user with a username that already exists, I get an internal server error

### What you expected to happen

I expect to get something like  409 and a message that a user with the requested username already exists
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status#client_error_responses

![image](https://user-images.githubusercontent.c

[2022-05-28 07:54] abrl91 opened #2815 "🐛 Bug Report: mew project hierarchy - fix migraion and project name"
### What happened?

1. the project name according to the migration file is a concatenation between 'project' and app's id.
need to be a concatenation between 'project' and app's name.
2. fix the migrations files from 2 separated files to one and there fix the project name

### What you expected to happen

one migration file with a project name that is a concatenation between 'project' and the app'

[2022-05-28 09:17] GaneshSonarSD commented on #2731
https://github.com/amplication/amplication/pull/2817

check this one PR

[2022-05-28 09:18] GaneshSonarSD commented on #2731
@yuval-hazaz @MoFoGo @souravjain540

[2022-05-28 10:42] pawan521 commented on #2735
Where I have to add lodash ?
there are lots of files on the server

[2022-05-28 13:31] yuval-hazaz commented on #2735
@pawan521 please have a look at this PR https://github.com/amplication/amplication/pull/2806
you need to do the same for this folder https://github.com/amplication/amplication/tree/master/packages/amplication-server

[2022-05-28 14:58] abrl91 commented on #2814
we can add a custom validation decorator and use it on the username property
![image](https://user-images.githubusercontent.com/39680385/170830833-e3323fb9-6a1d-45c8-ba03-ce82cc08ea07.png)
(a screenshot from a generated app -  User.ts)
https://github.com/typestack/class-validator#custom-validation-decorators

[2022-05-28 15:37] TAKANOME-DEV commented on #2808
Hi there, I don't master react native but I would like to help with this sample app. Let me know if there is something I can do to help

[2022-05-28 19:46] tupe12334 opened #2819 "Update server API and change app API's into resource API's"

[2022-05-29 04:05] souravjain540 commented on #2819
@tupe12334 no description?

[2022-05-29 04:05] souravjain540 commented on #1208
thanks @jainpawan21!

[2022-05-29 04:10] souravjain540 commented on #2733
Hey @Sumanth077 👋

Do you need any help from us?

[2022-05-29 04:11] souravjain540 commented on #2731
Thanks for your PR @GaneshSonarSD ❤️

[2022-05-29 04:13] souravjain540 commented on #2713
Amazing @codeNitesh 👍

[2022-05-29 04:13] souravjain540 commented on #2192
@rizdev99 are you working on it?

[2022-05-29 05:22] mshidlov opened #2821 "🐛 Bug Report: Build commit message on GitHub has wrong link"
### What happened?

The link in the GitHub pull request back to amplication commit is broken.
it pointing to `server.mplication.com` instead of `app.amplication.com`.
![image](https://user-images.githubusercontent.com/91742238/170853393-7276d27d-1fa0-4816-8f0c-ae5e8bccef6e.png)

### What you expected to happen

That the link in the pull request will take me to amplication commit

### How to reprod

[2022-05-29 06:18] MoFoGo commented on #2742
Thanks for your contribution @aparna2071

[2022-05-29 06:18] #2742 closed

[2022-05-29 06:23] #2731 closed

[2022-05-29 10:05] barshimi opened #2822 "Design system"
### Feature description

Following our conversation regard Design system, here are few notes to consider:

- separate system color from variant. create a theme color that resemble the type, e.g, primary, secondary etc and component variant e.g, contained, outlined etc.
- Error color and success color should be part of color theme.
- On each component we should have: color, variant and type. e.g: B

[2022-05-29 11:07] tupe12334 commented on #2819
@souravjain540 No, this is a sub task for my tracking of the main task

[2022-05-29 14:07] yuval-hazaz commented on #2814
@abrl91 I think a decorator would not be the best solution for this problem.
It feels that a local validation in the service code before creating the user would be more appropriate. It is part of the logic of the function

[2022-05-29 14:09] yuval-hazaz commented on #2808
hi @TAKANOME-DEV Thanks for your suggestion.
I think that we can use any type of demo app, it can be responsive web for mobile, or native. it can also be just a web application.

Do you have any good ideas for a sample application?

[2022-05-29 17:35] TAKANOME-DEV commented on #2808
Not really 😅 I was just looking a way to contribute.
But what about an e-commerce mobile app. I saw you made a [sample e-commerce](https://github.com/amplication/e-commerece-sample) app.
Can we use amplication for backend and react native for frontend??

[2022-05-29 17:37] morhag90 opened #2823 "🐛 Bug Report: can not create the same gitOrganization in two different workspace"
### What happened?

can not create gitOrganization that already installed in another workspace

### What you expected to happen

gitOrganization will be successfully created

### How to reproduce

1. create two workspaces
2. create new app in workspace A
3. create new app in workspace B
4. in app workspace A => goto sync with Github page => install Github app in organization
5. goto Github and del

[2022-05-30 02:22] Sumanth077 commented on #2733
Hi @souravjain540 I am facing some issues, will try to ask in Discord Channel.

[2022-05-30 04:02] dusty1977 opened #2829 "Node1"

[2022-05-30 04:21] souravjain540 commented on #2829
Hi @dusty1977.

Can you elaborate on the issue?

[2022-05-30 07:41] pawan521 commented on #2735
hey @yuval-hazaz I have seen the PR but in Server there is only file containing lodash Library(test -> gql-auth-mocks.ts).I made some changes on it.

[2022-05-30 08:05] souravjain540 commented on #2711
@rolwin100 any updates on this issue?

[2022-05-30 08:05] souravjain540 commented on #2713
Any updates @codeNitesh ?

[2022-05-30 08:06] souravjain540 commented on #2733
Please do! We are more than happy to help you.

[2022-05-30 10:14] rizdev99 commented on #2192
yes @souravjain540 , I'm still working on it. I am not able to find my way through it. If someone else is up for this then you can unassign me from this issue. I might need to level up my skills

[2022-05-30 10:55] abrl91 opened #2832 "add readme to amplication-git-pull-service"
### What happened?

The readme file of amplication-git-pull-service is empty

### What you expected to happen

write a readme file explaining what this service do

### How to reproduce

-

### Amplication version

0.13.0

### Environment

_No response_

### Are you willing to submit PR?

_No response_

[2022-05-30 11:12] codeNitesh commented on #2713
Hey @souravjain540
I have raised query on discord server more than 24 hours ago.
But havan't received any support on the issue yet.

[2022-05-30 11:59] souravjain540 commented on #2713
Sorry for late reply. We've replied you there, please check!

[2022-05-31 05:52] yuval-hazaz commented on #2808
@TAKANOME-DEV
Yes, that would be a very good example

[2022-05-31 06:00] yuval-hazaz commented on #2823
@morhag90 as we discussed this happen because we have a unique key on the table for gitProvider + gitOrganization

so our options are:
1. remove the unique key
2. Show the user on workspace B a descriptive error that will allow them to understand the cause
3. Automatically remove the gitOrganization record when the app is removed from GitHub
4. Let the user delete a gitOrganization from a workspac

[2022-05-31 06:04] yuval-hazaz opened #2840 "Allow the user to manage the connections to GitHub"
### Feature description

each workspace can be connected to multiple Git Organizations.
Currently, the user does not have any way to remove a connection except by going to GitHub and removing the app, ad in that case we are left with an orphaned record that does not connect to anything.

We need to create a management page for git organizations for a worspace

the new page will:
- show a list of c

[2022-05-31 07:19] TAKANOME-DEV commented on #2808
So would you create a repo for that??

[2022-05-31 08:13] souravjain540 commented on #2115
@tupe12334 if it's not valid please close

[2022-05-31 09:20] #2097 closed

[2022-05-31 09:28] #2043 closed

[2022-05-31 09:29] tupe12334 commented on #2060
@souravjain540 Yes, this needs to be seen by @alexbass86

[2022-05-31 11:25] yuval-hazaz commented on #2808
I created a new repo here and gave you write permissions
https://github.com/amplication/sample-mobile-app

let me know if you have a cool name for the project and I can rename the repo

also, feel free to reach out on our discord server for any help you need
https://amplication.com/discord

[2022-05-31 16:40] TAKANOME-DEV commented on #2808
Ok cool I'm trying to think about the look and feel of the app and then I cloned the sample-web-app but I get the following error:

![amplication](https://user-images.githubusercontent.com/79809121/171227010-05b6066c-ce53-47fe-98f8-6998fc853c2c.png)

Do you have any idea or example that I can use to get started??

[2022-05-31 19:46] morhag90 commented on #2034
@souravjain540 I will check it soon and update the issue

[2022-06-01 11:08] mshidlov opened #2852 "🐛 Bug Report: npm migrate:up is failing when deploying new version (v0.13.0)"
### What happened?

When deploying new helm version on the Kubernetes cluster, migrate jobs are failing. the reason that the database migration job is failing is because the prisma client and schema are not part of amplication server.

### What you expected to happen

I expect when we deploy a new version to the Kubernetes cluster the prisma migration job will run successfully.

### How to reprodu

[2022-06-01 12:09] MoFoGo commented on #2457
Hi, @Shubh28698.  Will you be dealing with this?

[2022-06-01 12:48] jainpawan21 commented on #2551
Hi @yuval-hazaz ,
What options I should give users to change and what options I should hard code?
1. sort
2. direction
3. per_page
4. page

[2022-06-01 17:19] mshidlov opened #2855 "helm: add support for application level routing"
Add support for charts to use same domain with HTTP path routing.

to support this use case we need:
- [x] Add path value in the helm charts base ingress rules
- [x] Add to helm charts base ingress annotations path manipulation annotation.

this issue is blocking issue: #2729

[2022-06-01 17:28] mshidlov opened #2856 "helm: create infrastructure chart for common shared infrastructure resources"
We need to add an infrastructure chart, this chart will contain common shared infrastructure resources like EFS PVC, development environment Kafka deployment, and other shared resources.

this chart will be used by the environment-specific values files.

[2022-06-01 18:14] #2771 closed

[2022-06-02 05:51] yuval-hazaz commented on #2735
@Vipul2504 I can see all these dependencies on the package.json

![image](https://user-images.githubusercontent.com/43705455/171561943-5fbca914-01d2-447a-8074-c29f60305d05.png)

[2022-06-02 05:54] yuval-hazaz commented on #2711
@morhag90 you can take this task and implement it together with the app settings changes you are working on.
please send a separate PR for this that use this branch as base https://github.com/amplication/amplication/pull/2839

[2022-06-02 06:26] mshidlov commented on #2336
#2596

[2022-06-02 06:28] #2336 closed

[2022-06-02 06:55] mshidlov opened #2858 "CD: Create AWS secrets for each environments"
Create new AWS secrets for the updated CD pipeline based on the current secrets we have in GitHub Secrets and ArgoCD command in the current version of the CD (release 0.13.0).

- [ ] prod environment
- [ ] staging environment
- [ ] staging-os environment

this issue is blocking PR: #2849

[2022-06-02 08:25] tupe12334 commented on #2040
Yes

[2022-06-02 09:02] souravjain540 commented on #1811
Hi @kinb98 are you working on it?

[2022-06-02 09:03] abrl91 opened #2859 "🐛 Bug Report: amplication-git-pull-service missing prettierrc file"
### What happened?

amplication-git-pull-service is missing the `.prettierrc` file and it always fails on formatting on ci

### What you expected to happen

amplication-git-pull-service  should have  the `.prettierrc` file and shouldn't fail on ci

### How to reproduce

-

### Amplication version

0.13.0

### Environment

_No response_

### Are you willing to submit PR?

Yes I am willing to submit

[2022-06-02 09:29] tupe12334 opened #2861 "🐛 Bug Report: Null complication error"
### What happened?

When we generate a new app, the first build is not existing but the `previousBuild` does not return a null option in complication but is returning in run time the error is from `packages/amplication-server/src/core/build/utils/previousBuild/previousBuild.ts`

### What you expected to happen

Return a complication null

### How to reproduce

not relevant

### Amplication version

[2022-06-02 09:31] #2770 closed

[2022-06-02 09:35] MoFoGo commented on #2620
Resolved PR Troubleshooting-new-section #142

[2022-06-02 09:35] #2620 closed

[2022-06-02 09:35] MoFoGo commented on #2553
Will not fix

[2022-06-02 09:35] #2553 closed

[2022-06-02 09:40] MoFoGo commented on #2519
resolved

[2022-06-02 09:40] #2519 closed

[2022-06-02 09:42] MoFoGo commented on #2778
Resolved Troubleshooting-new-section #142

[2022-06-02 09:42] #2778 closed

[2022-06-02 09:44] MoFoGo commented on #2549
Resloved

[2022-06-02 09:44] #2549 closed

[2022-06-02 09:52] MoFoGo commented on #2779
See duplicate  #2812

[2022-06-02 09:52] #2779 closed

[2022-06-02 09:59] #2859 closed

[2022-06-02 10:00] #1728 closed

[2022-06-02 10:09] MoFoGo commented on #2744
Resolved

[2022-06-02 10:09] #2744 closed

[2022-06-02 11:52] MoFoGo commented on #2732
Resloved

[2022-06-02 11:52] #2732 closed

[2022-06-02 11:53] MoFoGo commented on #2542
Resloved

[2022-06-02 11:53] #2542 closed

[2022-06-02 12:44] mshidlov commented on #1893
@yuval-hazaz I agree this flag is a patch for failing `npm run tests` command in the Admin-UI.

The tests are failing because there aren't any tests. this behavior is not a bad thing and silencing failing errors most of the time is not the best way. if a developer is choosing to silence the error by itself this is his choice.

Adding this flag may create confusion as failing tests are silenced and